84a5a362cafe703f/flows.json
[{"id":"84a5a362cafe703f","type":"tab","label":"[tcp] request node - stream of strings","disabled":false,"info":"## Tcp request connects\n\nTest to connect to a listener.\n\n## Setup\n\nTcp Request node connects and sends a single message to the listener that replies with a response.\n\nTcp request node is in \"disconnect after timeout\" of zero milliseconds.\n\n","env":[]},{"id":"dd1bac35bd0e45e7","type":"tcp in","z":"84a5a362cafe703f","name":"","server":"server","host":"","port":"1234","datamode":"stream","datatype":"utf8","newline":"","topic":"","trim":false,"base64":false,"tls":"","x":487,"y":858.5,"wires":[["de4c09457d483149"]]},{"id":"e9e955392ca8e236","type":"tcp out","z":"84a5a362cafe703f","name":"","host":"","port":"","beserver":"reply","base64":false,"end":false,"tls":"","x":1030,"y":564,"wires":[]},{"id":"de4c09457d483149","type":"change","z":"84a5a362cafe703f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"response","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":756,"y":713,"wires":[["e9e955392ca8e236"]]},{"id":"af248c4d80ff41d9","type":"tcp request","z":"84a5a362cafe703f","name":"","server":"localhost","port":"1234","out":"time","ret":"string","splitc":"0","newline":"","trim":false,"tls":"","x":748.666748046875,"y":939.4166870117188,"wires":[["95ce59b90514634a"]]},{"id":"ac9c6e92435707a1","type":"inject","z":"84a5a362cafe703f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":365.666748046875,"y":939.4166870117188,"wires":[["af248c4d80ff41d9"]]},{"id":"95ce59b90514634a","type":"ut-assert-values","z":"84a5a362cafe703f","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"response","tot":"str"}],"x":1208,"y":939.4166870117188,"wires":[[]]}]