84a5a362cafe703f/flows.json
[{"id":"84a5a362cafe703f","type":"tab","label":"[tcp] request node - stream of strings (1101)","disabled":false,"info":"## Tcp request connects\n\nA tcp request node configured with output as being string and close after zero milliseconds.\n\nA tcp-in node configured with output as being stream of strings, i.e., immediate messages.\n\n## Setup\n\n<a class=\"ahl-node-only\" data-ids=\"dd1bac35bd0e45e7\">Tcp in node</a> is connected to a <a class=\"ahl-node-only\" data-ids=\"e9e955392ca8e236\">tcp out node</a> in reply mode. The <a class=\"ahl-node-only\" data-ids=\"de4c09457d483149\">change node</a> sets the payload to 'ok'.\n\n<a class=\"ahl-node-only\" data-ids=\"af248c4d80ff41d9\">Tcp request</a> node connects and sends a single message to the tcp in node that replies with a response of 'ok' via the tcp out node.\n\nTcp request node is configured to be \"close after timeout\" of 2000 milliseconds.\n\n## Test\n\nThe <a class=\"ahl-node-only\" data-ids=\"ac9c6e92435707a1\">inject</a> nodes sends a timestamp to the tcp request node that is sent to the tcp in node. The message is sent to the change node which alters the payload to be 'ok'.\n\nThe <a class=\"ahl-node-only\" data-ids=\"95ce59b90514634a\">assert values</a> node checks for the ok string.","env":[{"name":"ERED_PENDING","type":"bool","value":"false"},{"name":"ERED_NOT_EUNIT","type":"bool","value":"true"}]},{"id":"dd1bac35bd0e45e7","type":"tcp in","z":"84a5a362cafe703f","name":"","server":"server","host":"","port":"1101","datamode":"stream","datatype":"utf8","newline":"","topic":"","trim":false,"base64":false,"tls":"","x":549,"y":924.5,"wires":[["de4c09457d483149"]]},{"id":"e9e955392ca8e236","type":"tcp out","z":"84a5a362cafe703f","name":"","host":"","port":"","beserver":"reply","base64":false,"end":false,"tls":"","x":1110,"y":620,"wires":[]},{"id":"de4c09457d483149","type":"change","z":"84a5a362cafe703f","name":"","rules":[{"p":"payload","pt":"msg","t":"set","to":"ok response from listener","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":816.9166870117188,"y":772.25,"wires":[["e9e955392ca8e236"]]},{"id":"af248c4d80ff41d9","type":"tcp request","z":"84a5a362cafe703f","name":"","server":"localhost","port":"1101","out":"time","ret":"string","splitc":"2000","newline":"","trim":false,"tls":"","x":766.9166870117188,"y":924.4166870117188,"wires":[["95ce59b90514634a"]]},{"id":"ac9c6e92435707a1","type":"inject","z":"84a5a362cafe703f","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"\" & $millis()","payloadType":"jsonata","x":418.666748046875,"y":1120.416748046875,"wires":[["af248c4d80ff41d9"]]},{"id":"95ce59b90514634a","type":"ut-assert-values","z":"84a5a362cafe703f","name":"","ignore_failure_if_succeed":false,"rules":[{"p":"payload","pt":"msg","t":"eql","to":"ok response from listener","tot":"str"}],"x":1398.4445114135742,"y":1194.6390628814697,"wires":[[]]},{"id":"114e7e3211227f14","type":"complete","z":"84a5a362cafe703f","name":"","scope":["af248c4d80ff41d9"],"uncaught":false,"x":772,"y":1022,"wires":[["c80c9234d8a217f8"]]},{"id":"c80c9234d8a217f8","type":"debug","z":"84a5a362cafe703f","name":"debug 4","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"","statusType":"counter","x":918,"y":1131,"wires":[]},{"id":"b16554d27e3c2d32","type":"ut-assert-status","z":"84a5a362cafe703f","name":"","nodeid":"c80c9234d8a217f8","content":"","colour":"blue","shape":"ring","inverse":false,"x":1090,"y":1229.5,"wires":[]},{"id":"d1faefaa2757ed18","type":"status","z":"84a5a362cafe703f","name":"","scope":["c80c9234d8a217f8"],"x":1084.4444444444443,"y":1322.2222222222222,"wires":[["51ef02816d596281","13f3d8024988fe83"]]},{"id":"13f3d8024988fe83","type":"ut-assert-values","z":"84a5a362cafe703f","name":"one counter","ignore_failure_if_succeed":true,"rules":[{"p":"status.fill","pt":"msg","t":"eql","to":"blue","tot":"str"},{"p":"status.shape","pt":"msg","t":"eql","to":"ring","tot":"str"},{"p":"status.text","pt":"msg","t":"eql","to":"1","tot":"str"}],"x":1312.2222900390625,"y":1390.0001220703125,"wires":[[]]},{"id":"51ef02816d596281","type":"ut-assert-values","z":"84a5a362cafe703f","name":"initially counter is zero","ignore_failure_if_succeed":true,"rules":[{"p":"status.fill","pt":"msg","t":"eql","to":"blue","tot":"str"},{"p":"status.shape","pt":"msg","t":"eql","to":"ring","tot":"str"},{"p":"status.text","pt":"msg","t":"eql","to":"0","tot":"str"}],"x":1676.6668167114258,"y":1321.1113195419312,"wires":[[]]}]