b7ebaf91f4d66ab3/flows.json
[{"id":"b7ebaf91f4d66ab3","type":"tab","label":"[sort] array of objects","disabled":false,"info":"## Sort array of objects by a key","env":[]},{"id":"8cbd3cd11d938e68","type":"inject","z":"b7ebaf91f4d66ab3","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[2,3,1,5]","payloadType":"json","x":324,"y":452,"wires":[["3edd50e5458728b0"]]},{"id":"3edd50e5458728b0","type":"split","z":"b7ebaf91f4d66ab3","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":463.5,"y":533.5,"wires":[["edcbe18a0077ea3f"]]},{"id":"237c6c56e74be69b","type":"delay","z":"b7ebaf91f4d66ab3","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"100","randomLast":"500","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":812.5,"y":696.5,"wires":[["0cc98e7228d1f79a"]]},{"id":"edcbe18a0077ea3f","type":"change","z":"b7ebaf91f4d66ab3","name":"","rules":[{"t":"set","p":"delay","pt":"msg","to":"(10 - $$.payload) * 100","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":633,"y":615,"wires":[["237c6c56e74be69b"]]},{"id":"0cc98e7228d1f79a","type":"join","z":"b7ebaf91f4d66ab3","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":969,"y":732,"wires":[["0cfa6d86a742e1e3"]]},{"id":"0cfa6d86a742e1e3","type":"sort","z":"b7ebaf91f4d66ab3","name":"","order":"ascending","as_num":false,"target":"payload","targetType":"msg","msgKey":"$$.parts.index","msgKeyType":"jsonata","seqKey":"payload","seqKeyType":"msg","x":1121,"y":790,"wires":[["1de3e0a59941f078"]]},{"id":"1de3e0a59941f078","type":"change","z":"b7ebaf91f4d66ab3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$map($$.payload, function($v) { $v.payload })","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1134,"y":926,"wires":[["786f3fe684c9c0b7"]]},{"id":"786f3fe684c9c0b7","type":"ut-assert-values","z":"b7ebaf91f4d66ab3","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[2,3,1,5]","tot":"json"}],"x":1143,"y":1005,"wires":[[]]}]