d206746f9f2594a6/flows.json
[{"id":"d206746f9f2594a6","type":"tab","label":"[.jsonata] $match operator","disabled":false,"info":"## Match operator \n\nMatch operator returns a strange object structure that needs emulation.\n\n```\n{ match: ... groups: ....}\n```\n","env":[]},{"id":"d04f287d114a5d98","type":"group","z":"d206746f9f2594a6","name":"trigger test for Node-RED","style":{"label":true},"nodes":["30ce5073f3703e67","dece0a41dafde019"],"x":125,"y":78,"w":243,"h":125},{"id":"98b18c5af8146a61","type":"inject","z":"d206746f9f2594a6","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[[[123abc456def]]]","payloadType":"str","x":573,"y":205,"wires":[["1eea7e04e60c18ac"]]},{"id":"1eea7e04e60c18ac","type":"change","z":"d206746f9f2594a6","name":"","rules":[{"t":"set","p":"matchresult","pt":"msg","to":"$match($$.payload, /([0-9]+)([a-z]+)([0-9]+)([a-z]+)/)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":827,"y":205,"wires":[["7cfacf67d9b28298"]]},{"id":"7cfacf67d9b28298","type":"ut-assert-values","z":"d206746f9f2594a6","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"matchresult","pt":"msg","to":"{\"match\":\"123abc456def\",\"index\":3,\"groups\":[\"123\",\"abc\",\"456\",\"def\"]}","tot":"json"}],"x":1099,"y":205,"wires":[[]]},{"id":"dc1b70f8f2a049a4","type":"inject","z":"d206746f9f2594a6","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"123abc456def]]]","payloadType":"str","x":563,"y":304,"wires":[["d696f77e60c76b01"]]},{"id":"d696f77e60c76b01","type":"change","z":"d206746f9f2594a6","name":"","rules":[{"t":"set","p":"matchresult","pt":"msg","to":"$match($$.payload, /([0-9]+)([a-z]+)([0-9]+)([a-z]+)/)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":827,"y":304,"wires":[["f360b06e20519e83"]]},{"id":"f360b06e20519e83","type":"ut-assert-values","z":"d206746f9f2594a6","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"matchresult","pt":"msg","to":"{\"match\":\"123abc456def\",\"index\":0,\"groups\":[\"123\",\"abc\",\"456\",\"def\"]}","tot":"json"}],"x":1099,"y":304,"wires":[[]]},{"id":"30ce5073f3703e67","type":"ClientCode","z":"d206746f9f2594a6","g":"d04f287d114a5d98","name":"","clientcode":"if ( msg._ws ) { RED.notify(\"this is erlang red not doing anything\", { type: \"warning\" }); }\nelse {\n    RED.notify(\"restarting flow\", { type: \"info\" });\n    RED.actions.invoke(\"core:restart-flows\")\n    setTimeout( () => {\n        RED.notify(\"starting test\", { type: \"info\" });\n        RED.search.search(\"type:inject flow:current\").map( d => d.node ).filter( d => d._def.label.call(d) != \"trigger test\").forEach( d => RED.view.clickNodeButton(d)) \n    }, 2500)\n}","format":"javascript","x":272,"y":162,"wires":[[]]},{"id":"dece0a41dafde019","type":"inject","z":"d206746f9f2594a6","g":"d04f287d114a5d98","name":"trigger test","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":231,"y":119,"wires":[["30ce5073f3703e67"]]},{"id":"84d855910caf01c0","type":"inject","z":"d206746f9f2594a6","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"123abc456def","payloadType":"str","x":555,"y":385,"wires":[["05c40113c6ebdc27"]]},{"id":"05c40113c6ebdc27","type":"change","z":"d206746f9f2594a6","name":"","rules":[{"t":"set","p":"matchresult","pt":"msg","to":"$match($$.payload, /([0-9]+)([a-z]+)([0-9]+)([a-z]+)/)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":829,"y":385,"wires":[["0fb5c190d7265d1c"]]},{"id":"0fb5c190d7265d1c","type":"ut-assert-values","z":"d206746f9f2594a6","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"matchresult","pt":"msg","to":"{\"match\":\"123abc456def\",\"index\":0,\"groups\":[\"123\",\"abc\",\"456\",\"def\"]}","tot":"json"}],"x":1101,"y":385,"wires":[[]]}]