d206746f9f2594a6/flows.json
[{"id":"d206746f9f2594a6","type":"tab","label":"[.jsonata] $match operator","disabled":false,"info":"## Match operator \n\nMatch operator returns a strange object structure that needs emulation.\n\n```\n{ match: ...., index: ..., groups: ....}\n```\n\n## Implementation\n\nInitial ideas for implementation in Erlang:\n\n```erlang\n{ok, R} = re:compile(\"([0-9]+)([a-z]+)([0-9]+)([a-z]+)\").\nre:run( \"2e3e[[[121sad1121adsad1212asdsa1d2e3e3e3\", R, [{capture,all,binary}, global] ).\n```\n\nLimit specification is best handled afterwards since the `$match(...,...,limit)` limit specification is completely different to `match_limit` or `match_limit_recursion` of Erlang.\n\nAnnoyingly `{capture,all,index}` will provide the index value required in the returned value but will require splitting up the original string into subgroups. `{capture,all,binary}` will - on the other hand - do the string generation but will not return an index value which is important when matching patterns that generate the same results:\n\n```\n{match,[[{0,4},{0,1},{1,1},{2,1},{3,1}],\n        [{7,15},{7,3},{10,3},{13,4},{17,5}],\n        [{22,11},{22,4},{26,5},{31,1},{32,1}],\n        [{33,4},{33,1},{34,1},{35,1},{36,1}]]}\n```\n\nversus\n\n```\n{match,[[<<\"2e3e\">>,<<\"2\">>,<<\"e\">>,<<\"3\">>,<<\"e\">>],\n        [<<\"121sad1121adsad\">>,<<\"121\">>,<<\"sad\">>,<<\"1121\">>,<<\"adsad\">>],\n        [<<\"1212asdsa1d\">>,<<\"1212\">>,<<\"asdsa\">>,<<\"1\">>,<<\"d\">>],\n        [<<\"2e3e\">>,<<\"2\">>,<<\"e\">>,<<\"3\">>,<<\"e\">>]]}\n```\n\nNotice the first and last match are the same in `binary` type while differ in `index` type.\n\n","env":[]},{"id":"d04f287d114a5d98","type":"group","z":"d206746f9f2594a6","name":"trigger test for Node-RED","style":{"label":true},"nodes":["30ce5073f3703e67","dece0a41dafde019"],"x":125,"y":78,"w":243,"h":125},{"id":"4905e5f02b195ba6","type":"group","z":"d206746f9f2594a6","name":"single match","style":{"label":true},"nodes":["98b18c5af8146a61","1eea7e04e60c18ac","7cfacf67d9b28298","dc1b70f8f2a049a4","d696f77e60c76b01","f360b06e20519e83","84d855910caf01c0","05c40113c6ebdc27","0fb5c190d7265d1c"],"x":418,"y":164,"w":790,"h":262},{"id":"8fc408e14ae8de20","type":"group","z":"d206746f9f2594a6","name":"multiple matches","style":{"label":true},"nodes":["9a8c8b4b03238ed1","75adb3dc1501ac2d","f4a1260fa190c6a8","bf97d126f19940be","b1b5664eba8481fa","cf73fab4c05d59d5"],"x":418,"y":488.5,"w":791,"h":157},{"id":"f8f4617e964963af","type":"group","z":"d206746f9f2594a6","name":"multiple matches with limits","style":{"label":true},"nodes":["09112c157fda9ec4","0e2aacad33f9220c","046b24e6cde38ddf","313d5b5a2269a018","5b2f66459388037f","12f441f2e5bd35ad"],"x":418,"y":708,"w":791,"h":157},{"id":"98b18c5af8146a61","type":"inject","z":"d206746f9f2594a6","g":"4905e5f02b195ba6","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[[[123abc456def]]]","payloadType":"str","x":554,"y":205,"wires":[["1eea7e04e60c18ac"]]},{"id":"1eea7e04e60c18ac","type":"change","z":"d206746f9f2594a6","g":"4905e5f02b195ba6","name":"","rules":[{"t":"set","p":"matchresult","pt":"msg","to":"$match($$.payload, /([0-9]+)([a-z]+)([0-9]+)([a-z]+)/)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":808,"y":205,"wires":[["7cfacf67d9b28298"]]},{"id":"7cfacf67d9b28298","type":"ut-assert-values","z":"d206746f9f2594a6","g":"4905e5f02b195ba6","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"matchresult","pt":"msg","to":"{\"match\":\"123abc456def\",\"index\":3,\"groups\":[\"123\",\"abc\",\"456\",\"def\"]}","tot":"json"}],"x":1080,"y":205,"wires":[[]]},{"id":"dc1b70f8f2a049a4","type":"inject","z":"d206746f9f2594a6","g":"4905e5f02b195ba6","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"123abc456def]]]","payloadType":"str","x":544,"y":304,"wires":[["d696f77e60c76b01"]]},{"id":"d696f77e60c76b01","type":"change","z":"d206746f9f2594a6","g":"4905e5f02b195ba6","name":"","rules":[{"t":"set","p":"matchresult","pt":"msg","to":"$match($$.payload, /([0-9]+)([a-z]+)([0-9]+)([a-z]+)/)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":808,"y":304,"wires":[["f360b06e20519e83"]]},{"id":"f360b06e20519e83","type":"ut-assert-values","z":"d206746f9f2594a6","g":"4905e5f02b195ba6","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"matchresult","pt":"msg","to":"{\"match\":\"123abc456def\",\"index\":0,\"groups\":[\"123\",\"abc\",\"456\",\"def\"]}","tot":"json"}],"x":1080,"y":304,"wires":[[]]},{"id":"30ce5073f3703e67","type":"ClientCode","z":"d206746f9f2594a6","g":"d04f287d114a5d98","name":"","clientcode":"if ( msg._ws ) { RED.notify(\"this is erlang red not doing anything\", { type: \"warning\" }); }\nelse {\n    RED.notify(\"restarting flow\", { type: \"info\" });\n    RED.actions.invoke(\"core:restart-flows\")\n    setTimeout( () => {\n        RED.notify(\"starting test\", { type: \"info\" });\n        RED.search.search(\"type:inject flow:current\").map( d => d.node ).filter( d => d._def.label.call(d) != \"trigger test\").forEach( d => RED.view.clickNodeButton(d)) \n    }, 2500)\n}","format":"javascript","x":272,"y":162,"wires":[[]]},{"id":"dece0a41dafde019","type":"inject","z":"d206746f9f2594a6","g":"d04f287d114a5d98","name":"trigger test","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":231,"y":119,"wires":[["30ce5073f3703e67"]]},{"id":"84d855910caf01c0","type":"inject","z":"d206746f9f2594a6","g":"4905e5f02b195ba6","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"123abc456def","payloadType":"str","x":536,"y":385,"wires":[["05c40113c6ebdc27"]]},{"id":"05c40113c6ebdc27","type":"change","z":"d206746f9f2594a6","g":"4905e5f02b195ba6","name":"","rules":[{"t":"set","p":"matchresult","pt":"msg","to":"$match($$.payload, /([0-9]+)([a-z]+)([0-9]+)([a-z]+)/)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":385,"wires":[["0fb5c190d7265d1c"]]},{"id":"0fb5c190d7265d1c","type":"ut-assert-values","z":"d206746f9f2594a6","g":"4905e5f02b195ba6","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"matchresult","pt":"msg","to":"{\"match\":\"123abc456def\",\"index\":0,\"groups\":[\"123\",\"abc\",\"456\",\"def\"]}","tot":"json"}],"x":1082,"y":385,"wires":[[]]},{"id":"9a8c8b4b03238ed1","type":"inject","z":"d206746f9f2594a6","g":"8fc408e14ae8de20","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"123abc456def|||789ghi012jkl|||345mno678pqr||","payloadType":"str","x":514,"y":529.5,"wires":[["75adb3dc1501ac2d"]]},{"id":"75adb3dc1501ac2d","type":"change","z":"d206746f9f2594a6","g":"8fc408e14ae8de20","name":"","rules":[{"t":"set","p":"matchresult","pt":"msg","to":"$match($$.payload, /([0-9]+)([a-z]+)([0-9]+)([a-z]+)/)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":808,"y":529.5,"wires":[["f4a1260fa190c6a8"]]},{"id":"f4a1260fa190c6a8","type":"ut-assert-values","z":"d206746f9f2594a6","g":"8fc408e14ae8de20","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"matchresult","pt":"msg","to":"[{\"match\":\"123abc456def\",\"index\":0,\"groups\":[\"123\",\"abc\",\"456\",\"def\"]},{\"match\":\"789ghi012jkl\",\"index\":15,\"groups\":[\"789\",\"ghi\",\"012\",\"jkl\"]},{\"match\":\"345mno678pqr\",\"index\":30,\"groups\":[\"345\",\"mno\",\"678\",\"pqr\"]}]","tot":"json"}],"x":1080,"y":529.5,"wires":[[]]},{"id":"bf97d126f19940be","type":"inject","z":"d206746f9f2594a6","g":"8fc408e14ae8de20","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"123abc456def|||7d9ghi012jkl|||345mno678pqr||","payloadType":"str","x":517,"y":604.5,"wires":[["b1b5664eba8481fa"]]},{"id":"b1b5664eba8481fa","type":"change","z":"d206746f9f2594a6","g":"8fc408e14ae8de20","name":"","rules":[{"t":"set","p":"matchresult","pt":"msg","to":"$match($$.payload, /([0-9]+)([a-z]+)([0-9]+)([a-z]+)/)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":811,"y":604.5,"wires":[["cf73fab4c05d59d5"]]},{"id":"cf73fab4c05d59d5","type":"ut-assert-values","z":"d206746f9f2594a6","g":"8fc408e14ae8de20","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"matchresult","pt":"msg","to":"[{\"match\":\"123abc456def\",\"index\":0,\"groups\":[\"123\",\"abc\",\"456\",\"def\"]},{\"match\":\"7d9ghi\",\"index\":15,\"groups\":[\"7\",\"d\",\"9\",\"ghi\"]},{\"match\":\"345mno678pqr\",\"index\":30,\"groups\":[\"345\",\"mno\",\"678\",\"pqr\"]}]","tot":"json"}],"x":1083,"y":604.5,"wires":[[]]},{"id":"09112c157fda9ec4","type":"inject","z":"d206746f9f2594a6","g":"f8f4617e964963af","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"123abc456def|||789ghi012jkl|||345mno678pqr||","payloadType":"str","x":514,"y":749,"wires":[["0e2aacad33f9220c"]]},{"id":"0e2aacad33f9220c","type":"change","z":"d206746f9f2594a6","g":"f8f4617e964963af","name":"","rules":[{"t":"set","p":"matchresult","pt":"msg","to":"$match($$.payload, /([0-9]+)([a-z]+)([0-9]+)([a-z]+)/,2)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":808,"y":749,"wires":[["046b24e6cde38ddf"]]},{"id":"046b24e6cde38ddf","type":"ut-assert-values","z":"d206746f9f2594a6","g":"f8f4617e964963af","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"matchresult","pt":"msg","to":"[{\"match\":\"123abc456def\",\"index\":0,\"groups\":[\"123\",\"abc\",\"456\",\"def\"]},{\"match\":\"789ghi012jkl\",\"index\":15,\"groups\":[\"789\",\"ghi\",\"012\",\"jkl\"]}]","tot":"json"}],"x":1080,"y":749,"wires":[[]]},{"id":"313d5b5a2269a018","type":"inject","z":"d206746f9f2594a6","g":"f8f4617e964963af","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"123abc456def|||7d9ghi012jkl|||345mno678pqr||","payloadType":"str","x":517,"y":824,"wires":[["5b2f66459388037f"]]},{"id":"5b2f66459388037f","type":"change","z":"d206746f9f2594a6","g":"f8f4617e964963af","name":"","rules":[{"t":"set","p":"matchresult","pt":"msg","to":"$match($$.payload, /([0-9]+)([a-z]+)([0-9]+)([a-z]+)/,1)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":811,"y":824,"wires":[["12f441f2e5bd35ad"]]},{"id":"12f441f2e5bd35ad","type":"ut-assert-values","z":"d206746f9f2594a6","g":"f8f4617e964963af","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"matchresult","pt":"msg","to":"{\"match\":\"123abc456def\",\"index\":0,\"groups\":[\"123\",\"abc\",\"456\",\"def\"]}","tot":"json"}],"x":1083,"y":824,"wires":[[]]}]