d86dba2bb81b4770/flows.json
[{"id":"d86dba2bb81b4770","type":"tab","label":"[.core] add some alias nodes","disabled":false,"info":"## Creating alias nodes\n\nSee [forum discussion](https://discourse.nodered.org/t/alias-nodes-redefine-default-settings-as-new-nodes/98137) for more details.\n","env":[]},{"id":"e788406d0c8578d8","type":"ClientCode","z":"d86dba2bb81b4770","name":"join on specific number of messages","clientcode":"((newType) => {\n\n    let copyThisType = \"join\"\n\n    // each node type needs a nodeset, clone that too\n    let nodeset = RED.nodes.registry.getNodeSetForType(copyThisType);\n\n    nodeset.id = \"node-red/\" + newType\n    nodeset.types = [newType]\n\n    RED.nodes.registry.addNodeSet(nodeset)\n\n    // unlink the object from the realDebug node\n    let theRealDeal = RED.nodes.registry.getNodeType(copyThisType)\n    let obj = JSON.parse(JSON.stringify(RED.nodes.registry.getNodeType(copyThisType)))\n\n    // new default values go here.\n    obj.defaults.propertyType = { value: \"full\" }\n    obj.defaults.build = { value: \"array\" }\n    obj.defaults.mode = { value: \"custom\" }\n    obj.defaults.count = { value: \"1\" }\n\n    obj.category = \"alias node\"\n    \n    // define a new type - not optimal\n    obj.type = newType;\n\n    obj.label = theRealDeal.label;\n    obj.labelStyle = theRealDeal.labelStyle;\n\n    obj.onadd = function() { \n        this.type = copyThisType; \n    }\n\n    obj.oneditprepare = theRealDeal.oneditprepare;\n    obj.oneditsave = theRealDeal.oneditsave;\n    obj.oneditresize = theRealDeal.oneditresize;\n    obj.onpaletteadd = undefined;\n    obj.onpaletteremove = undefined;\n\n    RED.nodes.registry.registerNodeType(newType, obj)\n})(msg.newTypeName);\n\nnode.send(msg)","format":"javascript","x":564,"y":344,"wires":[[]]},{"id":"ec7c345a460efb98","type":"inject","z":"d86dba2bb81b4770","name":"","props":[{"p":"newTypeName","v":"\"test-first-\" & $random()","vt":"jsonata"},{"p":"newTypeName","v":"join-num-messages","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":234,"y":178,"wires":[["e788406d0c8578d8"]]},{"id":"cc1f5951763a0c9a","type":"ClientCode","z":"d86dba2bb81b4770","name":"switch node stop after first match","clientcode":"((newType) => {\n\n    let copyThisType = \"switch\"\n\n    // each node type needs a nodeset, clone that too\n    let nodeset = RED.nodes.registry.getNodeSetForType(copyThisType);\n\n    nodeset.id = \"node-red/\" + newType\n    nodeset.types = [newType]\n\n    RED.nodes.registry.addNodeSet(nodeset)\n\n    // unlink the object from the realDebug node\n    let theRealDeal = RED.nodes.registry.getNodeType(copyThisType)\n    let obj = JSON.parse(JSON.stringify(RED.nodes.registry.getNodeType(copyThisType)))\n\n    // new default values go here.\n    obj.defaults.checkall.value = \"false\"\n\n    obj.category = 'alias node'\n    \n    // define a new type - not optimal\n    obj.type = newType;\n\n    obj.label = theRealDeal.label;\n    obj.labelStyle = theRealDeal.labelStyle;\n\n    obj.onadd = function() { \n        this.type = copyThisType; \n    }\n\n    obj.oneditprepare = theRealDeal.oneditprepare;\n    obj.oneditsave = theRealDeal.oneditsave;\n    obj.oneditresize = theRealDeal.oneditresize;\n    obj.onpaletteadd = undefined;\n    obj.onpaletteremove = undefined;\n\n    RED.nodes.registry.registerNodeType(newType, obj)\n})(msg.newTypeName);\n\nnode.send(msg)","format":"javascript","x":607,"y":488,"wires":[[]]},{"id":"76449d985ca5104b","type":"inject","z":"d86dba2bb81b4770","name":"","props":[{"p":"newTypeName","v":"\"switch-stop-first-\" & $random()","vt":"jsonata"},{"p":"newTypeName","v":"switch-stop-first","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":180,"y":356,"wires":[["cc1f5951763a0c9a"]]},{"id":"6b478acd12827344","type":"ClientCode","z":"d86dba2bb81b4770","name":"debug entire message","clientcode":"((newType) => {\n\n    // each node type needs a nodeset, clone that too\n    let nodeset = RED.nodes.registry.getNodeSetForType(\"debug\");\n\n    nodeset.id = \"node-red/\" + newType\n    nodeset.types = [newType]\n\n    RED.nodes.registry.addNodeSet(nodeset)\n\n    // unlink the object from the realDebug node\n    let theRealDebug = RED.nodes.registry.getNodeType(\"debug\")\n    let obj = JSON.parse(JSON.stringify(RED.nodes.registry.getNodeType(\"debug\")))\n\n    // new default values go here.\n    obj.defaults.complete.value = true\n\n    obj.category = 'alias node'\n    \n    // define a new type - not optimal\n    obj.type = newType;\n\n    // basic functionality required by the node before it\n    // changes its type.\n    obj.label = theRealDebug.label;\n    obj.labelStyle = theRealDebug.labelStyle;\n    obj.oneditprepare = theRealDebug.oneditprepare;\n    obj.oneditsave = theRealDebug.oneditsave;\n\n    obj.onadd = function() {\n        // change the type back to the original type \n        // when node is added to the workspace \n        this.type = 'debug'; \n        theRealDebug.onadd.call(this);\n    }\n    \n    RED.nodes.registry.registerNodeType(newType, obj)\n})(msg.newTypeName);\n\nnode.send(msg)","format":"javascript","x":515,"y":634,"wires":[[]]},{"id":"1a503e90702eafe7","type":"inject","z":"d86dba2bb81b4770","name":"","props":[{"p":"newTypeName","v":"debug-all","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":258,"y":514,"wires":[["6b478acd12827344"]]}]