71f65246c742cfc9/flows.json
[{"id":"71f65246c742cfc9","type":"tab","label":"[catch] multiple nodes in one flow is possible","disabled":false,"info":"","env":[{"name":"ERED_PENDING","type":"bool","value":"false"}]},{"id":"6e5fd52c5bf786e8","type":"catch","z":"71f65246c742cfc9","name":"","scope":null,"uncaught":false,"x":437.5,"y":477.42857599258423,"wires":[["13c95e26362f7633"]]},{"id":"9fd8b8c40553c7df","type":"inject","z":"71f65246c742cfc9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":134,"y":327,"wires":[["959114782f87a8cf"]]},{"id":"959114782f87a8cf","type":"file in","z":"71f65246c742cfc9","name":"","filename":"this file does not exist","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":554,"y":682,"wires":[[]]},{"id":"ecae3cb564a621c7","type":"catch","z":"71f65246c742cfc9","name":"","scope":null,"uncaught":false,"x":524,"y":586.8571519851685,"wires":[["3a91fefe55adda78"]]},{"id":"4ddc3d91dc6709f5","type":"catch","z":"71f65246c742cfc9","name":"","scope":null,"uncaught":false,"x":351,"y":368,"wires":[["8ccf419283508bf0"]]},{"id":"f1fbb8bc93f12f3d","type":"ut-assert-debug","z":"71f65246c742cfc9","name":"","nodeid":"959114782f87a8cf","msgtype":"normal","inverse":true,"x":670,"y":733,"wires":[]},{"id":"3a91fefe55adda78","type":"ut-assert-success","z":"71f65246c742cfc9","name":"","count":1,"x":950.0000610351562,"y":586.8571519851685,"wires":[]},{"id":"13c95e26362f7633","type":"ut-assert-success","z":"71f65246c742cfc9","name":"","count":1,"x":950.0000610351562,"y":477.42857599258423,"wires":[]},{"id":"8ccf419283508bf0","type":"ut-assert-success","z":"71f65246c742cfc9","name":"","count":1,"x":950.0000610351562,"y":368,"wires":[]}]