c843dacf753a19d8/flows.json
[{"id":"c843dacf753a19d8","type":"tab","label":"[batch] ensure batch size of 1 works","disabled":false,"info":"","env":[]},{"id":"a2567c071dd6c1a1","type":"inject","z":"c843dacf753a19d8","name":"","props":[{"p":"counter","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":428.3332748413086,"y":983.4166603088379,"wires":[["343dac59e4d95869"]]},{"id":"343dac59e4d95869","type":"change","z":"c843dacf753a19d8","name":"alter _msgid","rules":[{"t":"set","p":"payload","pt":"msg","to":"counter","tot":"msg"},{"t":"set","p":"counter","pt":"msg","to":"$$.counter + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":694.3332748413086,"y":983.4166603088379,"wires":[["f85ecd688b69357f","01deff7cb370b163","ab5672e5269d9ba1"]]},{"id":"f85ecd688b69357f","type":"switch","z":"c843dacf753a19d8","name":"limit to 100 messages","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"100","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":684.333251953125,"y":776.6667060852051,"wires":[["343dac59e4d95869"]]},{"id":"01deff7cb370b163","type":"batch","z":"c843dacf753a19d8","name":"","mode":"count","count":"1","overlap":0,"interval":10,"allowEmptySequence":false,"honourParts":false,"topics":[],"x":957,"y":907.6666870117188,"wires":[["989c65da1462f110","408f1360d1680bb9"]]},{"id":"989c65da1462f110","type":"join","z":"c843dacf753a19d8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"101","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1127,"y":888.5,"wires":[["4d9b97f003f8b2fd","10cf2e19058cba29"]]},{"id":"408f1360d1680bb9","type":"join","z":"c843dacf753a19d8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"102","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1123,"y":942,"wires":[["c8d0b6702df15bf8"]]},{"id":"4d9b97f003f8b2fd","type":"ut-assert-success","z":"c843dacf753a19d8","name":"","x":1372,"y":795.5,"wires":[]},{"id":"ab5672e5269d9ba1","type":"debug","z":"c843dacf753a19d8","name":"debug 1","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"","statusType":"counter","x":940,"y":1048,"wires":[]},{"id":"c8d0b6702df15bf8","type":"ut-assert-failure","z":"c843dacf753a19d8","name":"","x":1339,"y":969.5,"wires":[]},{"id":"10cf2e19058cba29","type":"ut-assert-values","z":"c843dacf753a19d8","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"parts.index","pt":"msg","to":"0","tot":"num"}],"x":1372,"y":888.5,"wires":[[]]}]