37883612d913fd66/flows.json
[{"id":"37883612d913fd66","type":"tab","label":"[.jsonata] $not operator","disabled":false,"info":"","env":[]},{"id":"a6134e0f1c1d6f9e","type":"inject","z":"37883612d913fd66","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":312.85712814331055,"y":301.4285955429077,"wires":[["8da4f45d0b0d8b43"]]},{"id":"8da4f45d0b0d8b43","type":"change","z":"37883612d913fd66","name":"","rules":[{"t":"set","p":"not_empty_string","pt":"msg","to":"$not(\"\")","tot":"jsonata"},{"t":"set","p":"not_true","pt":"msg","to":"$not(true)","tot":"jsonata"},{"t":"set","p":"not_false","pt":"msg","to":"$not(false)","tot":"jsonata"},{"t":"set","p":"not_one","pt":"msg","to":"$not(1)","tot":"jsonata"},{"t":"set","p":"not_string","pt":"msg","to":"$not(\"hello world\")","tot":"jsonata"},{"t":"set","p":"not_zero","pt":"msg","to":"$not(0)","tot":"jsonata"},{"t":"set","p":"not_minus_one","pt":"msg","to":"$not(-1)","tot":"jsonata"},{"t":"set","p":"not_null","pt":"msg","to":"$not(null)","tot":"jsonata"},{"t":"set","p":"not_defined","pt":"msg","to":"$not(defined)","tot":"jsonata"},{"t":"set","p":"not_undefined","pt":"msg","to":"$not(undefined)","tot":"jsonata"},{"t":"set","p":"not_nan","pt":"msg","to":"$not(NaN)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":589.2856578826904,"y":301.4285955429077,"wires":[["7d61de006fde6907"]]},{"id":"7d61de006fde6907","type":"ut-assert-values","z":"37883612d913fd66","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"not_zero","pt":"msg","to":"true","tot":"bool"},{"t":"eql","p":"not_one","pt":"msg","to":"false","tot":"bool"},{"t":"eql","p":"not_empty_string","pt":"msg","to":"true","tot":"bool"},{"t":"eql","p":"not_string","pt":"msg","to":"false","tot":"bool"},{"t":"eql","p":"not_true","pt":"msg","to":"false","tot":"bool"},{"t":"eql","p":"not_minus_one","pt":"msg","to":"false","tot":"bool"},{"t":"eql","p":"not_null","pt":"msg","to":"true","tot":"bool"},{"t":"eql","p":"not_false","pt":"msg","to":"true","tot":"bool"},{"t":"notset","p":"not_defined","pt":"msg"},{"t":"notset","p":"not_undefined","pt":"msg"},{"t":"notset","p":"not_nan","pt":"msg"}],"x":895.7141876220703,"y":301.4285955429077,"wires":[[]]}]