def56742e02f6a75/flows.json
[{"id":"def56742e02f6a75","type":"tab","label":"[switch] property is not defined on msg object","disabled":false,"info":"## Undefined attribute\n\nWhat happens if a switch performs a test on an attribute that is not defined on the message object.\n","env":[]},{"id":"168503dd8cc489c7","type":"inject","z":"def56742e02f6a75","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":254,"y":576,"wires":[["ba7c1f77d67dc2eb"]]},{"id":"ba7c1f77d67dc2eb","type":"switch","z":"def56742e02f6a75","name":"","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"one","vt":"str"},{"t":"eq","v":"two","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":532,"y":576,"wires":[["5e7fcd55d347b8e6"],["9d310e771db04a12"],["ef0286e7b99f7d0f"]]},{"id":"ef0286e7b99f7d0f","type":"ut-assert-success","z":"def56742e02f6a75","name":"","x":781,"y":635,"wires":[]},{"id":"5e7fcd55d347b8e6","type":"ut-assert-failure","z":"def56742e02f6a75","name":"","x":774,"y":517,"wires":[]},{"id":"9d310e771db04a12","type":"ut-assert-failure","z":"def56742e02f6a75","name":"","x":809,"y":574,"wires":[]}]