def56742e02f6a75/flows.json
[{"id":"def56742e02f6a75","type":"tab","label":"[switch] property is not defined on msg object","disabled":false,"info":"## Undefined attribute\n\nWhat happens if a switch performs a test on an attribute that is not defined on the message object.\n","env":[]},{"id":"168503dd8cc489c7","type":"inject","z":"def56742e02f6a75","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":305,"y":263,"wires":[["ba7c1f77d67dc2eb"]]},{"id":"ba7c1f77d67dc2eb","type":"switch","z":"def56742e02f6a75","name":"","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"one","vt":"str"},{"t":"eq","v":"two","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":583,"y":263,"wires":[["5e7fcd55d347b8e6"],["9d310e771db04a12"],["ef0286e7b99f7d0f"]]},{"id":"ef0286e7b99f7d0f","type":"ut-assert-success","z":"def56742e02f6a75","name":"","x":832,"y":322,"wires":[]},{"id":"5e7fcd55d347b8e6","type":"ut-assert-failure","z":"def56742e02f6a75","name":"","x":825,"y":204,"wires":[]},{"id":"9d310e771db04a12","type":"ut-assert-failure","z":"def56742e02f6a75","name":"","x":860,"y":261,"wires":[]},{"id":"b6646c317ee52775","type":"inject","z":"def56742e02f6a75","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":317,"y":562,"wires":[["f82f6faf0df5a46a"]]},{"id":"f82f6faf0df5a46a","type":"switch","z":"def56742e02f6a75","name":"","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"one","vt":"str"},{"t":"eq","v":"two","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":595,"y":562,"wires":[["f462d155a5ab1eb3"],["79b610c83a176b51"],["8efbd47b2cc8c844"]]},{"id":"8efbd47b2cc8c844","type":"ut-assert-success","z":"def56742e02f6a75","name":"","x":844,"y":621,"wires":[]},{"id":"f462d155a5ab1eb3","type":"ut-assert-failure","z":"def56742e02f6a75","name":"","x":837,"y":503,"wires":[]},{"id":"79b610c83a176b51","type":"ut-assert-failure","z":"def56742e02f6a75","name":"","x":872,"y":560,"wires":[]},{"id":"140a56ffc16902c3","type":"inject","z":"def56742e02f6a75","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":828,"wires":[["8e6f33ccf241cf00"]]},{"id":"8e6f33ccf241cf00","type":"switch","z":"def56742e02f6a75","name":"","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"one","vt":"str"},{"t":"eq","v":"two","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":608,"y":828,"wires":[["323c2de1534ef39e"],["408b6fe73a9e92ad"],["928a511c038a23bf"]]},{"id":"323c2de1534ef39e","type":"ut-assert-failure","z":"def56742e02f6a75","name":"","x":850,"y":769,"wires":[]},{"id":"408b6fe73a9e92ad","type":"ut-assert-failure","z":"def56742e02f6a75","name":"","x":885,"y":826,"wires":[]},{"id":"928a511c038a23bf","type":"ut-assert-failure","z":"def56742e02f6a75","name":"","x":860,"y":889,"wires":[]}]