1fd621a674360b5d/flows.json
[{"id":"1fd621a674360b5d","type":"tab","label":"[.docu] junction node architecture","disabled":false,"info":"## Function node architecture\n\nDiagram -->\n\n```mermaid\nflowchart TB\n    3272430156b615cf[\"ered_node_inject<br>&lt;ered_node&gt;\"] -- handle_msg/2(outgoing) --> 3142b9a8e864d04f([\"#{Msg}\"])\n    3142b9a8e864d04f -- handle_msg/2(incoming) --> c333a1b8d6ccd24f[\"ered_node_function &lt;ered_node&gt;\"]\n    c333a1b8d6ccd24f -- ered_function_code_manager:start/2 --> e9077d2769ed1a86\n    c333a1b8d6ccd24f -. ! perform_func_code .-> e9077d2769ed1a86\n    c333a1b8d6ccd24f -. handle_info/2('DOWN') .-> e9077d2769ed1a86\n    e9077d2769ed1a86 -. handle_event/2('DOWN') .-> c333a1b8d6ccd24f\n    e9077d2769ed1a86 --> 3623c7b9447ee093 & 36fb909a0736d92e\n    3623c7b9447ee093 -. handle_info/2('EXIT') .-> e9077d2769ed1a86 \n    3623c7b9447ee093 -- execute_sync/3 --> cfd2d25f8d7027c4\n    36fb909a0736d92e -. handle_info/2(timeout) .-> e9077d2769ed1a86\n    cfd2d25f8d7027c4 -- send_message_on_ports/2 --> 1d84888539409a24\n subgraph subGraph0[\"-- for each message --\"]\n        e9077d2769ed1a86[\"ered_function_code_manager &lt;gen_server&gt;\"]\n        3623c7b9447ee093[\"exec func process<br>&lt;spawn_link&gt;\"]\n        cfd2d25f8d7027c4([\"#{Msg2}\"])\n        36fb909a0736d92e[\"timeout process<br>&lt;erlang:start_timer&gt;\"]\n        1d84888539409a24[\"ered_node_debug<br>&lt;ered_node&gt;\"]\n  end\n```","env":[{"name":"ERED_TIMEOUT","value":"1","type":"num"}]},{"id":"7e03f030e5f5a4e7","type":"inject","z":"1fd621a674360b5d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":513.4285278320312,"y":283.9285583496094,"wires":[["2f618851ebb2f1d9"]]},{"id":"2f618851ebb2f1d9","type":"function","z":"1fd621a674360b5d","name":"function 1","func":"%% Code here is wrapped in a fun (Msg) call\n%% fun (Msg) ->\n    Msg\n%% end.\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":737.4285278320312,"y":283.9285583496094,"wires":[["c964d93feccb251b"]]},{"id":"c964d93feccb251b","type":"debug","z":"1fd621a674360b5d","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":954.4285278320312,"y":283.9285583496094,"wires":[]}]