1fd621a674360b5d/flows.json
[{"id":"1fd621a674360b5d","type":"tab","label":"[.docu] junction node architecture","disabled":false,"info":"## Function node architecture\n\n\n\n```noderedjson\n[{\"id\":\"16e95143464e092e\",\"type\":\"group\",\"z\":\"1fd621a674360b5d\",\"name\":\"\",\"style\":{\"label\":true},\"nodes\":[\"7e03f030e5f5a4e7\",\"2f618851ebb2f1d9\",\"c964d93feccb251b\"],\"x\":407.42852783203125,\"y\":242.92855834960938,\"w\":653,\"h\":82},{\"id\":\"7e03f030e5f5a4e7\",\"type\":\"inject\",\"z\":\"1fd621a674360b5d\",\"g\":\"16e95143464e092e\",\"name\":\"\",\"props\":[{\"p\":\"payload\"},{\"p\":\"topic\",\"vt\":\"str\"}],\"repeat\":\"\",\"crontab\":\"\",\"once\":false,\"onceDelay\":0.1,\"topic\":\"\",\"payload\":\"\",\"payloadType\":\"date\",\"x\":513.4285278320312,\"y\":283.9285583496094,\"wires\":[[\"2f618851ebb2f1d9\"]]},{\"id\":\"2f618851ebb2f1d9\",\"type\":\"function\",\"z\":\"1fd621a674360b5d\",\"g\":\"16e95143464e092e\",\"name\":\"function 1\",\"func\":\"%% Code here is wrapped in a fun (Msg) call\\n%% fun (Msg) ->\\n    Msg\\n%% end.\\n\",\"outputs\":1,\"timeout\":0,\"noerr\":0,\"initialize\":\"\",\"finalize\":\"\",\"libs\":[],\"x\":737.4285278320312,\"y\":283.9285583496094,\"wires\":[[\"c964d93feccb251b\"]]},{\"id\":\"c964d93feccb251b\",\"type\":\"debug\",\"z\":\"1fd621a674360b5d\",\"g\":\"16e95143464e092e\",\"name\":\"debug 1\",\"active\":true,\"tosidebar\":true,\"console\":false,\"tostatus\":false,\"complete\":\"false\",\"statusVal\":\"\",\"statusType\":\"auto\",\"x\":954.4285278320312,\"y\":283.9285583496094,\"wires\":[]}]\n```\n\nDiagram -->\n\n```mermaid\n%% change this to LR Node-RED like UML\ngraph TB\n3272430156b615cf[\"ered_node_inject &lt;ered_node&gt;\"]-- handle_msg/2(outgoing) --> 3142b9a8e864d04f[\"#35;#123;Msg#125;\"]\n3142b9a8e864d04f([\"#35;#123;Msg#125;\"])-- handle_msg/2(incoming) --> c333a1b8d6ccd24f[\"ered_node_function &lt;ered_node&gt;\"]\nc333a1b8d6ccd24f[\"ered_node_function &lt;ered_node&gt;\"]-- ered_function_code_manager:start --> e9077d2769ed1a86[\"ered_function_code_manager &lt;gen_server&gt;\"]\ne9077d2769ed1a86[\"ered_function_code_manager &lt;gen_server&gt;\"]-. handle_event/2('DOWN') .-> c333a1b8d6ccd24f[\"ered_node_function &lt;ered_node&gt;\"]\ne9077d2769ed1a86[\"ered_function_code_manager &lt;gen_server&gt;\"] --> 3623c7b9447ee093[\"execPid &lt;spawn_link&gt;\"]\ne9077d2769ed1a86[\"ered_function_code_manager &lt;gen_server&gt;\"] --> 36fb909a0736d92e[\"timeoutPid &lt;erlang:start_timer&gt;\"]\n3623c7b9447ee093[\"execPid &lt;spawn_link&gt;\"] --> e9077d2769ed1a86[\"ered_function_code_manager &lt;gen_server&gt;\"]\n3623c7b9447ee093[\"execPid &lt;spawn_link&gt;\"] --> cfd2d25f8d7027c4[(\"#35;#123;Msg2#125;\")]\n36fb909a0736d92e[\"timeoutPid &lt;erlang:start_timer&gt;\"] --> e9077d2769ed1a86[\"ered_function_code_manager &lt;gen_server&gt;\"]\ncfd2d25f8d7027c4([\"#35;#123;Msg2#125;\"])-- send_message_on_ports/2 -->  1d84888539409a24([\"ered_node_function &lt;ered_node&gt;\"])\n```","env":[{"name":"ERED_TIMEOUT","value":"1","type":"num"}]},{"id":"caab984195512e09","type":"group","z":"1fd621a674360b5d","name":"Basis for Mermaid diagram - see https://flows.nodered.org/node/@gregoriusrippenstein/node-red-contrib-flow2uml","style":{"label":true},"nodes":["3272430156b615cf","c333a1b8d6ccd24f","e9077d2769ed1a86","3623c7b9447ee093","1d84888539409a24","36fb909a0736d92e","cfd2d25f8d7027c4","3142b9a8e864d04f"],"x":22.285614013671875,"y":692.6428527832031,"w":1389.7142639160156,"h":476.4285583496094},{"id":"16e95143464e092e","type":"group","z":"1fd621a674360b5d","name":"","style":{"label":true},"nodes":["7e03f030e5f5a4e7","2f618851ebb2f1d9","c964d93feccb251b"],"x":407.42852783203125,"y":242.92855834960938,"w":653,"h":82},{"id":"7e03f030e5f5a4e7","type":"inject","z":"1fd621a674360b5d","g":"16e95143464e092e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":513.4285278320312,"y":283.9285583496094,"wires":[["2f618851ebb2f1d9"]]},{"id":"2f618851ebb2f1d9","type":"function","z":"1fd621a674360b5d","g":"16e95143464e092e","name":"function 1","func":"%% Code here is wrapped in a fun (Msg) call\n%% fun (Msg) ->\n    Msg\n%% end.\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":737.4285278320312,"y":283.9285583496094,"wires":[["c964d93feccb251b"]]},{"id":"c964d93feccb251b","type":"debug","z":"1fd621a674360b5d","g":"16e95143464e092e","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":954.4285278320312,"y":283.9285583496094,"wires":[]},{"id":"3272430156b615cf","type":"inject","z":"1fd621a674360b5d","g":"caab984195512e09","name":"ered_node_inject <ered_node>","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":198.28561401367188,"y":733.6428527832031,"wires":[["3142b9a8e864d04f"]]},{"id":"c333a1b8d6ccd24f","type":"function","z":"1fd621a674360b5d","g":"caab984195512e09","name":"ered_node_function <ered_node>","func":"%% Code here is wrapped in a fun (Msg) call\n%% fun (Msg) ->\n    Msg\n%% end.\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":839.9998779296875,"y":733.6428527832031,"wires":[["e9077d2769ed1a86"]]},{"id":"e9077d2769ed1a86","type":"function","z":"1fd621a674360b5d","g":"caab984195512e09","name":"ered_function_code_manager <gen_server>","func":"%% Code here is wrapped in a fun (Msg) call\n%% fun (Msg) ->\n    Msg\n%% end.\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":839.9998779296875,"y":888.5714111328125,"wires":[["c333a1b8d6ccd24f","3623c7b9447ee093","36fb909a0736d92e"]]},{"id":"3623c7b9447ee093","type":"function","z":"1fd621a674360b5d","g":"caab984195512e09","name":"execPid <spawn_link>","func":"%% Code here is wrapped in a fun (Msg) call\n%% fun (Msg) ->\n    Msg\n%% end.\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":523.9998779296875,"y":1127.0714111328125,"wires":[["e9077d2769ed1a86","cfd2d25f8d7027c4"]]},{"id":"1d84888539409a24","type":"debug","z":"1fd621a674360b5d","g":"caab984195512e09","name":"ered_node_function <ered_node>","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1225.9998779296875,"y":1128.0714111328125,"wires":[]},{"id":"36fb909a0736d92e","type":"function","z":"1fd621a674360b5d","g":"caab984195512e09","name":"timeoutPid <erlang:start_timer>","func":"%% Code here is wrapped in a fun (Msg) call\n%% fun (Msg) ->\n    Msg\n%% end.\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1213.9998779296875,"y":1045.5714111328125,"wires":[["e9077d2769ed1a86"]]},{"id":"cfd2d25f8d7027c4","type":"switch","z":"1fd621a674360b5d","g":"caab984195512e09","name":"#{Msg2}","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":839.9998779296875,"y":1128.0714111328125,"wires":[["1d84888539409a24"]]},{"id":"3142b9a8e864d04f","type":"delay","z":"1fd621a674360b5d","g":"caab984195512e09","name":"#{Msg}","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":514.1427459716797,"y":733.6428527832031,"wires":[["c333a1b8d6ccd24f"]]}]