72fbf0bdf8eacc7e/flows.json
[{"id":"72fbf0bdf8eacc7e","type":"tab","label":"[.breadboard] Diameter Authorisation Statemachine - Server","disabled":false,"info":"## Diameter Author/Authen Statemachine - Server\n\n```mermaid\n%% Generated by the Flow2UML Node @ https://flowhub.org/flow2uml\n%% change direction to LR for Node-RED left-to-right UML\nflowchart TB\n41649c893949bd22@{ shape: \"circle\", label: \"Start\" } -- \"AAR\" --> 4b9d114d09beb418@{ shape: \"rounded\", label: \"Idle\" }\n4b9d114d09beb418@{ shape: \"rounded\", label: \"Idle\" } -- \"AAA; MULTI_ROUND_AUTH\" --> 4b9d114d09beb418@{ shape: \"rounded\", label: \"Idle\" }\n4b9d114d09beb418@{ shape: \"rounded\", label: \"Idle\" } -- \"STR\" --> 43f28daced65a485@{ shape: \"dbl-circ\", label: \"Stop\" }\n4b9d114d09beb418@{ shape: \"rounded\", label: \"Idle\" } -- \"AAA; SUCCESS\" --> 81bc6eecdb17dee7@{ shape: \"rounded\", label: \"Open\" }\n81bc6eecdb17dee7@{ shape: \"rounded\", label: \"Open\" } -- \"AAR\" --> 81bc6eecdb17dee7@{ shape: \"rounded\", label: \"Open\" }\n81bc6eecdb17dee7@{ shape: \"rounded\", label: \"Open\" } -- \"AAA; SUCCESS\" --> 81bc6eecdb17dee7@{ shape: \"rounded\", label: \"Open\" }\n81bc6eecdb17dee7@{ shape: \"rounded\", label: \"Open\" } -- \"AAA; MULTI_ROUND_AUTH\" --> 81bc6eecdb17dee7@{ shape: \"rounded\", label: \"Open\" }\n81bc6eecdb17dee7@{ shape: \"rounded\", label: \"Open\" } -- \"AAA; AUTHORIZATION_REJECTED\" --> 4b9d114d09beb418@{ shape: \"rounded\", label: \"Idle\" }\n81bc6eecdb17dee7@{ shape: \"rounded\", label: \"Open\" } -- \"STR\" --> 43f28daced65a485@{ shape: \"dbl-circ\", label: \"Stop\" }\n81bc6eecdb17dee7@{ shape: \"rounded\", label: \"Open\" } -- \"RAR\" --> 641286613f05f45e@{ shape: \"rounded\", label: \"Pending\" }\n81bc6eecdb17dee7@{ shape: \"rounded\", label: \"Open\" } -- \"ASR\" --> 9482adf55132e602@{ shape: \"rounded\", label: \"Disconnected\" }\n9482adf55132e602@{ shape: \"rounded\", label: \"Disconnected\" } -- \"ASA\" --> 4b9d114d09beb418@{ shape: \"rounded\", label: \"Idle\" }\n9482adf55132e602@{ shape: \"rounded\", label: \"Disconnected\" } -- \"STR\" --> 43f28daced65a485@{ shape: \"dbl-circ\", label: \"Stop\" }\n641286613f05f45e@{ shape: \"rounded\", label: \"Pending\" } -- \"STR\" --> 43f28daced65a485@{ shape: \"dbl-circ\", label: \"Stop\" }\n641286613f05f45e@{ shape: \"rounded\", label: \"Pending\" } -- \"RAA; SUCCESS\" --> 81bc6eecdb17dee7@{ shape: \"rounded\", label: \"Open\" }\n641286613f05f45e@{ shape: \"rounded\", label: \"Pending\" } -- \"RAA; !SUCCESS\" --> 4b9d114d09beb418@{ shape: \"rounded\", label: \"Idle\" }\n```\n","env":[{"name":"ERED_ONLY","value":"true","type":"bool"}]},{"id":"c0eb99130a3f7b9e","type":"group","z":"72fbf0bdf8eacc7e","name":"state machine definition","style":{"label":true},"nodes":["41649c893949bd22","4b9d114d09beb418","43f28daced65a485","81bc6eecdb17dee7","9482adf55132e602","641286613f05f45e"],"x":214,"y":116.5,"w":954,"h":602.375},{"id":"92455090c17f36d1","type":"group","z":"72fbf0bdf8eacc7e","name":"test: AAR - AAA (SUCCESS) - STR / start - idle - open - stop","style":{"label":true},"nodes":["6921f489716b2488","a542bafecf8edb61","7753a578084a9c6c","7ced67a9c5817563","ad9019c3a9076f43","4efe877a6548bd9d","f3b60177df506d8a","421b156f142a1974","602f322c771ae77e","1a44a19e6a5cbf85","e5c550f9a0bd6869","4cf46564070bdf77","9ae888b6d3b666ea"],"x":313,"y":1826,"w":1260,"h":464},{"id":"05a27a8af28dddca","type":"group","z":"72fbf0bdf8eacc7e","name":"test: AAR - AAA (SUCCESS) - ASR - STR / start - idle - open - disconnected - stop","style":{"label":true},"nodes":["7321d0c1bac1620d","588956fd308c467e","869579b1f98c0698","70b6ed72ebe4fba8","1b4d047677f5fef4","3731516b573f22ad","10a3cfa9680845fb","e304da8af21c9d57","e8e01469587ac077","24d77a9b63436363","deece9da733ae7c0","91bc3397d7ef5d79","2b169f86b4ccab91","e7b0390739d8730b","0bf839287ed543c8"],"x":340.57147216796875,"y":2368.9287109375,"w":1260,"h":531.119218826294},{"id":"41649c893949bd22","type":"mermaid-flowchart","z":"72fbf0bdf8eacc7e","g":"c0eb99130a3f7b9e","name":"Start","shape":"circle","wirecfgs":[{"name":"AAR","id":"4b9d114d09beb418","arrow":"-->"}],"x":290,"y":157.5,"wires":[["4b9d114d09beb418"]],"icon":"font-awesome/fa-circle"},{"id":"4b9d114d09beb418","type":"mermaid-flowchart","z":"72fbf0bdf8eacc7e","g":"c0eb99130a3f7b9e","name":"Idle","shape":"rounded","wirecfgs":[{"name":"AAA; SUCCESS","id":"81bc6eecdb17dee7","arrow":"-->"},{"name":"AAA; MULTI_ROUND_AUTH","id":"4b9d114d09beb418","arrow":"-->"},{"name":"STR","id":"43f28daced65a485","arrow":"-->"}],"x":528,"y":157.5,"wires":[["43f28daced65a485","81bc6eecdb17dee7"]]},{"id":"43f28daced65a485","type":"mermaid-flowchart","z":"72fbf0bdf8eacc7e","g":"c0eb99130a3f7b9e","name":"Stop","shape":"dbl-circ","wirecfgs":[],"x":1092,"y":415.4375,"wires":[[]],"icon":"font-awesome/fa-stop-circle-o"},{"id":"81bc6eecdb17dee7","type":"mermaid-flowchart","z":"72fbf0bdf8eacc7e","g":"c0eb99130a3f7b9e","name":"Open","shape":"rounded","wirecfgs":[{"name":"ASR","id":"9482adf55132e602","arrow":"-->"},{"name":"AAR","id":"81bc6eecdb17dee7","arrow":"-->"},{"name":"AAA; SUCCESS","id":"81bc6eecdb17dee7","arrow":"-->"},{"name":"AAA; MULTI_ROUND_AUTH","id":"81bc6eecdb17dee7","arrow":"-->"},{"name":"RAR","id":"641286613f05f45e","arrow":"-->"},{"name":"AAA; AUTHORIZATION_REJECTED","id":"4b9d114d09beb418","arrow":"-->"},{"name":"STR","id":"43f28daced65a485","arrow":"-->"}],"x":528,"y":677.875,"wires":[["4b9d114d09beb418","43f28daced65a485","641286613f05f45e","9482adf55132e602"]]},{"id":"9482adf55132e602","type":"mermaid-flowchart","z":"72fbf0bdf8eacc7e","g":"c0eb99130a3f7b9e","name":"Disconnected","shape":"rounded","wirecfgs":[{"name":"ASA","id":"4b9d114d09beb418","arrow":"-->"},{"name":"STR","id":"43f28daced65a485","arrow":"-->"}],"x":855.5,"y":677.875,"wires":[["4b9d114d09beb418","43f28daced65a485"]]},{"id":"641286613f05f45e","type":"mermaid-flowchart","z":"72fbf0bdf8eacc7e","g":"c0eb99130a3f7b9e","name":"Pending","shape":"rounded","wirecfgs":[{"name":"RAA; SUCCESS","id":"81bc6eecdb17dee7","arrow":"-->"},{"name":"RAA; !SUCCESS","id":"4b9d114d09beb418","arrow":"-->"},{"name":"STR","id":"43f28daced65a485","arrow":"-->"}],"x":395,"y":415.4375,"wires":[["43f28daced65a485","81bc6eecdb17dee7","4b9d114d09beb418"]]},{"id":"694464d2db98d2b3","type":"erlmodule","z":"72fbf0bdf8eacc7e","name":"","module_name":"diameter_authorization_server","code":"-module(diameter_authorization_server).\n\n%%\n%%  APIs: https://www.erlang.org/doc/apps/stdlib/gen_statem.html\n%%\n\n-behaviour(gen_statem).\n\n-export([\n    start/0,\n    init/1,\n    callback_mode/0,\n    handle_event/4,\n    code_change/4,\n    terminate/3,\n    stop/0\n]).\n\n%% WARNING: state_functions are not supported by statemachine node.\n%% callback_mode() -> state_functions.\ncallback_mode() -> handle_event_function.\n\n-define(KEEP_STATE(ReplyWith),\n    {keep_state, Data, [{reply, From, ReplyWith}]}\n).\n\nstart() ->\n    gen_statem:start({local, ?MODULE}, ?MODULE, [], []).\n\nstop() ->\n    gen_statem:stop(?MODULE).\nterminate(_Reason, _State, _Data) ->\n    void.\ncode_change(_Vsn, State, Data, _Extra) ->\n    {ok, State, Data}.\n\n%% Initial state and data\ninit([]) ->\n    State = start, \n    Data = 0,\n    {ok,State,Data}.\n\n%%% handle event function\n\n\n\n%%\n%% Definition from 'Start' - #41649c893949bd22\n%%\n\nhandle_event(\n    {call, From},\n    <<\"AAR\">>,\n    start,\n    Data\n) ->\n    {next_state, idle, Data, [{ reply, From, ok }]};\n\n%%\n%% Definition from 'Idle' - #4b9d114d09beb418\n%%\n\nhandle_event(\n    {call, From},\n    {<<\"AAA\">>, <<\"SUCCESS\">>},\n    idle,\n    Data\n) ->\n    {next_state, open, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    {<<\"AAA\">>, <<\"MULTI_ROUND_AUTH\">>},\n    idle,\n    Data\n) ->\n    {keep_state, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    <<\"STR\">>,\n    idle,\n    Data\n) ->\n    {next_state, stop, Data, [{ reply, From, ok }]};\n\n%%\n%% Definition from 'Open' - #81bc6eecdb17dee7\n%%\n\nhandle_event(\n    {call, From},\n    <<\"ASR\">>,\n    open,\n    Data\n) ->\n    {next_state, disconnected, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    <<\"AAR\">>,\n    open,\n    Data\n) ->\n    {keep_state, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    {<<\"AAA\">>, <<\"SUCCESS\">>},\n    open,\n    Data\n) ->\n    {keep_state, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    {<<\"AAA\">>, <<\"MULTI_ROUND_AUTH\">>},\n    open,\n    Data\n) ->\n    {keep_state, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    <<\"RAR\">>,\n    open,\n    Data\n) ->\n    {next_state, pending, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    {<<\"AAA\">>, <<\"AUTHORIZATION_REJECTED\">>},\n    open,\n    Data\n) ->\n    {next_state, idle, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    <<\"STR\">>,\n    open,\n    Data\n) ->\n    {next_state, stop, Data, [{ reply, From, ok }]};\n\n%%\n%% Definition from 'Disconnected' - #9482adf55132e602\n%%\n\nhandle_event(\n    {call, From},\n    <<\"ASA\">>,\n    disconnected,\n    Data\n) ->\n    {next_state, idle, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    <<\"STR\">>,\n    disconnected,\n    Data\n) ->\n    {next_state, stop, Data, [{ reply, From, ok }]};\n\n%%\n%% Definition from 'Pending' - #641286613f05f45e\n%%\n\nhandle_event(\n    {call, From},\n    {<<\"RAA\">>, <<\"SUCCESS\">>},\n    pending,\n    Data\n) ->\n    {next_state, open, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    {<<\"RAA\">>, Success},\n    pending,\n    Data\n) when Success =/= <<\"SUCCESS\">> ->\n    {next_state, idle, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    <<\"STR\">>,\n    pending,\n    Data\n) ->\n    {next_state, stop, Data, [{ reply, From, ok }]};\n\n%%\n%% Definition from 'Stop' - #43f28daced65a485\n%%\n\n%%\n%% Fall through.\nhandle_event({call, From} = _EventType, _Stiff, _State, Data) ->\n    ?KEEP_STATE(<<\"ignored\">>);\n\nhandle_event(_EventType, _Stiff, _State, Data) ->\n    {keep_state, Data}.\n","x":872,"y":918.5,"wires":[]},{"id":"8e733456dffe73f3","type":"erlstatemachine","z":"72fbf0bdf8eacc7e","name":"","scope":["694464d2db98d2b3"],"emit_on_state_change":false,"x":872,"y":1025.5,"wires":[["6f29a8e98f3729e4"]]},{"id":"abe0c8158d6ce41e","type":"inject","z":"72fbf0bdf8eacc7e","name":"AAR - Authent. Author. Reqest","props":[{"p":"action","v":"AAR","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":339,"y":882,"wires":[["8e733456dffe73f3"]]},{"id":"5c85a573a471d7f2","type":"inject","z":"72fbf0bdf8eacc7e","name":"AAA - Authorisation Refjected","props":[{"p":"action","v":"AAA","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"AUTHORIZATION_REJECTED","payloadType":"str","x":397.93943786621094,"y":1025.5759086608887,"wires":[["8e733456dffe73f3"]]},{"id":"8af836a3d6cd4f97","type":"inject","z":"72fbf0bdf8eacc7e","name":"AAA - Mutli Round trip authorisation","props":[{"p":"action","v":"AAA","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"MULTI_ROUND_AUTH","payloadType":"str","x":417.93943786621094,"y":1091.5759086608887,"wires":[["8e733456dffe73f3"]]},{"id":"290cb6ff792a156e","type":"inject","z":"72fbf0bdf8eacc7e","name":"AAA - Authorisation Successful","props":[{"p":"action","v":"AAA","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"SUCCESS","payloadType":"str","x":407.93943786621094,"y":1153.5759086608887,"wires":[["8e733456dffe73f3"]]},{"id":"38a44cda95dacdf5","type":"inject","z":"72fbf0bdf8eacc7e","name":"RAR - Re-Auth-Request","props":[{"p":"action","v":"RAR","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":513.7576141357422,"y":1277.303297996521,"wires":[["8e733456dffe73f3"]]},{"id":"43b459d45e59a06c","type":"inject","z":"72fbf0bdf8eacc7e","name":"ASR - Abort-Session-Request","props":[{"p":"action","v":"ASR","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":563.1717427571615,"y":1328.5355319976807,"wires":[["8e733456dffe73f3"]]},{"id":"7391976f3b4f672e","type":"inject","z":"72fbf0bdf8eacc7e","name":"STA - Session Termination Answer","props":[{"p":"action","v":"STA","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":642.5858713785808,"y":1379.7677659988403,"wires":[["8e733456dffe73f3"]]},{"id":"6f29a8e98f3729e4","type":"debug","z":"72fbf0bdf8eacc7e","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1211,"y":1091,"wires":[]},{"id":"e7c875ab3fc4dcf9","type":"inject","z":"72fbf0bdf8eacc7e","name":"STR - Session Termination Response","props":[{"p":"action","v":"STR","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":752,"y":1431,"wires":[["8e733456dffe73f3"]]},{"id":"6921f489716b2488","type":"erlstatemachine","z":"72fbf0bdf8eacc7e","g":"92455090c17f36d1","name":"","scope":["694464d2db98d2b3"],"emit_on_state_change":false,"x":871,"y":2008.5,"wires":[["f3b60177df506d8a"]]},{"id":"a542bafecf8edb61","type":"inject","z":"72fbf0bdf8eacc7e","g":"92455090c17f36d1","name":"AAR - Authent. Author. Reqest","props":[{"p":"action","v":"AAR","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":479,"y":1867,"wires":[["6921f489716b2488"]]},{"id":"7753a578084a9c6c","type":"status","z":"72fbf0bdf8eacc7e","g":"92455090c17f36d1","name":"","scope":["6921f489716b2488"],"x":791,"y":2129,"wires":[["7ced67a9c5817563"]]},{"id":"7ced67a9c5817563","type":"switch","z":"72fbf0bdf8eacc7e","g":"92455090c17f36d1","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"idle","vt":"str"},{"t":"eq","v":"open","vt":"str"},{"t":"eq","v":"stop","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":1000,"y":2190,"wires":[["421b156f142a1974"],["4efe877a6548bd9d"],["1a44a19e6a5cbf85"]]},{"id":"ad9019c3a9076f43","type":"change","z":"72fbf0bdf8eacc7e","g":"92455090c17f36d1","name":"AAA - SUCCESS","rules":[{"t":"set","p":"action","pt":"msg","to":"AAA","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"SUCCESS","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":1934,"wires":[["e5c550f9a0bd6869"]]},{"id":"4efe877a6548bd9d","type":"ut-assert-success","z":"72fbf0bdf8eacc7e","g":"92455090c17f36d1","name":"","count":1,"x":1300,"y":2189,"wires":[]},{"id":"f3b60177df506d8a","type":"switch","z":"72fbf0bdf8eacc7e","g":"92455090c17f36d1","name":"","property":"_statem.state_curr","propertyType":"msg","rules":[{"t":"eq","v":"idle","vt":"str"},{"t":"eq","v":"open","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":1117,"y":2008.5,"wires":[["ad9019c3a9076f43"],["602f322c771ae77e"],["9ae888b6d3b666ea"]]},{"id":"421b156f142a1974","type":"ut-assert-success","z":"72fbf0bdf8eacc7e","g":"92455090c17f36d1","name":"","count":1,"x":1300,"y":2140,"wires":[]},{"id":"602f322c771ae77e","type":"change","z":"72fbf0bdf8eacc7e","g":"92455090c17f36d1","name":"STR","rules":[{"t":"set","p":"action","pt":"msg","to":"STR","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":2008,"wires":[["e5c550f9a0bd6869"]]},{"id":"1a44a19e6a5cbf85","type":"ut-assert-success","z":"72fbf0bdf8eacc7e","g":"92455090c17f36d1","name":"","count":1,"x":1300,"y":2249,"wires":[]},{"id":"e5c550f9a0bd6869","type":"link out","z":"72fbf0bdf8eacc7e","g":"92455090c17f36d1","name":"link out 1","mode":"link","links":["4cf46564070bdf77"],"x":1532,"y":2008.5,"wires":[]},{"id":"4cf46564070bdf77","type":"link in","z":"72fbf0bdf8eacc7e","g":"92455090c17f36d1","name":"link in 1","links":["e5c550f9a0bd6869"],"x":586,"y":2008.5,"wires":[["6921f489716b2488"]]},{"id":"9ae888b6d3b666ea","type":"ut-assert-values","z":"72fbf0bdf8eacc7e","g":"92455090c17f36d1","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"ok","tot":"str"},{"t":"eql","p":"_statem.action","pt":"msg","to":"STR","tot":"str"},{"t":"eql","p":"_statem.state_curr","pt":"msg","to":"stop","tot":"str"},{"t":"eql","p":"_statem.state_prev","pt":"msg","to":"open","tot":"str"}],"x":1310,"y":2076,"wires":[[]]},{"id":"7321d0c1bac1620d","type":"erlstatemachine","z":"72fbf0bdf8eacc7e","g":"05a27a8af28dddca","name":"","scope":["694464d2db98d2b3"],"emit_on_state_change":false,"x":898.5714721679688,"y":2551.4287109375,"wires":[["10a3cfa9680845fb"]]},{"id":"588956fd308c467e","type":"inject","z":"72fbf0bdf8eacc7e","g":"05a27a8af28dddca","name":"AAR - Authent. Author. Reqest","props":[{"p":"action","v":"AAR","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":506.57147216796875,"y":2409.9287109375,"wires":[["7321d0c1bac1620d"]]},{"id":"869579b1f98c0698","type":"status","z":"72fbf0bdf8eacc7e","g":"05a27a8af28dddca","name":"","scope":["7321d0c1bac1620d"],"x":815.7142677307129,"y":2636.214367866516,"wires":[["70b6ed72ebe4fba8"]]},{"id":"70b6ed72ebe4fba8","type":"switch","z":"72fbf0bdf8eacc7e","g":"05a27a8af28dddca","name":"","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"idle","vt":"str"},{"t":"eq","v":"open","vt":"str"},{"t":"eq","v":"stop","vt":"str"},{"t":"eq","v":"disconnected","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":1006.1430130004883,"y":2714.3571281433105,"wires":[["e304da8af21c9d57"],["3731516b573f22ad"],["24d77a9b63436363"],["0bf839287ed543c8"]]},{"id":"1b4d047677f5fef4","type":"change","z":"72fbf0bdf8eacc7e","g":"05a27a8af28dddca","name":"AAA - SUCCESS","rules":[{"t":"set","p":"action","pt":"msg","to":"AAA","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"SUCCESS","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1344.2857666015625,"y":2476.9287109375,"wires":[["deece9da733ae7c0"]]},{"id":"3731516b573f22ad","type":"ut-assert-success","z":"72fbf0bdf8eacc7e","g":"05a27a8af28dddca","name":"","count":1,"x":1324.2857666015625,"y":2731.9287109375,"wires":[]},{"id":"10a3cfa9680845fb","type":"switch","z":"72fbf0bdf8eacc7e","g":"05a27a8af28dddca","name":"","property":"_statem.state_curr","propertyType":"msg","rules":[{"t":"eq","v":"idle","vt":"str"},{"t":"eq","v":"open","vt":"str"},{"t":"eq","v":"disconnected","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":1144.5714721679688,"y":2551.4287109375,"wires":[["1b4d047677f5fef4"],["e7b0390739d8730b"],["e8e01469587ac077"],["2b169f86b4ccab91"]]},{"id":"e304da8af21c9d57","type":"ut-assert-success","z":"72fbf0bdf8eacc7e","g":"05a27a8af28dddca","name":"","count":1,"x":1324.2857666015625,"y":2682.9287109375,"wires":[]},{"id":"e8e01469587ac077","type":"change","z":"72fbf0bdf8eacc7e","g":"05a27a8af28dddca","name":"STR","rules":[{"t":"set","p":"action","pt":"msg","to":"STR","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1304.2857666015625,"y":2563.7856941223145,"wires":[["deece9da733ae7c0"]]},{"id":"24d77a9b63436363","type":"ut-assert-success","z":"72fbf0bdf8eacc7e","g":"05a27a8af28dddca","name":"","count":1,"x":1324.2857666015625,"y":2791.9287109375,"wires":[]},{"id":"deece9da733ae7c0","type":"link out","z":"72fbf0bdf8eacc7e","g":"05a27a8af28dddca","name":"link out 2","mode":"link","links":["91bc3397d7ef5d79"],"x":1559.5714721679688,"y":2551.4287109375,"wires":[]},{"id":"91bc3397d7ef5d79","type":"link in","z":"72fbf0bdf8eacc7e","g":"05a27a8af28dddca","name":"link in 2","links":["deece9da733ae7c0"],"x":613.5714721679688,"y":2551.4287109375,"wires":[["7321d0c1bac1620d"]]},{"id":"2b169f86b4ccab91","type":"ut-assert-values","z":"72fbf0bdf8eacc7e","g":"05a27a8af28dddca","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"ok","tot":"str"},{"t":"eql","p":"_statem.action","pt":"msg","to":"STR","tot":"str"},{"t":"eql","p":"_statem.state_curr","pt":"msg","to":"stop","tot":"str"},{"t":"eql","p":"_statem.state_prev","pt":"msg","to":"disconnected","tot":"str"}],"x":1334.2857666015625,"y":2618.9287109375,"wires":[[]]},{"id":"e7b0390739d8730b","type":"change","z":"72fbf0bdf8eacc7e","g":"05a27a8af28dddca","name":"ASR","rules":[{"t":"set","p":"action","pt":"msg","to":"ASR","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1304.2857666015625,"y":2519.523681640625,"wires":[["deece9da733ae7c0"]]},{"id":"0bf839287ed543c8","type":"ut-assert-success","z":"72fbf0bdf8eacc7e","g":"05a27a8af28dddca","name":"","count":1,"x":1324.2857666015625,"y":2859.047929763794,"wires":[]}]