b70a7ce34819e4d5/flows.json
[{"id":"b70a7ce34819e4d5","type":"tab","label":"[eventhandler] register and unregister handler","disabled":false,"info":"## gen_event behaviour\n\nSimple example of defining a module that should act as an event handler, that then handles an event and then is removed again.\n\n## Other behaviours\n\n- [Supervisor](https://flows.red-erik.org/f/83c5e1824f32abec)\n- [State machine](https://flows.red-erik.org/f/5672fa442b2b881d)","env":[]},{"id":"d405249f794935df","type":"erleventhandler","z":"b70a7ce34819e4d5","name":"","x":627,"y":381.75,"wires":[["2863a3a6aff60cc2","f105487f788cf599"]]},{"id":"51cbf6af1bd46765","type":"inject","z":"b70a7ce34819e4d5","name":"event_type_fubar","props":[{"p":"payload"},{"p":"event","v":"event_type_fubar","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":364,"y":615,"wires":[["d405249f794935df"]]},{"id":"c8e7ba1933cfcb5e","type":"erlmodule","z":"b70a7ce34819e4d5","name":"event_handler_fubar","module_name":"event_handler_fubar","code":"-module(event_handler_fubar).\n\n-behaviour(gen_event).\n\n-export([\n    init/1,\n    handle_event/2,\n    handle_call/2,\n    handle_info/2,\n    terminate/2,\n    code_change/3\n]).\n\n-import(ered_nodes, [\n    send_msg_to_connected_nodes/2\n]).\n\n-import(ered_msgtracer_helpers, [\n    send_off_debug/2\n]).\n\ninit(Args) ->\n    {ok, Args}.\n\nhandle_event({<<\"event_type_fubar\">>, Msg, NodeDef}, State) ->\n    Msg2 = Msg#{ handled => <<\"Fubar Event\">> },\n    send_msg_to_connected_nodes(NodeDef, Msg2),\n    {ok, State};\n\nhandle_event(_Event, State) ->\n    {ok, State}.\n\nhandle_call(_Request, State) ->\n    {ok, ok, State}.\n\nhandle_info(_Info, State) ->\n    {ok, State}.\n\nterminate(_Reason, _State) ->\n    ok.\n\ncode_change(_OldVsn, State, _Extra) ->\n    {ok, State}.\n","x":623,"y":252,"wires":[[]]},{"id":"24782c393c37989e","type":"inject","z":"b70a7ce34819e4d5","name":"add handler event_handler_test_one","props":[{"p":"action","v":"add_handler","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"event_handler_fubar","payloadType":"str","x":268,"y":304,"wires":[["d405249f794935df"]]},{"id":"2863a3a6aff60cc2","type":"debug","z":"b70a7ce34819e4d5","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":954,"y":268.75,"wires":[]},{"id":"6132faf9b79f6e70","type":"inject","z":"b70a7ce34819e4d5","name":"remove handler event_handler_test_one","props":[{"p":"action","v":"delete_handler","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"event_handler_fubar","payloadType":"str","x":219,"y":381.75,"wires":[["d405249f794935df"]]},{"id":"f105487f788cf599","type":"switch","z":"b70a7ce34819e4d5","name":"","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"add_handler","vt":"str"},{"t":"eq","v":"delete_handler","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":846,"y":457,"wires":[["c92de26601923a24"],["8e4a24bef71bb484"],[]]},{"id":"c92de26601923a24","type":"ut-assert-success","z":"b70a7ce34819e4d5","name":"","x":1031,"y":383.5,"wires":[]},{"id":"8e4a24bef71bb484","type":"ut-assert-success","z":"b70a7ce34819e4d5","name":"","x":1033,"y":434.5,"wires":[]}]