894f6e38bfd1aca6/flows.json
[{"id":"894f6e38bfd1aca6","type":"tab","label":"[join] remove parts once matched","disabled":false,"info":"## Join removes parts\n\nJoin removes parts once all have been received.\n\nThis allows for the collection of recursive splits.","env":[]},{"id":"446ca4f75b07389c","type":"inject","z":"894f6e38bfd1aca6","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[[[[[1,2,3],[4,5,6],[7,8,9]]]]]","payloadType":"json","x":575,"y":388,"wires":[["b084d6e6b8bd3b88"]]},{"id":"b084d6e6b8bd3b88","type":"split","z":"894f6e38bfd1aca6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":855,"y":388,"wires":[["f1abbd5f4b686270"]]},{"id":"f1abbd5f4b686270","type":"switch","z":"894f6e38bfd1aca6","name":"","property":"$type($$.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"array","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":854,"y":543.5,"wires":[["b084d6e6b8bd3b88"],["2a27f3a64d43e6b1","476aef78cc149130","347e74ebef0dd338"]]},{"id":"2a27f3a64d43e6b1","type":"ut-assert-success","z":"894f6e38bfd1aca6","name":"","count":"9","x":1198,"y":670.5,"wires":[]},{"id":"476aef78cc149130","type":"ut-assert-values","z":"894f6e38bfd1aca6","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"parts.count","pt":"msg","to":"3","tot":"num"},{"t":"eql","p":"parts.parts.parts.parts.parts.count","pt":"msg","to":"1","tot":"num"}],"x":1198,"y":755.5,"wires":[[]]},{"id":"347e74ebef0dd338","type":"join","z":"894f6e38bfd1aca6","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1160,"y":449,"wires":[["dde3aea431f9e3bd"]]},{"id":"dde3aea431f9e3bd","type":"switch","z":"894f6e38bfd1aca6","name":"","property":"parts","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1295,"y":534,"wires":[["347e74ebef0dd338"],["b512b82a9b49fb71","a8193284f2a77220"]]},{"id":"b512b82a9b49fb71","type":"ut-assert-success","z":"894f6e38bfd1aca6","name":"","count":1,"x":1606,"y":540,"wires":[]},{"id":"a8193284f2a77220","type":"ut-assert-values","z":"894f6e38bfd1aca6","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[[[[[1,2,3],[4,5,6],[7,8,9]]]]]","tot":"json"},{"t":"notset","p":"parts","pt":"msg"}],"x":1536,"y":607,"wires":[[]]}]