83c5e1824f32abec/flows.json
[{"id":"83c5e1824f32abec","type":"tab","label":"[supervisor] supervisor tree","disabled":false,"info":"<small><i>[Share link](https://flows.red-erik.org/f/83c5e1824f32abec)</i></small>\n\n## Supervisor Tree\n\nThis flow implements the following supervisor tree:\n\n```mermaid\n%% change this to LR Node-RED like UML\ngraph TB\n1af8ba70d5a3524f[\"root supervisor\"] --> fa5012a137b001d9[\"left branch\"]\n1af8ba70d5a3524f[\"root supervisor\"] --> 393f1b779c6091f6[\"right branch\"]\n393f1b779c6091f6[\"right branch\"] --> f05dfd8751fd199d([\"msg counter right branch\"])\n393f1b779c6091f6[\"right branch\"] --> 2be5de12297e37e8([\"exit\"])\n393f1b779c6091f6[\"right branch\"] --> 579f89501d19b608[\"leaf right\"]\nfa5012a137b001d9[\"left branch\"] --> 4f3ae8c1ef6c1cd7([\"pass Msg through\"])\nfa5012a137b001d9[\"left branch\"] --> 96ae99eb5ff0f75e[\"leaf left\"]\nfa5012a137b001d9[\"left branch\"] --> c9d06322583751b1([\"msg count left branch\"])\n579f89501d19b608[\"leaf right\"] --> da885704f8719ad6([\"msg counter right leaf top\"])\n579f89501d19b608[\"leaf right\"] --> b2079d01bc6083b3([\"exit\"])\n579f89501d19b608[\"leaf right\"] --> 0fbbd20588aed361([\"msg counter right leaf bottom\"])\n96ae99eb5ff0f75e[\"leaf left\"] --> 9b4dec78a245edbd([\"msg count left left top\"])\n96ae99eb5ff0f75e[\"leaf left\"] --> 77db69c180d41d6f([\"exit\"])\n96ae99eb5ff0f75e[\"leaf left\"] --> 871aea169f73c835([\"msg count left left bottom\"])\n```\n\n","env":[{"name":"ERED_TIMEOUT","value":"10","type":"num"},{"name":"ERED_NOT_EUNIT","value":"true","type":"bool"}]},{"id":"10ad535c44495df5","type":"group","z":"83c5e1824f32abec","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["1af8ba70d5a3524f","393f1b779c6091f6","fa5012a137b001d9"],"x":1018,"y":339,"w":478,"h":320},{"id":"61bf066466ccf6c9","type":"group","z":"83c5e1824f32abec","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["2be5de12297e37e8","f05dfd8751fd199d","579f89501d19b608"],"x":1291,"y":659,"w":378,"h":172},{"id":"198c5ec84a4303d3","type":"group","z":"83c5e1824f32abec","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["b2079d01bc6083b3","0fbbd20588aed361","da885704f8719ad6"],"x":1457,"y":831,"w":372,"h":222},{"id":"876cb4e6a0e13e60","type":"group","z":"83c5e1824f32abec","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["4f3ae8c1ef6c1cd7","c9d06322583751b1","96ae99eb5ff0f75e"],"x":1497,"y":339,"w":355,"h":214},{"id":"7a32d11ddf48f390","type":"group","z":"83c5e1824f32abec","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["77db69c180d41d6f","9b4dec78a245edbd","871aea169f73c835"],"x":1866,"y":299,"w":533,"h":215},{"id":"42854c33d24cc147","type":"change","z":"83c5e1824f32abec","name":"","rules":[{"p":"payload","pt":"msg","t":"set","to":"","tot":"date"},{"p":"msgcnt","pt":"msg","t":"set","to":"$$.msgcnt + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":626.3333435058594,"y":892.70751953125,"wires":[["d5267b01ad627817","783c38c513ee2063","f05dfd8751fd199d","2be5de12297e37e8","da885704f8719ad6","0fbbd20588aed361","b2079d01bc6083b3","4f3ae8c1ef6c1cd7","c9d06322583751b1"]]},{"id":"d5267b01ad627817","type":"delay","z":"83c5e1824f32abec","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":818.3333740234375,"y":967.08251953125,"wires":[["3d86e58d1499701d"]]},{"id":"783c38c513ee2063","type":"debug","z":"83c5e1824f32abec","name":"debug 6","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":807.3333740234375,"y":723,"wires":[]},{"id":"3d86e58d1499701d","type":"switch","z":"83c5e1824f32abec","name":"stop after 2000 messages","property":"msgcnt","propertyType":"msg","rules":[{"t":"lt","v":"2000","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":399.9999694824219,"y":970.08251953125,"wires":[["42854c33d24cc147"]]},{"id":"1af8ba70d5a3524f","type":"erlsupervisor","z":"83c5e1824f32abec","g":"10ad535c44495df5","name":"root supervisor","scope":["393f1b779c6091f6","fa5012a137b001d9"],"supervisor_type":"static","strategy":"one_for_one","auto_shutdown":"never","intensity":"1000","period":"1","child_type":"worker","child_restart":"permanent","child_shutdown":"infinite","child_shutdown_timeout":"0","x":1124,"y":382,"wires":[[]]},{"id":"393f1b779c6091f6","type":"erlsupervisor","z":"83c5e1824f32abec","g":"10ad535c44495df5","name":"right branch","scope":["2be5de12297e37e8","f05dfd8751fd199d","579f89501d19b608"],"supervisor_type":"static","strategy":"one_for_one","auto_shutdown":"never","intensity":"233","period":"30","child_type":"worker","child_restart":"permanent","child_shutdown":"infinite","child_shutdown_timeout":"5","x":1393,"y":618,"wires":[["2aa4cbe548169d6a"]]},{"id":"2be5de12297e37e8","type":"function","z":"83c5e1824f32abec","g":"61bf066466ccf6c9","name":"exit","func":"exit(self(), normal)","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1375,"y":790,"wires":[[]]},{"id":"b2079d01bc6083b3","type":"function","z":"83c5e1824f32abec","g":"198c5ec84a4303d3","name":"exit","func":"exit(self(), normal)","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1584,"y":942,"wires":[[]]},{"id":"f05dfd8751fd199d","type":"debug","z":"83c5e1824f32abec","g":"61bf066466ccf6c9","name":"msg counter right branch","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":1427,"y":700,"wires":[]},{"id":"0fbbd20588aed361","type":"debug","z":"83c5e1824f32abec","g":"198c5ec84a4303d3","name":"msg counter right leaf bottom","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":1653,"y":1012,"wires":[]},{"id":"579f89501d19b608","type":"erlsupervisor","z":"83c5e1824f32abec","g":"61bf066466ccf6c9","name":"leaf right","scope":["da885704f8719ad6","b2079d01bc6083b3","0fbbd20588aed361"],"supervisor_type":"static","strategy":"rest_for_one","auto_shutdown":"never","intensity":"133","period":"10","child_type":"worker","child_restart":"permanent","child_shutdown":"brutal_kill","child_shutdown_timeout":"5","x":1583,"y":789,"wires":[[]]},{"id":"da885704f8719ad6","type":"debug","z":"83c5e1824f32abec","g":"198c5ec84a4303d3","name":"msg counter right leaf top","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":1593,"y":872,"wires":[]},{"id":"4f3ae8c1ef6c1cd7","type":"function","z":"83c5e1824f32abec","g":"876cb4e6a0e13e60","name":"pass Msg through","func":"Msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1613,"y":380,"wires":[["9b4dec78a245edbd","77db69c180d41d6f","871aea169f73c835","aa2e265727623712"]]},{"id":"c9d06322583751b1","type":"debug","z":"83c5e1824f32abec","g":"876cb4e6a0e13e60","name":"msg count left branch","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":1706,"y":512,"wires":[]},{"id":"96ae99eb5ff0f75e","type":"erlsupervisor","z":"83c5e1824f32abec","g":"876cb4e6a0e13e60","name":"leaf left","scope":["9b4dec78a245edbd","77db69c180d41d6f","871aea169f73c835"],"supervisor_type":"static","strategy":"rest_for_one","auto_shutdown":"never","intensity":"127","period":"10","child_type":"worker","child_restart":"permanent","child_shutdown":"brutal_kill","child_shutdown_timeout":"5","x":1759,"y":444,"wires":[[]]},{"id":"77db69c180d41d6f","type":"function","z":"83c5e1824f32abec","g":"7a32d11ddf48f390","name":"exit","func":"exit(self(), normal)","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2194,"y":390,"wires":[[]]},{"id":"9b4dec78a245edbd","type":"debug","z":"83c5e1824f32abec","g":"7a32d11ddf48f390","name":"msg count left left top","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":1992,"y":340,"wires":[]},{"id":"871aea169f73c835","type":"debug","z":"83c5e1824f32abec","g":"7a32d11ddf48f390","name":"msg count left left bottom","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":2243,"y":473,"wires":[]},{"id":"fa5012a137b001d9","type":"erlsupervisor","z":"83c5e1824f32abec","g":"10ad535c44495df5","name":"left branch","scope":["4f3ae8c1ef6c1cd7","96ae99eb5ff0f75e","c9d06322583751b1"],"supervisor_type":"static","strategy":"rest_for_one","auto_shutdown":"never","intensity":"233","period":"30","child_type":"worker","child_restart":"permanent","child_shutdown":"infinite","child_shutdown_timeout":"5","x":1400,"y":380,"wires":[[]]},{"id":"33e9669d5da36116","type":"inject","z":"83c5e1824f32abec","name":"Start Button","props":[{"p":"payload"},{"p":"msgcnt","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":318,"y":704,"wires":[["42854c33d24cc147"]]},{"id":"aa2e265727623712","type":"join","z":"83c5e1824f32abec","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"1995","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2007,"y":248,"wires":[["b5340bbb2ab54e07"]]},{"id":"b5340bbb2ab54e07","type":"ut-assert-success","z":"83c5e1824f32abec","name":"","x":2205,"y":247.5,"wires":[]},{"id":"2aa4cbe548169d6a","type":"join","z":"83c5e1824f32abec","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"16","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1774,"y":620,"wires":[["39bd5634461fab43"]]},{"id":"39bd5634461fab43","type":"ut-assert-success","z":"83c5e1824f32abec","name":"","x":1954,"y":690.5,"wires":[]}]