700c94899fdd3334/flows.json
[{"id":"700c94899fdd3334","type":"tab","label":"[debug] status message counter","disabled":false,"info":"","env":[]},{"id":"ec5287fe2b0f255b","type":"inject","z":"700c94899fdd3334","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":266,"y":562,"wires":[["d5f4066d0a2c803f"]]},{"id":"d5f4066d0a2c803f","type":"debug","z":"700c94899fdd3334","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"","statusType":"counter","x":573,"y":333,"wires":[]},{"id":"805fcc499e5801e2","type":"ut-assert-status","z":"700c94899fdd3334","name":"","nodeid":"d5f4066d0a2c803f","content":"","colour":"blue","shape":"ring","inverse":false,"x":701,"y":580.5,"wires":[]},{"id":"7a1fe79fe2b1d5b0","type":"ut-assert-debug","z":"700c94899fdd3334","name":"","nodeid":"d5f4066d0a2c803f","msgtype":"normal","inverse":false,"x":698,"y":520.5,"wires":[]},{"id":"4927f71cda6374a0","type":"status","z":"700c94899fdd3334","name":"","scope":["d5f4066d0a2c803f"],"x":642.2222595214844,"y":285.5555782318115,"wires":[["7de62755d4938b79","0307230c805c9754"]]},{"id":"7de62755d4938b79","type":"ut-assert-values","z":"700c94899fdd3334","name":"one counter","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"status.fill","pt":"msg","to":"blue","tot":"str"},{"t":"eql","p":"status.shape","pt":"msg","to":"ring","tot":"str"},{"t":"eql","p":"status.text","pt":"msg","to":"1","tot":"str"}],"x":977.7777099609375,"y":476.66666984558105,"wires":[[]]},{"id":"0307230c805c9754","type":"ut-assert-values","z":"700c94899fdd3334","name":"initially counter is zero","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"status.fill","pt":"msg","to":"blue","tot":"str"},{"t":"eql","p":"status.shape","pt":"msg","to":"ring","tot":"str"},{"t":"eql","p":"status.text","pt":"msg","to":"0","tot":"str"}],"x":1163.3333168029785,"y":383.33341217041016,"wires":[[]]}]