8f1ed58b183fe5d3/flows.json
[{"id":"8f1ed58b183fe5d3","type":"tab","label":"[binary] initial test","disabled":false,"info":"## Testing for the binary node\n\nDefined as contrib node [node-red-contrib-binary](https://flows.nodered.org/node/node-red-contrib-binary) which in turn uses the [packet](https://bigeasy.github.io/packet) package.\n\nHas a simple definition language that we can take advantage of.\n","env":[]},{"id":"95be26080aefc355","type":"binary","z":"8f1ed58b183fe5d3","name":"","property":"payload","pattern":"x8, \nb8 => value, \nb8 => value2, \nb16 => value3,\nb32{b8 =>f1, b16=> f2, b4 => f3, b4 =>f4 },\nb8 => last","x":768,"y":514.5,"wires":[["a0b60cfbbc32db66"]]},{"id":"78867efdeba2cc53","type":"inject","z":"8f1ed58b183fe5d3","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[255,234,212,213,124,221,123,231,231,231]","payloadType":"bin","x":547,"y":374,"wires":[["95be26080aefc355"]]},{"id":"a0b60cfbbc32db66","type":"ut-assert-values","z":"8f1ed58b183fe5d3","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload.value","pt":"msg","to":"234","tot":"num"},{"t":"eql","p":"payload.value2","pt":"msg","to":"212","tot":"num"},{"t":"eql","p":"payload.value3","pt":"msg","to":"54652","tot":"num"},{"t":"eql","p":"payload.f1","pt":"msg","to":"0xdd","tot":"num"},{"t":"eql","p":"payload.f2","pt":"msg","to":"0x7be7","tot":"num"},{"t":"eql","p":"payload.f3","pt":"msg","to":"0xE","tot":"num"},{"t":"eql","p":"payload.f4","pt":"msg","to":"0x7","tot":"num"},{"t":"eql","p":"payload.last","pt":"msg","to":"231","tot":"num"}],"x":1130,"y":514.5,"wires":[[]]}]