3be6bc074c7647bd/flows.json
[{"id":"3be6bc074c7647bd","type":"tab","label":"[http] multiple endpoints don't all get the request","disabled":false,"info":"If there are multiple endpoints that are completely same, then ordering of definition takes precedents.\n\nAn endpoint is the same when method and path are the same.","env":[{"name":"ERED_NOT_EUNIT","value":"true","type":"bool"}]},{"id":"6f3510804fc3bee4","type":"junction","z":"3be6bc074c7647bd","x":795.0816414356232,"y":274.79592967033386,"wires":[["e5cff413d3b4a920","465e932c1ef1eaed","632ce57e1e3a5325"]]},{"id":"8fc6e3d06952961c","type":"http in","z":"3be6bc074c7647bd","name":"","url":"/example06/data","method":"get","upload":false,"swaggerDoc":"","x":275,"y":281,"wires":[["6f3510804fc3bee4"]]},{"id":"8c2f683411d5d2ba","type":"http in","z":"3be6bc074c7647bd","name":"","url":"/example06/data","method":"get","upload":false,"swaggerDoc":"","x":274,"y":342,"wires":[["6f3510804fc3bee4"]]},{"id":"8dc084e7fc240152","type":"http in","z":"3be6bc074c7647bd","name":"","url":"/example06/data","method":"get","upload":false,"swaggerDoc":"","x":295,"y":401,"wires":[["6f3510804fc3bee4"]]},{"id":"efcef35e5b408d77","type":"http in","z":"3be6bc074c7647bd","name":"","url":"/example06/data","method":"get","upload":false,"swaggerDoc":"","x":314,"y":462,"wires":[["6f3510804fc3bee4"]]},{"id":"c41ecbf0614bab42","type":"http in","z":"3be6bc074c7647bd","name":"","url":"/example06/data","method":"get","upload":false,"swaggerDoc":"","x":360,"y":531,"wires":[["6f3510804fc3bee4"]]},{"id":"dc10dc98080ddaba","type":"http in","z":"3be6bc074c7647bd","name":"","url":"/example06/data","method":"get","upload":false,"swaggerDoc":"","x":457,"y":602,"wires":[["6f3510804fc3bee4"]]},{"id":"e85cb148535d4e4b","type":"http in","z":"3be6bc074c7647bd","name":"","url":"/example06/data","method":"get","upload":false,"swaggerDoc":"","x":572,"y":686,"wires":[["6f3510804fc3bee4"]]},{"id":"f8118b3038659411","type":"http in","z":"3be6bc074c7647bd","name":"","url":"/example06/data","method":"get","upload":false,"swaggerDoc":"","x":655,"y":740,"wires":[["6f3510804fc3bee4"]]},{"id":"e5cff413d3b4a920","type":"join","z":"3be6bc074c7647bd","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":928,"y":199.5,"wires":[["5208ae0ad47c65ba"]]},{"id":"465e932c1ef1eaed","type":"join","z":"3be6bc074c7647bd","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":932,"y":282,"wires":[["de2f0ad0e60d04e1"]]},{"id":"de2f0ad0e60d04e1","type":"ut-assert-failure","z":"3be6bc074c7647bd","name":"","x":1191,"y":281.5,"wires":[]},{"id":"5208ae0ad47c65ba","type":"ut-assert-success","z":"3be6bc074c7647bd","name":"","x":1184,"y":199.5,"wires":[]},{"id":"699c2aea3ddbdbaa","type":"inject","z":"3be6bc074c7647bd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":471,"y":821,"wires":[["2a450c41c1b18bc4"]]},{"id":"2a450c41c1b18bc4","type":"http request","z":"3be6bc074c7647bd","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/example06/data","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":681,"y":818,"wires":[["14438173ea65a0da","3da4d3a3903f38ae"]]},{"id":"14438173ea65a0da","type":"ut-assert-success","z":"3be6bc074c7647bd","name":"","x":986,"y":823,"wires":[]},{"id":"f1505d2f3d4bd3c1","type":"http response","z":"3be6bc074c7647bd","name":"","statusCode":"200","headers":{},"x":962,"y":480,"wires":[]},{"id":"632ce57e1e3a5325","type":"change","z":"3be6bc074c7647bd","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ok","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":939,"y":417,"wires":[["f1505d2f3d4bd3c1"]]},{"id":"3da4d3a3903f38ae","type":"ut-assert-values","z":"3be6bc074c7647bd","name":"","rules":[{"t":"eql","p":"payload","pt":"msg","to":"ok","tot":"str"}],"x":987,"y":770.5,"wires":[[]]}]