0c35d269ca7178c6/flows.json
[{"id":"0c35d269ca7178c6","type":"tab","label":"[function] supports completed node","disabled":false,"info":"## Function node and message completion\n\nWhen has a function node completed with a message?\n\nIf that message was successfully handled, no timeout or illegal exit.\n\n","env":[]},{"id":"f20328830b376b23","type":"group","z":"0c35d269ca7178c6","name":"successfully handled message","style":{"label":true},"nodes":["e854140ab6f0d21c","731d488b92cd68f1","b93f2509fb2a5bcc","55336fe53a868e93","6e9d36928e0ca025"],"x":207,"y":198,"w":740,"h":228.5},{"id":"e854140ab6f0d21c","type":"function","z":"0c35d269ca7178c6","g":"f20328830b376b23","name":"function 2","func":"%% Code here is wrapped in a fun (Msg) call\n%% fun (Msg) ->\n    Msg\n%% end.\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":577,"y":385.5,"wires":[["6e9d36928e0ca025"]]},{"id":"731d488b92cd68f1","type":"complete","z":"0c35d269ca7178c6","g":"f20328830b376b23","name":"","scope":["e854140ab6f0d21c"],"uncaught":false,"x":584,"y":290,"wires":[["55336fe53a868e93"]]},{"id":"b93f2509fb2a5bcc","type":"inject","z":"0c35d269ca7178c6","g":"f20328830b376b23","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":313,"y":385.5,"wires":[["e854140ab6f0d21c"]]},{"id":"55336fe53a868e93","type":"ut-assert-success","z":"0c35d269ca7178c6","g":"f20328830b376b23","name":"","x":848,"y":239,"wires":[]},{"id":"6e9d36928e0ca025","type":"ut-assert-success","z":"0c35d269ca7178c6","g":"f20328830b376b23","name":"","x":851,"y":333,"wires":[]}]