6ea4c6b373eeaa8d/flows.json
[{"id":"6ea4c6b373eeaa8d","type":"tab","label":"[filter] narrowband no topic","disabled":false,"info":"## Filter - narrow band mode\n\nmode `narrowbandEq` no topic","env":[]},{"id":"83bed288b0431f74","type":"group","z":"6ea4c6b373eeaa8d","name":"even if the first 20 is blocked, it sets the new value and hence the second and third 20 values are passed through","style":{"label":true},"nodes":["1d6080fae6ad4519","15c7213b8eb52088","1ba1fdee232ec418","d790523c46e61597","beca23435193270a","b96f1a632e1f3c83","c1d848dd0567aa11","d0e1bd0deef10b73","704c2db5c0a37d2a","bb3826d76cfe7e0e","6346b9c72a9ff5cd","1e810e4fd3eb5e3c","c09d66a8d77c1545","16311a8e9aa224c3","df7b4d91ea06d4e0","80be5f897c8e362c","bec39b5ab0c28235","c3f8a1ce19daee74","5169b9616d53149c","5f5834b7414b658d","8e3b9a42cdd258a5","8c4031bfe8039b99","d41bcda8b425dfe7","49913113317573c6"],"x":65.66678237915039,"y":97.94444131851196,"w":1911.9997825622559,"h":498.0555348396301},{"id":"43016d21293ad548","type":"group","z":"6ea4c6b373eeaa8d","name":"this is using the output valid and the 10 is set and the 20 does not reset that value hence only the 10 payloads are being passed through","style":{"label":true},"nodes":["9cd6f51b61c736fc","8f2e299f0845e11a","23a8acf4587c6828","afe075c936f6ed17","dcd269ed051e69c2","0ed87025e57bfbb2","d3832c08e040cf87","e9e581b6cfd500fc","5a4d360ea2254c4c","8798d5200ebd3081","e715256f55a60154","abd152886ee5ce5d","ba7c02d408c2d583","565e81a9452aec02","5142884b7d86e172","cd6855f2608df3bd","7c1a09975b795b14","749bf7b8e8fec8f6","07456bdec11c7764","be4f8544b21909c2","5b9ff85347e89e64","c5968730e3cb3ceb"],"x":50.888858795166016,"y":685.9999389648438,"w":2015.1111145019531,"h":599.9999752044678},{"id":"14c174e1bd25d12d","type":"group","z":"6ea4c6b373eeaa8d","name":"an initial value of 15 prevents the initial value of 10, after that 10 is set as value","style":{"label":true},"nodes":["1a77c9db67521812","539ae4172cdd075c","741aad1deb44232a","a7d00c4fde8af5b9","a61589161bb927d8","e558620551f304e3","26d2caa03b2af0fc","6ac55465529ba5d6","f0786e77781add38","8af64c4b25440acd","c83022db36c0634c","f38d705da331d301","092cd4641b230c22","91f2b37d40749b51","83dbdb981fa01fea","427a455ad1e4f7db","8349d39f1a06d948","9767139a84082b0c","e66ca7871b80b964","e13b326aee5ab1b5","5213954a4fac0e56","b6aa561929917a1e","423d719c3032ec37","e586ee790ffe5f47"],"x":292.888858795166,"y":1466,"w":1911.9997825622559,"h":498.0555348396301},{"id":"b1a1e1055c4f2e8f","type":"group","z":"6ea4c6b373eeaa8d","name":"initial value is 30 as output value means that all values are initial out of band","style":{"label":true},"nodes":["b22af29a2b9922a9","9a021663236e571c","ff92e96aa5cec0f3","2060ad3c3e864442","906ec8bfd3804981","b4fa323bc26d4889","a63c294a5a32188f","2cd1d5e1ba7a1e58","3e3dfcc3cf4e3916","d70d1702b5a45fb0","29e7ad86e1346834","298ec617265f1826","4ae4edc243720ad6","9d27ba7a3bd60b4a","0b46974473c62998","525d0d21a73e2f06","e136aabaa796fd86","877b56760b7b037f","8e44fb839cc7136b","0681fdb34d3183fb"],"x":278.11093521118164,"y":2115.283577799797,"w":1855.031795501709,"h":602.1450444459915},{"id":"1ec90a44cc5f68c2","type":"group","z":"6ea4c6b373eeaa8d","name":"negative values are treated absolutely - +/- so negative values are considered as positive values","style":{"label":true},"nodes":["3975322d460a3694","025ada74ebdfa042","22c2f08f1b3fba0b","94f5dacab9332979","68b64fd13c3d5817","1b0981c8abcb75ea","1437bbec9aadbe8f","0906f84eba132a81","f31587cb2aeea4d8","661e692bfe2c0ae8","727695a926c0e72a","0eb2c6527a8c0d7c","732a4c93bc07fbfb","1f031246f0f742dd","72f65c1632e7fdc2","9dc66c7585c9d2ec","445a495059eb7050","f0b93a929cf5105c","ddf3fd2bf513ec35","78ba73863f32219a","7dbd2f8c6e5d4e91","d6b7ef8ce339b337","c18b6548ae1fdc50","91927700d5bf69f8"],"x":130.03180313110352,"y":2841.71435546875,"w":1911.9997825622559,"h":498.0555348396301},{"id":"1d6080fae6ad4519","type":"rbe","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"narrowband - no initial value, 10% compared to input value, > || ==","func":"narrowbandEq","gap":"10%","start":"","inout":"in","septopics":false,"property":"payload","topi":"topic","x":1132.7779235839844,"y":151.94444131851196,"wires":[["c09d66a8d77c1545","16311a8e9aa224c3","df7b4d91ea06d4e0","80be5f897c8e362c","49913113317573c6"]]},{"id":"15c7213b8eb52088","type":"inject","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":161.6667823791504,"y":151.94444131851196,"wires":[["1d6080fae6ad4519","1ba1fdee232ec418","beca23435193270a","c1d848dd0567aa11","704c2db5c0a37d2a","6346b9c72a9ff5cd","5169b9616d53149c","8e3b9a42cdd258a5"]]},{"id":"1ba1fdee232ec418","type":"change","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":413.8889846801758,"y":208.33323860168457,"wires":[["d790523c46e61597"]]},{"id":"d790523c46e61597","type":"delay","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":655.0001525878906,"y":208.33323860168457,"wires":[["1d6080fae6ad4519"]]},{"id":"beca23435193270a","type":"change","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":413.8889846801758,"y":266.1110281944275,"wires":[["b96f1a632e1f3c83"]]},{"id":"b96f1a632e1f3c83","type":"delay","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":655.0001525878906,"y":266.1110281944275,"wires":[["1d6080fae6ad4519"]]},{"id":"c1d848dd0567aa11","type":"change","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"payload = 20","rules":[{"t":"set","p":"payload","pt":"msg","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":403.8889846801758,"y":323.8888177871704,"wires":[["d0e1bd0deef10b73"]]},{"id":"d0e1bd0deef10b73","type":"delay","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":655.0001525878906,"y":323.8888177871704,"wires":[["1d6080fae6ad4519"]]},{"id":"704c2db5c0a37d2a","type":"change","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"payload = 20","rules":[{"t":"set","p":"payload","pt":"msg","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":403.8889846801758,"y":381.66660737991333,"wires":[["bb3826d76cfe7e0e"]]},{"id":"bb3826d76cfe7e0e","type":"delay","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":655.0001525878906,"y":381.66660737991333,"wires":[["1d6080fae6ad4519"]]},{"id":"6346b9c72a9ff5cd","type":"change","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"payload = 20","rules":[{"t":"set","p":"payload","pt":"msg","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":403.8889846801758,"y":439.44439697265625,"wires":[["1e810e4fd3eb5e3c"]]},{"id":"1e810e4fd3eb5e3c","type":"delay","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":655.0001525878906,"y":439.44439697265625,"wires":[["1d6080fae6ad4519"]]},{"id":"c09d66a8d77c1545","type":"ut-assert-success","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","count":"6","x":1603.3333129882812,"y":211.1110767788357,"wires":[]},{"id":"16311a8e9aa224c3","type":"ut-assert-values","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"10","tot":"num"}],"x":1613.3333129882812,"y":272.40737434669774,"wires":[[]]},{"id":"df7b4d91ea06d4e0","type":"ut-assert-values","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"20","tot":"num"}],"x":1613.3333129882812,"y":333.7036719145598,"wires":[[]]},{"id":"80be5f897c8e362c","type":"switch","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"10","vt":"num"},{"t":"eq","v":"20","vt":"num"},{"t":"eq","v":"22","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":1652.7778625488281,"y":151.94444131851196,"wires":[["bec39b5ab0c28235"],["c3f8a1ce19daee74"],["d41bcda8b425dfe7"]]},{"id":"bec39b5ab0c28235","type":"ut-assert-success","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","count":"3","x":1871.6665649414062,"y":138.94444131851196,"wires":[]},{"id":"c3f8a1ce19daee74","type":"ut-assert-success","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","count":"2","x":1871.6665649414062,"y":208.47220540046692,"wires":[]},{"id":"9cd6f51b61c736fc","type":"rbe","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"narrowband - no initial value, 10% compared to output value, > || ==","func":"narrowbandEq","gap":"10%","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":1208,"y":784.2221822738647,"wires":[["ba7c02d408c2d583","565e81a9452aec02","5142884b7d86e172","5b9ff85347e89e64"]]},{"id":"8f2e299f0845e11a","type":"inject","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":146.88885879516602,"y":784.2221822738647,"wires":[["9cd6f51b61c736fc","23a8acf4587c6828","dcd269ed051e69c2","d3832c08e040cf87","5a4d360ea2254c4c","e715256f55a60154","7c1a09975b795b14","07456bdec11c7764"]]},{"id":"23a8acf4587c6828","type":"change","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":479.1110610961914,"y":840.3332614898682,"wires":[["afe075c936f6ed17"]]},{"id":"afe075c936f6ed17","type":"delay","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":720.2222290039062,"y":840.3332614898682,"wires":[["9cd6f51b61c736fc"]]},{"id":"dcd269ed051e69c2","type":"change","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":439.1110610961914,"y":907.7777036031088,"wires":[["0ed87025e57bfbb2"]]},{"id":"0ed87025e57bfbb2","type":"delay","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":753.5555623372396,"y":907.7777036031088,"wires":[["9cd6f51b61c736fc"]]},{"id":"d3832c08e040cf87","type":"change","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"payload = 20","rules":[{"t":"set","p":"payload","pt":"msg","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":409.1110610961914,"y":975.2221457163494,"wires":[["e9e581b6cfd500fc"]]},{"id":"e9e581b6cfd500fc","type":"delay","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":786.888895670573,"y":975.2221457163494,"wires":[["9cd6f51b61c736fc"]]},{"id":"5a4d360ea2254c4c","type":"change","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"payload = 20","rules":[{"t":"set","p":"payload","pt":"msg","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":369.1110610961914,"y":1042.6665878295898,"wires":[["8798d5200ebd3081"]]},{"id":"8798d5200ebd3081","type":"delay","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":820.2222290039064,"y":1042.6665878295898,"wires":[["9cd6f51b61c736fc"]]},{"id":"e715256f55a60154","type":"change","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"payload = 20","rules":[{"t":"set","p":"payload","pt":"msg","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":349.1110610961914,"y":1110.1110299428303,"wires":[["abd152886ee5ce5d"]]},{"id":"abd152886ee5ce5d","type":"delay","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":853.5555623372397,"y":1110.1110299428303,"wires":[["9cd6f51b61c736fc"]]},{"id":"ba7c02d408c2d583","type":"ut-assert-success","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","count":"4","x":1725.2220649719238,"y":853.9258543650309,"wires":[]},{"id":"565e81a9452aec02","type":"ut-assert-values","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"10","tot":"num"}],"x":1726.8886909484863,"y":923.629526456197,"wires":[[]]},{"id":"5142884b7d86e172","type":"switch","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"10","vt":"num"},{"t":"eq","v":"10.5","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1718.0000495910645,"y":784.2221822738647,"wires":[["cd6855f2608df3bd"],["c5968730e3cb3ceb"]]},{"id":"cd6855f2608df3bd","type":"ut-assert-success","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","count":"3","x":1947.444351196289,"y":726.9999389648438,"wires":[]},{"id":"5169b9616d53149c","type":"change","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"payload = 23","rules":[{"t":"set","p":"payload","pt":"msg","to":"23","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":403.8889846801758,"y":497.22218656539917,"wires":[["5f5834b7414b658d"]]},{"id":"5f5834b7414b658d","type":"delay","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","pauseType":"delay","timeout":"600","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":655.0001525878906,"y":497.22218656539917,"wires":[["1d6080fae6ad4519"]]},{"id":"8e3b9a42cdd258a5","type":"change","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"payload = 22","rules":[{"t":"set","p":"payload","pt":"msg","to":"22","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":403.8889846801758,"y":554.9999761581421,"wires":[["8c4031bfe8039b99"]]},{"id":"8c4031bfe8039b99","type":"delay","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","pauseType":"delay","timeout":"700","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":655.0001525878906,"y":554.9999761581421,"wires":[["1d6080fae6ad4519"]]},{"id":"d41bcda8b425dfe7","type":"ut-assert-success","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","count":"1","x":1861.6665649414062,"y":277.9999694824219,"wires":[]},{"id":"49913113317573c6","type":"ut-assert-values","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"22","tot":"num"}],"x":1613.3333129882812,"y":394.9999694824219,"wires":[[]]},{"id":"7c1a09975b795b14","type":"change","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"payload = 10.5","rules":[{"t":"set","p":"payload","pt":"msg","to":"10.5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":339.1110610961914,"y":1177.5554720560708,"wires":[["749bf7b8e8fec8f6"]]},{"id":"749bf7b8e8fec8f6","type":"delay","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","pauseType":"delay","timeout":"600","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":886.8888956705731,"y":1177.5554720560708,"wires":[["9cd6f51b61c736fc"]]},{"id":"07456bdec11c7764","type":"change","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"payload = 23","rules":[{"t":"set","p":"payload","pt":"msg","to":"23","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":309.1110610961914,"y":1244.9999141693115,"wires":[["be4f8544b21909c2"]]},{"id":"be4f8544b21909c2","type":"delay","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","pauseType":"delay","timeout":"700","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":920.2222290039062,"y":1244.9999141693115,"wires":[["9cd6f51b61c736fc"]]},{"id":"5b9ff85347e89e64","type":"ut-assert-values","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"10.5","tot":"num"}],"x":1729.999771118164,"y":993.3331985473633,"wires":[[]]},{"id":"c5968730e3cb3ceb","type":"ut-assert-success","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","count":"1","x":1969.9999732971191,"y":789.9999599456787,"wires":[]},{"id":"1a77c9db67521812","type":"rbe","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"narrowband - initial value 15, 10% compared to input value, > || ==","func":"narrowbandEq","gap":"10%","start":"15","inout":"in","septopics":false,"property":"payload","topi":"topic","x":1360,"y":1520,"wires":[["092cd4641b230c22","91f2b37d40749b51","83dbdb981fa01fea","427a455ad1e4f7db","e586ee790ffe5f47"]]},{"id":"539ae4172cdd075c","type":"inject","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":388.888858795166,"y":1520,"wires":[["1a77c9db67521812","741aad1deb44232a","a61589161bb927d8","26d2caa03b2af0fc","f0786e77781add38","c83022db36c0634c","e66ca7871b80b964","5213954a4fac0e56"]]},{"id":"741aad1deb44232a","type":"change","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":641.1110610961914,"y":1576.3887972831726,"wires":[["a7d00c4fde8af5b9"]]},{"id":"a7d00c4fde8af5b9","type":"delay","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":882.2222290039062,"y":1576.3887972831726,"wires":[["1a77c9db67521812"]]},{"id":"a61589161bb927d8","type":"change","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":641.1110610961914,"y":1634.1665868759155,"wires":[["e558620551f304e3"]]},{"id":"e558620551f304e3","type":"delay","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":882.2222290039062,"y":1634.1665868759155,"wires":[["1a77c9db67521812"]]},{"id":"26d2caa03b2af0fc","type":"change","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"payload = 20","rules":[{"t":"set","p":"payload","pt":"msg","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":631.1110610961914,"y":1691.9443764686584,"wires":[["6ac55465529ba5d6"]]},{"id":"6ac55465529ba5d6","type":"delay","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":882.2222290039062,"y":1691.9443764686584,"wires":[["1a77c9db67521812"]]},{"id":"f0786e77781add38","type":"change","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"payload = 20","rules":[{"t":"set","p":"payload","pt":"msg","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":631.1110610961914,"y":1749.7221660614014,"wires":[["8af64c4b25440acd"]]},{"id":"8af64c4b25440acd","type":"delay","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":882.2222290039062,"y":1749.7221660614014,"wires":[["1a77c9db67521812"]]},{"id":"c83022db36c0634c","type":"change","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"payload = 20","rules":[{"t":"set","p":"payload","pt":"msg","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":631.1110610961914,"y":1807.4999556541443,"wires":[["f38d705da331d301"]]},{"id":"f38d705da331d301","type":"delay","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":882.2222290039062,"y":1807.4999556541443,"wires":[["1a77c9db67521812"]]},{"id":"092cd4641b230c22","type":"ut-assert-success","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"","count":"5","x":1830.5553894042969,"y":1579.1666354603237,"wires":[]},{"id":"91f2b37d40749b51","type":"ut-assert-values","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"10","tot":"num"}],"x":1840.5553894042969,"y":1640.4629330281857,"wires":[[]]},{"id":"83dbdb981fa01fea","type":"ut-assert-values","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"20","tot":"num"}],"x":1840.5553894042969,"y":1701.759230596048,"wires":[[]]},{"id":"427a455ad1e4f7db","type":"switch","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"10","vt":"num"},{"t":"eq","v":"20","vt":"num"},{"t":"eq","v":"22","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":1879.9999389648438,"y":1520,"wires":[["8349d39f1a06d948"],["9767139a84082b0c"],["423d719c3032ec37"]]},{"id":"8349d39f1a06d948","type":"ut-assert-success","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"","count":"2","x":2098.888641357422,"y":1507,"wires":[]},{"id":"9767139a84082b0c","type":"ut-assert-success","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"","count":"2","x":2098.888641357422,"y":1576.527764081955,"wires":[]},{"id":"e66ca7871b80b964","type":"change","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"payload = 23","rules":[{"t":"set","p":"payload","pt":"msg","to":"23","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":631.1110610961914,"y":1865.2777452468872,"wires":[["e13b326aee5ab1b5"]]},{"id":"e13b326aee5ab1b5","type":"delay","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"","pauseType":"delay","timeout":"600","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":882.2222290039062,"y":1865.2777452468872,"wires":[["1a77c9db67521812"]]},{"id":"5213954a4fac0e56","type":"change","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"payload = 22","rules":[{"t":"set","p":"payload","pt":"msg","to":"22","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":631.1110610961914,"y":1923.0555348396301,"wires":[["b6aa561929917a1e"]]},{"id":"b6aa561929917a1e","type":"delay","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"","pauseType":"delay","timeout":"700","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":882.2222290039062,"y":1923.0555348396301,"wires":[["1a77c9db67521812"]]},{"id":"423d719c3032ec37","type":"ut-assert-success","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"","count":"1","x":2088.888641357422,"y":1646.05552816391,"wires":[]},{"id":"e586ee790ffe5f47","type":"ut-assert-values","z":"6ea4c6b373eeaa8d","g":"14c174e1bd25d12d","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"22","tot":"num"}],"x":1840.5553894042969,"y":1763.05552816391,"wires":[[]]},{"id":"b22af29a2b9922a9","type":"rbe","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"narrowband - initial value 30, 10% compared to output value, > || ==","func":"narrowbandEq","gap":"10%","start":"30","inout":"out","septopics":false,"property":"payload","topi":"topic","x":1555.2220764160156,"y":2156.283577799797,"wires":[["8e44fb839cc7136b","0681fdb34d3183fb"]]},{"id":"9a021663236e571c","type":"inject","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":374.11093521118164,"y":2156.283577799797,"wires":[["b22af29a2b9922a9","ff92e96aa5cec0f3","906ec8bfd3804981","a63c294a5a32188f","3e3dfcc3cf4e3916","29e7ad86e1346834","4ae4edc243720ad6","0b46974473c62998","e136aabaa796fd86"]]},{"id":"ff92e96aa5cec0f3","type":"change","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":726.333137512207,"y":2208.388820171356,"wires":[["2060ad3c3e864442"]]},{"id":"2060ad3c3e864442","type":"delay","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":967.4443054199219,"y":2208.388820171356,"wires":[["b22af29a2b9922a9"]]},{"id":"906ec8bfd3804981","type":"change","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":682.3671774182999,"y":2275.251649039132,"wires":[["b4fa323bc26d4889"]]},{"id":"b4fa323bc26d4889","type":"delay","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1005.5191623142787,"y":2275.251649039132,"wires":[["b22af29a2b9922a9"]]},{"id":"a63c294a5a32188f","type":"change","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"payload = 20","rules":[{"t":"set","p":"payload","pt":"msg","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":648.401217324393,"y":2342.114477906908,"wires":[["2cd1d5e1ba7a1e58"]]},{"id":"2cd1d5e1ba7a1e58","type":"delay","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1043.5940192086355,"y":2342.114477906908,"wires":[["b22af29a2b9922a9"]]},{"id":"3e3dfcc3cf4e3916","type":"change","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"payload = 20","rules":[{"t":"set","p":"payload","pt":"msg","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":624.4352572304861,"y":2408.977306774684,"wires":[["d70d1702b5a45fb0"]]},{"id":"d70d1702b5a45fb0","type":"delay","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1081.6688761029923,"y":2408.977306774684,"wires":[["b22af29a2b9922a9"]]},{"id":"29e7ad86e1346834","type":"change","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"payload = 20","rules":[{"t":"set","p":"payload","pt":"msg","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":600.4692971365791,"y":2475.84013564246,"wires":[["298ec617265f1826"]]},{"id":"298ec617265f1826","type":"delay","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1119.743732997349,"y":2475.84013564246,"wires":[["b22af29a2b9922a9"]]},{"id":"4ae4edc243720ad6","type":"change","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"payload = 10.5","rules":[{"t":"set","p":"payload","pt":"msg","to":"10.5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":566.5033370426722,"y":2542.702964510236,"wires":[["9d27ba7a3bd60b4a"]]},{"id":"9d27ba7a3bd60b4a","type":"delay","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"","pauseType":"delay","timeout":"600","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1157.8185898917059,"y":2542.702964510236,"wires":[["b22af29a2b9922a9"]]},{"id":"0b46974473c62998","type":"change","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"payload = 23","rules":[{"t":"set","p":"payload","pt":"msg","to":"23","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":532.5373769487653,"y":2609.565793378012,"wires":[["525d0d21a73e2f06"]]},{"id":"525d0d21a73e2f06","type":"delay","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"","pauseType":"delay","timeout":"700","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1195.8934467860627,"y":2609.565793378012,"wires":[["b22af29a2b9922a9"]]},{"id":"e136aabaa796fd86","type":"change","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"payload = 31","rules":[{"t":"set","p":"payload","pt":"msg","to":"31","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":508.5714168548584,"y":2676.4286222457886,"wires":[["877b56760b7b037f"]]},{"id":"877b56760b7b037f","type":"delay","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"","pauseType":"delay","timeout":"800","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1233.96830368042,"y":2676.4286222457886,"wires":[["b22af29a2b9922a9"]]},{"id":"8e44fb839cc7136b","type":"ut-assert-success","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"","count":1,"x":1999.9999999999998,"y":2207.142857142857,"wires":[]},{"id":"0681fdb34d3183fb","type":"ut-assert-values","z":"6ea4c6b373eeaa8d","g":"b1a1e1055c4f2e8f","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"31","tot":"num"}],"x":2017.1427307128906,"y":2156.283577799797,"wires":[[]]},{"id":"3975322d460a3694","type":"rbe","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"narrowband - no initial value, 10% compared to input value, > || ==","func":"narrowbandEq","gap":"10%","start":"","inout":"in","septopics":false,"property":"payload","topi":"topic","x":1197.1429443359375,"y":2895.71435546875,"wires":[["732a4c93bc07fbfb","1f031246f0f742dd","72f65c1632e7fdc2","9dc66c7585c9d2ec","91927700d5bf69f8"]]},{"id":"025ada74ebdfa042","type":"inject","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":226.03180313110352,"y":2895.71435546875,"wires":[["3975322d460a3694","22c2f08f1b3fba0b","68b64fd13c3d5817","1437bbec9aadbe8f","f31587cb2aeea4d8","727695a926c0e72a","ddf3fd2bf513ec35","7dbd2f8c6e5d4e91"]]},{"id":"22c2f08f1b3fba0b","type":"change","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":478.2540054321289,"y":2952.1031527519226,"wires":[["94f5dacab9332979"]]},{"id":"94f5dacab9332979","type":"delay","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":719.3651733398438,"y":2952.1031527519226,"wires":[["3975322d460a3694"]]},{"id":"68b64fd13c3d5817","type":"change","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":478.2540054321289,"y":3009.8809423446655,"wires":[["1b0981c8abcb75ea"]]},{"id":"1b0981c8abcb75ea","type":"delay","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":719.3651733398438,"y":3009.8809423446655,"wires":[["3975322d460a3694"]]},{"id":"1437bbec9aadbe8f","type":"change","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"payload = -20","rules":[{"t":"set","p":"payload","pt":"msg","to":"-20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":478.2540054321289,"y":3067.6587319374084,"wires":[["0906f84eba132a81"]]},{"id":"0906f84eba132a81","type":"delay","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":719.3651733398438,"y":3067.6587319374084,"wires":[["3975322d460a3694"]]},{"id":"f31587cb2aeea4d8","type":"change","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"payload = -20","rules":[{"t":"set","p":"payload","pt":"msg","to":"-20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":478.2540054321289,"y":3125.4365215301514,"wires":[["661e692bfe2c0ae8"]]},{"id":"661e692bfe2c0ae8","type":"delay","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":719.3651733398438,"y":3125.4365215301514,"wires":[["3975322d460a3694"]]},{"id":"727695a926c0e72a","type":"change","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"payload = 20","rules":[{"t":"set","p":"payload","pt":"msg","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":468.2540054321289,"y":3183.2143111228943,"wires":[["0eb2c6527a8c0d7c"]]},{"id":"0eb2c6527a8c0d7c","type":"delay","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":719.3651733398438,"y":3183.2143111228943,"wires":[["3975322d460a3694"]]},{"id":"732a4c93bc07fbfb","type":"ut-assert-success","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"","count":"5","x":1667.6983337402344,"y":2954.880990929074,"wires":[]},{"id":"1f031246f0f742dd","type":"ut-assert-values","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"10","tot":"num"}],"x":1677.6983337402344,"y":3016.177288496936,"wires":[[]]},{"id":"72f65c1632e7fdc2","type":"ut-assert-values","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"-20","tot":"num"}],"x":1677.6983337402344,"y":3077.473586064798,"wires":[[]]},{"id":"9dc66c7585c9d2ec","type":"switch","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"10","vt":"num"},{"t":"eq","v":"-20","vt":"num"},{"t":"eq","v":"22","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":1717.1428833007812,"y":2895.71435546875,"wires":[["445a495059eb7050"],["f0b93a929cf5105c"],["c18b6548ae1fdc50"]]},{"id":"445a495059eb7050","type":"ut-assert-success","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"","count":"3","x":1936.0315856933594,"y":2882.71435546875,"wires":[]},{"id":"f0b93a929cf5105c","type":"ut-assert-success","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"","count":"1","x":1926.0315856933594,"y":2952.242119550705,"wires":[]},{"id":"ddf3fd2bf513ec35","type":"change","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"payload = 23","rules":[{"t":"set","p":"payload","pt":"msg","to":"23","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":468.2540054321289,"y":3240.992100715637,"wires":[["78ba73863f32219a"]]},{"id":"78ba73863f32219a","type":"delay","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"","pauseType":"delay","timeout":"600","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":719.3651733398438,"y":3240.992100715637,"wires":[["3975322d460a3694"]]},{"id":"7dbd2f8c6e5d4e91","type":"change","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"payload = 22","rules":[{"t":"set","p":"payload","pt":"msg","to":"22","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":468.2540054321289,"y":3298.76989030838,"wires":[["d6b7ef8ce339b337"]]},{"id":"d6b7ef8ce339b337","type":"delay","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"","pauseType":"delay","timeout":"700","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":719.3651733398438,"y":3298.76989030838,"wires":[["3975322d460a3694"]]},{"id":"c18b6548ae1fdc50","type":"ut-assert-success","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"","count":"1","x":1926.0315856933594,"y":3021.76988363266,"wires":[]},{"id":"91927700d5bf69f8","type":"ut-assert-values","z":"6ea4c6b373eeaa8d","g":"1ec90a44cc5f68c2","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"22","tot":"num"}],"x":1677.6983337402344,"y":3138.76988363266,"wires":[[]]}]