6ea4c6b373eeaa8d/flows.json
[{"id":"6ea4c6b373eeaa8d","type":"tab","label":"[filter] narrowband no topic","disabled":false,"info":"## Filter - narrow band mode\n\nmode `narrowbandEq` no topic","env":[]},{"id":"83bed288b0431f74","type":"group","z":"6ea4c6b373eeaa8d","name":"even if the first 20 is blocked, it sets the new value and hence the second and third 20 values are passed through","style":{"label":true},"nodes":["1d6080fae6ad4519","15c7213b8eb52088","1ba1fdee232ec418","d790523c46e61597","beca23435193270a","b96f1a632e1f3c83","c1d848dd0567aa11","d0e1bd0deef10b73","704c2db5c0a37d2a","bb3826d76cfe7e0e","6346b9c72a9ff5cd","1e810e4fd3eb5e3c","c09d66a8d77c1545","16311a8e9aa224c3","df7b4d91ea06d4e0","80be5f897c8e362c","bec39b5ab0c28235","c3f8a1ce19daee74"],"x":17.33346939086914,"y":125.66667366027832,"w":2074.222194671631,"h":466.44444465637207},{"id":"43016d21293ad548","type":"group","z":"6ea4c6b373eeaa8d","name":"this is using the output valid and the 10 is set and the 20 does not reset that value hence only the 10 payloads are being passed through","style":{"label":true},"nodes":["9cd6f51b61c736fc","8f2e299f0845e11a","23a8acf4587c6828","afe075c936f6ed17","dcd269ed051e69c2","0ed87025e57bfbb2","d3832c08e040cf87","e9e581b6cfd500fc","5a4d360ea2254c4c","8798d5200ebd3081","e715256f55a60154","abd152886ee5ce5d","ba7c02d408c2d583","565e81a9452aec02","5142884b7d86e172","cd6855f2608df3bd"],"x":10.888858795166016,"y":635.4444469875759,"w":1957.555492401123,"h":462.0000072055393},{"id":"1d6080fae6ad4519","type":"rbe","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"narrowband - no initial value, 10% compared to input value, > || ==","func":"narrowbandEq","gap":"10%","start":"","inout":"in","septopics":false,"property":"payload","topi":"topic","x":1084.4446105957031,"y":226.66666412353516,"wires":[["c09d66a8d77c1545","16311a8e9aa224c3","df7b4d91ea06d4e0","80be5f897c8e362c"]]},{"id":"15c7213b8eb52088","type":"inject","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":113.33346939086914,"y":232.22219276428223,"wires":[["1d6080fae6ad4519","1ba1fdee232ec418","beca23435193270a","c1d848dd0567aa11","704c2db5c0a37d2a","6346b9c72a9ff5cd"]]},{"id":"1ba1fdee232ec418","type":"change","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":370.0000228881836,"y":284.9999256134033,"wires":[["d790523c46e61597"]]},{"id":"d790523c46e61597","type":"delay","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":611.1111907958984,"y":284.9999256134033,"wires":[["1d6080fae6ad4519"]]},{"id":"beca23435193270a","type":"change","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":372.2222671508789,"y":346.666690826416,"wires":[["b96f1a632e1f3c83"]]},{"id":"b96f1a632e1f3c83","type":"delay","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":613.3334350585938,"y":346.666690826416,"wires":[["1d6080fae6ad4519"]]},{"id":"c1d848dd0567aa11","type":"change","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"payload = 20","rules":[{"t":"set","p":"payload","pt":"msg","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":355.55567169189453,"y":404.4444751739502,"wires":[["d0e1bd0deef10b73"]]},{"id":"d0e1bd0deef10b73","type":"delay","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":606.6668395996094,"y":404.4444751739502,"wires":[["1d6080fae6ad4519"]]},{"id":"704c2db5c0a37d2a","type":"change","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"payload = 20","rules":[{"t":"set","p":"payload","pt":"msg","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":363.33338165283203,"y":472.22226333618164,"wires":[["bb3826d76cfe7e0e"]]},{"id":"bb3826d76cfe7e0e","type":"delay","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":614.4445495605469,"y":472.22226333618164,"wires":[["1d6080fae6ad4519"]]},{"id":"6346b9c72a9ff5cd","type":"change","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"payload = 20","rules":[{"t":"set","p":"payload","pt":"msg","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":364.44449615478516,"y":551.1111183166504,"wires":[["1e810e4fd3eb5e3c"]]},{"id":"1e810e4fd3eb5e3c","type":"delay","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":615.5556640625,"y":551.1111183166504,"wires":[["1d6080fae6ad4519"]]},{"id":"c09d66a8d77c1545","type":"ut-assert-success","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","count":"5","x":1606.6666666666665,"y":171.11111111111111,"wires":[]},{"id":"16311a8e9aa224c3","type":"ut-assert-values","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"10","tot":"num"}],"x":1613.3333473205566,"y":226.66667938232422,"wires":[[]]},{"id":"df7b4d91ea06d4e0","type":"ut-assert-values","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"20","tot":"num"}],"x":1613.333351135254,"y":285.55556869506836,"wires":[[]]},{"id":"80be5f897c8e362c","type":"switch","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"10","vt":"num"},{"t":"eq","v":"20","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1771.111198425293,"y":195.55556964874268,"wires":[["bec39b5ab0c28235"],["c3f8a1ce19daee74"]]},{"id":"bec39b5ab0c28235","type":"ut-assert-success","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","count":"3","x":1978.8889389038086,"y":166.66667366027832,"wires":[]},{"id":"c3f8a1ce19daee74","type":"ut-assert-success","z":"6ea4c6b373eeaa8d","g":"83bed288b0431f74","name":"","count":"2","x":1985.5556640625,"y":221.1111297607422,"wires":[]},{"id":"9cd6f51b61c736fc","type":"rbe","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"narrowband - no initial value, 10% compared to output value, > || ==","func":"narrowbandEq","gap":"10%","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":1088,"y":732,"wires":[["ba7c02d408c2d583","565e81a9452aec02","5142884b7d86e172"]]},{"id":"8f2e299f0845e11a","type":"inject","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":106.88885879516602,"y":737.5555286407471,"wires":[["9cd6f51b61c736fc","23a8acf4587c6828","dcd269ed051e69c2","d3832c08e040cf87","5a4d360ea2254c4c","e715256f55a60154"]]},{"id":"23a8acf4587c6828","type":"change","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":363.55541229248047,"y":790.3332614898682,"wires":[["afe075c936f6ed17"]]},{"id":"afe075c936f6ed17","type":"delay","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":604.6665802001953,"y":790.3332614898682,"wires":[["9cd6f51b61c736fc"]]},{"id":"dcd269ed051e69c2","type":"change","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":365.7776565551758,"y":852.0000267028809,"wires":[["0ed87025e57bfbb2"]]},{"id":"0ed87025e57bfbb2","type":"delay","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":606.8888244628906,"y":852.0000267028809,"wires":[["9cd6f51b61c736fc"]]},{"id":"d3832c08e040cf87","type":"change","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"payload = 20","rules":[{"t":"set","p":"payload","pt":"msg","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":349.1110610961914,"y":909.777811050415,"wires":[["e9e581b6cfd500fc"]]},{"id":"e9e581b6cfd500fc","type":"delay","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":600.2222290039062,"y":909.777811050415,"wires":[["9cd6f51b61c736fc"]]},{"id":"5a4d360ea2254c4c","type":"change","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"payload = 20","rules":[{"t":"set","p":"payload","pt":"msg","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":356.8887710571289,"y":977.5555992126465,"wires":[["8798d5200ebd3081"]]},{"id":"8798d5200ebd3081","type":"delay","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":607.9999389648438,"y":977.5555992126465,"wires":[["9cd6f51b61c736fc"]]},{"id":"e715256f55a60154","type":"change","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"payload = 20","rules":[{"t":"set","p":"payload","pt":"msg","to":"20","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":357.99988555908203,"y":1056.4444541931152,"wires":[["abd152886ee5ce5d"]]},{"id":"abd152886ee5ce5d","type":"delay","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":609.1110534667969,"y":1056.4444541931152,"wires":[["9cd6f51b61c736fc"]]},{"id":"ba7c02d408c2d583","type":"ut-assert-success","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","count":"3","x":1600.2220560709634,"y":676.4444469875759,"wires":[]},{"id":"565e81a9452aec02","type":"ut-assert-values","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"10","tot":"num"}],"x":1600.2221717834473,"y":783.6666259765625,"wires":[[]]},{"id":"5142884b7d86e172","type":"switch","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"10","vt":"num"},{"t":"eq","v":"20","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1656.3332595825195,"y":730.8888750076294,"wires":[["cd6855f2608df3bd"],[]]},{"id":"cd6855f2608df3bd","type":"ut-assert-success","z":"6ea4c6b373eeaa8d","g":"43016d21293ad548","name":"","count":"3","x":1862.444351196289,"y":676.9999580383301,"wires":[]}]