70fb2a061a2b073d/flows.json
[{"id":"70fb2a061a2b073d","type":"tab","label":"[flowhubpull] retrieve flow id","disabled":false,"info":"","env":[]},{"id":"4b46f1f2d5dc1263","type":"FlowHubPull","z":"70fb2a061a2b073d","name":"","notab":false,"flowid":"9c51a179141515b2","flowname":"[change] change functionality","flowrevision":"","x":453,"y":304.5,"wires":[["2e58215af0d68b56","c2531fb627dbde3c"],["dee10be3d9b662cd"]]},{"id":"a1dd14b5caad6cf0","type":"inject","z":"70fb2a061a2b073d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":177,"y":240,"wires":[["4b46f1f2d5dc1263"]]},{"id":"dee10be3d9b662cd","type":"ut-assert-failure","z":"70fb2a061a2b073d","name":"","x":754,"y":359.5,"wires":[]},{"id":"2e58215af0d68b56","type":"ut-assert-success","z":"70fb2a061a2b073d","name":"","x":772,"y":183.5,"wires":[]},{"id":"c2531fb627dbde3c","type":"json","z":"70fb2a061a2b073d","name":"","property":"payload","action":"","pretty":false,"x":776,"y":239.5,"wires":[[]]}]