1658196c31549916/flows.json
[{"id":"1658196c31549916","type":"tab","label":"[batch] batch until batch is full","disabled":false,"info":"## Batching\n\nBatch node stores the messages and only releases them once an entire batch is complete.\n\n","env":[]},{"id":"03267ad2bf1a3a5c","type":"inject","z":"1658196c31549916","name":"","props":[{"p":"counter","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":377,"y":733.75,"wires":[["2ffbbfc178998e71"]]},{"id":"2ffbbfc178998e71","type":"change","z":"1658196c31549916","name":"update payload and counter","rules":[{"t":"set","p":"payload","pt":"msg","to":"counter","tot":"msg"},{"t":"set","p":"counter","pt":"msg","to":"$$.counter + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":695.3333473205566,"y":568.5,"wires":[["3271b41da2a1ccc6","c97602eab03c8e5c","e3aa175819003137","27bfe5548d0fde7a"]]},{"id":"3271b41da2a1ccc6","type":"switch","z":"1658196c31549916","name":"16 messages","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"15","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":701.3333740234375,"y":458,"wires":[["2ffbbfc178998e71"]]},{"id":"c97602eab03c8e5c","type":"batch","z":"1658196c31549916","name":"","mode":"count","count":10,"overlap":0,"interval":10,"allowEmptySequence":false,"honourParts":false,"topics":[],"x":996,"y":387,"wires":[["29b78d844b421ff2","55597181325ad703"]]},{"id":"27bfe5548d0fde7a","type":"join","z":"1658196c31549916","name":"","mode":"custom","build":"array","property":"payload","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"17","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1079,"y":647,"wires":[["3750375f73086566"]]},{"id":"55597181325ad703","type":"join","z":"1658196c31549916","name":"","mode":"custom","build":"array","property":"payload","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"11","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1152,"y":422.5,"wires":[["3b38148ab4e258a4"]]},{"id":"29b78d844b421ff2","type":"join","z":"1658196c31549916","name":"","mode":"custom","build":"array","property":"payload","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"10","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1152,"y":349.5,"wires":[["7044c93159cc4dc8"]]},{"id":"e3aa175819003137","type":"join","z":"1658196c31549916","name":"","mode":"custom","build":"array","property":"payload","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"16","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1079,"y":568.5,"wires":[["39a1ae3b6d017103"]]},{"id":"3b38148ab4e258a4","type":"ut-assert-failure","z":"1658196c31549916","name":"","x":1330,"y":458,"wires":[]},{"id":"3750375f73086566","type":"ut-assert-failure","z":"1658196c31549916","name":"","x":1333,"y":647,"wires":[]},{"id":"39a1ae3b6d017103","type":"ut-assert-success","z":"1658196c31549916","name":"","x":1333,"y":568.5,"wires":[]},{"id":"7044c93159cc4dc8","type":"ut-assert-success","z":"1658196c31549916","name":"","x":1330,"y":312,"wires":[]}]