2a95a7b40a798878/flows.json
[{"id":"2a95a7b40a798878","type":"tab","label":"[tcp] telnet server","disabled":false,"info":"## Simple telnet server\n\nUse 'quit' or 'exit' to exit out of telnet mode.","env":[]},{"id":"d634721638f8e788","type":"tcp in","z":"2a95a7b40a798878","name":"","server":"server","host":"","port":"2323","datamode":"stream","datatype":"utf8","newline":"","topic":"","trim":false,"base64":false,"tls":"","x":610,"y":467,"wires":[["af62d3e6093d1b39"]]},{"id":"f41d590bfe4a7ab0","type":"change","z":"2a95a7b40a798878","name":"set payload to 'ok'","rules":[{"t":"set","p":"payload","pt":"msg","to":"prompt> ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1079,"y":479.5,"wires":[["25d34eb00072bf33"]]},{"id":"25d34eb00072bf33","type":"tcp out","z":"2a95a7b40a798878","name":"","host":"","port":"","beserver":"reply","base64":false,"end":false,"tls":"","x":1342,"y":440.5,"wires":[]},{"id":"af62d3e6093d1b39","type":"switch","z":"2a95a7b40a798878","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"exit","vt":"str"},{"t":"cont","v":"quit","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":839,"y":467,"wires":[["ead72a464ee19fc2"],["ead72a464ee19fc2"],["f41d590bfe4a7ab0"]]},{"id":"ead72a464ee19fc2","type":"change","z":"2a95a7b40a798878","name":"set payload to 'ok'","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"\\n","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1075,"y":440.5,"wires":[["25d34eb00072bf33"]]}]