b50f775ae3b74d38/flows.json
[{"id":"b50f775ae3b74d38","type":"tab","label":"[.jsonata] testing the modulo operator","disabled":false,"info":"## Modulo, remainder, percent operator.\n\nAn operator by any other names still does the same.\n\n","env":[]},{"id":"17085241f0427be7","type":"group","z":"b50f775ae3b74d38","name":"assert values supports JSONata","style":{"label":true},"nodes":["47ba05387d443c84","2a4a8e39bde73518"],"x":557,"y":59,"w":212,"h":174.5},{"id":"140a158ee35ef834","type":"group","z":"b50f775ae3b74d38","name":"exception on invalid JSONata","style":{"label":true},"nodes":["85a0afc63ffe9bad","1bbc3f590aadb7b3","fb671ee69f2fe8cb"],"x":161,"y":38,"w":234,"h":234},{"id":"1f204e8d9f8d89e4","type":"group","z":"b50f775ae3b74d38","name":"update payload using remainder and send exactly 100 messages","style":{"label":true},"nodes":["dd3ef429997bcbb0","25c72860557fc670","2f3e735d2a5d0962","38870a057fa6e2e1","b140526482787f46","8c41ac0f798065be","b2d3ae5a3cef7b4a","ddf43de5d6c30c91","8eb6047a1a9270ac","36e247d1bb015984","66f4f0e1bed33a15","5958d7b7e8091d64","debe43132ea91869","3e0d0afdcda5543d","4a99bfc4d4c3d597","17ac7598f4f8f2cf","f135b13756f6921e","5834324ed620f733","13435789c19fb8d2","7fbf90973f4b3be1","ad7bc54866bb3f3b","0fb367c1fed4a434","eb57740503461ade"],"x":86,"y":295,"w":997,"h":594.7196174561977},{"id":"f135b13756f6921e","type":"junction","z":"b50f775ae3b74d38","g":"1f204e8d9f8d89e4","x":708.5510015487671,"y":818.7755060195923,"wires":[["eb57740503461ade"]]},{"id":"5834324ed620f733","type":"junction","z":"b50f775ae3b74d38","g":"1f204e8d9f8d89e4","x":214.80564180016518,"y":863.7196174561977,"wires":[["25c72860557fc670"]]},{"id":"eb57740503461ade","type":"junction","z":"b50f775ae3b74d38","g":"1f204e8d9f8d89e4","x":772.2676175236702,"y":863.7196174561977,"wires":[["5834324ed620f733"]]},{"id":"85a0afc63ffe9bad","type":"inject","z":"b50f775ae3b74d38","g":"140a158ee35ef834","name":"","props":[{"p":"value","v":"34","vt":"jsonata"},{"p":"bound","v":"7","vt":"num"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"$$.payload % $$.bound","payloadType":"jsonata","x":257,"y":231,"wires":[[]]},{"id":"1bbc3f590aadb7b3","type":"catch","z":"b50f775ae3b74d38","g":"140a158ee35ef834","name":"","scope":["85a0afc63ffe9bad"],"uncaught":false,"x":253,"y":171,"wires":[["fb671ee69f2fe8cb"]]},{"id":"fb671ee69f2fe8cb","type":"ut-assert-success","z":"b50f775ae3b74d38","g":"140a158ee35ef834","name":"","x":299,"y":79,"wires":[]},{"id":"47ba05387d443c84","type":"inject","z":"b50f775ae3b74d38","g":"17085241f0427be7","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"hello \" & \" world\"","payloadType":"jsonata","x":653,"y":100,"wires":[["2a4a8e39bde73518"]]},{"id":"2a4a8e39bde73518","type":"ut-assert-values","z":"b50f775ae3b74d38","g":"17085241f0427be7","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"\"hello \" & \" world\"","tot":"jsonata"},{"t":"eql","p":"payload","pt":"msg","to":"hello  world","tot":"str"}],"x":663,"y":192.5,"wires":[[]]},{"id":"dd3ef429997bcbb0","type":"inject","z":"b50f775ae3b74d38","g":"1f204e8d9f8d89e4","name":"","props":[{"p":"payload"},{"p":"rounds","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":182,"y":388,"wires":[["25c72860557fc670"]]},{"id":"25c72860557fc670","type":"switch","z":"b50f775ae3b74d38","g":"1f204e8d9f8d89e4","name":"","property":"rounds","propertyType":"msg","rules":[{"t":"gte","v":"10","vt":"num"},{"t":"lt","v":"10","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":340,"y":540,"wires":[["8c41ac0f798065be","4a99bfc4d4c3d597"],["2f3e735d2a5d0962","b2d3ae5a3cef7b4a","36e247d1bb015984","8eb6047a1a9270ac","ddf43de5d6c30c91"]]},{"id":"2f3e735d2a5d0962","type":"change","z":"b50f775ae3b74d38","g":"1f204e8d9f8d89e4","name":"update payload using remainder operator","rules":[{"t":"set","p":"payload","pt":"msg","to":"($$.payload + 1) % 10","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":473,"y":692,"wires":[["38870a057fa6e2e1"]]},{"id":"38870a057fa6e2e1","type":"switch","z":"b50f775ae3b74d38","g":"1f204e8d9f8d89e4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":363,"y":813,"wires":[["b140526482787f46"],["f135b13756f6921e"]]},{"id":"b140526482787f46","type":"change","z":"b50f775ae3b74d38","g":"1f204e8d9f8d89e4","name":"update rounds counter","rules":[{"t":"set","p":"rounds","pt":"msg","to":"$$.rounds + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":542,"y":780,"wires":[["f135b13756f6921e","13435789c19fb8d2","7fbf90973f4b3be1"]]},{"id":"8c41ac0f798065be","type":"ut-assert-success","z":"b50f775ae3b74d38","g":"1f204e8d9f8d89e4","name":"","x":644,"y":336,"wires":[]},{"id":"b2d3ae5a3cef7b4a","type":"join","z":"b50f775ae3b74d38","g":"1f204e8d9f8d89e4","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"100","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":634,"y":506.66666666666674,"wires":[["5958d7b7e8091d64"]]},{"id":"ddf43de5d6c30c91","type":"join","z":"b50f775ae3b74d38","g":"1f204e8d9f8d89e4","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"99","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":624,"y":465,"wires":[["66f4f0e1bed33a15"]]},{"id":"8eb6047a1a9270ac","type":"join","z":"b50f775ae3b74d38","g":"1f204e8d9f8d89e4","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"101","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":634,"y":548.3333333333334,"wires":[["debe43132ea91869"]]},{"id":"36e247d1bb015984","type":"join","z":"b50f775ae3b74d38","g":"1f204e8d9f8d89e4","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"102","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":634,"y":589.9999694824219,"wires":[["3e0d0afdcda5543d"]]},{"id":"66f4f0e1bed33a15","type":"ut-assert-success","z":"b50f775ae3b74d38","g":"1f204e8d9f8d89e4","name":"","x":885,"y":399.49999237060547,"wires":[]},{"id":"5958d7b7e8091d64","type":"ut-assert-success","z":"b50f775ae3b74d38","g":"1f204e8d9f8d89e4","name":"","x":885,"y":462.99998474121094,"wires":[]},{"id":"debe43132ea91869","type":"ut-assert-failure","z":"b50f775ae3b74d38","g":"1f204e8d9f8d89e4","name":"","x":885,"y":526.4999771118164,"wires":[]},{"id":"3e0d0afdcda5543d","type":"ut-assert-failure","z":"b50f775ae3b74d38","g":"1f204e8d9f8d89e4","name":"","x":885,"y":589.9999694824219,"wires":[]},{"id":"4a99bfc4d4c3d597","type":"join","z":"b50f775ae3b74d38","g":"1f204e8d9f8d89e4","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":624,"y":405,"wires":[["17ac7598f4f8f2cf"]]},{"id":"17ac7598f4f8f2cf","type":"ut-assert-failure","z":"b50f775ae3b74d38","g":"1f204e8d9f8d89e4","name":"","x":885,"y":336,"wires":[]},{"id":"13435789c19fb8d2","type":"join","z":"b50f775ae3b74d38","g":"1f204e8d9f8d89e4","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"11","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":793,"y":800,"wires":[["0fb367c1fed4a434"]]},{"id":"7fbf90973f4b3be1","type":"join","z":"b50f775ae3b74d38","g":"1f204e8d9f8d89e4","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"10","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":793,"y":757,"wires":[["ad7bc54866bb3f3b"]]},{"id":"ad7bc54866bb3f3b","type":"ut-assert-success","z":"b50f775ae3b74d38","g":"1f204e8d9f8d89e4","name":"","x":987,"y":725,"wires":[]},{"id":"0fb367c1fed4a434","type":"ut-assert-failure","z":"b50f775ae3b74d38","g":"1f204e8d9f8d89e4","name":"","x":987,"y":821,"wires":[]}]