9e7ccc97f80d9afb/flows.json
[{"id":"9e7ccc97f80d9afb","type":"tab","label":"[file in] will accept file name from msg obj","disabled":false,"info":"A file name can also be dynamic and be taken from the msg object passed to the file in node.","env":[]},{"id":"3de9bd2926669640","type":"inject","z":"9e7ccc97f80d9afb","name":"","props":[{"p":"filename","v":"${priv}/testdata/helloworld.txt","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":145.1428985595703,"y":147.14284896850586,"wires":[["e89d0c894d08b485"]]},{"id":"e89d0c894d08b485","type":"file in","z":"9e7ccc97f80d9afb","name":"","filename":"filename","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":342.1428985595703,"y":245.64284896850586,"wires":[["e0f13216032f1fe6","05c8dee92f3f6768"]]},{"id":"e0f13216032f1fe6","type":"ut-assert-values","z":"9e7ccc97f80d9afb","name":"","rules":[{"p":"payload","pt":"msg","t":"mth","to":"hello world","tot":"str"}],"x":594.1428985595703,"y":143.14284896850586,"wires":[[]]},{"id":"2b511c22a8ddb371","type":"ut-assert-debug","z":"9e7ccc97f80d9afb","name":"","nodeid":"e89d0c894d08b485","msgtype":"normal","inverse":true,"x":274.1428985595703,"y":299.64284896850586,"wires":[]},{"id":"05c8dee92f3f6768","type":"ut-assert-success","z":"9e7ccc97f80d9afb","name":"","count":1,"x":646.1428985595703,"y":243.64284896850586,"wires":[]}]