cfa8595b2e2b8269/flows.json
[{"id":"cfa8595b2e2b8269","type":"tab","label":"[tcp] multiple tcp outs","disabled":false,"info":"","env":[]},{"id":"cdf9310b209c1838","type":"tcp in","z":"cfa8595b2e2b8269","name":"","server":"server","host":"","port":"1234","datamode":"stream","datatype":"utf8","newline":"","topic":"","trim":false,"base64":false,"tls":"","x":618,"y":444,"wires":[["1a2c994da573bbdf","922894e195cfced3","182e14f03527fecd"]]},{"id":"1a2c994da573bbdf","type":"ut-assert-values","z":"cfa8595b2e2b8269","name":"","rules":[{"t":"eql","p":"payload","pt":"msg","to":"hello world","tot":"str"}],"x":1013,"y":444,"wires":[[]]},{"id":"efcdb65d343c28d5","type":"tcp out","z":"cfa8595b2e2b8269","name":"","host":"","port":"","beserver":"reply","base64":false,"end":false,"tls":"","x":1007,"y":318.5,"wires":[]},{"id":"b19e4f202ce8e9f9","type":"inject","z":"cfa8595b2e2b8269","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello world","payloadType":"str","x":618,"y":321.5,"wires":[["efcdb65d343c28d5"]]},{"id":"922894e195cfced3","type":"change","z":"cfa8595b2e2b8269","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ok","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":819,"y":379.5,"wires":[["efcdb65d343c28d5","0c1adf0307191475"]]},{"id":"182e14f03527fecd","type":"debug","z":"cfa8595b2e2b8269","name":"debug 432","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":885,"y":515.5,"wires":[]},{"id":"dd0e889f20803d72","type":"tcp in","z":"cfa8595b2e2b8269","name":"","server":"client","host":"localhost","port":"1234","datamode":"stream","datatype":"utf8","newline":"","topic":"","trim":false,"base64":false,"tls":"","x":660,"y":589.5,"wires":[["642b8be2f6758ff1"]]},{"id":"642b8be2f6758ff1","type":"debug","z":"cfa8595b2e2b8269","name":"debug 433","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":975,"y":589.5,"wires":[]},{"id":"0c1adf0307191475","type":"debug","z":"cfa8595b2e2b8269","name":"debug 434","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1199,"y":379.5,"wires":[]}]