cef9dd7dc179b8b3/flows.json
[{"id":"cef9dd7dc179b8b3","type":"tab","label":"[filter] value differ by topic","disabled":false,"info":"","env":[{"name":"ERED_TIMEOUT","value":"5","type":"num"}]},{"id":"75818bd0a3229826","type":"group","z":"cef9dd7dc179b8b3","name":"topic value unset on the message","style":{"label":true},"nodes":["37f452396b5d81b8","df328aa947cdf1eb","a64e278f84059abb","07b29065828b6d20","d4f325c93f60624e","b578f9c433b66525","3e473813a33740dd","2a58147bfab51885","0c73ec6736259028"],"x":151.857177734375,"y":215.28570556640625,"w":1311,"h":346.21429443359375},{"id":"25c6145943e1c3ed","type":"group","z":"cef9dd7dc179b8b3","name":"topic set to one of four values","style":{"label":true},"nodes":["e79ff1b7b88cd20f","98727f3059e351d4","5577502eb8253fe8","89746fac1ecc369c","bb62bb7a628e4ade","b06fb3a43f35f033","ccf318e67abfc822","385b9cbd6534623b","f50534c3488aa0fd","cd8d204d0cb0220b","b819bafaf7464f34","a467286b01a24549","2488094f8b4c6cc2","b58bff122849c7cd","8c1ffaef9e04d329","32a7f381aaca759b","2c8d57b5f73c97b2","caa6a282f65a1eba"],"x":149.00006103515625,"y":625,"w":2235.9999389648438,"h":530},{"id":"37f452396b5d81b8","type":"rbe","z":"cef9dd7dc179b8b3","g":"75818bd0a3229826","name":"","func":"rbe","gap":"10%","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":932.857177734375,"y":475.91070556640625,"wires":[["d4f325c93f60624e","3e473813a33740dd","2a58147bfab51885"]]},{"id":"df328aa947cdf1eb","type":"inject","z":"cef9dd7dc179b8b3","g":"75818bd0a3229826","name":"","props":[{"p":"counter","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":247.857177734375,"y":475.91070556640625,"wires":[["a64e278f84059abb"]]},{"id":"a64e278f84059abb","type":"change","z":"cef9dd7dc179b8b3","g":"75818bd0a3229826","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"10","tot":"num"},{"t":"set","p":"counter","pt":"msg","to":"$$.counter + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":513.857177734375,"y":475.91070556640625,"wires":[["07b29065828b6d20","37f452396b5d81b8","0c73ec6736259028"]]},{"id":"07b29065828b6d20","type":"switch","z":"cef9dd7dc179b8b3","g":"75818bd0a3229826","name":"limit to 10_000 messages","property":"counter","propertyType":"msg","rules":[{"t":"lt","v":"10000","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":513.857177734375,"y":256.28570556640625,"wires":[["a64e278f84059abb"],["b578f9c433b66525"]]},{"id":"d4f325c93f60624e","type":"ut-assert-success","z":"cef9dd7dc179b8b3","g":"75818bd0a3229826","name":"","count":"2","x":1356.857177734375,"y":475.91070556640625,"wires":[]},{"id":"b578f9c433b66525","type":"change","z":"cef9dd7dc179b8b3","g":"75818bd0a3229826","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"11","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":752.8571853637695,"y":362.89290618896484,"wires":[["37f452396b5d81b8"]]},{"id":"3e473813a33740dd","type":"ut-assert-values","z":"cef9dd7dc179b8b3","g":"75818bd0a3229826","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"10","tot":"num"}],"x":1163.857177734375,"y":362.89290618896484,"wires":[[]]},{"id":"2a58147bfab51885","type":"ut-assert-values","z":"cef9dd7dc179b8b3","g":"75818bd0a3229826","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"11","tot":"num"}],"x":1265.357177734375,"y":419.40180587768555,"wires":[[]]},{"id":"e79ff1b7b88cd20f","type":"rbe","z":"cef9dd7dc179b8b3","g":"25c6145943e1c3ed","name":"","func":"rbe","gap":"10%","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":1730.0000610351562,"y":887.9821853637695,"wires":[["bb62bb7a628e4ade","ccf318e67abfc822","385b9cbd6534623b","cd8d204d0cb0220b","a467286b01a24549","b58bff122849c7cd","b819bafaf7464f34","2488094f8b4c6cc2","8c1ffaef9e04d329"]]},{"id":"98727f3059e351d4","type":"inject","z":"cef9dd7dc179b8b3","g":"25c6145943e1c3ed","name":"","props":[{"p":"counter","v":"0","vt":"num"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":245.00006103515625,"y":887.9821853637695,"wires":[["5577502eb8253fe8"]]},{"id":"5577502eb8253fe8","type":"change","z":"cef9dd7dc179b8b3","g":"25c6145943e1c3ed","name":"","rules":[{"t":"set","p":"counter","pt":"msg","to":"$$.counter + 1","tot":"jsonata"},{"t":"set","p":"toplookup","pt":"msg","to":"[\"one\",\"two\",\"three\",\"four\"]","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"$$.toplookup[$$.counter % 4]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":511.00006103515625,"y":887.9821853637695,"wires":[["89746fac1ecc369c","e79ff1b7b88cd20f","f50534c3488aa0fd"]]},{"id":"89746fac1ecc369c","type":"switch","z":"cef9dd7dc179b8b3","g":"25c6145943e1c3ed","name":"limit to 10_000 messages","property":"counter","propertyType":"msg","rules":[{"t":"lt","v":"10000","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":511.00006103515625,"y":672.6608047485352,"wires":[["5577502eb8253fe8"],["b06fb3a43f35f033"]]},{"id":"bb62bb7a628e4ade","type":"ut-assert-success","z":"cef9dd7dc179b8b3","g":"25c6145943e1c3ed","name":"","count":"8","x":2279,"y":887.9821853637695,"wires":[]},{"id":"b06fb3a43f35f033","type":"change","z":"cef9dd7dc179b8b3","g":"25c6145943e1c3ed","name":"update payload and reset counter","rules":[{"t":"set","p":"payload","pt":"msg","to":"11","tot":"num"},{"t":"set","p":"counter","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":885.0000610351562,"y":672.6608047485352,"wires":[["32a7f381aaca759b"]]},{"id":"ccf318e67abfc822","type":"ut-assert-values","z":"cef9dd7dc179b8b3","g":"25c6145943e1c3ed","name":"topic: one payload: 10","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"10","tot":"num"},{"t":"eql","p":"topic","pt":"msg","to":"one","tot":"str"}],"x":1958,"y":666,"wires":[[]]},{"id":"385b9cbd6534623b","type":"ut-assert-values","z":"cef9dd7dc179b8b3","g":"25c6145943e1c3ed","name":"topic: one payload: 11","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"11","tot":"num"},{"t":"eql","p":"topic","pt":"msg","to":"one","tot":"str"}],"x":2073,"y":928,"wires":[[]]},{"id":"f50534c3488aa0fd","type":"ut-assert-success","z":"cef9dd7dc179b8b3","g":"25c6145943e1c3ed","name":"","count":"10000","x":815,"y":931,"wires":[]},{"id":"0c73ec6736259028","type":"ut-assert-success","z":"cef9dd7dc179b8b3","g":"75818bd0a3229826","name":"","count":"10000","x":748,"y":520.5,"wires":[]},{"id":"cd8d204d0cb0220b","type":"ut-assert-values","z":"cef9dd7dc179b8b3","g":"25c6145943e1c3ed","name":"topic: two payload: 10","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"10","tot":"num"},{"t":"eql","p":"topic","pt":"msg","to":"two","tot":"str"}],"x":1958,"y":728,"wires":[[]]},{"id":"b819bafaf7464f34","type":"ut-assert-values","z":"cef9dd7dc179b8b3","g":"25c6145943e1c3ed","name":"topic: two payload: 11","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"11","tot":"num"},{"t":"eql","p":"topic","pt":"msg","to":"two","tot":"str"}],"x":2073,"y":990,"wires":[[]]},{"id":"a467286b01a24549","type":"ut-assert-values","z":"cef9dd7dc179b8b3","g":"25c6145943e1c3ed","name":"topic: three payload: 10","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"10","tot":"num"},{"t":"eql","p":"topic","pt":"msg","to":"three","tot":"str"}],"x":1968,"y":790,"wires":[[]]},{"id":"2488094f8b4c6cc2","type":"ut-assert-values","z":"cef9dd7dc179b8b3","g":"25c6145943e1c3ed","name":"topic: three payload: 11","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"11","tot":"num"},{"t":"eql","p":"topic","pt":"msg","to":"three","tot":"str"}],"x":2083,"y":1052,"wires":[[]]},{"id":"b58bff122849c7cd","type":"ut-assert-values","z":"cef9dd7dc179b8b3","g":"25c6145943e1c3ed","name":"topic: four payload: 10","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"10","tot":"num"},{"t":"eql","p":"topic","pt":"msg","to":"four","tot":"str"}],"x":1958,"y":852,"wires":[[]]},{"id":"8c1ffaef9e04d329","type":"ut-assert-values","z":"cef9dd7dc179b8b3","g":"25c6145943e1c3ed","name":"topic: four payload: 11","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"11","tot":"num"},{"t":"eql","p":"topic","pt":"msg","to":"four","tot":"str"}],"x":2073,"y":1114,"wires":[[]]},{"id":"32a7f381aaca759b","type":"change","z":"cef9dd7dc179b8b3","g":"25c6145943e1c3ed","name":"","rules":[{"t":"set","p":"counter","pt":"msg","to":"$$.counter + 1","tot":"jsonata"},{"t":"set","p":"toplookup","pt":"msg","to":"[\"one\",\"two\",\"three\",\"four\"]","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"$$.toplookup[$$.counter % 4]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1242,"y":672.6608047485352,"wires":[["2c8d57b5f73c97b2","caa6a282f65a1eba"]]},{"id":"2c8d57b5f73c97b2","type":"switch","z":"cef9dd7dc179b8b3","g":"25c6145943e1c3ed","name":"limit to 10_000 messages","property":"counter","propertyType":"msg","rules":[{"t":"lt","v":"10000","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1263,"y":845.875,"wires":[["32a7f381aaca759b","e79ff1b7b88cd20f"],[]]},{"id":"caa6a282f65a1eba","type":"ut-assert-success","z":"cef9dd7dc179b8b3","g":"25c6145943e1c3ed","name":"","count":"10000","x":1577,"y":672.6608047485352,"wires":[]}]