1d3326a724ecbea0/flows.json
[{"id":"1d3326a724ecbea0","type":"tab","label":"[join] automatic mode","disabled":false,"info":"## Join automatic\n\nJoin automatic does a reverse of a split node.\n\nThe array fed into the split node is a json object, hence the split node recognises it as an array and splits it accordingly.\n\nThe join node is in automatic mode which means it respects the parts attribute set on the messages.\n\nUsing the parts attribute, the join puts the array back together again in the order in which it received the messages.\n","env":[]},{"id":"6fd4c87898f1f73b","type":"group","z":"1d3326a724ecbea0","name":"ensure split really did split the array","style":{"label":true},"nodes":["3187d5dfe7a04dfd","79c339d0c892e90b"],"x":554,"y":38.5,"w":358,"h":82},{"id":"8b6ae4b33d415c15","type":"inject","z":"1d3326a724ecbea0","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,2,3,4,5,6,7,8,9]","payloadType":"json","x":147,"y":80,"wires":[["2b7fce05e681479f"]]},{"id":"2b7fce05e681479f","type":"split","z":"1d3326a724ecbea0","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":335,"y":283,"wires":[["c86f36a83ccf8424","3187d5dfe7a04dfd"]]},{"id":"c86f36a83ccf8424","type":"join","z":"1d3326a724ecbea0","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":"false","timeout":"","count":"","reduceRight":false,"x":493,"y":523,"wires":[["1c0dbbadbaca3b8e"]]},{"id":"1c0dbbadbaca3b8e","type":"ut-assert-values","z":"1d3326a724ecbea0","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[1,2,3,4,5,6,7,8,9]","tot":"json"}],"x":721,"y":184,"wires":[[]]},{"id":"3187d5dfe7a04dfd","type":"join","z":"1d3326a724ecbea0","g":"6fd4c87898f1f73b","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"9","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":630,"y":79.5,"wires":[["79c339d0c892e90b"]]},{"id":"79c339d0c892e90b","type":"ut-assert-success","z":"1d3326a724ecbea0","g":"6fd4c87898f1f73b","name":"","x":816,"y":79.5,"wires":[]}]