ae8a9b0bbbaff447/flows.json
[{"id":"ae8a9b0bbbaff447","type":"tab","label":"[http] support query string on get request","disabled":false,"info":"## Http request - querystring support\n\nIf the payload is an hash object and the payload is to be attached to the request, then do that.","env":[]},{"id":"62300a90d29c5415","type":"group","z":"ae8a9b0bbbaff447","name":"payload needs to be hash object","style":{"label":true},"nodes":["5db6a8c38078e6a7","a4868ad174a06b8f","1638f1da4b477157","be865abbdc365e6c","ba79594a579e9fa0"],"x":441,"y":689,"w":725,"h":216},{"id":"3db045d9441c2067","type":"http in","z":"ae8a9b0bbbaff447","name":"","url":"/f38603a59963386c/data","method":"get","upload":false,"swaggerDoc":"","x":458,"y":475,"wires":[["1c4ecf7d781bf986"]]},{"id":"6828ebee7c35e67c","type":"http response","z":"ae8a9b0bbbaff447","name":"","statusCode":"200","headers":{},"x":944,"y":467.75,"wires":[]},{"id":"1c4ecf7d781bf986","type":"template","z":"ae8a9b0bbbaff447","name":"","field":"payload","fieldType":"msg","format":"javascript","syntax":"mustache","template":"{ \n    \"response\": \"{{{ payload.payload }}}\"\n}","output":"str","x":739,"y":393.75,"wires":[["6828ebee7c35e67c"]]},{"id":"56e1b0bcffdf1790","type":"http request","z":"ae8a9b0bbbaff447","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"http://localhost:8080/f38603a59963386c/data","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":743,"y":601,"wires":[["3ba175773fd4c9d9"]]},{"id":"eea53210a5993268","type":"inject","z":"ae8a9b0bbbaff447","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"payload\" : \"payload\" }","payloadType":"json","x":530,"y":541,"wires":[["56e1b0bcffdf1790"]]},{"id":"3ba175773fd4c9d9","type":"ut-assert-values","z":"ae8a9b0bbbaff447","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload.response","pt":"msg","to":"payload","tot":"str"}],"x":1007,"y":532,"wires":[[]]},{"id":"5db6a8c38078e6a7","type":"http request","z":"ae8a9b0bbbaff447","g":"62300a90d29c5415","name":"","method":"GET","ret":"obj","paytoqs":"query","url":"http://localhost:8080/f38603a59963386c/data","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":750,"y":790,"wires":[["1638f1da4b477157"]]},{"id":"a4868ad174a06b8f","type":"inject","z":"ae8a9b0bbbaff447","g":"62300a90d29c5415","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"string not allowed only hash object","payloadType":"str","x":537,"y":730,"wires":[["5db6a8c38078e6a7"]]},{"id":"1638f1da4b477157","type":"ut-assert-failure","z":"ae8a9b0bbbaff447","g":"62300a90d29c5415","name":"","x":980,"y":730,"wires":[]},{"id":"be865abbdc365e6c","type":"catch","z":"ae8a9b0bbbaff447","g":"62300a90d29c5415","name":"","scope":["5db6a8c38078e6a7"],"uncaught":false,"x":743,"y":861,"wires":[["ba79594a579e9fa0"]]},{"id":"ba79594a579e9fa0","type":"ut-assert-success","z":"ae8a9b0bbbaff447","g":"62300a90d29c5415","name":"","count":1,"x":1070,"y":864,"wires":[]}]