44f12f6e4a455084/flows.json
[{"id":"44f12f6e4a455084","type":"tab","label":"[http] POST & GET have different endpoints","disabled":false,"info":"Defining two endpoints for the same path but that differ by method should be supported.","env":[{"name":"ERED_NOT_EUNIT","value":"true","type":"bool"},{"name":"ERED_TIMEOUT","value":"12","type":"num"}]},{"id":"1ee4966eef5be3c7","type":"http in","z":"44f12f6e4a455084","name":"","url":"/example07/data","method":"get","upload":false,"swaggerDoc":"","x":417,"y":438,"wires":[["030ad288eaef25da","84e7aea85d766702","c1cfaca2395882ca","905f4a96866d216a"]]},{"id":"8b46873434c47c64","type":"http in","z":"44f12f6e4a455084","name":"","url":"/example07/data","method":"post","upload":false,"swaggerDoc":"","x":412,"y":154,"wires":[["0660a9b61b2d2625","d69af9d48808fd1a","3fc5858fecc86254","c1cfaca2395882ca"]]},{"id":"0660a9b61b2d2625","type":"ut-assert-values","z":"44f12f6e4a455084","name":"","rules":[{"p":"payload","pt":"msg","t":"eql","to":"world","tot":"str"}],"x":823,"y":39,"wires":[[]]},{"id":"030ad288eaef25da","type":"join","z":"44f12f6e4a455084","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":825,"y":412,"wires":[["2fb697c68342967d"]]},{"id":"84e7aea85d766702","type":"join","z":"44f12f6e4a455084","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":827,"y":465.5,"wires":[["f54fb593dbd2472e"]]},{"id":"f54fb593dbd2472e","type":"ut-assert-failure","z":"44f12f6e4a455084","name":"","x":1015,"y":465.5,"wires":[]},{"id":"2fb697c68342967d","type":"ut-assert-success","z":"44f12f6e4a455084","name":"","x":1006,"y":412,"wires":[]},{"id":"d69af9d48808fd1a","type":"join","z":"44f12f6e4a455084","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":788,"y":128.5,"wires":[["3f58a97eadc4d74a"]]},{"id":"3fc5858fecc86254","type":"join","z":"44f12f6e4a455084","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":790,"y":179.75,"wires":[["aa2ef3a43b73d578"]]},{"id":"aa2ef3a43b73d578","type":"ut-assert-failure","z":"44f12f6e4a455084","name":"","x":978,"y":179.75,"wires":[]},{"id":"3f58a97eadc4d74a","type":"ut-assert-success","z":"44f12f6e4a455084","name":"","x":969,"y":128.5,"wires":[]},{"id":"480f4d85fc71d2b2","type":"http request","z":"44f12f6e4a455084","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/example07/data?p=world&p2=ddd","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":651,"y":808,"wires":[["8c7c8608c19cf1d0"]]},{"id":"d05bf163282c5908","type":"inject","z":"44f12f6e4a455084","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":243,"y":841,"wires":[["a4a6034b312d4597","c6a6f43aca748f8b"]]},{"id":"59a9432dc3b29d21","type":"http request","z":"44f12f6e4a455084","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/example07/data","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":653,"y":867,"wires":[["09b5fc4621688fed"]]},{"id":"a4a6034b312d4597","type":"change","z":"44f12f6e4a455084","name":"","rules":[{"p":"payload","pt":"msg","t":"set","to":"hello","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":462,"y":808,"wires":[["480f4d85fc71d2b2"]]},{"id":"c6a6f43aca748f8b","type":"change","z":"44f12f6e4a455084","name":"","rules":[{"p":"payload","pt":"msg","t":"set","to":"world","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":465,"y":867,"wires":[["59a9432dc3b29d21"]]},{"id":"c1cfaca2395882ca","type":"http response","z":"44f12f6e4a455084","name":"","statusCode":"200","headers":{},"x":957,"y":314.5,"wires":[]},{"id":"905f4a96866d216a","type":"ut-assert-values","z":"44f12f6e4a455084","name":"","rules":[{"p":"req.query.p","pt":"msg","t":"eql","to":"world","tot":"str"}],"x":1014,"y":580,"wires":[[]]},{"id":"8c7c8608c19cf1d0","type":"ut-assert-success","z":"44f12f6e4a455084","name":"","x":938,"y":765.5,"wires":[]},{"id":"09b5fc4621688fed","type":"ut-assert-success","z":"44f12f6e4a455084","name":"","x":945,"y":823.5,"wires":[]}]