36846ad6698e1bc0/flows.json
[{"id":"36846ad6698e1bc0","type":"tab","label":"[switch] post debug on JSONata exception","disabled":false,"info":"","env":[{"name":"NODE_RED_DIVERGENT","value":"true","type":"bool"}]},{"id":"68fc7da02e4ce9da","type":"group","z":"36846ad6698e1bc0","name":"catch captures exception","style":{"label":true},"nodes":["83ab1354d90466f0","e9aa1d82d093db52","8d0e6a588bc579ce","915116870214bc0f","1466e3dcc32f09f6","5756ca28703729dc","5973bb0d4b1948b1"],"x":8,"y":828,"w":910,"h":354.5},{"id":"0e4b83838b47f758","type":"group","z":"36846ad6698e1bc0","name":"no catch node to capture the exception","style":{"label":true},"nodes":["9f0163ae195dc699","6dcf13bd6d4133a1","1a2dc9cdead129cb","4a51dd50369e9361","287121aac37d559b"],"x":31,"y":362.5,"w":787,"h":320},{"id":"5973bb0d4b1948b1","type":"group","z":"36846ad6698e1bc0","g":"68fc7da02e4ce9da","name":"Node-RED diverge","style":{"fill":"#bfdbef","label":true,"color":"#9363b7"},"nodes":["0dfefb756493e5d9","1bb2357cf149aeb0"],"x":700,"y":1018.5,"w":192,"h":138},{"id":"287121aac37d559b","type":"group","z":"36846ad6698e1bc0","g":"0e4b83838b47f758","name":"Node-RED Diverge","style":{"fill":"#bfdbef","label":true,"color":"#9363b7"},"nodes":["93eda421738039cf","6ff441e31fe3209a"],"x":600,"y":512.5,"w":192,"h":144},{"id":"9f0163ae195dc699","type":"inject","z":"36846ad6698e1bc0","g":"0e4b83838b47f758","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello world","payloadType":"str","x":137,"y":553.5,"wires":[["6dcf13bd6d4133a1"]]},{"id":"6dcf13bd6d4133a1","type":"switch","z":"36846ad6698e1bc0","g":"0e4b83838b47f758","name":"property uses broken jsonata","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"$fromMillis()","vt":"jsonata"},{"t":"else"},{"t":"eq","v":"hello world","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":415,"y":553.5,"wires":[["1a2dc9cdead129cb"],["93eda421738039cf"],["6ff441e31fe3209a"]]},{"id":"1a2dc9cdead129cb","type":"ut-assert-failure","z":"36846ad6698e1bc0","g":"0e4b83838b47f758","name":"","x":696,"y":403.5,"wires":[]},{"id":"4a51dd50369e9361","type":"ut-assert-debug","z":"36846ad6698e1bc0","g":"0e4b83838b47f758","name":"","nodeid":"6dcf13bd6d4133a1","msgtype":"error","inverse":false,"x":367,"y":612.5,"wires":[]},{"id":"93eda421738039cf","type":"ut-assert-success","z":"36846ad6698e1bc0","g":"287121aac37d559b","name":"","count":1,"x":696,"y":553.5,"wires":[]},{"id":"6ff441e31fe3209a","type":"ut-assert-success","z":"36846ad6698e1bc0","g":"287121aac37d559b","name":"","count":1,"x":696,"y":615.5,"wires":[]},{"id":"83ab1354d90466f0","type":"inject","z":"36846ad6698e1bc0","g":"68fc7da02e4ce9da","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello world","payloadType":"str","x":114,"y":944,"wires":[["e9aa1d82d093db52"]]},{"id":"e9aa1d82d093db52","type":"switch","z":"36846ad6698e1bc0","g":"68fc7da02e4ce9da","name":"broken property jsonata","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"$fromMillis()","vt":"jsonata"},{"t":"else"},{"t":"eq","v":"hello world","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":393,"y":996,"wires":[["8d0e6a588bc579ce"],["0dfefb756493e5d9"],["1bb2357cf149aeb0"]]},{"id":"8d0e6a588bc579ce","type":"ut-assert-failure","z":"36846ad6698e1bc0","g":"68fc7da02e4ce9da","name":"","x":792,"y":946.5,"wires":[]},{"id":"915116870214bc0f","type":"ut-assert-debug","z":"36846ad6698e1bc0","g":"68fc7da02e4ce9da","name":"","nodeid":"e9aa1d82d093db52","msgtype":"error","inverse":true,"x":411,"y":1066.5,"wires":[]},{"id":"0dfefb756493e5d9","type":"ut-assert-success","z":"36846ad6698e1bc0","g":"5973bb0d4b1948b1","name":"","count":1,"x":796,"y":1059.5,"wires":[]},{"id":"1bb2357cf149aeb0","type":"ut-assert-success","z":"36846ad6698e1bc0","g":"5973bb0d4b1948b1","name":"","count":1,"x":796,"y":1115.5,"wires":[]},{"id":"1466e3dcc32f09f6","type":"catch","z":"36846ad6698e1bc0","g":"68fc7da02e4ce9da","name":"","scope":["e9aa1d82d093db52"],"uncaught":false,"x":384,"y":926,"wires":[["5756ca28703729dc"]]},{"id":"5756ca28703729dc","type":"ut-assert-success","z":"36846ad6698e1bc0","g":"68fc7da02e4ce9da","name":"","count":1,"x":793,"y":869,"wires":[]}]