562c518969666f24/flows.json
[{"id":"562c518969666f24","type":"tab","label":"[switch] empty operator","disabled":false,"info":"","env":[]},{"id":"fce6e4bfc254e526","type":"switch","z":"562c518969666f24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"true","repair":false,"outputs":1,"x":637,"y":293.142852783203,"wires":[["ac7194641c4da798"]]},{"id":"dd9d3d406f632d2d","type":"inject","z":"562c518969666f24","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"json","x":386.42860630580344,"y":293.142852783203,"wires":[["fce6e4bfc254e526"]]},{"id":"a1f6e5b67ab30bc5","type":"switch","z":"562c518969666f24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"true","repair":false,"outputs":1,"x":637,"y":370.9047580295138,"wires":[["eb88cb11b20f9c6c"]]},{"id":"f9ef5d60de9c5f1b","type":"inject","z":"562c518969666f24","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":386.42860630580344,"y":370.9047580295138,"wires":[["a1f6e5b67ab30bc5"]]},{"id":"ac7194641c4da798","type":"ut-assert-success","z":"562c518969666f24","name":"","x":838,"y":293.142852783203,"wires":[]},{"id":"eb88cb11b20f9c6c","type":"ut-assert-success","z":"562c518969666f24","name":"","x":838,"y":370.9047580295138,"wires":[]},{"id":"ae65a3cae61d42c8","type":"switch","z":"562c518969666f24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"true","repair":false,"outputs":1,"x":637,"y":448.6666632758246,"wires":[["73b56842df83a3e2"]]},{"id":"edd331254ee37a12","type":"inject","z":"562c518969666f24","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"\"","payloadType":"json","x":386.42860630580344,"y":448.6666632758246,"wires":[["ae65a3cae61d42c8"]]},{"id":"ea7f199f5a672cee","type":"switch","z":"562c518969666f24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"true","repair":false,"outputs":1,"x":637,"y":526.4285685221354,"wires":[["62f4eec670f66ce9"]]},{"id":"4c843992becead6d","type":"inject","z":"562c518969666f24","name":"empty string","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":406.42860630580344,"y":526.4285685221354,"wires":[["ea7f199f5a672cee"]]},{"id":"73b56842df83a3e2","type":"ut-assert-success","z":"562c518969666f24","name":"","x":838,"y":448.6666632758246,"wires":[]},{"id":"62f4eec670f66ce9","type":"ut-assert-success","z":"562c518969666f24","name":"","x":838,"y":526.4285685221354,"wires":[]},{"id":"84061c98d59edad5","type":"switch","z":"562c518969666f24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"true","repair":false,"outputs":1,"x":637,"y":604.1904737684462,"wires":[["038904d4cb2288d6"]]},{"id":"1fa56b36794acc1e","type":"inject","z":"562c518969666f24","name":"undefined property","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":426.42860630580344,"y":604.1904737684462,"wires":[["84061c98d59edad5"]]},{"id":"038904d4cb2288d6","type":"ut-assert-failure","z":"562c518969666f24","name":"","x":838,"y":604.1904737684462,"wires":[]},{"id":"2bcedfdf1d3d45ef","type":"switch","z":"562c518969666f24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"true","repair":false,"outputs":1,"x":637,"y":681.952379014757,"wires":[["1601fc1c7f7cb748"]]},{"id":"08f615d785983b07","type":"inject","z":"562c518969666f24","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":386.42860630580344,"y":681.952379014757,"wires":[["2bcedfdf1d3d45ef"]]},{"id":"1601fc1c7f7cb748","type":"ut-assert-failure","z":"562c518969666f24","name":"","x":838,"y":681.952379014757,"wires":[]},{"id":"c71bcdf4053a7b9a","type":"switch","z":"562c518969666f24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"true","repair":false,"outputs":1,"x":637,"y":759.7142842610677,"wires":[["3d51d208a34513de"]]},{"id":"6db92138957030a2","type":"inject","z":"562c518969666f24","name":"String: \"empty\"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"empty","payloadType":"str","x":416.42860630580344,"y":759.7142842610677,"wires":[["c71bcdf4053a7b9a"]]},{"id":"3d51d208a34513de","type":"ut-assert-failure","z":"562c518969666f24","name":"","x":838,"y":759.7142842610677,"wires":[]},{"id":"ede42a74c8ae0815","type":"switch","z":"562c518969666f24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"true","repair":false,"outputs":1,"x":637,"y":837.4761895073785,"wires":[["a09c0bead8bfd245"]]},{"id":"369ac09b422ae73b","type":"inject","z":"562c518969666f24","name":"JSON: null","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"null","payloadType":"json","x":396.42860630580344,"y":837.4761895073785,"wires":[["ede42a74c8ae0815"]]},{"id":"a09c0bead8bfd245","type":"ut-assert-failure","z":"562c518969666f24","name":"","x":838,"y":837.4761895073785,"wires":[]},{"id":"3bcacab749f4fd44","type":"switch","z":"562c518969666f24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"true","repair":false,"outputs":1,"x":637,"y":915.2380947536893,"wires":[["5442b436584f25ea"]]},{"id":"0ff093ba9ed2119c","type":"inject","z":"562c518969666f24","name":"JSON: true","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"json","x":396.42860630580344,"y":915.2380947536893,"wires":[["3bcacab749f4fd44"]]},{"id":"5442b436584f25ea","type":"ut-assert-failure","z":"562c518969666f24","name":"","x":838,"y":915.2380947536893,"wires":[]},{"id":"dfb82aad72ad7b45","type":"switch","z":"562c518969666f24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"true","repair":false,"outputs":1,"x":637,"y":993,"wires":[["90e0102a77037276"]]},{"id":"f9b281bfdae29637","type":"inject","z":"562c518969666f24","name":"JSON: false","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"json","x":406.42860630580344,"y":993,"wires":[["dfb82aad72ad7b45"]]},{"id":"90e0102a77037276","type":"ut-assert-failure","z":"562c518969666f24","name":"","x":838,"y":993,"wires":[]}]