562c518969666f24/flows.json
[{"id":"562c518969666f24","type":"tab","label":"[switch] empty operator","disabled":false,"info":"","env":[]},{"id":"fce6e4bfc254e526","type":"switch","z":"562c518969666f24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"true","repair":false,"outputs":1,"x":641,"y":293.142852783203,"wires":[["ac7194641c4da798"]]},{"id":"dd9d3d406f632d2d","type":"inject","z":"562c518969666f24","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"json","x":390.42860630580344,"y":293.142852783203,"wires":[["fce6e4bfc254e526"]]},{"id":"a1f6e5b67ab30bc5","type":"switch","z":"562c518969666f24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"true","repair":false,"outputs":1,"x":641,"y":369.85713704427076,"wires":[["eb88cb11b20f9c6c"]]},{"id":"f9ef5d60de9c5f1b","type":"inject","z":"562c518969666f24","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":390.42860630580344,"y":369.85713704427076,"wires":[["a1f6e5b67ab30bc5"]]},{"id":"ac7194641c4da798","type":"ut-assert-success","z":"562c518969666f24","name":"","x":842,"y":293.142852783203,"wires":[]},{"id":"eb88cb11b20f9c6c","type":"ut-assert-success","z":"562c518969666f24","name":"","x":842,"y":369.85713704427076,"wires":[]},{"id":"ae65a3cae61d42c8","type":"switch","z":"562c518969666f24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"true","repair":false,"outputs":1,"x":641,"y":446.5714213053385,"wires":[["73b56842df83a3e2"]]},{"id":"edd331254ee37a12","type":"inject","z":"562c518969666f24","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"\"","payloadType":"json","x":390.42860630580344,"y":446.5714213053385,"wires":[["ae65a3cae61d42c8"]]},{"id":"ea7f199f5a672cee","type":"switch","z":"562c518969666f24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"true","repair":false,"outputs":1,"x":641,"y":523.2857055664062,"wires":[["62f4eec670f66ce9"]]},{"id":"4c843992becead6d","type":"inject","z":"562c518969666f24","name":"empty string","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":410.42860630580344,"y":523.2857055664062,"wires":[["ea7f199f5a672cee"]]},{"id":"73b56842df83a3e2","type":"ut-assert-success","z":"562c518969666f24","name":"","x":842,"y":446.5714213053385,"wires":[]},{"id":"62f4eec670f66ce9","type":"ut-assert-success","z":"562c518969666f24","name":"","x":842,"y":523.2857055664062,"wires":[]},{"id":"84061c98d59edad5","type":"switch","z":"562c518969666f24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"true","repair":false,"outputs":1,"x":641,"y":599.999989827474,"wires":[["038904d4cb2288d6"]]},{"id":"1fa56b36794acc1e","type":"inject","z":"562c518969666f24","name":"undefined property","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":430.42860630580344,"y":599.999989827474,"wires":[["84061c98d59edad5"]]},{"id":"038904d4cb2288d6","type":"ut-assert-failure","z":"562c518969666f24","name":"","x":842,"y":599.999989827474,"wires":[]},{"id":"2bcedfdf1d3d45ef","type":"switch","z":"562c518969666f24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"true","repair":false,"outputs":1,"x":641,"y":676.7142740885416,"wires":[["1601fc1c7f7cb748"]]},{"id":"08f615d785983b07","type":"inject","z":"562c518969666f24","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":390.42860630580344,"y":676.7142740885416,"wires":[["2bcedfdf1d3d45ef"]]},{"id":"1601fc1c7f7cb748","type":"ut-assert-failure","z":"562c518969666f24","name":"","x":842,"y":676.7142740885416,"wires":[]},{"id":"c71bcdf4053a7b9a","type":"switch","z":"562c518969666f24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"true","repair":false,"outputs":1,"x":641,"y":753.4285583496093,"wires":[["3d51d208a34513de"]]},{"id":"6db92138957030a2","type":"inject","z":"562c518969666f24","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"empty","payloadType":"str","x":390.42860630580344,"y":753.4285583496093,"wires":[["c71bcdf4053a7b9a"]]},{"id":"3d51d208a34513de","type":"ut-assert-failure","z":"562c518969666f24","name":"","x":842,"y":753.4285583496093,"wires":[]}]