9942fa1aeb1b2428/flows.json
[{"id":"9942fa1aeb1b2428","type":"tab","label":"[switch] JSONata undefined value","disabled":false,"info":"## What happens with JSONata result is undefined?\n\nThe only value that matches is `is null` for an undefined value in JSONata.","env":[]},{"id":"2c867a9d03379f5a","type":"switch","z":"9942fa1aeb1b2428","name":"","property":"$match($$.payload, /([0-9]+)([a-z]+)([0-9]+)([a-z]+)/,0)","propertyType":"jsonata","rules":[{"t":"eq","v":"","vt":"str"},{"t":"true"},{"t":"false"},{"t":"null"},{"t":"empty"},{"t":"nempty"},{"t":"jsonata_exp","v":"$match($$.payload, /([0-9]+)([a-z]+)([0-9]+)([a-z]+)/,0)","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":7,"x":981,"y":674,"wires":[["f425ab69290c3f35"],["5548c0aea846610c"],["ebf2a754a54c2879"],["13e3ac4d41044a4f"],["8a46b76b4bdb907c"],["3fec0a85b5ebe591"],["15ca188eebbded5c"]]},{"id":"ecba7c047b16c199","type":"inject","z":"9942fa1aeb1b2428","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"111","payloadType":"str","x":682,"y":494,"wires":[["2c867a9d03379f5a"]]},{"id":"13e3ac4d41044a4f","type":"ut-assert-success","z":"9942fa1aeb1b2428","name":"","count":1,"x":1293,"y":672.0000000000001,"wires":[]},{"id":"f425ab69290c3f35","type":"ut-assert-failure","z":"9942fa1aeb1b2428","name":"","x":1293,"y":461,"wires":[]},{"id":"5548c0aea846610c","type":"ut-assert-failure","z":"9942fa1aeb1b2428","name":"","x":1293,"y":531.3333333333334,"wires":[]},{"id":"ebf2a754a54c2879","type":"ut-assert-failure","z":"9942fa1aeb1b2428","name":"","x":1293,"y":601.6666666666667,"wires":[]},{"id":"8a46b76b4bdb907c","type":"ut-assert-failure","z":"9942fa1aeb1b2428","name":"","x":1293,"y":742.3333333333335,"wires":[]},{"id":"3fec0a85b5ebe591","type":"ut-assert-failure","z":"9942fa1aeb1b2428","name":"","x":1293,"y":812.6666666666669,"wires":[]},{"id":"15ca188eebbded5c","type":"ut-assert-failure","z":"9942fa1aeb1b2428","name":"","x":1293,"y":883,"wires":[]}]