9942fa1aeb1b2428/flows.json
[{"id":"9942fa1aeb1b2428","type":"tab","label":"[switch] JSONata undefined value","disabled":false,"info":"## What happens with JSONata result is undefined?\n\nThe only value that matches is `is null` for an undefined value in JSONata.","env":[]},{"id":"2c867a9d03379f5a","type":"switch","z":"9942fa1aeb1b2428","name":"chcek all","property":"$match($$.payload, /([0-9]+)([a-z]+)([0-9]+)([a-z]+)/,0)","propertyType":"jsonata","rules":[{"t":"eq","v":"","vt":"str"},{"t":"true"},{"t":"false"},{"t":"null"},{"t":"empty"},{"t":"nempty"},{"t":"jsonata_exp","v":"$match($$.payload, /([0-9]+)([a-z]+)([0-9]+)([a-z]+)/,0)","vt":"jsonata"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":8,"x":482,"y":378,"wires":[["f425ab69290c3f35"],["5548c0aea846610c"],["ebf2a754a54c2879"],["13e3ac4d41044a4f"],["8a46b76b4bdb907c"],["3fec0a85b5ebe591"],["15ca188eebbded5c"],["bfeb35a2b25b13ec"]]},{"id":"ecba7c047b16c199","type":"inject","z":"9942fa1aeb1b2428","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"111","payloadType":"str","x":213,"y":165,"wires":[["2c867a9d03379f5a"]]},{"id":"13e3ac4d41044a4f","type":"ut-assert-success","z":"9942fa1aeb1b2428","name":"","count":1,"x":824,"y":372,"wires":[]},{"id":"f425ab69290c3f35","type":"ut-assert-failure","z":"9942fa1aeb1b2428","name":"","x":824,"y":165,"wires":[]},{"id":"5548c0aea846610c","type":"ut-assert-failure","z":"9942fa1aeb1b2428","name":"","x":824,"y":234,"wires":[]},{"id":"ebf2a754a54c2879","type":"ut-assert-failure","z":"9942fa1aeb1b2428","name":"","x":824,"y":303,"wires":[]},{"id":"8a46b76b4bdb907c","type":"ut-assert-failure","z":"9942fa1aeb1b2428","name":"","x":824,"y":441,"wires":[]},{"id":"3fec0a85b5ebe591","type":"ut-assert-failure","z":"9942fa1aeb1b2428","name":"","x":824,"y":510,"wires":[]},{"id":"15ca188eebbded5c","type":"ut-assert-failure","z":"9942fa1aeb1b2428","name":"","x":824,"y":579,"wires":[]},{"id":"d312c33b49855c32","type":"switch","z":"9942fa1aeb1b2428","name":"stop after first match","property":"$match($$.payload, /([0-9]+)([a-z]+)([0-9]+)([a-z]+)/,0)","propertyType":"jsonata","rules":[{"t":"eq","v":"","vt":"str"},{"t":"true"},{"t":"false"},{"t":"empty"},{"t":"nempty"},{"t":"jsonata_exp","v":"$match($$.payload, /([0-9]+)([a-z]+)([0-9]+)([a-z]+)/,0)","vt":"jsonata"},{"t":"nnull"},{"t":"null"}],"checkall":"false","repair":false,"outputs":8,"x":519,"y":1012,"wires":[["3b3eb3dd3938871a"],["06d8610bc474af1a"],["c36a634373dec16c"],["14a0e8512a9393e4"],["69ba2357e97a16e6"],["60881c68cf92f227"],["05fbce3f65e95def"],["a8c8c15a45430e5f"]]},{"id":"11d72e400487bab0","type":"inject","z":"9942fa1aeb1b2428","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"111","payloadType":"str","x":210,"y":814.9999593098958,"wires":[["d312c33b49855c32"]]},{"id":"a8c8c15a45430e5f","type":"ut-assert-success","z":"9942fa1aeb1b2428","name":"","count":1,"x":821,"y":1273.8571491241455,"wires":[]},{"id":"3b3eb3dd3938871a","type":"ut-assert-failure","z":"9942fa1aeb1b2428","name":"","x":821,"y":814.9999593098958,"wires":[]},{"id":"06d8610bc474af1a","type":"ut-assert-failure","z":"9942fa1aeb1b2428","name":"","x":821,"y":880.5509864262172,"wires":[]},{"id":"c36a634373dec16c","type":"ut-assert-failure","z":"9942fa1aeb1b2428","name":"","x":821,"y":946.1020135425385,"wires":[]},{"id":"14a0e8512a9393e4","type":"ut-assert-failure","z":"9942fa1aeb1b2428","name":"","x":821,"y":1011.6530406588599,"wires":[]},{"id":"69ba2357e97a16e6","type":"ut-assert-failure","z":"9942fa1aeb1b2428","name":"","x":821,"y":1077.2040677751813,"wires":[]},{"id":"60881c68cf92f227","type":"ut-assert-failure","z":"9942fa1aeb1b2428","name":"","x":821,"y":1142.7550948915027,"wires":[]},{"id":"bfeb35a2b25b13ec","type":"ut-assert-failure","z":"9942fa1aeb1b2428","name":"","x":824,"y":648,"wires":[]},{"id":"05fbce3f65e95def","type":"ut-assert-failure","z":"9942fa1aeb1b2428","name":"","x":821,"y":1208.3061220078241,"wires":[]}]