ac9f69e018b6cbfc/flows.json
[{"id":"ac9f69e018b6cbfc","type":"tab","label":"[.breadboard] Diameter Authorisation Statemachine","disabled":false,"info":"## Diameter Author/Authen Statemachine\n\nSimple implementation of state machine that represents the authorisation/authentication states for a Diameter session.\n\n## Details\n\nThe <a class=\"ahl-group-only\" data-ids=\"0cefce8ca6962a44\">state machine definition</a> group defines the following flow chart diagram using the flow2uml node package.\n\nThe same group then also defines the code for the <a class=\"ahl-node-only\" data-ids=\"54e349a080dc8137\">diameter_statem_authorisation_two</a> module that contains the workings the statemachine that is defined using this <a class=\"ahl-node-only\" data-ids=\"7adc197f63c113b1\">[diameter_statem_authorisation_two]\t➝</a> node.\n\n\n```mermaid\n%% Generated by the Flow2UML Node @ https://flowhub.org/flow2uml\n%% change direction to LR for Node-RED left-to-right UML\nflowchart TB\ne391be61858495a9@{ shape: \"circle\", label: \"Start\" } --> 55a2a011ee5c2445@{ shape: \"rounded\", label: \"Idle\" }\n55a2a011ee5c2445@{ shape: \"rounded\", label: \"Idle\" } -- \"AAR\" --> 7497b5cde23db3d6@{ shape: \"rounded\", label: \"Pending\" }\n7497b5cde23db3d6@{ shape: \"rounded\", label: \"Pending\" } -- \"AAA; AUTHORISATION_REJECTED\" --> 55a2a011ee5c2445@{ shape: \"rounded\", label: \"Idle\" }\n7497b5cde23db3d6@{ shape: \"rounded\", label: \"Pending\" } -- \"AAA; SUCCESS\" --> f85143342acaa6a2@{ shape: \"rounded\", label: \"Open\" }\nf85143342acaa6a2@{ shape: \"rounded\", label: \"Open\" } -- \"RAR\" --> f85143342acaa6a2@{ shape: \"rounded\", label: \"Open\" }\nf85143342acaa6a2@{ shape: \"rounded\", label: \"Open\" } -- \"AAA; MULTI_ROUND_AUTH\" --> f85143342acaa6a2@{ shape: \"rounded\", label: \"Open\" }\nf85143342acaa6a2@{ shape: \"rounded\", label: \"Open\" } -- \"AAA; SUCCESS\" --> f85143342acaa6a2@{ shape: \"rounded\", label: \"Open\" }\nf85143342acaa6a2@{ shape: \"rounded\", label: \"Open\" } -- \"ASR\" --> 4324a228efde6037@{ shape: \"rounded\", label: \"Disconnected\" }\nf85143342acaa6a2@{ shape: \"rounded\", label: \"Open\" } -- \"AAA; AUTHORISATION_REJECTED\" --> 55a2a011ee5c2445@{ shape: \"rounded\", label: \"Idle\" }\n4324a228efde6037@{ shape: \"rounded\", label: \"Disconnected\" } -- \"STA\" --> 81adf2e8a4251297@{ shape: \"dbl-circ\", label: \"Done\" }\n```\n\n## Refrences\n\n- [RFC7155](https://datatracker.ietf.org/doc/html/rfc7155) - Diameter Network Access Server Application \n- [Flow2Uml](https://flows.nodered.org/node/@gregoriusrippenstein/node-red-contrib-flow2uml) node package","env":[{"name":"ERED_ONLY","value":"true","type":"bool"}]},{"id":"0cefce8ca6962a44","type":"group","z":"ac9f69e018b6cbfc","name":"state machine definition","style":{"label":true},"nodes":["55a2a011ee5c2445","7497b5cde23db3d6","e391be61858495a9","f85143342acaa6a2","4324a228efde6037","81adf2e8a4251297"],"x":344,"y":49.5,"w":890,"h":793.5},{"id":"55a2a011ee5c2445","type":"mermaid-flowchart","z":"ac9f69e018b6cbfc","g":"0cefce8ca6962a44","name":"Idle","shape":"rounded","wirecfgs":[{"name":"AAR","id":"7497b5cde23db3d6","arrow":"-->"}],"x":792,"y":184.5,"wires":[["7497b5cde23db3d6"]]},{"id":"7497b5cde23db3d6","type":"mermaid-flowchart","z":"ac9f69e018b6cbfc","g":"0cefce8ca6962a44","name":"Pending","shape":"rounded","wirecfgs":[{"name":"AAA; SUCCESS","id":"f85143342acaa6a2","arrow":"-->"},{"name":"AAA; AUTHORISATION_REJECTED","id":"55a2a011ee5c2445","arrow":"-->"}],"x":794,"y":380.25,"wires":[["55a2a011ee5c2445","f85143342acaa6a2"]]},{"id":"e391be61858495a9","type":"mermaid-flowchart","z":"ac9f69e018b6cbfc","g":"0cefce8ca6962a44","name":"Start","shape":"circle","wirecfgs":[{"name":"","id":"55a2a011ee5c2445","arrow":"-->"}],"x":420,"y":90.5,"wires":[["55a2a011ee5c2445"]]},{"id":"f85143342acaa6a2","type":"mermaid-flowchart","z":"ac9f69e018b6cbfc","g":"0cefce8ca6962a44","name":"Open","shape":"rounded","wirecfgs":[{"name":"RAR","id":"f85143342acaa6a2","arrow":"-->"},{"name":"AAA; MULTI_ROUND_AUTH","id":"f85143342acaa6a2","arrow":"-->"},{"name":"AAA; SUCCESS","id":"f85143342acaa6a2","arrow":"-->"},{"name":"AAA; AUTHORISATION_REJECTED","id":"55a2a011ee5c2445","arrow":"-->"},{"name":"ASR","id":"4324a228efde6037","arrow":"-->"}],"x":494,"y":478.5,"wires":[["4324a228efde6037","55a2a011ee5c2445"]]},{"id":"4324a228efde6037","type":"mermaid-flowchart","z":"ac9f69e018b6cbfc","g":"0cefce8ca6962a44","name":"Disconnected","shape":"rounded","wirecfgs":[{"name":"STA","id":"81adf2e8a4251297","arrow":"-->"}],"x":803,"y":670.25,"wires":[["81adf2e8a4251297"]]},{"id":"81adf2e8a4251297","type":"mermaid-flowchart","z":"ac9f69e018b6cbfc","g":"0cefce8ca6962a44","name":"Done","shape":"dbl-circ","wirecfgs":[],"x":1158,"y":802,"wires":[[]]},{"id":"7adc197f63c113b1","type":"erlstatemachine","z":"ac9f69e018b6cbfc","name":"","scope":["54e349a080dc8137"],"emit_on_state_change":false,"x":969.0000534057617,"y":1295.3637943267822,"wires":[["9544f843f014aff7"]]},{"id":"44e4962e34c1c1f1","type":"inject","z":"ac9f69e018b6cbfc","name":"AAR - Authent. Author. Reqest","props":[{"p":"action","v":"AAR","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":341.06063079833984,"y":1132.424165725708,"wires":[["7adc197f63c113b1"]]},{"id":"9544f843f014aff7","type":"debug","z":"ac9f69e018b6cbfc","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1319.6364402770996,"y":1295.9093017578125,"wires":[]},{"id":"c09ba1df962b43b0","type":"inject","z":"ac9f69e018b6cbfc","name":"AAA - Authorisation Refjected","props":[{"p":"action","v":"AAA","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"AUTHORISATION_REJECTED","payloadType":"str","x":403.0000686645508,"y":1262.0000743865967,"wires":[["7adc197f63c113b1"]]},{"id":"c2b7c24925744d11","type":"inject","z":"ac9f69e018b6cbfc","name":"AAA - Mutli Round trip authorisation","props":[{"p":"action","v":"AAA","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"MULTI_ROUND_AUTH","payloadType":"str","x":398.0000686645508,"y":1328.0000743865967,"wires":[["7adc197f63c113b1"]]},{"id":"54e349a080dc8137","type":"erlmodule","z":"ac9f69e018b6cbfc","name":"","module_name":"diameter_statem_authorisation_two","code":"-module(diameter_statem_authorisation_two).\n\n%%\n%%  APIs: https://www.erlang.org/doc/apps/stdlib/gen_statem.html\n%%\n\n-behaviour(gen_statem).\n\n-export([\n    start/0,\n    init/1,\n    callback_mode/0,\n    handle_event/4,\n    code_change/4,\n    terminate/3,\n    stop/0\n]).\n\n%% WARNING: state_functions are not supported by statemachine node.\n%% callback_mode() -> state_functions.\ncallback_mode() -> handle_event_function.\n\n-define(KEEP_STATE(ReplyWith),\n    {keep_state, Data, [{reply, From, ReplyWith}]}\n).\n\nstart() ->\n    gen_statem:start({local, ?MODULE}, ?MODULE, [], []).\n\nstop() ->\n    gen_statem:stop(?MODULE).\nterminate(_Reason, _State, _Data) ->\n    void.\ncode_change(_Vsn, State, Data, _Extra) ->\n    {ok, State, Data}.\n\n%% Initial state and data\ninit([]) ->\n    State = idle, \n    Data = 0,\n    {ok,State,Data}.\n\n%%% handle event function\n\n\n%%\n%% Definition from 'start' - #e391be61858495a9\n%%\n\n\n%\n% Ignoring un-named link to 'idle' - #55a2a011ee5c2445\n%\n\n\n%%\n%% Definition from 'Idle' - #55a2a011ee5c2445\n%%\n\nhandle_event(\n    {call, From},\n    <<\"AAR\">>,\n    idle,\n    Data\n) ->\n    {next_state, pending, Data, [{ reply, From, ok }]};\n\n%%\n%% Definition from 'pending' - #7497b5cde23db3d6\n%%\n\nhandle_event(\n    {call, From},\n    {<<\"AAA\">>, <<\"SUCCESS\">>},\n    pending,\n    Data\n) ->\n    {next_state, open, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    {<<\"AAA\">>, <<\"AUTHORISATION_REJECTED\">>},\n    pending,\n    Data\n) ->\n    {next_state, idle, Data, [{ reply, From, ok }]};\n\n%%\n%% Definition from 'open' - #f85143342acaa6a2\n%%\n\nhandle_event(\n    {call, From},\n    <<\"RAR\">>,\n    open,\n    Data\n) ->\n    {keep_state, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    {<<\"AAA\">>, <<\"MULTI_ROUND_AUTH\">>},\n    open,\n    Data\n) ->\n    {keep_state, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    {<<\"AAA\">>, <<\"SUCCESS\">>},\n    open,\n    Data\n) ->\n    {keep_state, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    {<<\"AAA\">>, <<\"AUTHORISATION_REJECTED\">>},\n    open,\n    Data\n) ->\n    {next_state, idle, Data, [{ reply, From, ok }]};\nhandle_event(\n    {call, From},\n    <<\"ASR\">>,\n    open,\n    Data\n) ->\n    {next_state, disconnected, Data, [{ reply, From, ok }]};\n\n%%\n%% Definition from 'disconnected' - #4324a228efde6037\n%%\n\nhandle_event(\n    {call, From},\n    <<\"STA\">>,\n    disconnected,\n    Data\n) ->\n    {next_state, done, Data, [{ reply, From, ok }]};\n\n%%\n%% Definition from 'done' - #81adf2e8a4251297\n%%\n                        \n                        \n%% Fall through\nhandle_event(\n  {call, From},\n  _Action,\n  _CurrState,\n  Data\n) ->\n    ?KEEP_STATE(ignored);\n\n\n%%% Absolute fall through\nhandle_event(EventType, Stiff, State, Data) ->\n    io:format(\"TEST : ~p ~p ~p ~p~n\",[EventType, Stiff, State, Data]),\n    {keep_state, Data}.\n","x":1003.2727966308594,"y":1158.909192085266,"wires":[]},{"id":"68c01611c2727a46","type":"inject","z":"ac9f69e018b6cbfc","name":"AAA - Authorisation Successful","props":[{"p":"action","v":"AAA","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"SUCCESS","payloadType":"str","x":405.5000686645508,"y":1390.0000743865967,"wires":[["7adc197f63c113b1"]]},{"id":"add307aa0e221a7b","type":"inject","z":"ac9f69e018b6cbfc","name":"RAR - Re-Auth-Request","props":[{"p":"action","v":"RAR","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":493.81824493408203,"y":1513.727463722229,"wires":[["7adc197f63c113b1"]]},{"id":"6fead7ccc9a9c764","type":"inject","z":"ac9f69e018b6cbfc","name":"ASR - Abort-Session-Request","props":[{"p":"action","v":"ASR","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":576.272819519043,"y":1566.8182468414307,"wires":[["7adc197f63c113b1"]]},{"id":"9263a9acc63064f0","type":"inject","z":"ac9f69e018b6cbfc","name":"STA - Session Termination Answer","props":[{"p":"action","v":"STA","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":656.7273635864258,"y":1621.6366291046143,"wires":[["7adc197f63c113b1"]]}]