5f6929bb3374b782/flows.json
[{"id":"5f6929bb3374b782","type":"tab","label":"[sort] sort by parts.index","disabled":false,"info":"## Sort node can sort by parts.index\n\nBut that does strange things and works in a weired way. See [forum](https://discourse.nodered.org/t/sort-node-broken/98592).\n","env":[]},{"id":"68dcdddf9a7ee3cd","type":"inject","z":"5f6929bb3374b782","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[2,3,1,5]","payloadType":"json","x":252.5,"y":841.5,"wires":[["aa81c2f54b39c43a"]]},{"id":"aa81c2f54b39c43a","type":"split","z":"5f6929bb3374b782","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":392,"y":923,"wires":[["5948a955bd6357a0"]]},{"id":"0d9827ef535d0dd3","type":"delay","z":"5f6929bb3374b782","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"100","randomLast":"500","randomUnits":"milliseconds","drop":false,"allowrate":false,"outputs":1,"x":741,"y":1086,"wires":[["3c70b3f97b8d63a0"]]},{"id":"3c70b3f97b8d63a0","type":"sort","z":"5f6929bb3374b782","name":"","order":"ascending","as_num":true,"target":"","targetType":"seq","msgKey":"payload","msgKeyType":"elem","seqKey":"$$.parts.index","seqKeyType":"jsonata","x":936,"y":627,"wires":[["121ca5dc5bd3ccbc"]]},{"id":"5948a955bd6357a0","type":"change","z":"5f6929bb3374b782","name":"","rules":[{"t":"set","p":"delay","pt":"msg","to":"(10 - $$.payload) * 100","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":561.5,"y":1004.5,"wires":[["0d9827ef535d0dd3"]]},{"id":"de545bc4dfa726ba","type":"ut-assert-values","z":"5f6929bb3374b782","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[2,3,1,5]","tot":"json"}],"x":1589,"y":1202,"wires":[[]]},{"id":"121ca5dc5bd3ccbc","type":"join","z":"5f6929bb3374b782","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1152,"y":1202,"wires":[["de545bc4dfa726ba"]]}]