a6dc7002d0a8640e/flows.json
[{"id":"a6dc7002d0a8640e","type":"tab","label":"[debug] if not active, no debug message in panel","disabled":false,"info":"","env":[]},{"id":"7cb939a530ae6a05","type":"group","z":"a6dc7002d0a8640e","name":"status check on debug node.","style":{"label":true},"nodes":["2ae253cd0e91a29d","7115e98ffca61b4c","be518b6aeea4bde7","62a64c54edf6c161"],"x":486,"y":695,"w":463,"h":192.5},{"id":"421d2a14caa59804","type":"inject","z":"a6dc7002d0a8640e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":234,"y":401,"wires":[["9d246621021e23a4"]]},{"id":"9d246621021e23a4","type":"debug","z":"a6dc7002d0a8640e","name":"inactive debug node","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"","statusType":"counter","x":514,"y":517,"wires":[]},{"id":"2ae253cd0e91a29d","type":"ut-assert-status","z":"a6dc7002d0a8640e","g":"7cb939a530ae6a05","name":"","nodeid":"9d246621021e23a4","content":"","colour":"blue","shape":"ring","inverse":false,"x":692,"y":736,"wires":[]},{"id":"cbcd79500f4e3c4a","type":"ut-assert-debug","z":"a6dc7002d0a8640e","name":"","nodeid":"9d246621021e23a4","msgtype":"normal","inverse":true,"x":673,"y":641,"wires":[]},{"id":"7115e98ffca61b4c","type":"status","z":"a6dc7002d0a8640e","g":"7cb939a530ae6a05","name":"","scope":["9d246621021e23a4"],"x":585,"y":817,"wires":[["be518b6aeea4bde7","62a64c54edf6c161"]]},{"id":"be518b6aeea4bde7","type":"ut-assert-values","z":"a6dc7002d0a8640e","g":"7cb939a530ae6a05","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"status.text","pt":"msg","to":"0","tot":"str"}],"x":823,"y":786.5,"wires":[[]]},{"id":"62a64c54edf6c161","type":"ut-assert-values","z":"a6dc7002d0a8640e","g":"7cb939a530ae6a05","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"status.text","pt":"msg","to":"1","tot":"str"}],"x":819,"y":846.5,"wires":[[]]}]