fb50bac16667fc54/flows.json
[{"id":"fb50bac16667fc54","type":"tab","label":"[change] support num types","disabled":false,"info":"## Change node and num type\n\nQuick test to ensure that a change node can convert strings to nums.\n\nAlso a num type supports '0xabcd' for hex values and '0b10101' for binary values.\n\n## Failure\n\nThis test failures because Node-RED does not support negative binary and hexadecimal values - it does in the edit panel but then parses them incorrectly to produce 'NaN' values in the debug log.","env":[]},{"id":"770c40da4f4950b5","type":"inject","z":"fb50bac16667fc54","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":565,"y":508,"wires":[["77d5e89fc8b48521"]]},{"id":"f9f1ac582bad9015","type":"ut-assert-values","z":"fb50bac16667fc54","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"1.23","tot":"num"},{"t":"eql","p":"intval","pt":"msg","to":"12345","tot":"num"},{"t":"eql","p":"floatval","pt":"msg","to":"12.345","tot":"num"},{"t":"eql","p":"binary","pt":"msg","to":"16843025","tot":"num"},{"t":"eql","p":"hexa","pt":"msg","to":"267310605","tot":"num"},{"t":"eql","p":"neghex","pt":"msg","to":"0","tot":"num"},{"t":"eql","p":"negbin","pt":"msg","to":"0","tot":"num"},{"t":"eql","p":"exp","pt":"msg","to":"1e124","tot":"num"},{"t":"eql","p":"negexp","pt":"msg","to":"-1e-122","tot":"num"},{"t":"eql","p":"dotexp","pt":"msg","to":"1000","tot":"num"},{"t":"eql","p":"dotexpneg","pt":"msg","to":"-1000","tot":"num"}],"x":1282,"y":648.5,"wires":[[]]},{"id":"77d5e89fc8b48521","type":"change","z":"fb50bac16667fc54","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1.23","tot":"num"},{"t":"set","p":"intval","pt":"msg","to":"12345","tot":"num"},{"t":"set","p":"floatval","pt":"msg","to":"12.345","tot":"num"},{"t":"set","p":"binary","pt":"msg","to":"0x1010111","tot":"num"},{"t":"set","p":"hexa","pt":"msg","to":"0xfeed60d","tot":"num"},{"t":"set","p":"neghex","pt":"msg","to":"-0xd06deef","tot":"num"},{"t":"set","p":"negbin","pt":"msg","to":"-0b1110101","tot":"num"},{"t":"set","p":"exp","pt":"msg","to":"10e123","tot":"num"},{"t":"set","p":"negexp","pt":"msg","to":"-10e-123","tot":"num"},{"t":"set","p":"dotexp","pt":"msg","to":"1.e003","tot":"num"},{"t":"set","p":"dotexpneg","pt":"msg","to":"-1.e003","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":772,"y":648.5,"wires":[["f9f1ac582bad9015"]]}]