d5424657b497d5af/flows.json
[{"id":"d5424657b497d5af","type":"tab","label":"[join] useparts with count value","disabled":false,"info":"## Join use parts and have a count value\n\n","env":[{"name":"ERED_NOT_EUNIT","value":"true","type":"bool"}]},{"id":"11307cf4a9b10fe6","type":"junction","z":"d5424657b497d5af","x":64.88016104698181,"y":510.6828227043152,"wires":[["cfafe04483181051"]]},{"id":"9acd1f3ce1cf37d6","type":"junction","z":"d5424657b497d5af","x":1100.1112245321274,"y":507,"wires":[["06cb216ab4753e25","6bcfdc6d5a779021","3f708016d36cbb30","ac1d05fad19b8960"]]},{"id":"240944b37a31b134","type":"junction","z":"d5424657b497d5af","x":1030.9048258066177,"y":703.5,"wires":[["9acd1f3ce1cf37d6"]]},{"id":"802871299e0fcc7a","type":"junction","z":"d5424657b497d5af","x":996.3016264438629,"y":805.25,"wires":[["9acd1f3ce1cf37d6"]]},{"id":"f95627935185645a","type":"junction","z":"d5424657b497d5af","x":1065.5080251693726,"y":612,"wires":[["9acd1f3ce1cf37d6"]]},{"id":"06cb216ab4753e25","type":"join","z":"d5424657b497d5af","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"8","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1303,"y":907,"wires":[["312444f3e25c9660","581653fae9c642f9"]]},{"id":"5c472564980558aa","type":"inject","z":"d5424657b497d5af","name":"start here","props":[{"p":"payload"},{"p":"total","v":"10","vt":"num"},{"p":"count","v":"0","vt":"num"},{"p":"partsid","v":"$string($substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4))","vt":"jsonata"},{"p":"partsid2","v":"$string($substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4))","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":111,"y":213,"wires":[["1ffc663255c4ddb5","677408e413fb4435"]]},{"id":"1ffc663255c4ddb5","type":"change","z":"d5424657b497d5af","name":"set parts with common parts id","rules":[{"t":"set","p":"parts","pt":"msg","to":"{ \"index\": $$.count, \"id\": $$.partsid }","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"20 + $$.count","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":507,"wires":[["11307cf4a9b10fe6","9acd1f3ce1cf37d6"]]},{"id":"cfafe04483181051","type":"switch","z":"d5424657b497d5af","name":"","property":"count","propertyType":"msg","rules":[{"t":"lt","v":"$$.total","vt":"jsonata"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":148,"y":900,"wires":[["f40923eadbd66bfc"],["199df31856a0f4e9","5a689fe9bb58cd03","7ccb76c196f2f254","f1090c5f75b25a3d","0aa1822a75b6f217"]]},{"id":"f40923eadbd66bfc","type":"change","z":"d5424657b497d5af","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$random()","tot":"jsonata"},{"t":"set","p":"count","pt":"msg","to":"$$.count + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":301.2221984863281,"y":703.5,"wires":[["1ffc663255c4ddb5","673f5f0ae8c80e1a","829828559518dc09","9830074fea15d96a"]]},{"id":"199df31856a0f4e9","type":"change","z":"d5424657b497d5af","name":"complete with no parts attribute","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"},{"t":"delete","p":"parts","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":907,"wires":[["06cb216ab4753e25"]]},{"id":"6bcfdc6d5a779021","type":"join","z":"d5424657b497d5af","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"8","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1303,"y":975.6166585286459,"wires":[["9b49d338c78a9c38","f356972cb88306dc"]]},{"id":"5a689fe9bb58cd03","type":"change","z":"d5424657b497d5af","name":"complete with parts containing the same parts id ","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"parts.id","pt":"msg","to":"partsid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":975.6166585286459,"wires":[["6bcfdc6d5a779021"]]},{"id":"3f708016d36cbb30","type":"join","z":"d5424657b497d5af","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"8","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1303,"y":1044.2333170572917,"wires":[["eb019652bc20bca5","766f6d60f2e0347a"]]},{"id":"7ccb76c196f2f254","type":"change","z":"d5424657b497d5af","name":"complete with parts id that is different to the parts id used for messages","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"partsid","pt":"msg","to":"$string($substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4))","tot":"jsonata"},{"t":"set","p":"parts.id","pt":"msg","to":"partsid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1044.2333170572917,"wires":[["3f708016d36cbb30"]]},{"id":"673f5f0ae8c80e1a","type":"change","z":"d5424657b497d5af","name":"set parts without id","rules":[{"t":"set","p":"parts","pt":"msg","to":"{ \"index\": $$.count }","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"60 + $$.count","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":805.25,"wires":[["802871299e0fcc7a"]]},{"id":"ac1d05fad19b8960","type":"join","z":"d5424657b497d5af","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"8","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1303,"y":1112.8499755859375,"wires":[["bfdfa3426b7a6bf2","5ba7a1100ab5b1f9"]]},{"id":"f1090c5f75b25a3d","type":"change","z":"d5424657b497d5af","name":"complete with a parts attribute that contains no id","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"},{"t":"delete","p":"parts.id","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":1112.8499755859375,"wires":[["ac1d05fad19b8960"]]},{"id":"829828559518dc09","type":"change","z":"d5424657b497d5af","name":"remove parts attribute on message","rules":[{"t":"delete","p":"parts","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"40 + $$.count","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":703.5,"wires":[["240944b37a31b134"]]},{"id":"0aa1822a75b6f217","type":"ut-assert-values","z":"d5424657b497d5af","name":"payload is 30","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"30","tot":"num"}],"x":560,"y":1222.222255706787,"wires":[[]]},{"id":"9830074fea15d96a","type":"change","z":"d5424657b497d5af","name":"set parts with common parts id - 2","rules":[{"t":"set","p":"parts","pt":"msg","to":"{ \"index\": $$.count, \"id\": $$.partsid2 }","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"80 + $$.count","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":627,"y":612,"wires":[["f95627935185645a"]]},{"id":"677408e413fb4435","type":"ut-assert-values","z":"d5424657b497d5af","name":"partids do not equal","ignore_failure_if_succeed":false,"rules":[{"t":"noteql","p":"partsid","pt":"msg","to":"partsid2","tot":"msg"}],"x":588,"y":426,"wires":[[]]},{"id":"312444f3e25c9660","type":"ut-assert-success","z":"d5424657b497d5af","name":"","count":"6","x":1500.3333206176758,"y":812.0000047683716,"wires":[]},{"id":"581653fae9c642f9","type":"change","z":"d5424657b497d5af","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$map( $$.payload, function($v) { $v.payload })","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500.3333206176758,"y":866.0000047683716,"wires":[["4d817f4990d99940","ad4a8ce104d6d97f","0f2e554219bac9ae","d86d8792bedbcf0e","4ba76640a04e6783","82a1a65de4b708f8"]]},{"id":"4d817f4990d99940","type":"ut-assert-values","z":"d5424657b497d5af","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[20,21,61,41,81,22,62,42]","tot":"json"}],"x":1827.6667503688632,"y":160.6665856319928,"wires":[[]]},{"id":"ad4a8ce104d6d97f","type":"ut-assert-values","z":"d5424657b497d5af","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[82,23,63,43,83,24,64,44]","tot":"json"}],"x":1870.492837325385,"y":215.18832476242756,"wires":[[]]},{"id":"0f2e554219bac9ae","type":"ut-assert-values","z":"d5424657b497d5af","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[84,25,65,45,85,26,66,46]","tot":"json"}],"x":1913.3189242819067,"y":269.7100638928623,"wires":[[]]},{"id":"d86d8792bedbcf0e","type":"ut-assert-values","z":"d5424657b497d5af","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[86,27,67,47,87,28,68,48]","tot":"json"}],"x":1956.1450112384284,"y":324.23180302329706,"wires":[[]]},{"id":"4ba76640a04e6783","type":"ut-assert-values","z":"d5424657b497d5af","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[88,29,69,49,89,30,70,50]","tot":"json"}],"x":1998.97109819495,"y":378.7535421537318,"wires":[[]]},{"id":"82a1a65de4b708f8","type":"ut-assert-values","z":"d5424657b497d5af","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[90,30]","tot":"json"}],"x":2041.797185151472,"y":433.27528128416657,"wires":[[]]},{"id":"05f529c9681a2746","type":"ut-assert-values","z":"d5424657b497d5af","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[20,21,61,41,81,22,62,42]","tot":"json"}],"x":2084.623272107994,"y":487.7970204146013,"wires":[[]]},{"id":"bfdfa3426b7a6bf2","type":"ut-assert-success","z":"d5424657b497d5af","name":"","count":"6","x":1500.3333206176758,"y":1190.0000047683716,"wires":[]},{"id":"eb019652bc20bca5","type":"ut-assert-success","z":"d5424657b497d5af","name":"","count":"6","x":1500.3333206176758,"y":1028.0000047683716,"wires":[]},{"id":"9b49d338c78a9c38","type":"ut-assert-success","z":"d5424657b497d5af","name":"","count":"6","x":1500.3333206176758,"y":920.0000047683716,"wires":[]},{"id":"f356972cb88306dc","type":"change","z":"d5424657b497d5af","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$map( $$.payload, function($v) { $v.payload })","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500.3333206176758,"y":974.0000047683716,"wires":[["05f529c9681a2746","297a89c18e24bfc2","132778c9d83d9670","b85f4e232c40a7fc","3a07fb16b5cf1b3d","f7430f20110bc79a"]]},{"id":"297a89c18e24bfc2","type":"ut-assert-values","z":"d5424657b497d5af","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[82,23,63,43,83,24,64,44]","tot":"json"}],"x":2127.449359064516,"y":542.3187595450361,"wires":[[]]},{"id":"132778c9d83d9670","type":"ut-assert-values","z":"d5424657b497d5af","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[84,25,65,45,85,26,66,46]","tot":"json"}],"x":2170.275446021038,"y":596.8404986754708,"wires":[[]]},{"id":"b85f4e232c40a7fc","type":"ut-assert-values","z":"d5424657b497d5af","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[86,27,67,47,87,28,68,48]","tot":"json"}],"x":2213.10153297756,"y":651.3622378059056,"wires":[[]]},{"id":"3a07fb16b5cf1b3d","type":"ut-assert-values","z":"d5424657b497d5af","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[88,29,69,49,89,30,70,50]","tot":"json"}],"x":2255.927619934082,"y":705.8839769363403,"wires":[[]]},{"id":"f7430f20110bc79a","type":"ut-assert-values","z":"d5424657b497d5af","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[90,30]","tot":"json"}],"x":2298.753706890604,"y":760.4057160667751,"wires":[[]]},{"id":"766f6d60f2e0347a","type":"change","z":"d5424657b497d5af","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$map( $$.payload, function($v) { $v.payload })","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500.3333206176758,"y":1082.0000047683716,"wires":[["9a1869dbb5c62e67","9b787d576591ab16","bc37d73fffc9f177","58530a8e7399bba6","c4d5f5891aea802e","7d7f505e601cc299"]]},{"id":"9a1869dbb5c62e67","type":"ut-assert-values","z":"d5424657b497d5af","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[20,21,61,41,81,22,62,42]","tot":"json"}],"x":2341.579793847126,"y":814.9274551972098,"wires":[[]]},{"id":"9b787d576591ab16","type":"ut-assert-values","z":"d5424657b497d5af","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[82,23,63,43,83,24,64,44]","tot":"json"}],"x":2384.405880803648,"y":869.4491943276446,"wires":[[]]},{"id":"bc37d73fffc9f177","type":"ut-assert-values","z":"d5424657b497d5af","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[84,25,65,45,85,26,66,46]","tot":"json"}],"x":2427.23196776017,"y":923.9709334580793,"wires":[[]]},{"id":"58530a8e7399bba6","type":"ut-assert-values","z":"d5424657b497d5af","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[86,27,67,47,87,28,68,48]","tot":"json"}],"x":2470.058054716692,"y":978.4926725885141,"wires":[[]]},{"id":"c4d5f5891aea802e","type":"ut-assert-values","z":"d5424657b497d5af","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[88,29,69,49,89,30,70,50]","tot":"json"}],"x":2512.884141673214,"y":1033.0144117189488,"wires":[[]]},{"id":"7d7f505e601cc299","type":"ut-assert-values","z":"d5424657b497d5af","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[90,30]","tot":"json"}],"x":2555.710228629736,"y":1087.5361508493836,"wires":[[]]},{"id":"5ba7a1100ab5b1f9","type":"change","z":"d5424657b497d5af","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$map( $$.payload, function($v) { $v.payload })","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500.3333206176758,"y":1136.0000047683716,"wires":[["ac9a0ec17da417f6","40a95530b81df57a","c786fb031ea10292","cfc9d17b82750af6","bffa78057e375307","40f24629c722d087"]]},{"id":"ac9a0ec17da417f6","type":"ut-assert-values","z":"d5424657b497d5af","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[20,21,61,41,81,22,62,42]","tot":"json"}],"x":2598.536315586258,"y":1142.0578899798184,"wires":[[]]},{"id":"40a95530b81df57a","type":"ut-assert-values","z":"d5424657b497d5af","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[82,23,63,43,83,24,64,44]","tot":"json"}],"x":2641.36240254278,"y":1196.579629110253,"wires":[[]]},{"id":"c786fb031ea10292","type":"ut-assert-values","z":"d5424657b497d5af","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[84,25,65,45,85,26,66,46]","tot":"json"}],"x":2684.188489499302,"y":1251.1013682406879,"wires":[[]]},{"id":"cfc9d17b82750af6","type":"ut-assert-values","z":"d5424657b497d5af","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[86,27,67,47,87,28,68,48]","tot":"json"}],"x":2727.0145764558238,"y":1305.6231073711226,"wires":[[]]},{"id":"bffa78057e375307","type":"ut-assert-values","z":"d5424657b497d5af","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[88,29,69,49,89,30,70,50]","tot":"json"}],"x":2769.8406634123457,"y":1360.1448465015574,"wires":[[]]},{"id":"40f24629c722d087","type":"ut-assert-values","z":"d5424657b497d5af","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"[90,30]","tot":"json"}],"x":2812.666750368863,"y":1414.6665856319928,"wires":[[]]}]