d5424657b497d5af/flows.json
[{"id":"d5424657b497d5af","type":"tab","label":"[join] useparts with count value","disabled":false,"info":"## Join use parts but has no count value\n\nJoin node has very nuanced behaviour depended on the combination of its configuration.\n\nHere we are testing the `useparts` option which is set but there is no count set. This means that messages are only sent if a message with `complete = true` is sent to the join node.\n\nBut this complete message can have:\n\n- no `parts` attribute\n- a `parts` attribute that has the same parts id\n- a `parts` attribute that has a different parts id than those messages already collected\n- a parts attribute with no `parts.id` value.\n\nThese are the four cases tested here.\n\n## Setup\n\nThe message loop sends ten message with a `parts.id` set, ten messages with parts attribute set but containing no id value and finally ten messages without a parts attribute set.\n","env":[{"name":"ERED_NOT_EUNIT","value":"true","type":"bool"}]},{"id":"11307cf4a9b10fe6","type":"junction","z":"d5424657b497d5af","x":64.88016104698181,"y":510.6828227043152,"wires":[["cfafe04483181051"]]},{"id":"9acd1f3ce1cf37d6","type":"junction","z":"d5424657b497d5af","x":1100.1112245321274,"y":507,"wires":[["06cb216ab4753e25","6bcfdc6d5a779021","3f708016d36cbb30","ac1d05fad19b8960"]]},{"id":"240944b37a31b134","type":"junction","z":"d5424657b497d5af","x":1030.9048258066177,"y":703.5,"wires":[["06cb216ab4753e25","6bcfdc6d5a779021","3f708016d36cbb30","ac1d05fad19b8960"]]},{"id":"802871299e0fcc7a","type":"junction","z":"d5424657b497d5af","x":996.3016264438629,"y":805.25,"wires":[["06cb216ab4753e25","6bcfdc6d5a779021","3f708016d36cbb30","ac1d05fad19b8960"]]},{"id":"f95627935185645a","type":"junction","z":"d5424657b497d5af","x":1065.5080251693726,"y":612,"wires":[["06cb216ab4753e25","6bcfdc6d5a779021","3f708016d36cbb30","ac1d05fad19b8960"]]},{"id":"06cb216ab4753e25","type":"join","z":"d5424657b497d5af","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1303,"y":907,"wires":[["6d3af4209a88be0a"]]},{"id":"5c472564980558aa","type":"inject","z":"d5424657b497d5af","name":"start here","props":[{"p":"payload"},{"p":"total","v":"10","vt":"num"},{"p":"count","v":"0","vt":"num"},{"p":"partsid","v":"$string($substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4))","vt":"jsonata"},{"p":"partsid2","v":"$string($substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4))","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":111,"y":213,"wires":[["1ffc663255c4ddb5","677408e413fb4435"]]},{"id":"1ffc663255c4ddb5","type":"change","z":"d5424657b497d5af","name":"set parts with common parts id","rules":[{"t":"set","p":"parts","pt":"msg","to":"{ \"index\": $$.count, \"id\": $$.partsid }","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"20 + $$.count","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":507,"wires":[["11307cf4a9b10fe6","9acd1f3ce1cf37d6"]]},{"id":"cfafe04483181051","type":"switch","z":"d5424657b497d5af","name":"","property":"count","propertyType":"msg","rules":[{"t":"lt","v":"$$.total","vt":"jsonata"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":148,"y":900,"wires":[["f40923eadbd66bfc"],["199df31856a0f4e9","5a689fe9bb58cd03","7ccb76c196f2f254","f1090c5f75b25a3d","0aa1822a75b6f217"]]},{"id":"f40923eadbd66bfc","type":"change","z":"d5424657b497d5af","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$random()","tot":"jsonata"},{"t":"set","p":"count","pt":"msg","to":"$$.count + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":301.2221984863281,"y":703.5,"wires":[["1ffc663255c4ddb5","673f5f0ae8c80e1a","829828559518dc09","9830074fea15d96a"]]},{"id":"199df31856a0f4e9","type":"change","z":"d5424657b497d5af","name":"complete with no parts attribute","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"},{"t":"delete","p":"parts","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":907,"wires":[["06cb216ab4753e25"]]},{"id":"6bcfdc6d5a779021","type":"join","z":"d5424657b497d5af","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1303,"y":975.6166585286459,"wires":[["e17871ce5e3c7c1c"]]},{"id":"5a689fe9bb58cd03","type":"change","z":"d5424657b497d5af","name":"complete with parts containing the same parts id ","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"parts.id","pt":"msg","to":"partsid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":975.6166585286459,"wires":[["6bcfdc6d5a779021"]]},{"id":"3f708016d36cbb30","type":"join","z":"d5424657b497d5af","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1303,"y":1044.2333170572917,"wires":[["a9ef58a6b2e5ef2f"]]},{"id":"7ccb76c196f2f254","type":"change","z":"d5424657b497d5af","name":"complete with parts id that is different to the parts id used for messages","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"partsid","pt":"msg","to":"$string($substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4))","tot":"jsonata"},{"t":"set","p":"parts.id","pt":"msg","to":"partsid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1044.2333170572917,"wires":[["3f708016d36cbb30"]]},{"id":"673f5f0ae8c80e1a","type":"change","z":"d5424657b497d5af","name":"set parts without id","rules":[{"t":"set","p":"parts","pt":"msg","to":"{ \"index\": $$.count }","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"60 + $$.count","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":805.25,"wires":[["802871299e0fcc7a"]]},{"id":"ac1d05fad19b8960","type":"join","z":"d5424657b497d5af","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1303,"y":1112.8499755859375,"wires":[["11cb090310ca9e4b"]]},{"id":"f1090c5f75b25a3d","type":"change","z":"d5424657b497d5af","name":"complete with a parts attribute that contains no id","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"},{"t":"delete","p":"parts.id","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":1112.8499755859375,"wires":[["ac1d05fad19b8960"]]},{"id":"829828559518dc09","type":"change","z":"d5424657b497d5af","name":"remove parts attribute on message","rules":[{"t":"delete","p":"parts","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"40 + $$.count","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":703.5,"wires":[["240944b37a31b134"]]},{"id":"0aa1822a75b6f217","type":"ut-assert-values","z":"d5424657b497d5af","name":"payload is 30","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"30","tot":"num"}],"x":560,"y":1222.222255706787,"wires":[[]]},{"id":"6d3af4209a88be0a","type":"debug","z":"d5424657b497d5af","name":"debug 459","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":true,"statusVal":"","statusType":"auto","x":1585,"y":813,"wires":[]},{"id":"e17871ce5e3c7c1c","type":"debug","z":"d5424657b497d5af","name":"debug 461","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":true,"statusVal":"","statusType":"auto","x":1694,"y":986,"wires":[]},{"id":"a9ef58a6b2e5ef2f","type":"debug","z":"d5424657b497d5af","name":"debug 462","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":true,"statusVal":"","statusType":"auto","x":1801,"y":1131,"wires":[]},{"id":"11cb090310ca9e4b","type":"debug","z":"d5424657b497d5af","name":"debug 463","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":true,"statusVal":"","statusType":"auto","x":1754,"y":1220,"wires":[]},{"id":"9830074fea15d96a","type":"change","z":"d5424657b497d5af","name":"set parts with common parts id - 2","rules":[{"t":"set","p":"parts","pt":"msg","to":"{ \"index\": $$.count, \"id\": $$.partsid2 }","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"80 + $$.count","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":627,"y":612,"wires":[["f95627935185645a"]]},{"id":"677408e413fb4435","type":"ut-assert-values","z":"d5424657b497d5af","name":"partids do not equal","ignore_failure_if_succeed":false,"rules":[{"t":"noteql","p":"partsid","pt":"msg","to":"partsid2","tot":"msg"}],"x":588,"y":426,"wires":[[]]}]