51bfa9456b1745c0/flows.json
[{"id":"51bfa9456b1745c0","type":"tab","label":"[filter] ignore initial value","disabled":false,"info":"## Filter Node - ignore initial value\n\nmode `rbei` with **no** topic grouping","env":[]},{"id":"026f7ba779774f8a","type":"group","z":"51bfa9456b1745c0","name":"initial value of one isn't passed through","style":{"label":true},"nodes":["1c31ccbdd0ca019d","a0ada11602a931be","89545c20cbf6910e","73d7b68a95c8127a","2dbebf5ddc750166","1bf2654f308ef5f8","8b789d2849f4a32c","7ff8c7d31547b09e","26561d0daa7b0eb1","b941869cd2230edd","9c3d3e831642e3f5","9cfe1e03363b727d"],"x":464,"y":405,"w":1110,"h":249.5},{"id":"1c31ccbdd0ca019d","type":"rbe","z":"51bfa9456b1745c0","g":"026f7ba779774f8a","name":"","func":"rbei","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":1154,"y":446,"wires":[["1bf2654f308ef5f8","8b789d2849f4a32c","7ff8c7d31547b09e","26561d0daa7b0eb1"]]},{"id":"a0ada11602a931be","type":"inject","z":"51bfa9456b1745c0","g":"026f7ba779774f8a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":560,"y":446,"wires":[["1c31ccbdd0ca019d","b941869cd2230edd","9c3d3e831642e3f5","9cfe1e03363b727d"]]},{"id":"89545c20cbf6910e","type":"delay","z":"51bfa9456b1745c0","g":"026f7ba779774f8a","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":953,"y":502.5,"wires":[["1c31ccbdd0ca019d"]]},{"id":"73d7b68a95c8127a","type":"delay","z":"51bfa9456b1745c0","g":"026f7ba779774f8a","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":958,"y":554.5,"wires":[["1c31ccbdd0ca019d"]]},{"id":"2dbebf5ddc750166","type":"delay","z":"51bfa9456b1745c0","g":"026f7ba779774f8a","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":993,"y":613.5,"wires":[["1c31ccbdd0ca019d"]]},{"id":"1bf2654f308ef5f8","type":"ut-assert-values","z":"51bfa9456b1745c0","g":"026f7ba779774f8a","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"2","tot":"num"}],"x":1458,"y":510,"wires":[[]]},{"id":"8b789d2849f4a32c","type":"ut-assert-values","z":"51bfa9456b1745c0","g":"026f7ba779774f8a","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"3","tot":"num"}],"x":1458,"y":561.5,"wires":[[]]},{"id":"7ff8c7d31547b09e","type":"ut-assert-values","z":"51bfa9456b1745c0","g":"026f7ba779774f8a","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"4","tot":"num"}],"x":1458,"y":613,"wires":[[]]},{"id":"26561d0daa7b0eb1","type":"ut-assert-success","z":"51bfa9456b1745c0","g":"026f7ba779774f8a","name":"","count":"3","x":1449,"y":446,"wires":[]},{"id":"b941869cd2230edd","type":"change","z":"51bfa9456b1745c0","g":"026f7ba779774f8a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":772,"y":502.5,"wires":[["89545c20cbf6910e"]]},{"id":"9c3d3e831642e3f5","type":"change","z":"51bfa9456b1745c0","g":"026f7ba779774f8a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":766,"y":554.5,"wires":[["73d7b68a95c8127a"]]},{"id":"9cfe1e03363b727d","type":"change","z":"51bfa9456b1745c0","g":"026f7ba779774f8a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"4","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":748,"y":613.5,"wires":[["2dbebf5ddc750166"]]}]