866410b56fa42447/flows.json
[{"id":"866410b56fa42447","type":"tab","label":"[batch] basic behaviour","disabled":false,"info":"## Batch Node\n\nBatch node does not batch message by default but rather mark messages so that the join node can do the batching of messages.\n\nBatch node sets a parts.id value to the first message the creates the batch. If the message id is always the same, this id will always be the same.","env":[]},{"id":"2ae5e4f09831c0bb","type":"group","z":"866410b56fa42447","name":"unique batch id if messages have unique message id","style":{"label":true},"nodes":["bfb25e0d975b3e33","4498efa32ef195c9","8ee9a2a0e1407b20","5e9e7946b761c796","83c0841f98dcd461","fe305c8cd32a63f1"],"x":210,"y":786,"w":971,"h":397},{"id":"61f1197fb98ebd3c","type":"group","z":"866410b56fa42447","name":"no parts attribute, batch generates batches that can be joined on","style":{"label":true},"nodes":["986e40576cf9935b","cc64390ba8e44396","73a7055de17cd629","974f6f2212ac282c","2a7824eca6408720","54684723874cb02f","38fef2dd2843a5a5","2dbc28861d64eb14","9ba518bc07d89b62","8d5fdcaef83d9642","0e3346ef191e609f","d21df6901888d4b9","8f2f4cfa45741e9c","972df2546ba2d710","f67d1b9b67c854ed"],"x":182,"y":260.5,"w":1694,"h":357.25},{"id":"986e40576cf9935b","type":"inject","z":"866410b56fa42447","g":"61f1197fb98ebd3c","name":"","props":[{"p":"counter","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":278,"y":576.75,"wires":[["cc64390ba8e44396"]]},{"id":"cc64390ba8e44396","type":"change","z":"866410b56fa42447","g":"61f1197fb98ebd3c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"counter","tot":"msg"},{"t":"set","p":"counter","pt":"msg","to":"$$.counter + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":543,"y":576.75,"wires":[["73a7055de17cd629","974f6f2212ac282c"]]},{"id":"73a7055de17cd629","type":"batch","z":"866410b56fa42447","g":"61f1197fb98ebd3c","name":"","mode":"count","count":10,"overlap":0,"interval":10,"allowEmptySequence":false,"honourParts":false,"topics":[],"x":814,"y":576.75,"wires":[["2a7824eca6408720","8d5fdcaef83d9642","d21df6901888d4b9"]]},{"id":"974f6f2212ac282c","type":"switch","z":"866410b56fa42447","g":"61f1197fb98ebd3c","name":"limit to 10_000 messages","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"10000","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":544,"y":380,"wires":[["cc64390ba8e44396"]]},{"id":"bfb25e0d975b3e33","type":"inject","z":"866410b56fa42447","g":"2ae5e4f09831c0bb","name":"","props":[{"p":"counter","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":306,"y":1142,"wires":[["4498efa32ef195c9"]]},{"id":"4498efa32ef195c9","type":"change","z":"866410b56fa42447","g":"2ae5e4f09831c0bb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"counter","tot":"msg"},{"t":"set","p":"counter","pt":"msg","to":"$$.counter + 1","tot":"jsonata"},{"t":"set","p":"parts","pt":"msg","to":"{ \"index\": $$.counter }","tot":"jsonata"},{"t":"set","p":"_msgid","pt":"msg","to":"$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4) & \t$substring( $pad( $formatBase($random() * 100000, 16), 4, '0'),0,4)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":547,"y":1046,"wires":[["8ee9a2a0e1407b20","5e9e7946b761c796"]]},{"id":"8ee9a2a0e1407b20","type":"batch","z":"866410b56fa42447","g":"2ae5e4f09831c0bb","name":"","mode":"count","count":10,"overlap":0,"interval":10,"allowEmptySequence":false,"honourParts":false,"topics":[],"x":861,"y":960,"wires":[["83c0841f98dcd461","fe305c8cd32a63f1"]]},{"id":"5e9e7946b761c796","type":"switch","z":"866410b56fa42447","g":"2ae5e4f09831c0bb","name":"limit to 10_000","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"10000","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":555,"y":867,"wires":[["4498efa32ef195c9"]]},{"id":"83c0841f98dcd461","type":"debug","z":"866410b56fa42447","g":"2ae5e4f09831c0bb","name":"debug 448","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":1065,"y":827,"wires":[]},{"id":"fe305c8cd32a63f1","type":"debug","z":"866410b56fa42447","g":"2ae5e4f09831c0bb","name":"debug 449","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":true,"statusVal":"","statusType":"auto","x":1059,"y":1067,"wires":[]},{"id":"2a7824eca6408720","type":"join","z":"866410b56fa42447","g":"61f1197fb98ebd3c","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1025,"y":576.75,"wires":[["54684723874cb02f","2dbc28861d64eb14"]]},{"id":"54684723874cb02f","type":"join","z":"866410b56fa42447","g":"61f1197fb98ebd3c","name":"","mode":"custom","build":"array","property":"payload","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"1000","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1262,"y":576.75,"wires":[["38fef2dd2843a5a5"]]},{"id":"38fef2dd2843a5a5","type":"ut-assert-success","z":"866410b56fa42447","g":"61f1197fb98ebd3c","name":"","x":1540,"y":576.75,"wires":[]},{"id":"2dbc28861d64eb14","type":"join","z":"866410b56fa42447","g":"61f1197fb98ebd3c","name":"","mode":"custom","build":"array","property":"payload","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"1001","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1262,"y":495,"wires":[["9ba518bc07d89b62"]]},{"id":"9ba518bc07d89b62","type":"ut-assert-failure","z":"866410b56fa42447","g":"61f1197fb98ebd3c","name":"","x":1540,"y":495,"wires":[]},{"id":"8d5fdcaef83d9642","type":"join","z":"866410b56fa42447","g":"61f1197fb98ebd3c","name":"","mode":"custom","build":"array","property":"payload","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":false,"timeout":"","count":"10001","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1045,"y":418,"wires":[["0e3346ef191e609f"]]},{"id":"0e3346ef191e609f","type":"ut-assert-failure","z":"866410b56fa42447","g":"61f1197fb98ebd3c","name":"","x":1272,"y":418,"wires":[]},{"id":"d21df6901888d4b9","type":"join","z":"866410b56fa42447","g":"61f1197fb98ebd3c","name":"","mode":"custom","build":"array","property":"payload","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"10000","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1045,"y":362.5,"wires":[["8f2f4cfa45741e9c","972df2546ba2d710"]]},{"id":"8f2f4cfa45741e9c","type":"ut-assert-success","z":"866410b56fa42447","g":"61f1197fb98ebd3c","name":"","x":1272,"y":362.5,"wires":[]},{"id":"972df2546ba2d710","type":"change","z":"866410b56fa42447","g":"61f1197fb98ebd3c","name":"distinct parts.id","rules":[{"t":"set","p":"payload","pt":"msg","to":"$map( $$.payload, function ($v) { $v.parts.id })","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$distinct($$.payload)","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$count($$.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1282,"y":301.5,"wires":[["f67d1b9b67c854ed"]]},{"id":"f67d1b9b67c854ed","type":"ut-assert-values","z":"866410b56fa42447","g":"61f1197fb98ebd3c","name":"should be one since message id always same = 1","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"1","tot":"num"}],"x":1660,"y":301.5,"wires":[[]]}]