ae38b2dbd23d1681/flows.json
[{"id":"ae38b2dbd23d1681","type":"tab","label":"[range] basic example taken from docu","disabled":false,"info":"## Range Node\n\nThis includes a bug in the implementation of scaling to the target range, see [forum post](https://discourse.nodered.org/t/range-node-out-of-bounds/98865).\n\n","env":[]},{"id":"98697e6fcdc0f7d7","type":"group","z":"ae38b2dbd23d1681","name":"scale, no limit","style":{"label":true},"nodes":["cef006a1f43b25b8","3494a5c7556f2330","469aed2fe1799ebb"],"x":117,"y":153.5,"w":906,"h":82},{"id":"b0793c39ce087cb2","type":"group","z":"ae38b2dbd23d1681","name":"scale and limit","style":{"label":true},"nodes":["078d17fcc17dca66","f0cc9c0a6f373156","1a29c17f3dd9f632"],"x":117,"y":270.77777777777777,"w":906,"h":82},{"id":"bb99e81c6d330202","type":"group","z":"ae38b2dbd23d1681","name":"wrap","style":{"label":true},"nodes":["714e9ea72b4e41b7","359dcc10bf376573","6812f4ded1a629a7","3416817ab118f3f7","facabdf07593e76a","6a098975d0b25ad5","9ff1d3478f51b4d4","fb2829d673860202","2eafe2fb3d378ff5"],"x":117,"y":388.05555555555554,"w":912,"h":194.16666666666663},{"id":"87cefc93f65c8b85","type":"group","z":"ae38b2dbd23d1681","name":"drop with and without rounding!","style":{"label":true},"nodes":["a6685f4415463573","88bba9891ac905e7","dadff702687bdd40","9ab835bfad363b64","41ba0a4b42d2fb9a","0cec61bbae81e7ec","33b8b39cc762e9cf","52cbfc74a1f93b5e","7ee505e1ca9f3ddc"],"x":117,"y":617.5,"w":871,"h":215.5},{"id":"b4012d193105c803","type":"group","z":"ae38b2dbd23d1681","name":"scale and limit, round up","style":{"label":true},"nodes":["3539bb8a192eea98","e7e41ebbb934b50f","f4e4e02f811e3a04","cb14fb599ca6fd4a","8030c756c30b62c7","bca59610571f6f27","9d47e88afa90b312","a9b9805029fecc58","eb733ddd81f3ed5a","e2bce7fd39dbeda5","7d71420e042e54cd"],"x":1108,"y":294.499979654948,"w":1205,"h":470.500020345052},{"id":"de109cf147d13755","type":"group","z":"ae38b2dbd23d1681","name":"wrap","style":{"label":true},"nodes":["4f7125a3d18b6bb8","524e5bc79acf4098","6d7885dcc15ce082","2d64bdd2c2fceb8f","5dc915948aca6f92","ae14fd317376f7b0"],"x":1107,"y":800.3333333333335,"w":912,"h":143.66666666666652},{"id":"c334738c4962be62","type":"group","z":"ae38b2dbd23d1681","name":"round up to the nearest integer","style":{"label":true},"nodes":["1369cac017806ca4","d83528c976cd08d8","e28921ae5e4ab419","037c27850947a188","1f27bd21d0217b88","4fd8f4b2b397d347"],"x":1107,"y":90,"w":909,"h":159},{"id":"e2bce7fd39dbeda5","type":"group","z":"ae38b2dbd23d1681","g":"b4012d193105c803","name":"out of bounds - should be 100","style":{"fill":"#ffbfbf","label":true,"fill-opacity":"0.26"},"nodes":["9b95f8806d032b1a","9867b9610c1786d5","4fbf1055ffadffe5"],"x":1134,"y":555.8333536783855,"w":906,"h":82},{"id":"7d71420e042e54cd","type":"group","z":"ae38b2dbd23d1681","g":"b4012d193105c803","name":"out of bounds - should be 0","style":{"fill":"#ffbfbf","label":true,"fill-opacity":"0.27"},"nodes":["fe955924780815a5","7438519f20033109","c88b51800fccb5eb"],"x":1135,"y":657,"w":906,"h":82},{"id":"cef006a1f43b25b8","type":"range","z":"ae38b2dbd23d1681","g":"98697e6fcdc0f7d7","minin":"0","maxin":"10","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"","x":540,"y":194.5,"wires":[["469aed2fe1799ebb"]]},{"id":"3494a5c7556f2330","type":"inject","z":"ae38b2dbd23d1681","g":"98697e6fcdc0f7d7","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12","payloadType":"num","x":213,"y":194.5,"wires":[["cef006a1f43b25b8"]]},{"id":"469aed2fe1799ebb","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"98697e6fcdc0f7d7","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"120","tot":"num"}],"x":907,"y":194.5,"wires":[[]]},{"id":"078d17fcc17dca66","type":"range","z":"ae38b2dbd23d1681","g":"b0793c39ce087cb2","minin":"0","maxin":"10","minout":"0","maxout":"100","action":"clamp","round":false,"property":"payload","name":"","x":540,"y":311.77777777777777,"wires":[["1a29c17f3dd9f632"]]},{"id":"f0cc9c0a6f373156","type":"inject","z":"ae38b2dbd23d1681","g":"b0793c39ce087cb2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12","payloadType":"num","x":213,"y":311.77777777777777,"wires":[["078d17fcc17dca66"]]},{"id":"1a29c17f3dd9f632","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"b0793c39ce087cb2","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"100","tot":"num"}],"x":907,"y":311.77777777777777,"wires":[[]]},{"id":"714e9ea72b4e41b7","type":"range","z":"ae38b2dbd23d1681","g":"bb99e81c6d330202","minin":"0","maxin":"10","minout":"0","maxout":"100","action":"roll","round":false,"property":"payload","name":"","x":546,"y":429.05555555555554,"wires":[["6812f4ded1a629a7"]]},{"id":"359dcc10bf376573","type":"inject","z":"ae38b2dbd23d1681","g":"bb99e81c6d330202","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12","payloadType":"num","x":219,"y":429.05555555555554,"wires":[["714e9ea72b4e41b7"]]},{"id":"6812f4ded1a629a7","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"bb99e81c6d330202","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"20","tot":"num"}],"x":913,"y":429.05555555555554,"wires":[[]]},{"id":"a6685f4415463573","type":"range","z":"ae38b2dbd23d1681","g":"87cefc93f65c8b85","minin":"0","maxin":"10","minout":"0","maxout":"100","action":"drop","round":false,"property":"payload","name":"","x":545,"y":658.5,"wires":[["dadff702687bdd40"]]},{"id":"88bba9891ac905e7","type":"inject","z":"ae38b2dbd23d1681","g":"87cefc93f65c8b85","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12","payloadType":"num","x":218,"y":658.5,"wires":[["a6685f4415463573"]]},{"id":"dadff702687bdd40","type":"ut-assert-failure","z":"ae38b2dbd23d1681","g":"87cefc93f65c8b85","name":"","x":892,"y":658.5,"wires":[]},{"id":"3539bb8a192eea98","type":"range","z":"ae38b2dbd23d1681","g":"b4012d193105c803","minin":"0","maxin":"9.5","minout":"0","maxout":"100.5","action":"clamp","round":true,"property":"payload","name":"","x":1565,"y":335.499979654948,"wires":[["f4e4e02f811e3a04"]]},{"id":"e7e41ebbb934b50f","type":"inject","z":"ae38b2dbd23d1681","g":"b4012d193105c803","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-12.5","payloadType":"num","x":1238,"y":335.499979654948,"wires":[["3539bb8a192eea98"]]},{"id":"f4e4e02f811e3a04","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"b4012d193105c803","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"0","tot":"num"}],"x":1932,"y":335.499979654948,"wires":[[]]},{"id":"4f7125a3d18b6bb8","type":"range","z":"ae38b2dbd23d1681","g":"de109cf147d13755","minin":"0","maxin":"9.5","minout":"0","maxout":"100.5","action":"roll","round":true,"property":"payload","name":"","x":1536,"y":841.3333333333335,"wires":[["6d7885dcc15ce082"]]},{"id":"524e5bc79acf4098","type":"inject","z":"ae38b2dbd23d1681","g":"de109cf147d13755","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12","payloadType":"num","x":1209,"y":841.3333333333335,"wires":[["4f7125a3d18b6bb8"]]},{"id":"6d7885dcc15ce082","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"de109cf147d13755","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"26","tot":"num"}],"x":1903,"y":841.3333333333335,"wires":[[]]},{"id":"1369cac017806ca4","type":"range","z":"ae38b2dbd23d1681","g":"c334738c4962be62","minin":"0","maxin":"9.5","minout":"0","maxout":"100.5","action":"scale","round":true,"property":"payload","name":"","x":1533,"y":131,"wires":[["e28921ae5e4ab419"]]},{"id":"d83528c976cd08d8","type":"inject","z":"ae38b2dbd23d1681","g":"c334738c4962be62","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12.5","payloadType":"num","x":1206,"y":131,"wires":[["1369cac017806ca4"]]},{"id":"e28921ae5e4ab419","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"c334738c4962be62","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"132","tot":"num"}],"x":1900,"y":131,"wires":[[]]},{"id":"037c27850947a188","type":"range","z":"ae38b2dbd23d1681","g":"c334738c4962be62","minin":"0","maxin":"9.5","minout":"0","maxout":"100.5","action":"scale","round":true,"property":"payload","name":"","x":1530,"y":208,"wires":[["4fd8f4b2b397d347"]]},{"id":"1f27bd21d0217b88","type":"inject","z":"ae38b2dbd23d1681","g":"c334738c4962be62","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"13.1","payloadType":"num","x":1203,"y":208,"wires":[["037c27850947a188"]]},{"id":"4fd8f4b2b397d347","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"c334738c4962be62","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"139","tot":"num"}],"x":1897,"y":208,"wires":[[]]},{"id":"9ab835bfad363b64","type":"range","z":"ae38b2dbd23d1681","g":"87cefc93f65c8b85","minin":"0","maxin":"10","minout":"0","maxout":"100","action":"drop","round":true,"property":"payload","name":"","x":542,"y":719,"wires":[["0cec61bbae81e7ec"]]},{"id":"41ba0a4b42d2fb9a","type":"inject","z":"ae38b2dbd23d1681","g":"87cefc93f65c8b85","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12","payloadType":"num","x":215,"y":719,"wires":[["9ab835bfad363b64"]]},{"id":"0cec61bbae81e7ec","type":"ut-assert-failure","z":"ae38b2dbd23d1681","g":"87cefc93f65c8b85","name":"","x":889,"y":719,"wires":[]},{"id":"9b95f8806d032b1a","type":"inject","z":"ae38b2dbd23d1681","g":"e2bce7fd39dbeda5","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"13.1","payloadType":"num","x":1230,"y":596.8333536783855,"wires":[["9867b9610c1786d5"]]},{"id":"9867b9610c1786d5","type":"range","z":"ae38b2dbd23d1681","g":"e2bce7fd39dbeda5","minin":"0","maxin":"9.5","minout":"0.5","maxout":"100.5","action":"clamp","round":true,"property":"payload","name":"","x":1567,"y":596.8333536783855,"wires":[["4fbf1055ffadffe5"]]},{"id":"4fbf1055ffadffe5","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"e2bce7fd39dbeda5","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"101","tot":"num"}],"x":1924,"y":596.8333536783855,"wires":[[]]},{"id":"cb14fb599ca6fd4a","type":"inject","z":"ae38b2dbd23d1681","g":"b4012d193105c803","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"8.7","payloadType":"num","x":1383,"y":386.8333536783855,"wires":[["8030c756c30b62c7"]]},{"id":"8030c756c30b62c7","type":"range","z":"ae38b2dbd23d1681","g":"b4012d193105c803","minin":"0","maxin":"9.5","minout":"0","maxout":"100.5","action":"clamp","round":true,"property":"payload","name":"","x":1710,"y":386.8333536783855,"wires":[["bca59610571f6f27"]]},{"id":"bca59610571f6f27","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"b4012d193105c803","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"92","tot":"num"}],"x":2197,"y":386.8333536783855,"wires":[[]]},{"id":"9d47e88afa90b312","type":"inject","z":"ae38b2dbd23d1681","g":"b4012d193105c803","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-13.1","payloadType":"num","x":1238,"y":452.8333740234375,"wires":[["a9b9805029fecc58"]]},{"id":"a9b9805029fecc58","type":"range","z":"ae38b2dbd23d1681","g":"b4012d193105c803","minin":"0","maxin":"9.5","minout":"0.5","maxout":"100.5","action":"clamp","round":true,"property":"payload","name":"","x":1575,"y":452.8333740234375,"wires":[["eb733ddd81f3ed5a"]]},{"id":"eb733ddd81f3ed5a","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"b4012d193105c803","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"1","tot":"num"}],"x":2052,"y":452.8333740234375,"wires":[[]]},{"id":"3416817ab118f3f7","type":"inject","z":"ae38b2dbd23d1681","g":"bb99e81c6d330202","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12.5","payloadType":"num","x":217,"y":483.2222222222222,"wires":[["facabdf07593e76a"]]},{"id":"facabdf07593e76a","type":"range","z":"ae38b2dbd23d1681","g":"bb99e81c6d330202","minin":"0","maxin":"10","minout":"0","maxout":"100","action":"roll","round":false,"property":"payload","name":"","x":544,"y":483.2222222222222,"wires":[["6a098975d0b25ad5"]]},{"id":"6a098975d0b25ad5","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"bb99e81c6d330202","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"25","tot":"num"}],"x":911,"y":483.2222222222222,"wires":[[]]},{"id":"33b8b39cc762e9cf","type":"inject","z":"ae38b2dbd23d1681","g":"87cefc93f65c8b85","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-12","payloadType":"num","x":213,"y":792,"wires":[["52cbfc74a1f93b5e"]]},{"id":"52cbfc74a1f93b5e","type":"range","z":"ae38b2dbd23d1681","g":"87cefc93f65c8b85","minin":"0","maxin":"10","minout":"0","maxout":"100","action":"drop","round":true,"property":"payload","name":"","x":540,"y":792,"wires":[["7ee505e1ca9f3ddc"]]},{"id":"7ee505e1ca9f3ddc","type":"ut-assert-failure","z":"ae38b2dbd23d1681","g":"87cefc93f65c8b85","name":"","x":887,"y":792,"wires":[]},{"id":"9ff1d3478f51b4d4","type":"inject","z":"ae38b2dbd23d1681","g":"bb99e81c6d330202","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-12","payloadType":"num","x":213,"y":541.2222222222222,"wires":[["fb2829d673860202"]]},{"id":"fb2829d673860202","type":"range","z":"ae38b2dbd23d1681","g":"bb99e81c6d330202","minin":"0","maxin":"10","minout":"0","maxout":"100","action":"roll","round":false,"property":"payload","name":"","x":540,"y":541.2222222222222,"wires":[["2eafe2fb3d378ff5"]]},{"id":"2eafe2fb3d378ff5","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"bb99e81c6d330202","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"80","tot":"num"}],"x":907,"y":541.2222222222222,"wires":[[]]},{"id":"2d64bdd2c2fceb8f","type":"inject","z":"ae38b2dbd23d1681","g":"de109cf147d13755","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-11.3","payloadType":"num","x":1203,"y":903,"wires":[["5dc915948aca6f92"]]},{"id":"5dc915948aca6f92","type":"range","z":"ae38b2dbd23d1681","g":"de109cf147d13755","minin":"0","maxin":"9.5","minout":"0","maxout":"100.5","action":"roll","round":true,"property":"payload","name":"","x":1530,"y":903,"wires":[["ae14fd317376f7b0"]]},{"id":"ae14fd317376f7b0","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"de109cf147d13755","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"81","tot":"num"}],"x":1897,"y":903,"wires":[[]]},{"id":"fe955924780815a5","type":"range","z":"ae38b2dbd23d1681","g":"7d71420e042e54cd","minin":"0","maxin":"9.5","minout":"0.3","maxout":"100.5","action":"clamp","round":true,"property":"payload","name":"","x":1568,"y":698,"wires":[["c88b51800fccb5eb"]]},{"id":"7438519f20033109","type":"inject","z":"ae38b2dbd23d1681","g":"7d71420e042e54cd","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-13.1","payloadType":"num","x":1231,"y":698,"wires":[["fe955924780815a5"]]},{"id":"c88b51800fccb5eb","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"7d71420e042e54cd","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"0","tot":"num"}],"x":1925,"y":698,"wires":[[]]}]