ae38b2dbd23d1681/flows.json
[{"id":"ae38b2dbd23d1681","type":"tab","label":"[range] basic example taken from docu","disabled":false,"info":"## Range Node\n\nThis includes a bug in the implementation of scaling to the target range, see [forum post](https://discourse.nodered.org/t/range-node-out-of-bounds/98865).\n\n","env":[]},{"id":"98697e6fcdc0f7d7","type":"group","z":"ae38b2dbd23d1681","name":"scale, no limit","style":{"label":true},"nodes":["cef006a1f43b25b8","3494a5c7556f2330","469aed2fe1799ebb"],"x":195,"y":279.5,"w":906,"h":82},{"id":"b0793c39ce087cb2","type":"group","z":"ae38b2dbd23d1681","name":"scale and limit","style":{"label":true},"nodes":["078d17fcc17dca66","f0cc9c0a6f373156","1a29c17f3dd9f632"],"x":195,"y":399.1666666666667,"w":906,"h":82},{"id":"bb99e81c6d330202","type":"group","z":"ae38b2dbd23d1681","name":"wrap","style":{"label":true},"nodes":["714e9ea72b4e41b7","359dcc10bf376573","6812f4ded1a629a7"],"x":195,"y":518.8333333333334,"w":906,"h":82},{"id":"87cefc93f65c8b85","type":"group","z":"ae38b2dbd23d1681","name":"drop","style":{"label":true},"nodes":["a6685f4415463573","88bba9891ac905e7","dadff702687bdd40","9ab835bfad363b64","41ba0a4b42d2fb9a","0cec61bbae81e7ec"],"x":192,"y":638.5,"w":869,"h":142.5},{"id":"b4012d193105c803","type":"group","z":"ae38b2dbd23d1681","name":"scale and limit, round up","style":{"label":true},"nodes":["3539bb8a192eea98","e7e41ebbb934b50f","f4e4e02f811e3a04","9b95f8806d032b1a","9867b9610c1786d5","4fbf1055ffadffe5","cb14fb599ca6fd4a","8030c756c30b62c7","bca59610571f6f27","9d47e88afa90b312","a9b9805029fecc58","eb733ddd81f3ed5a"],"x":1318,"y":491.6666259765625,"w":1171,"h":250.3333740234375},{"id":"de109cf147d13755","type":"group","z":"ae38b2dbd23d1681","name":"wrap","style":{"label":true},"nodes":["4f7125a3d18b6bb8","524e5bc79acf4098","6d7885dcc15ce082"],"x":484,"y":1591.3333333333335,"w":906,"h":82},{"id":"c334738c4962be62","type":"group","z":"ae38b2dbd23d1681","name":"round up to the nearest integer","style":{"label":true},"nodes":["1369cac017806ca4","d83528c976cd08d8","e28921ae5e4ab419","037c27850947a188","1f27bd21d0217b88","4fd8f4b2b397d347"],"x":1314,"y":238,"w":909,"h":159},{"id":"cef006a1f43b25b8","type":"range","z":"ae38b2dbd23d1681","g":"98697e6fcdc0f7d7","minin":"0","maxin":"10","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"","x":618,"y":320.5,"wires":[["469aed2fe1799ebb"]]},{"id":"3494a5c7556f2330","type":"inject","z":"ae38b2dbd23d1681","g":"98697e6fcdc0f7d7","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12","payloadType":"num","x":291,"y":320.5,"wires":[["cef006a1f43b25b8"]]},{"id":"469aed2fe1799ebb","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"98697e6fcdc0f7d7","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"120","tot":"num"}],"x":985,"y":320.5,"wires":[[]]},{"id":"078d17fcc17dca66","type":"range","z":"ae38b2dbd23d1681","g":"b0793c39ce087cb2","minin":"0","maxin":"10","minout":"0","maxout":"100","action":"clamp","round":false,"property":"payload","name":"","x":618,"y":440.1666666666667,"wires":[["1a29c17f3dd9f632"]]},{"id":"f0cc9c0a6f373156","type":"inject","z":"ae38b2dbd23d1681","g":"b0793c39ce087cb2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12","payloadType":"num","x":291,"y":440.1666666666667,"wires":[["078d17fcc17dca66"]]},{"id":"1a29c17f3dd9f632","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"b0793c39ce087cb2","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"100","tot":"num"}],"x":985,"y":440.1666666666667,"wires":[[]]},{"id":"714e9ea72b4e41b7","type":"range","z":"ae38b2dbd23d1681","g":"bb99e81c6d330202","minin":"0","maxin":"10","minout":"0","maxout":"100","action":"roll","round":false,"property":"payload","name":"","x":618,"y":559.8333333333334,"wires":[["6812f4ded1a629a7"]]},{"id":"359dcc10bf376573","type":"inject","z":"ae38b2dbd23d1681","g":"bb99e81c6d330202","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12","payloadType":"num","x":291,"y":559.8333333333334,"wires":[["714e9ea72b4e41b7"]]},{"id":"6812f4ded1a629a7","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"bb99e81c6d330202","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"20","tot":"num"}],"x":985,"y":559.8333333333334,"wires":[[]]},{"id":"a6685f4415463573","type":"range","z":"ae38b2dbd23d1681","g":"87cefc93f65c8b85","minin":"0","maxin":"10","minout":"0","maxout":"100","action":"drop","round":false,"property":"payload","name":"","x":618,"y":679.5,"wires":[["dadff702687bdd40"]]},{"id":"88bba9891ac905e7","type":"inject","z":"ae38b2dbd23d1681","g":"87cefc93f65c8b85","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12","payloadType":"num","x":291,"y":679.5,"wires":[["a6685f4415463573"]]},{"id":"dadff702687bdd40","type":"ut-assert-failure","z":"ae38b2dbd23d1681","g":"87cefc93f65c8b85","name":"","x":965,"y":679.5,"wires":[]},{"id":"3539bb8a192eea98","type":"range","z":"ae38b2dbd23d1681","g":"b4012d193105c803","minin":"0","maxin":"9.5","minout":"0","maxout":"100.5","action":"clamp","round":true,"property":"payload","name":"","x":1741,"y":532.6666259765625,"wires":[["f4e4e02f811e3a04"]]},{"id":"e7e41ebbb934b50f","type":"inject","z":"ae38b2dbd23d1681","g":"b4012d193105c803","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-12.5","payloadType":"num","x":1414,"y":532.6666259765625,"wires":[["3539bb8a192eea98"]]},{"id":"f4e4e02f811e3a04","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"b4012d193105c803","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"0","tot":"num"}],"x":2108,"y":532.6666259765625,"wires":[[]]},{"id":"4f7125a3d18b6bb8","type":"range","z":"ae38b2dbd23d1681","g":"de109cf147d13755","minin":"0","maxin":"10","minout":"0","maxout":"100","action":"roll","round":false,"property":"payload","name":"","x":907,"y":1632.3333333333335,"wires":[["6d7885dcc15ce082"]]},{"id":"524e5bc79acf4098","type":"inject","z":"ae38b2dbd23d1681","g":"de109cf147d13755","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12","payloadType":"num","x":580,"y":1632.3333333333335,"wires":[["4f7125a3d18b6bb8"]]},{"id":"6d7885dcc15ce082","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"de109cf147d13755","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"20","tot":"num"}],"x":1274,"y":1632.3333333333335,"wires":[[]]},{"id":"1369cac017806ca4","type":"range","z":"ae38b2dbd23d1681","g":"c334738c4962be62","minin":"0","maxin":"9.5","minout":"0","maxout":"100.5","action":"scale","round":true,"property":"payload","name":"","x":1740,"y":279,"wires":[["e28921ae5e4ab419"]]},{"id":"d83528c976cd08d8","type":"inject","z":"ae38b2dbd23d1681","g":"c334738c4962be62","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12.5","payloadType":"num","x":1413,"y":279,"wires":[["1369cac017806ca4"]]},{"id":"e28921ae5e4ab419","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"c334738c4962be62","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"132","tot":"num"}],"x":2107,"y":279,"wires":[[]]},{"id":"037c27850947a188","type":"range","z":"ae38b2dbd23d1681","g":"c334738c4962be62","minin":"0","maxin":"9.5","minout":"0","maxout":"100.5","action":"scale","round":true,"property":"payload","name":"","x":1737,"y":356,"wires":[["4fd8f4b2b397d347"]]},{"id":"1f27bd21d0217b88","type":"inject","z":"ae38b2dbd23d1681","g":"c334738c4962be62","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"13.1","payloadType":"num","x":1410,"y":356,"wires":[["037c27850947a188"]]},{"id":"4fd8f4b2b397d347","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"c334738c4962be62","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"139","tot":"num"}],"x":2104,"y":356,"wires":[[]]},{"id":"9ab835bfad363b64","type":"range","z":"ae38b2dbd23d1681","g":"87cefc93f65c8b85","minin":"0","maxin":"10","minout":"0","maxout":"100","action":"drop","round":true,"property":"payload","name":"","x":615,"y":740,"wires":[["0cec61bbae81e7ec"]]},{"id":"41ba0a4b42d2fb9a","type":"inject","z":"ae38b2dbd23d1681","g":"87cefc93f65c8b85","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12","payloadType":"num","x":288,"y":740,"wires":[["9ab835bfad363b64"]]},{"id":"0cec61bbae81e7ec","type":"ut-assert-failure","z":"ae38b2dbd23d1681","g":"87cefc93f65c8b85","name":"","x":962,"y":740,"wires":[]},{"id":"9b95f8806d032b1a","type":"inject","z":"ae38b2dbd23d1681","g":"b4012d193105c803","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"13.1","payloadType":"num","x":1414,"y":645,"wires":[["9867b9610c1786d5"]]},{"id":"9867b9610c1786d5","type":"range","z":"ae38b2dbd23d1681","g":"b4012d193105c803","minin":"0","maxin":"9.5","minout":"0.5","maxout":"100.5","action":"clamp","round":true,"property":"payload","name":"","x":1751,"y":645,"wires":[["4fbf1055ffadffe5"]]},{"id":"4fbf1055ffadffe5","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"b4012d193105c803","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"101","tot":"num"}],"x":2108,"y":645,"wires":[[]]},{"id":"cb14fb599ca6fd4a","type":"inject","z":"ae38b2dbd23d1681","g":"b4012d193105c803","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"8.7","payloadType":"num","x":1559,"y":584,"wires":[["8030c756c30b62c7"]]},{"id":"8030c756c30b62c7","type":"range","z":"ae38b2dbd23d1681","g":"b4012d193105c803","minin":"0","maxin":"9.5","minout":"0","maxout":"100.5","action":"clamp","round":true,"property":"payload","name":"","x":1886,"y":584,"wires":[["bca59610571f6f27"]]},{"id":"bca59610571f6f27","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"b4012d193105c803","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"92","tot":"num"}],"x":2373,"y":584,"wires":[[]]},{"id":"9d47e88afa90b312","type":"inject","z":"ae38b2dbd23d1681","g":"b4012d193105c803","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-13.1","payloadType":"num","x":1559,"y":701,"wires":[["a9b9805029fecc58"]]},{"id":"a9b9805029fecc58","type":"range","z":"ae38b2dbd23d1681","g":"b4012d193105c803","minin":"0","maxin":"9.5","minout":"0.5","maxout":"100.5","action":"clamp","round":true,"property":"payload","name":"","x":1896,"y":701,"wires":[["eb733ddd81f3ed5a"]]},{"id":"eb733ddd81f3ed5a","type":"ut-assert-values","z":"ae38b2dbd23d1681","g":"b4012d193105c803","name":"","ignore_failure_if_succeed":false,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"1","tot":"num"}],"x":2373,"y":701,"wires":[[]]}]