dc897f402c53697f/flows.json
[{"id":"dc897f402c53697f","type":"tab","label":"[.breadboard] MQTT broker as flow","disabled":false,"info":"## MQTT from the ground up\n\nThis work is based on work by [@cymplecy](https://discourse.nodered.org/u/cymplecy/summary) and can be found over at the [Node-RED forum](https://discourse.nodered.org/t/fun-exercise-make-an-mqtt-broker-in-node-red/82229).\n\nThe initial commit of this flow is the original flow as found at [google cloud](https://drive.google.com/file/d/1uY-IV8KPYE5W3uL-oc9ozRvwdBHtzpcG/view?usp=sharing).\n\n","env":[]},{"id":"ded413082f65543c","type":"group","z":"dc897f402c53697f","name":"Send to client","style":{"label":true},"nodes":["af9f5d0d7cea3ddd","7d8a1c95eebd10b5","86d40617a04bb66d","cde7df7a94f9c8a2"],"x":1091,"y":744,"w":382,"h":142},{"id":"80c12efc3d845fa3","type":"junction","z":"dc897f402c53697f","x":1187,"y":405,"wires":[["03e661a4f7ee610f"]]},{"id":"03e661a4f7ee610f","type":"junction","z":"dc897f402c53697f","x":1227,"y":365,"wires":[["d354d045491e70f7"]]},{"id":"31506b5de764bcf7","type":"junction","z":"dc897f402c53697f","x":627,"y":425,"wires":[["5f3ddf0b4c97e847"]]},{"id":"2f7ce9613861e288","type":"junction","z":"dc897f402c53697f","x":727,"y":425,"wires":[["26d3a84f0b5c547e"]]},{"id":"497bc47bdb7eaa8e","type":"junction","z":"dc897f402c53697f","x":627,"y":445,"wires":[["0c8ae20f5bca7f97"]]},{"id":"436fe3764090873b","type":"junction","z":"dc897f402c53697f","x":627,"y":465,"wires":[["46100fb0a08b0c5c"]]},{"id":"77b3e857bdd8c765","type":"junction","z":"dc897f402c53697f","x":1227,"y":685,"wires":[["e396e5ee280efc86","4012ad0d8a2cfb0c"]]},{"id":"8fd3cccdbffacd09","type":"junction","z":"dc897f402c53697f","x":367,"y":585,"wires":[["4d0ffeae2a76b8b0","b25834b00dc17621"]]},{"id":"cde7df7a94f9c8a2","type":"junction","z":"dc897f402c53697f","g":"ded413082f65543c","x":1207,"y":845,"wires":[["7d8a1c95eebd10b5","af9f5d0d7cea3ddd"]]},{"id":"98c9651dbea8582c","type":"debug","z":"dc897f402c53697f","name":"Incoming","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":267,"y":445,"wires":[]},{"id":"38440ad2e824817e","type":"tcp in","z":"dc897f402c53697f","name":"","server":"server","host":"localhost","port":"2883","datamode":"stream","datatype":"buffer","newline":"","topic":"","trim":false,"base64":false,"tls":"","x":169,"y":331,"wires":[["98c9651dbea8582c","3addc59737a0ed8a"]]},{"id":"8b955da886c2db79","type":"inject","z":"dc897f402c53697f","name":"Publish  top=Test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Test","payload":"From client on broker machine","payloadType":"str","x":227,"y":845,"wires":[["8a7d115c75d00cb2"]]},{"id":"8a7d115c75d00cb2","type":"mqtt out","z":"dc897f402c53697f","name":"MQTT Out","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"da2f91c287ad12f7","x":497,"y":845,"wires":[]},{"id":"e4321e5c01b16c27","type":"change","z":"dc897f402c53697f","name":"set CONNACK","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\"0b00100000\",2,0,0]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":1047,"y":365,"wires":[["03e661a4f7ee610f","539c9d2c592d393b","a2cbd9fb813505fa"]]},{"id":"3addc59737a0ed8a","type":"switch","z":"dc897f402c53697f","name":"Test packet type","property":"payload.0","propertyType":"msg","rules":[{"t":"eq","v":"16","vt":"num"},{"t":"eq","v":"0xC0","vt":"num"},{"t":"gte","v":"0b00110000","vt":"num"},{"t":"eq","v":"0x82","vt":"num"},{"t":"eq","v":"0b10100010","vt":"num"},{"t":"eq","v":"0b11100000","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":7,"x":487,"y":425,"wires":[["1e8e2648ed67d5c6"],["618215b887917904"],["2f7ce9613861e288"],["31506b5de764bcf7"],["497bc47bdb7eaa8e"],["436fe3764090873b"],["5c5cf4cf97698822"]]},{"id":"1e8e2648ed67d5c6","type":"change","z":"dc897f402c53697f","name":"CONNECT","rules":[{"t":"set","p":"mqttPacket.type","pt":"msg","to":"CONNECT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":817,"y":365,"wires":[["e4321e5c01b16c27","03561c2e4510609a"]]},{"id":"5c5cf4cf97698822","type":"debug","z":"dc897f402c53697f","name":"Unexpected","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":497,"y":505,"wires":[]},{"id":"618215b887917904","type":"change","z":"dc897f402c53697f","name":"PINGREQ","rules":[{"t":"set","p":"mqttPacket.type","pt":"msg","to":"PINGREQ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":817,"y":405,"wires":[["c078fde4eaa67651","59d1f5eaff7bc315"]]},{"id":"c078fde4eaa67651","type":"change","z":"dc897f402c53697f","name":"Set PINGACK","rules":[{"t":"set","p":"payload","pt":"msg","to":"[208,0]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":1047,"y":405,"wires":[["80c12efc3d845fa3","07e8b93b1a84af24"]]},{"id":"d354d045491e70f7","type":"link out","z":"dc897f402c53697f","name":"link out 3","mode":"link","links":["86d40617a04bb66d"],"x":1292,"y":365,"wires":[]},{"id":"03561c2e4510609a","type":"debug","z":"dc897f402c53697f","name":"debug 352","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"CONNECT rcvd\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":922,"y":345,"wires":[],"l":false},{"id":"539c9d2c592d393b","type":"debug","z":"dc897f402c53697f","name":"debug 353","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"CONNACK sent\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":1198,"y":278,"wires":[],"l":false},{"id":"59d1f5eaff7bc315","type":"debug","z":"dc897f402c53697f","name":"debug 354","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"PINGREQ rcvd\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":922,"y":425,"wires":[],"l":false},{"id":"07e8b93b1a84af24","type":"debug","z":"dc897f402c53697f","name":"debug 355","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"PINGRESP sent\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":1228,"y":445,"wires":[],"l":false},{"id":"b8a6812cb8f0e9c5","type":"change","z":"dc897f402c53697f","name":"PUBLISH","rules":[{"t":"set","p":"mqttPacket.type","pt":"msg","to":"PUBLISH","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":807,"y":505,"wires":[["88419b83727f1149","481de810d8930c03"]]},{"id":"88419b83727f1149","type":"debug","z":"dc897f402c53697f","name":"debug 356","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"PUBLISH rcvd\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":882,"y":545,"wires":[],"l":false},{"id":"26d3a84f0b5c547e","type":"switch","z":"dc897f402c53697f","name":"Only QoS0","property":"payload.0","propertyType":"msg","rules":[{"t":"lte","v":"0b00111111","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":817,"y":465,"wires":[["b8a6812cb8f0e9c5"]]},{"id":"4d0ffeae2a76b8b0","type":"mqtt in","z":"dc897f402c53697f","name":"MQTT In","topic":"","qos":"2","datatype":"auto-detect","broker":"da2f91c287ad12f7","nl":false,"rap":true,"rh":0,"inputs":1,"x":467,"y":585,"wires":[["9048a940e9c269d8","eb63f1261f783d43"]]},{"id":"c4ab9a480d2b5300","type":"inject","z":"dc897f402c53697f","name":"Subscribe to Test","props":[{"p":"action","v":"subscribe","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Test","x":247,"y":565,"wires":[["8fd3cccdbffacd09"]]},{"id":"eb63f1261f783d43","type":"debug","z":"dc897f402c53697f","name":"Subscribtions","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":507,"y":645,"wires":[]},{"id":"5f3ddf0b4c97e847","type":"change","z":"dc897f402c53697f","name":"SUBSCRIBE","rules":[{"t":"set","p":"mqttPacket.type","pt":"msg","to":"SUBSCRIBE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":817,"y":605,"wires":[["2e29be5597431a04","fad74a86ee3fa323"]]},{"id":"2e29be5597431a04","type":"debug","z":"dc897f402c53697f","name":"debug 359","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"SUBSCRIBE rcvd\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":922,"y":645,"wires":[],"l":false},{"id":"f8bb574706073725","type":"inject","z":"dc897f402c53697f","name":"Unsuscribe","props":[{"p":"action","v":"unsubscribe","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Test","x":227,"y":605,"wires":[["8fd3cccdbffacd09"]]},{"id":"c548723aabcb824d","type":"inject","z":"dc897f402c53697f","name":"Connect","props":[{"p":"action","v":"connect","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":267,"y":525,"wires":[["8fd3cccdbffacd09"]]},{"id":"f8e2d913c7a2e082","type":"inject","z":"dc897f402c53697f","name":"Disconnect","props":[{"p":"action","v":"disconnect","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":247,"y":645,"wires":[["8fd3cccdbffacd09"]]},{"id":"fad74a86ee3fa323","type":"Blockly","z":"dc897f402c53697f","func":"var rcvdPayload, _sessionId, topicName, homemadeSub, MessageId, topicLength, SUBACK;\n\nfunction convertValueToByte(value) {\n  if (isNaN(value)) {\n    return value.charCodeAt(0);\n  } else {\n    if (Buffer.isBuffer(value)) {\n      return value[0];\n    } else {\n      if (value == \" \") {\n        return value.charCodeAt(0);\n      } else {\n        return Math.min(Math.max(value, 0),255);\n      }\n    }\n  }\n}\n\n\nrcvdPayload = (msg['payload']);\n_sessionId = (msg['_session']['id']);\nhomemadeSub = (flow.get('homemadeSub'));\nMessageId = 256 * (rcvdPayload[3 - 1]) + (rcvdPayload[4 - 1]);\ntopicLength = 256 * (rcvdPayload[5 - 1]) + (rcvdPayload[6 - 1]);\ntopicName = rcvdPayload.slice(6, 6 + topicLength);\ntopicName = (topicName.toString(\"utf8\"));\nif (!('mqttPacket.subscribe' in msg)) {\n  msg['mqttPacket']['subscribe'] = ({});\n}\nmsg['mqttPacket']['subscribe']['topicName'] = topicName;\nmsg['mqttPacket']['subscribe']['MessageId'] = MessageId;\nhomemadeSub.push([_sessionId, topicName]);\nnode.status({fill:\"blue\", shape:\"ring\", text:([MessageId,':',topicLength,':',topicName].join(''))});\nSUBACK = (Buffer.alloc(5));\nSUBACK[1 - 1] = (Buffer.alloc(1, 144))[0];\nSUBACK[2 - 1] = (Buffer.alloc(1, 3))[0];\nSUBACK[3 - 1] = convertValueToByte((rcvdPayload[3 - 1]));\nSUBACK[4 - 1] = convertValueToByte((rcvdPayload[4 - 1]));\nSUBACK[5 - 1] = (Buffer.alloc(1, 0))[0];\nmsg['payload'] = SUBACK;\nnode.send([msg, null]);\nmsg['payload'] = rcvdPayload;\nnode.send([null, msg]);\n\n[_sessionId,'.',topicName].join('');\n","workspaceXml":"<xml xmlns=\"https://developers.google.com/blockly/xml\">\n  <variables>\n    <variable id=\"_Vv{V/M62OO$vyzw/7dm\">rcvdPayload</variable>\n    <variable id=\"L[/Lb#fK0%ZKBaM$jZx/\">_sessionId</variable>\n    <variable id=\"uOw#m2hDK@WQ+}F?|0z6\">topicName</variable>\n    <variable id=\"wX|SZvXL=L`zM;@KF}(+\">homemadeSub</variable>\n    <variable id=\"d+8f$sJ1JPHoR{DZNlm%\">MessageId</variable>\n    <variable id=\"i31wcn{F)HlBi)2AeR~2\">topicLength</variable>\n    <variable id=\"c7*FtK*W=z%xb6U!7i@u\">SUBACK</variable>\n  </variables>\n  <block type=\"variables_set\" id=\"Wo2U?3^W9MV.9s5f2@se\" x=\"13\" y=\"13\">\n    <field name=\"VAR\" id=\"_Vv{V/M62OO$vyzw/7dm\">rcvdPayload</field>\n    <value name=\"VALUE\">\n      <block type=\"node_object_get\" id=\"vNhv~z$r*Ehs[Q]A)cA_\">\n        <mutation xmlns=\"http://www.w3.org/1999/xhtml\" action=\"GET\"></mutation>\n        <field name=\"action\">GET</field>\n        <value name=\"object\">\n          <shadow type=\"node_msg\" id=\"Zz8QtCI]{*H=iJ6^yaXm\"></shadow>\n        </value>\n        <value name=\"field_name\">\n          <shadow type=\"text\" id=\"zZ702+Uj@12[?+o^!M;R\">\n            <field name=\"TEXT\">payload</field>\n          </shadow>\n        </value>\n      </block>\n    </value>\n    <next>\n      <block type=\"variables_set\" id=\"i]?twJR9gV4fO-TV^9ak\">\n        <field name=\"VAR\" id=\"L[/Lb#fK0%ZKBaM$jZx/\">_sessionId</field>\n        <value name=\"VALUE\">\n          <block type=\"node_object_get\" id=\"lDWs4x0;,QwW*gM=2oti\">\n            <mutation xmlns=\"http://www.w3.org/1999/xhtml\" action=\"GET\"></mutation>\n            <field name=\"action\">GET</field>\n            <value name=\"object\">\n              <shadow type=\"node_msg\" id=\"R!q+A~BG!WR(7L:*av%m\"></shadow>\n            </value>\n            <value name=\"field_name\">\n              <shadow type=\"text\" id=\"[QR!eBBo_f9+H6N@|@PN\">\n                <field name=\"TEXT\">_session.id</field>\n              </shadow>\n            </value>\n          </block>\n        </value>\n        <next>\n          <block type=\"variables_set\" id=\"D6GU]Xhlg)}Fhe}mB[9k\">\n            <field name=\"VAR\" id=\"wX|SZvXL=L`zM;@KF}(+\">homemadeSub</field>\n            <value name=\"VALUE\">\n              <block type=\"node_object_get\" id=\"73x6zkv])^@JRMd.*OD~\">\n                <mutation xmlns=\"http://www.w3.org/1999/xhtml\" action=\"GET\"></mutation>\n                <field name=\"action\">GET</field>\n                <value name=\"object\">\n                  <shadow type=\"node_msg\" id=\"Z+mnzV,Aj_N!Na*Ld:iR\"></shadow>\n                  <block type=\"node_flow_memory\" id=\"#I2Pix%9Id~)76~H{}PJ\"></block>\n                </value>\n                <value name=\"field_name\">\n                  <shadow type=\"text\" id=\"M@99}Lfizl[cK.e_70VL\">\n                    <field name=\"TEXT\">homemadeSub</field>\n                  </shadow>\n                </value>\n              </block>\n            </value>\n            <next>\n              <block type=\"variables_set\" id=\"/N7MB@DYQAeO.((YzZJk\">\n                <field name=\"VAR\" id=\"d+8f$sJ1JPHoR{DZNlm%\">MessageId</field>\n                <value name=\"VALUE\">\n                  <block type=\"math_arithmetic\" id=\"wvtxzM*~JgEVuXM{vtka\">\n                    <field name=\"OP\">ADD</field>\n                    <value name=\"A\">\n                      <shadow type=\"math_number\">\n                        <field name=\"NUM\">1</field>\n                      </shadow>\n                      <block type=\"math_arithmetic\" id=\"|}z.q~:}Kw/b^xj$lH;G\">\n                        <field name=\"OP\">MULTIPLY</field>\n                        <value name=\"A\">\n                          <shadow type=\"math_number\" id=\"khkK=Ue]pN:iPZTPj-4U\">\n                            <field name=\"NUM\">256</field>\n                          </shadow>\n                        </value>\n                        <value name=\"B\">\n                          <shadow type=\"math_number\">\n                            <field name=\"NUM\">1</field>\n                          </shadow>\n                          <block type=\"buffer_get_index\" id=\"@FM2jpQy6I6r%]EGD(.H\">\n                            <value name=\"INDEX\">\n                              <shadow type=\"math_number\" id=\"%%dd?`wr_l@)9t.:{1MN\">\n                                <field name=\"NUM\">3</field>\n                              </shadow>\n                            </value>\n                            <value name=\"BUFFER\">\n                              <shadow type=\"buffer_empty\"></shadow>\n                              <block type=\"variables_get\" id=\";5hq9tD0?U^GF@q|Ui?l\">\n                                <field name=\"VAR\" id=\"_Vv{V/M62OO$vyzw/7dm\">rcvdPayload</field>\n                              </block>\n                            </value>\n                          </block>\n                        </value>\n                      </block>\n                    </value>\n                    <value name=\"B\">\n                      <shadow type=\"math_number\">\n                        <field name=\"NUM\">1</field>\n                      </shadow>\n                      <block type=\"buffer_get_index\" id=\"%SO[|@i:[2gwAyA}lr$}\">\n                        <value name=\"INDEX\">\n                          <shadow type=\"math_number\" id=\"TP[}8P^j$^L6et=6KDNf\">\n                            <field name=\"NUM\">4</field>\n                          </shadow>\n                        </value>\n                        <value name=\"BUFFER\">\n                          <shadow type=\"buffer_empty\"></shadow>\n                          <block type=\"variables_get\" id=\"t[|*ffw(]vrtyqf%3Tj2\">\n                            <field name=\"VAR\" id=\"_Vv{V/M62OO$vyzw/7dm\">rcvdPayload</field>\n                          </block>\n                        </value>\n                      </block>\n                    </value>\n                  </block>\n                </value>\n                <next>\n                  <block type=\"variables_set\" id=\"Sm7]:CJWA3+gZjuxkFhF\">\n                    <field name=\"VAR\" id=\"i31wcn{F)HlBi)2AeR~2\">topicLength</field>\n                    <value name=\"VALUE\">\n                      <block type=\"math_arithmetic\" id=\"[Mgl`h=/Q+)?5icAfU|5\">\n                        <field name=\"OP\">ADD</field>\n                        <value name=\"A\">\n                          <shadow type=\"math_number\" id=\"!%ah^GzKSdRFr:~Diw.1\">\n                            <field name=\"NUM\">1</field>\n                          </shadow>\n                          <block type=\"math_arithmetic\" id=\"nd].Wu=v{p%gm4DM@%AY\">\n                            <field name=\"OP\">MULTIPLY</field>\n                            <value name=\"A\">\n                              <shadow type=\"math_number\" id=\"2$JdE|yHqq]-8%3;.l$k\">\n                                <field name=\"NUM\">256</field>\n                              </shadow>\n                            </value>\n                            <value name=\"B\">\n                              <shadow type=\"math_number\" id=\"h;fF|oa0;OJFGdZrdc~(\">\n                                <field name=\"NUM\">1</field>\n                              </shadow>\n                              <block type=\"buffer_get_index\" id=\"b}IF:?FPdQyzniie}8}}\">\n                                <value name=\"INDEX\">\n                                  <shadow type=\"math_number\" id=\"!z~Vp`Kj0_1ZpWzNUDaE\">\n                                    <field name=\"NUM\">5</field>\n                                  </shadow>\n                                </value>\n                                <value name=\"BUFFER\">\n                                  <shadow type=\"buffer_empty\" id=\"$e(,aq(]a}Xk6Dsy|so~\"></shadow>\n                                  <block type=\"variables_get\" id=\"$68Z06mvo1Gh4afNaqpy\">\n                                    <field name=\"VAR\" id=\"_Vv{V/M62OO$vyzw/7dm\">rcvdPayload</field>\n                                  </block>\n                                </value>\n                              </block>\n                            </value>\n                          </block>\n                        </value>\n                        <value name=\"B\">\n                          <shadow type=\"math_number\" id=\"W[5#i]q/_PlC9F1ntk/|\">\n                            <field name=\"NUM\">1</field>\n                          </shadow>\n                          <block type=\"buffer_get_index\" id=\"5`v$zb6m7$$pmdJ+IB1a\">\n                            <value name=\"INDEX\">\n                              <shadow type=\"math_number\" id=\"Ov};{]h[|]u!UQa@wTFg\">\n                                <field name=\"NUM\">6</field>\n                              </shadow>\n                            </value>\n                            <value name=\"BUFFER\">\n                              <shadow type=\"buffer_empty\" id=\"(4)[-^9OX5PV;%s]_*wU\"></shadow>\n                              <block type=\"variables_get\" id=\"K;U#icdTtS(fPH7tibaQ\">\n                                <field name=\"VAR\" id=\"_Vv{V/M62OO$vyzw/7dm\">rcvdPayload</field>\n                              </block>\n                            </value>\n                          </block>\n                        </value>\n                      </block>\n                    </value>\n                    <next>\n                      <block type=\"variables_set\" id=\"|VG0p5j1sKgOlZmFbw~B\">\n                        <field name=\"VAR\" id=\"uOw#m2hDK@WQ+}F?|0z6\">topicName</field>\n                        <value name=\"VALUE\">\n                          <block type=\"lists_getSublist\" id=\"S.J}_8@[1|sId{/7la]C\">\n                            <mutation at1=\"true\" at2=\"true\"></mutation>\n                            <field name=\"WHERE1\">FROM_START</field>\n                            <field name=\"WHERE2\">FROM_START</field>\n                            <value name=\"LIST\">\n                              <block type=\"variables_get\" id=\"7Dy!D`YpnjO)/1g(UJ|Q\">\n                                <field name=\"VAR\" id=\"_Vv{V/M62OO$vyzw/7dm\">rcvdPayload</field>\n                              </block>\n                            </value>\n                            <value name=\"AT1\">\n                              <block type=\"math_number\" id=\"xLufc2XUQTUR6V]D,(hi\">\n                                <field name=\"NUM\">7</field>\n                              </block>\n                            </value>\n                            <value name=\"AT2\">\n                              <block type=\"math_arithmetic\" id=\"qN7EpS9;`u!Ov8D/_,cO\">\n                                <field name=\"OP\">ADD</field>\n                                <value name=\"A\">\n                                  <shadow type=\"math_number\" id=\"xl|YT8y}nNfv(H!*jqCL\">\n                                    <field name=\"NUM\">6</field>\n                                  </shadow>\n                                </value>\n                                <value name=\"B\">\n                                  <shadow type=\"math_number\" id=\"fOU-*KsEh#E3Gtn#=5YV\">\n                                    <field name=\"NUM\">1</field>\n                                  </shadow>\n                                  <block type=\"variables_get\" id=\"]XIKBl3@V$MVYjm+$y%|\">\n                                    <field name=\"VAR\" id=\"i31wcn{F)HlBi)2AeR~2\">topicLength</field>\n                                  </block>\n                                </value>\n                              </block>\n                            </value>\n                          </block>\n                        </value>\n                        <next>\n                          <block type=\"variables_set\" id=\"tkmLR@kJt/uXOx!?+=D!\">\n                            <field name=\"VAR\" id=\"uOw#m2hDK@WQ+}F?|0z6\">topicName</field>\n                            <value name=\"VALUE\">\n                              <block type=\"buffer_to_string\" id=\"|HENWo]TVW9hc~]tU{NE\">\n                                <field name=\"ENCODING\">utf8</field>\n                                <value name=\"BUFFER_INPUT\">\n                                  <shadow type=\"buffer_empty\" id=\"7=$7-KBeAs*=k}Q^IYRY\"></shadow>\n                                  <block type=\"variables_get\" id=\"9~,Q(AZk-HVaD[Edo2|1\">\n                                    <field name=\"VAR\" id=\"uOw#m2hDK@WQ+}F?|0z6\">topicName</field>\n                                  </block>\n                                </value>\n                              </block>\n                            </value>\n                            <next>\n                              <block type=\"controls_if\" id=\"[57sCUc}.9?xFM6nuQ+L\">\n                                <value name=\"IF0\">\n                                  <block type=\"logic_negate\" id=\"fjERHSw{H^Rr;]nTSgot\">\n                                    <value name=\"BOOL\">\n                                      <block type=\"node_object_get\" id=\"L^pqLY[7#La_cbn5H4-=\">\n                                        <mutation xmlns=\"http://www.w3.org/1999/xhtml\" action=\"HAS\"></mutation>\n                                        <field name=\"action\">HAS</field>\n                                        <value name=\"object\">\n                                          <shadow type=\"node_msg\" id=\"WvjW$gM,@mBGcH_4eEmx\"></shadow>\n                                        </value>\n                                        <value name=\"field_name\">\n                                          <shadow type=\"text\" id=\"FQ=$WAZH/6q/-p}W.HQE\">\n                                            <field name=\"TEXT\">mqttPacket.subscribe</field>\n                                          </shadow>\n                                        </value>\n                                      </block>\n                                    </value>\n                                  </block>\n                                </value>\n                                <statement name=\"DO0\">\n                                  <block type=\"node_object_set\" id=\"(#l}wBIScUG.pRT$BQzS\" inline=\"true\">\n                                    <value name=\"object_field\">\n                                      <shadow type=\"node_msg\" id=\"Mje5|5hh;RZ.Kpx}{%p=\"></shadow>\n                                    </value>\n                                    <value name=\"field_name\">\n                                      <shadow type=\"text\" id=\",.WpwJm-@dm/SaoN8V^Y\">\n                                        <field name=\"TEXT\">mqttPacket.subscribe</field>\n                                      </shadow>\n                                    </value>\n                                    <value name=\"value_field\">\n                                      <shadow type=\"text\" id=\"v2=pYHu/du9F0}BM?l00\">\n                                        <field name=\"TEXT\"></field>\n                                      </shadow>\n                                      <block type=\"object_create\" id=\"@7ki/0.n8uT=Bp|zSX?U\"></block>\n                                    </value>\n                                  </block>\n                                </statement>\n                                <next>\n                                  <block type=\"node_object_set\" id=\"8Z4F+N/AO8)EL].{%zY^\" inline=\"true\">\n                                    <value name=\"object_field\">\n                                      <shadow type=\"node_msg\" id=\"Y[g#oAEA%Iu$-]0S~W}c\"></shadow>\n                                    </value>\n                                    <value name=\"field_name\">\n                                      <shadow type=\"text\" id=\"a{0_[-,FC@nWRoKc5u@}\">\n                                        <field name=\"TEXT\">mqttPacket.subscribe.topicName</field>\n                                      </shadow>\n                                    </value>\n                                    <value name=\"value_field\">\n                                      <shadow type=\"text\" id=\"U]L{JX,9phtc6CEvSD.l\">\n                                        <field name=\"TEXT\"></field>\n                                      </shadow>\n                                      <block type=\"variables_get\" id=\"aNTqhpT?Z=Ug(v7Nykaj\">\n                                        <field name=\"VAR\" id=\"uOw#m2hDK@WQ+}F?|0z6\">topicName</field>\n                                      </block>\n                                    </value>\n                                    <next>\n                                      <block type=\"node_object_set\" id=\"c*aQp)w*/Ju7Y)!YA!^j\" inline=\"true\">\n                                        <value name=\"object_field\">\n                                          <shadow type=\"node_msg\" id=\"88#.mDCiAu%z4tY4dOI@\"></shadow>\n                                        </value>\n                                        <value name=\"field_name\">\n                                          <shadow type=\"text\" id=\"`f$lT2YE#sR.g]7LEqfT\">\n                                            <field name=\"TEXT\">mqttPacket.subscribe.MessageId</field>\n                                          </shadow>\n                                        </value>\n                                        <value name=\"value_field\">\n                                          <shadow type=\"text\">\n                                            <field name=\"TEXT\"></field>\n                                          </shadow>\n                                          <block type=\"variables_get\" id=\"bZ!.gbgArYZT1$+!PX+j\">\n                                            <field name=\"VAR\" id=\"d+8f$sJ1JPHoR{DZNlm%\">MessageId</field>\n                                          </block>\n                                        </value>\n                                        <next>\n                                          <block type=\"lists_setIndex\" id=\"`5Z|hx+;v__5^;5qNI,z\">\n                                            <mutation at=\"false\"></mutation>\n                                            <field name=\"MODE\">INSERT</field>\n                                            <field name=\"WHERE\">LAST</field>\n                                            <value name=\"LIST\">\n                                              <block type=\"variables_get\" id=\"9t]!GOj0GzpTs^RZNd-H\">\n                                                <field name=\"VAR\" id=\"wX|SZvXL=L`zM;@KF}(+\">homemadeSub</field>\n                                              </block>\n                                            </value>\n                                            <value name=\"TO\">\n                                              <block type=\"lists_create_with\" id=\"/)x::ECQ^Y@J,Fp,@{vF\">\n                                                <mutation items=\"2\"></mutation>\n                                                <value name=\"ADD0\">\n                                                  <block type=\"variables_get\" id=\"ARzm;|P*Ws~0khhEK47F\">\n                                                    <field name=\"VAR\" id=\"L[/Lb#fK0%ZKBaM$jZx/\">_sessionId</field>\n                                                  </block>\n                                                </value>\n                                                <value name=\"ADD1\">\n                                                  <block type=\"variables_get\" id=\"@8[s#*ij)VO4LoW{;OI_\">\n                                                    <field name=\"VAR\" id=\"uOw#m2hDK@WQ+}F?|0z6\">topicName</field>\n                                                  </block>\n                                                </value>\n                                              </block>\n                                            </value>\n                                            <next>\n                                              <block type=\"node_status\" id=\"zJ_+|Rg1je#7tIHX`rtJ\">\n                                                <field name=\"COLOUR\">#0000ff</field>\n                                                <field name=\"SHAPE\">RING</field>\n                                                <value name=\"TEXT_INPUT\">\n                                                  <shadow type=\"text\" id=\"2DtfbrXhEeY_JzBTxf)$\">\n                                                    <field name=\"TEXT\"></field>\n                                                  </shadow>\n                                                  <block type=\"text_join\" id=\"C|)0jyoSE[JIG[JekB}O\" inline=\"true\">\n                                                    <mutation items=\"5\"></mutation>\n                                                    <value name=\"ADD0\">\n                                                      <block type=\"variables_get\" id=\"GX4pMd;i56Mc1_eO$KI?\">\n                                                        <field name=\"VAR\" id=\"d+8f$sJ1JPHoR{DZNlm%\">MessageId</field>\n                                                      </block>\n                                                    </value>\n                                                    <value name=\"ADD1\">\n                                                      <block type=\"text\" id=\"BJjuZqAeeO_Z2q,U^`-M\">\n                                                        <field name=\"TEXT\">:</field>\n                                                      </block>\n                                                    </value>\n                                                    <value name=\"ADD2\">\n                                                      <block type=\"variables_get\" id=\"]!HH#[?rb.59~`Ak;6ad\">\n                                                        <field name=\"VAR\" id=\"i31wcn{F)HlBi)2AeR~2\">topicLength</field>\n                                                      </block>\n                                                    </value>\n                                                    <value name=\"ADD3\">\n                                                      <block type=\"text\" id=\"P98,#`,H{#q0alnf2Y5|\">\n                                                        <field name=\"TEXT\">:</field>\n                                                      </block>\n                                                    </value>\n                                                    <value name=\"ADD4\">\n                                                      <block type=\"variables_get\" id=\"4vc3Q^I)k2VD^^BsV0D,\">\n                                                        <field name=\"VAR\" id=\"uOw#m2hDK@WQ+}F?|0z6\">topicName</field>\n                                                      </block>\n                                                    </value>\n                                                  </block>\n                                                </value>\n                                                <next>\n                                                  <block type=\"variables_set\" id=\"l@sfb.9mg3#EAMF*+`GJ\">\n                                                    <field name=\"VAR\" id=\"c7*FtK*W=z%xb6U!7i@u\">SUBACK</field>\n                                                    <value name=\"VALUE\">\n                                                      <block type=\"buffer_alloc\" id=\"t,mBQ+:ztI0=gEBTxl~c\">\n                                                        <value name=\"LENGTH\">\n                                                          <shadow type=\"math_number\" id=\"OhNeVf]v{BT.a~E!n}py\">\n                                                            <field name=\"NUM\">5</field>\n                                                          </shadow>\n                                                        </value>\n                                                      </block>\n                                                    </value>\n                                                    <next>\n                                                      <block type=\"buffer_set_index\" id=\"P0W2xPVF`p]m(R,?G$-1\">\n                                                        <value name=\"INDEX\">\n                                                          <shadow type=\"math_number\" id=\"o_7,}[)/`RJKercmZ-UG\">\n                                                            <field name=\"NUM\">1</field>\n                                                          </shadow>\n                                                        </value>\n                                                        <value name=\"BUFFER\">\n                                                          <shadow type=\"buffer_empty\" id=\"V,je:ZX-PO8qo2yw;=-R\"></shadow>\n                                                          <block type=\"variables_get\" id=\"jt|IqBs5=A2p{ZCt5{L=\">\n                                                            <field name=\"VAR\" id=\"c7*FtK*W=z%xb6U!7i@u\">SUBACK</field>\n                                                          </block>\n                                                        </value>\n                                                        <value name=\"VALUE\">\n                                                          <shadow type=\"buffer_byte\" id=\"47:lLRyJBp?;2H:$}^-8\">\n                                                            <field name=\"BYTE_VALUE\">144</field>\n                                                          </shadow>\n                                                        </value>\n                                                        <next>\n                                                          <block type=\"buffer_set_index\" id=\"6zfN02{={~D?T.Z@CR3n\">\n                                                            <value name=\"INDEX\">\n                                                              <shadow type=\"math_number\" id=\"@[0Y+)-0hFEH]g!~=jjK\">\n                                                                <field name=\"NUM\">2</field>\n                                                              </shadow>\n                                                            </value>\n                                                            <value name=\"BUFFER\">\n                                                              <shadow type=\"buffer_empty\"></shadow>\n                                                              <block type=\"variables_get\" id=\"6bZ;@OU`S04UA!!AOh9%\">\n                                                                <field name=\"VAR\" id=\"c7*FtK*W=z%xb6U!7i@u\">SUBACK</field>\n                                                              </block>\n                                                            </value>\n                                                            <value name=\"VALUE\">\n                                                              <shadow type=\"buffer_byte\" id=\"L.=98:$QPot(9Fi?q5P1\">\n                                                                <field name=\"BYTE_VALUE\">3</field>\n                                                              </shadow>\n                                                            </value>\n                                                            <next>\n                                                              <block type=\"buffer_set_index\" id=\"CjiSV*SPZ71xfxYB!7Nc\">\n                                                                <value name=\"INDEX\">\n                                                                  <shadow type=\"math_number\" id=\"]1EC#:C6^L{[I8jZFV-W\">\n                                                                    <field name=\"NUM\">3</field>\n                                                                  </shadow>\n                                                                </value>\n                                                                <value name=\"BUFFER\">\n                                                                  <shadow type=\"buffer_empty\"></shadow>\n                                                                  <block type=\"variables_get\" id=\"G7E:~/$qkC].L)O_*ASZ\">\n                                                                    <field name=\"VAR\" id=\"c7*FtK*W=z%xb6U!7i@u\">SUBACK</field>\n                                                                  </block>\n                                                                </value>\n                                                                <value name=\"VALUE\">\n                                                                  <shadow type=\"buffer_byte\" id=\"KW+:}NV,GHp^u:r{6CzT\">\n                                                                    <field name=\"BYTE_VALUE\">144</field>\n                                                                  </shadow>\n                                                                  <block type=\"buffer_get_index\" id=\"ASL7+C+R$*}eo+,u)r,W\">\n                                                                    <value name=\"INDEX\">\n                                                                      <shadow type=\"math_number\" id=\"M:III32i#q*^CZWOmtkb\">\n                                                                        <field name=\"NUM\">3</field>\n                                                                      </shadow>\n                                                                    </value>\n                                                                    <value name=\"BUFFER\">\n                                                                      <shadow type=\"buffer_empty\" id=\"LFMkNxT13ZBUan2rV5;f\"></shadow>\n                                                                      <block type=\"variables_get\" id=\"#L@n}gVLZ[0*+TfQi%6X\">\n                                                                        <field name=\"VAR\" id=\"_Vv{V/M62OO$vyzw/7dm\">rcvdPayload</field>\n                                                                      </block>\n                                                                    </value>\n                                                                  </block>\n                                                                </value>\n                                                                <next>\n                                                                  <block type=\"buffer_set_index\" id=\"HYYr8J}iy*1;X(.TB_GB\">\n                                                                    <value name=\"INDEX\">\n                                                                      <shadow type=\"math_number\" id=\"vAq|M6!R;gDI}8kwoxum\">\n                                                                        <field name=\"NUM\">4</field>\n                                                                      </shadow>\n                                                                    </value>\n                                                                    <value name=\"BUFFER\">\n                                                                      <shadow type=\"buffer_empty\"></shadow>\n                                                                      <block type=\"variables_get\" id=\"Ez/RfA~G6olp32pr;ik.\">\n                                                                        <field name=\"VAR\" id=\"c7*FtK*W=z%xb6U!7i@u\">SUBACK</field>\n                                                                      </block>\n                                                                    </value>\n                                                                    <value name=\"VALUE\">\n                                                                      <shadow type=\"buffer_byte\" id=\".(ttn%/@7oiR^7:~#6#`\">\n                                                                        <field name=\"BYTE_VALUE\">144</field>\n                                                                      </shadow>\n                                                                      <block type=\"buffer_get_index\" id=\"|Dt*59hi5!Yxt1SoyVpr\">\n                                                                        <value name=\"INDEX\">\n                                                                          <shadow type=\"math_number\" id=\"I_,mMW~%$|Wi,eH89Ma5\">\n                                                                            <field name=\"NUM\">4</field>\n                                                                          </shadow>\n                                                                        </value>\n                                                                        <value name=\"BUFFER\">\n                                                                          <shadow type=\"buffer_empty\"></shadow>\n                                                                          <block type=\"variables_get\" id=\"4{*[+Qx,s17jhmsqj6a.\">\n                                                                            <field name=\"VAR\" id=\"_Vv{V/M62OO$vyzw/7dm\">rcvdPayload</field>\n                                                                          </block>\n                                                                        </value>\n                                                                      </block>\n                                                                    </value>\n                                                                    <next>\n                                                                      <block type=\"buffer_set_index\" id=\"dP);r)kapO;Z72zG(IVL\">\n                                                                        <value name=\"INDEX\">\n                                                                          <shadow type=\"math_number\" id=\"c:gQ$eu]X0Phq#+5Hv_I\">\n                                                                            <field name=\"NUM\">5</field>\n                                                                          </shadow>\n                                                                        </value>\n                                                                        <value name=\"BUFFER\">\n                                                                          <shadow type=\"buffer_empty\"></shadow>\n                                                                          <block type=\"variables_get\" id=\"cB8TZ=Dr,kW*C,CNdd.K\">\n                                                                            <field name=\"VAR\" id=\"c7*FtK*W=z%xb6U!7i@u\">SUBACK</field>\n                                                                          </block>\n                                                                        </value>\n                                                                        <value name=\"VALUE\">\n                                                                          <shadow type=\"buffer_byte\" id=\"*DWCwJ!rUlpQYhAQx^ca\">\n                                                                            <field name=\"BYTE_VALUE\">0</field>\n                                                                          </shadow>\n                                                                        </value>\n                                                                        <next>\n                                                                          <block type=\"node_object_set\" id=\"e/OG;ry-gapKdT+w}~#{\" inline=\"true\">\n                                                                            <value name=\"object_field\">\n                                                                              <shadow type=\"node_msg\" id=\"Gzw7k*Hb%btb!gyqI(.L\"></shadow>\n                                                                            </value>\n                                                                            <value name=\"field_name\">\n                                                                              <shadow type=\"text\" id=\"@@+u9z^b?1NpC`nY31b-\">\n                                                                                <field name=\"TEXT\">payload</field>\n                                                                              </shadow>\n                                                                            </value>\n                                                                            <value name=\"value_field\">\n                                                                              <shadow type=\"text\">\n                                                                                <field name=\"TEXT\"></field>\n                                                                              </shadow>\n                                                                              <block type=\"variables_get\" id=\"{2+b^r*{|#U.:sz@Ic/K\">\n                                                                                <field name=\"VAR\" id=\"c7*FtK*W=z%xb6U!7i@u\">SUBACK</field>\n                                                                              </block>\n                                                                            </value>\n                                                                            <next>\n                                                                              <block type=\"node_send\" id=\"W3T8xsE*ZUs[i99~vM|m\">\n                                                                                <field name=\"OUTPUT_NR\">1</field>\n                                                                                <value name=\"MESSAGE_INPUT\">\n                                                                                  <shadow type=\"node_msg\" id=\"~@R!ux6M|R5^$TyhhABn\"></shadow>\n                                                                                </value>\n                                                                                <next>\n                                                                                  <block type=\"node_object_set\" id=\"A2U7xqZgJye-43qeQ4}c\" inline=\"true\">\n                                                                                    <value name=\"object_field\">\n                                                                                      <shadow type=\"node_msg\" id=\"4pF7uTe(*ZdPakXJSx3b\"></shadow>\n                                                                                    </value>\n                                                                                    <value name=\"field_name\">\n                                                                                      <shadow type=\"text\" id=\"YRbv}TPP.[PDtMq=z86C\">\n                                                                                        <field name=\"TEXT\">payload</field>\n                                                                                      </shadow>\n                                                                                    </value>\n                                                                                    <value name=\"value_field\">\n                                                                                      <shadow type=\"text\" id=\"VWtmW/H1VVz()$?H/)$q\">\n                                                                                        <field name=\"TEXT\"></field>\n                                                                                      </shadow>\n                                                                                      <block type=\"variables_get\" id=\"+g78}c11OJ`69inQ9057\">\n                                                                                        <field name=\"VAR\" id=\"_Vv{V/M62OO$vyzw/7dm\">rcvdPayload</field>\n                                                                                      </block>\n                                                                                    </value>\n                                                                                    <next>\n                                                                                      <block type=\"node_send\" id=\"*enHIrY*`9#*7`=@6+(j\">\n                                                                                        <field name=\"OUTPUT_NR\">2</field>\n                                                                                        <value name=\"MESSAGE_INPUT\">\n                                                                                          <shadow type=\"node_msg\" id=\"GzrfVGknc!OJ?i;a^}S]\"></shadow>\n                                                                                        </value>\n                                                                                      </block>\n                                                                                    </next>\n                                                                                  </block>\n                                                                                </next>\n                                                                              </block>\n                                                                            </next>\n                                                                          </block>\n                                                                        </next>\n                                                                      </block>\n                                                                    </next>\n                                                                  </block>\n                                                                </next>\n                                                              </block>\n                                                            </next>\n                                                          </block>\n                                                        </next>\n                                                      </block>\n                                                    </next>\n                                                  </block>\n                                                </next>\n                                              </block>\n                                            </next>\n                                          </block>\n                                        </next>\n                                      </block>\n                                    </next>\n                                  </block>\n                                </next>\n                              </block>\n                            </next>\n                          </block>\n                        </next>\n                      </block>\n                    </next>\n                  </block>\n                </next>\n              </block>\n            </next>\n          </block>\n        </next>\n      </block>\n    </next>\n  </block>\n  <block type=\"text_join\" id=\"#{s8Bkz6LP-2HVlZjk[o\" x=\"13\" y=\"1313\">\n    <mutation items=\"3\"></mutation>\n    <value name=\"ADD0\">\n      <block type=\"variables_get\" id=\"iJbfH!iUKS*L9mFH`Z`i\">\n        <field name=\"VAR\" id=\"L[/Lb#fK0%ZKBaM$jZx/\">_sessionId</field>\n      </block>\n    </value>\n    <value name=\"ADD1\">\n      <block type=\"text\" id=\"k9U$Sn3Gj?iiVU~!sY6K\">\n        <field name=\"TEXT\">.</field>\n      </block>\n    </value>\n    <value name=\"ADD2\">\n      <block type=\"variables_get\" id=\"coiTDsS_g%_$)E,rf.+H\">\n        <field name=\"VAR\" id=\"uOw#m2hDK@WQ+}F?|0z6\">topicName</field>\n      </block>\n    </value>\n  </block>\n</xml>","outputs":2,"blocklyConfig":"a6722b13cc9e29c1","backpackContents":[],"noerr":0,"name":"","x":1027,"y":605,"wires":[["da3f84ead8ae89dc","2343c09d75092ba6"],[]]},{"id":"462f8d53f850d053","type":"delay","z":"dc897f402c53697f","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1267,"y":505,"wires":[["d06e1719fc770910","d4d4146f6450bcaa"]]},{"id":"d06e1719fc770910","type":"link out","z":"dc897f402c53697f","name":"link out 6","mode":"link","links":["86d40617a04bb66d"],"x":1412,"y":505,"wires":[]},{"id":"da3f84ead8ae89dc","type":"debug","z":"dc897f402c53697f","name":"debug 363","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"SUBACK sent\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":1152,"y":605,"wires":[],"l":false},{"id":"2343c09d75092ba6","type":"link out","z":"dc897f402c53697f","name":"link out 7","mode":"link","links":["86d40617a04bb66d"],"x":1152,"y":565,"wires":[]},{"id":"46100fb0a08b0c5c","type":"change","z":"dc897f402c53697f","name":"DISCONNECT","rules":[{"t":"set","p":"mqttPacket.type","pt":"msg","to":"DISCONNECT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":827,"y":765,"wires":[["73a8064f83d4db2a","cd2d682b9e504900"]]},{"id":"73a8064f83d4db2a","type":"debug","z":"dc897f402c53697f","name":"debug 364","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"DISCONNECT rcvd\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":942,"y":765,"wires":[],"l":false},{"id":"0c8ae20f5bca7f97","type":"change","z":"dc897f402c53697f","name":"UNSUBSCRIBE","rules":[{"t":"set","p":"mqttPacket.type","pt":"msg","to":"UNSUBSCRIBE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":827,"y":685,"wires":[["81ad923686dfe8d9","fdcd4ff543fca3d9"]]},{"id":"81ad923686dfe8d9","type":"debug","z":"dc897f402c53697f","name":"debug 365","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"UNSUBSCRIBE rcvd\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":922,"y":725,"wires":[],"l":false},{"id":"e396e5ee280efc86","type":"link out","z":"dc897f402c53697f","name":"link out 8","mode":"link","links":["86d40617a04bb66d"],"x":1282,"y":645,"wires":[]},{"id":"4012ad0d8a2cfb0c","type":"debug","z":"dc897f402c53697f","name":"debug 366","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"UNSUBACK sent\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":1282,"y":685,"wires":[],"l":false},{"id":"481de810d8930c03","type":"Blockly","z":"dc897f402c53697f","func":"var rcvdMessage, homemadeSub, remainingLen, topicLength, topicName, MessageId, payload, j;\n\n\nrcvdMessage = (msg['payload']);\nhomemadeSub = (flow.get('homemadeSub'));\nremainingLen = (rcvdMessage[2 - 1]);\ntopicLength = 256 * (rcvdMessage[3 - 1]) + (rcvdMessage[4 - 1]);\ntopicName = rcvdMessage.slice(4, 4 + topicLength);\ntopicName = (topicName.toString(\"utf8\"));\nmsg['mqttPacket']['topicName'] = topicName;\nMessageId = 256 * (rcvdMessage[(5 + topicLength) - 1]) + (rcvdMessage[(6 + topicLength) - 1]);\nmsg['mqttPacket']['messageId'] = MessageId;\npayload = rcvdMessage.slice(((5 + topicLength) - 1), rcvdMessage.length);\nnode.status({fill:\"blue\", shape:\"ring\", text:([MessageId,':',topicLength,':',payload].join(''))});\npayload = (payload.toString(\"latin1\"));\nmsg['mqttPacket']['payload'] = payload;\nfor (var j_index in homemadeSub) {\n  j = homemadeSub[j_index];\n  if (j[1] == topicName) {\n    node.status({fill:\"blue\", shape:\"ring\", text:'topic match'});\n    msg['_session']['id'] = (j[0]);\n    node.send([msg]);\n  }\n}\n","workspaceXml":"<xml xmlns=\"https://developers.google.com/blockly/xml\">\n  <variables>\n    <variable id=\"_Vv{V/M62OO$vyzw/7dm\">rcvdMessage</variable>\n    <variable id=\"nZbLV!9;-UMjLKl7Qj[9\">homemadeSub</variable>\n    <variable id=\"6G0u}CZIX~!|`if8bzaI\">remainingLen</variable>\n    <variable id=\"i31wcn{F)HlBi)2AeR~2\">topicLength</variable>\n    <variable id=\"uOw#m2hDK@WQ+}F?|0z6\">topicName</variable>\n    <variable id=\"d+8f$sJ1JPHoR{DZNlm%\">MessageId</variable>\n    <variable id=\"yg%*.(w{2/4PT%t=u8@h\">payload</variable>\n    <variable id=\"A-,$O)LJq:9F9`-d{KHW\">j</variable>\n  </variables>\n  <block type=\"variables_set\" id=\"Wo2U?3^W9MV.9s5f2@se\" x=\"13\" y=\"13\">\n    <field name=\"VAR\" id=\"_Vv{V/M62OO$vyzw/7dm\">rcvdMessage</field>\n    <value name=\"VALUE\">\n      <block type=\"node_object_get\" id=\"vNhv~z$r*Ehs[Q]A)cA_\">\n        <mutation xmlns=\"http://www.w3.org/1999/xhtml\" action=\"GET\"></mutation>\n        <field name=\"action\">GET</field>\n        <value name=\"object\">\n          <shadow type=\"node_msg\" id=\"Zz8QtCI]{*H=iJ6^yaXm\"></shadow>\n        </value>\n        <value name=\"field_name\">\n          <shadow type=\"text\" id=\"zZ702+Uj@12[?+o^!M;R\">\n            <field name=\"TEXT\">payload</field>\n          </shadow>\n        </value>\n      </block>\n    </value>\n    <next>\n      <block type=\"variables_set\" id=\",fi=2._1Z*4R$k+Fc)^#\">\n        <field name=\"VAR\" id=\"nZbLV!9;-UMjLKl7Qj[9\">homemadeSub</field>\n        <value name=\"VALUE\">\n          <block type=\"node_object_get\" id=\"}G`qmig=s`b5#FHJ/PvK\">\n            <mutation xmlns=\"http://www.w3.org/1999/xhtml\" action=\"GET\"></mutation>\n            <field name=\"action\">GET</field>\n            <value name=\"object\">\n              <shadow type=\"node_msg\" id=\"5Y~e|T_Z7^9TNMK^.6MJ\"></shadow>\n              <block type=\"node_flow_memory\" id=\"v+*3L6-U([Wazl@e@,-:\"></block>\n            </value>\n            <value name=\"field_name\">\n              <shadow type=\"text\" id=\"z*vi2,?UIHbr_M1ns_6[\">\n                <field name=\"TEXT\">homemadeSub</field>\n              </shadow>\n            </value>\n          </block>\n        </value>\n        <next>\n          <block type=\"variables_set\" id=\"XPWIV#7w0?UdGV-;tnWt\">\n            <field name=\"VAR\" id=\"6G0u}CZIX~!|`if8bzaI\">remainingLen</field>\n            <value name=\"VALUE\">\n              <block type=\"buffer_get_index\" id=\"XLFa~1(Eocdc/(dX7UOT\">\n                <value name=\"INDEX\">\n                  <shadow type=\"math_number\" id=\"mp0o3U~;R-U}W*vf9+;#\">\n                    <field name=\"NUM\">2</field>\n                  </shadow>\n                </value>\n                <value name=\"BUFFER\">\n                  <shadow type=\"buffer_empty\"></shadow>\n                  <block type=\"variables_get\" id=\";H=H44u4nADm|cpr[(Rm\">\n                    <field name=\"VAR\" id=\"_Vv{V/M62OO$vyzw/7dm\">rcvdMessage</field>\n                  </block>\n                </value>\n              </block>\n            </value>\n            <next>\n              <block type=\"variables_set\" id=\"Sm7]:CJWA3+gZjuxkFhF\">\n                <field name=\"VAR\" id=\"i31wcn{F)HlBi)2AeR~2\">topicLength</field>\n                <value name=\"VALUE\">\n                  <block type=\"math_arithmetic\" id=\"[Mgl`h=/Q+)?5icAfU|5\">\n                    <field name=\"OP\">ADD</field>\n                    <value name=\"A\">\n                      <shadow type=\"math_number\" id=\"!%ah^GzKSdRFr:~Diw.1\">\n                        <field name=\"NUM\">1</field>\n                      </shadow>\n                      <block type=\"math_arithmetic\" id=\"nd].Wu=v{p%gm4DM@%AY\">\n                        <field name=\"OP\">MULTIPLY</field>\n                        <value name=\"A\">\n                          <shadow type=\"math_number\" id=\"2$JdE|yHqq]-8%3;.l$k\">\n                            <field name=\"NUM\">256</field>\n                          </shadow>\n                        </value>\n                        <value name=\"B\">\n                          <shadow type=\"math_number\" id=\"h;fF|oa0;OJFGdZrdc~(\">\n                            <field name=\"NUM\">1</field>\n                          </shadow>\n                          <block type=\"buffer_get_index\" id=\"b}IF:?FPdQyzniie}8}}\">\n                            <value name=\"INDEX\">\n                              <shadow type=\"math_number\" id=\"!z~Vp`Kj0_1ZpWzNUDaE\">\n                                <field name=\"NUM\">3</field>\n                              </shadow>\n                            </value>\n                            <value name=\"BUFFER\">\n                              <shadow type=\"buffer_empty\" id=\"$e(,aq(]a}Xk6Dsy|so~\"></shadow>\n                              <block type=\"variables_get\" id=\"$68Z06mvo1Gh4afNaqpy\">\n                                <field name=\"VAR\" id=\"_Vv{V/M62OO$vyzw/7dm\">rcvdMessage</field>\n                              </block>\n                            </value>\n                          </block>\n                        </value>\n                      </block>\n                    </value>\n                    <value name=\"B\">\n                      <shadow type=\"math_number\" id=\"W[5#i]q/_PlC9F1ntk/|\">\n                        <field name=\"NUM\">1</field>\n                      </shadow>\n                      <block type=\"buffer_get_index\" id=\"5`v$zb6m7$$pmdJ+IB1a\">\n                        <value name=\"INDEX\">\n                          <shadow type=\"math_number\" id=\"Ov};{]h[|]u!UQa@wTFg\">\n                            <field name=\"NUM\">4</field>\n                          </shadow>\n                        </value>\n                        <value name=\"BUFFER\">\n                          <shadow type=\"buffer_empty\" id=\"(4)[-^9OX5PV;%s]_*wU\"></shadow>\n                          <block type=\"variables_get\" id=\"K;U#icdTtS(fPH7tibaQ\">\n                            <field name=\"VAR\" id=\"_Vv{V/M62OO$vyzw/7dm\">rcvdMessage</field>\n                          </block>\n                        </value>\n                      </block>\n                    </value>\n                  </block>\n                </value>\n                <next>\n                  <block type=\"variables_set\" id=\"|VG0p5j1sKgOlZmFbw~B\">\n                    <field name=\"VAR\" id=\"uOw#m2hDK@WQ+}F?|0z6\">topicName</field>\n                    <value name=\"VALUE\">\n                      <block type=\"lists_getSublist\" id=\"S.J}_8@[1|sId{/7la]C\">\n                        <mutation at1=\"true\" at2=\"true\"></mutation>\n                        <field name=\"WHERE1\">FROM_START</field>\n                        <field name=\"WHERE2\">FROM_START</field>\n                        <value name=\"LIST\">\n                          <block type=\"variables_get\" id=\"7Dy!D`YpnjO)/1g(UJ|Q\">\n                            <field name=\"VAR\" id=\"_Vv{V/M62OO$vyzw/7dm\">rcvdMessage</field>\n                          </block>\n                        </value>\n                        <value name=\"AT1\">\n                          <block type=\"math_number\" id=\"xLufc2XUQTUR6V]D,(hi\">\n                            <field name=\"NUM\">5</field>\n                          </block>\n                        </value>\n                        <value name=\"AT2\">\n                          <block type=\"math_arithmetic\" id=\"qN7EpS9;`u!Ov8D/_,cO\">\n                            <field name=\"OP\">ADD</field>\n                            <value name=\"A\">\n                              <shadow type=\"math_number\" id=\"xl|YT8y}nNfv(H!*jqCL\">\n                                <field name=\"NUM\">4</field>\n                              </shadow>\n                            </value>\n                            <value name=\"B\">\n                              <shadow type=\"math_number\" id=\"fOU-*KsEh#E3Gtn#=5YV\">\n                                <field name=\"NUM\">1</field>\n                              </shadow>\n                              <block type=\"variables_get\" id=\"]XIKBl3@V$MVYjm+$y%|\">\n                                <field name=\"VAR\" id=\"i31wcn{F)HlBi)2AeR~2\">topicLength</field>\n                              </block>\n                            </value>\n                          </block>\n                        </value>\n                      </block>\n                    </value>\n                    <next>\n                      <block type=\"variables_set\" id=\"tkmLR@kJt/uXOx!?+=D!\">\n                        <field name=\"VAR\" id=\"uOw#m2hDK@WQ+}F?|0z6\">topicName</field>\n                        <value name=\"VALUE\">\n                          <block type=\"buffer_to_string\" id=\"|HENWo]TVW9hc~]tU{NE\">\n                            <field name=\"ENCODING\">utf8</field>\n                            <value name=\"BUFFER_INPUT\">\n                              <shadow type=\"buffer_empty\" id=\"7=$7-KBeAs*=k}Q^IYRY\"></shadow>\n                              <block type=\"variables_get\" id=\"9~,Q(AZk-HVaD[Edo2|1\">\n                                <field name=\"VAR\" id=\"uOw#m2hDK@WQ+}F?|0z6\">topicName</field>\n                              </block>\n                            </value>\n                          </block>\n                        </value>\n                        <next>\n                          <block type=\"node_object_set\" id=\"Gi`VeD4~Butp,APa)xu#\" inline=\"true\">\n                            <value name=\"object_field\">\n                              <shadow type=\"node_msg\" id=\"nV[/{MV_.J:p$b]HCn{B\"></shadow>\n                            </value>\n                            <value name=\"field_name\">\n                              <shadow type=\"text\" id=\"@pyUB%`)I/ZE?9|?8*s6\">\n                                <field name=\"TEXT\">mqttPacket.topicName</field>\n                              </shadow>\n                            </value>\n                            <value name=\"value_field\">\n                              <shadow type=\"text\">\n                                <field name=\"TEXT\"></field>\n                              </shadow>\n                              <block type=\"variables_get\" id=\"GBJC``uX!6X}J|.$DVRS\">\n                                <field name=\"VAR\" id=\"uOw#m2hDK@WQ+}F?|0z6\">topicName</field>\n                              </block>\n                            </value>\n                            <next>\n                              <block type=\"variables_set\" id=\"/N7MB@DYQAeO.((YzZJk\">\n                                <field name=\"VAR\" id=\"d+8f$sJ1JPHoR{DZNlm%\">MessageId</field>\n                                <value name=\"VALUE\">\n                                  <block type=\"math_arithmetic\" id=\"wvtxzM*~JgEVuXM{vtka\">\n                                    <field name=\"OP\">ADD</field>\n                                    <value name=\"A\">\n                                      <shadow type=\"math_number\">\n                                        <field name=\"NUM\">1</field>\n                                      </shadow>\n                                      <block type=\"math_arithmetic\" id=\"|}z.q~:}Kw/b^xj$lH;G\">\n                                        <field name=\"OP\">MULTIPLY</field>\n                                        <value name=\"A\">\n                                          <shadow type=\"math_number\" id=\"khkK=Ue]pN:iPZTPj-4U\">\n                                            <field name=\"NUM\">256</field>\n                                          </shadow>\n                                        </value>\n                                        <value name=\"B\">\n                                          <shadow type=\"math_number\">\n                                            <field name=\"NUM\">1</field>\n                                          </shadow>\n                                          <block type=\"buffer_get_index\" id=\"@FM2jpQy6I6r%]EGD(.H\">\n                                            <value name=\"INDEX\">\n                                              <shadow type=\"math_number\" id=\"%%dd?`wr_l@)9t.:{1MN\">\n                                                <field name=\"NUM\">3</field>\n                                              </shadow>\n                                              <block type=\"math_arithmetic\" id=\"t/e{Z6Q-R`_Fn8]PnT%M\">\n                                                <field name=\"OP\">ADD</field>\n                                                <value name=\"A\">\n                                                  <shadow type=\"math_number\" id=\"Xy4)tacwh]|*mbN{howJ\">\n                                                    <field name=\"NUM\">5</field>\n                                                  </shadow>\n                                                </value>\n                                                <value name=\"B\">\n                                                  <shadow type=\"math_number\" id=\"wGC9H;955I.S9R`a^_Z;\">\n                                                    <field name=\"NUM\">1</field>\n                                                  </shadow>\n                                                  <block type=\"variables_get\" id=\"S-mT||%w[EIqyQQ9,X8~\">\n                                                    <field name=\"VAR\" id=\"i31wcn{F)HlBi)2AeR~2\">topicLength</field>\n                                                  </block>\n                                                </value>\n                                              </block>\n                                            </value>\n                                            <value name=\"BUFFER\">\n                                              <shadow type=\"buffer_empty\"></shadow>\n                                              <block type=\"variables_get\" id=\";5hq9tD0?U^GF@q|Ui?l\">\n                                                <field name=\"VAR\" id=\"_Vv{V/M62OO$vyzw/7dm\">rcvdMessage</field>\n                                              </block>\n                                            </value>\n                                          </block>\n                                        </value>\n                                      </block>\n                                    </value>\n                                    <value name=\"B\">\n                                      <shadow type=\"math_number\" id=\"|5y{S[-VbQdGn{/PAU[r\">\n                                        <field name=\"NUM\">1</field>\n                                      </shadow>\n                                      <block type=\"buffer_get_index\" id=\"a)P;F2v8WdUjAyB2$a9K\">\n                                        <value name=\"INDEX\">\n                                          <shadow type=\"math_number\">\n                                            <field name=\"NUM\">3</field>\n                                          </shadow>\n                                          <block type=\"math_arithmetic\" id=\")uV|5cm_Bn}Qx{tswCjh\">\n                                            <field name=\"OP\">ADD</field>\n                                            <value name=\"A\">\n                                              <shadow type=\"math_number\" id=\"7FVtudxZ%T5v~rFWg)$L\">\n                                                <field name=\"NUM\">6</field>\n                                              </shadow>\n                                            </value>\n                                            <value name=\"B\">\n                                              <shadow type=\"math_number\">\n                                                <field name=\"NUM\">1</field>\n                                              </shadow>\n                                              <block type=\"variables_get\" id=\"nmREpz7fyJV$?h1U5hO(\">\n                                                <field name=\"VAR\" id=\"i31wcn{F)HlBi)2AeR~2\">topicLength</field>\n                                              </block>\n                                            </value>\n                                          </block>\n                                        </value>\n                                        <value name=\"BUFFER\">\n                                          <shadow type=\"buffer_empty\"></shadow>\n                                          <block type=\"variables_get\" id=\"a_3n4=%UcDJ?}TjSEn5g\">\n                                            <field name=\"VAR\" id=\"_Vv{V/M62OO$vyzw/7dm\">rcvdMessage</field>\n                                          </block>\n                                        </value>\n                                      </block>\n                                    </value>\n                                  </block>\n                                </value>\n                                <next>\n                                  <block type=\"node_object_set\" id=\"]`(FCjydq73fH{g,hl*P\" inline=\"true\">\n                                    <value name=\"object_field\">\n                                      <shadow type=\"node_msg\" id=\"A2xsJ^j%Ld4j`!HlN+Dj\"></shadow>\n                                    </value>\n                                    <value name=\"field_name\">\n                                      <shadow type=\"text\" id=\"1sUsg_%5;d0e+c@*QQM4\">\n                                        <field name=\"TEXT\">mqttPacket.messageId</field>\n                                      </shadow>\n                                    </value>\n                                    <value name=\"value_field\">\n                                      <shadow type=\"text\">\n                                        <field name=\"TEXT\"></field>\n                                      </shadow>\n                                      <block type=\"variables_get\" id=\"=-]1mmf),[pzy|aTU)v;\">\n                                        <field name=\"VAR\" id=\"d+8f$sJ1JPHoR{DZNlm%\">MessageId</field>\n                                      </block>\n                                    </value>\n                                    <next>\n                                      <block type=\"variables_set\" id=\":b;OG1^@h.^aIXmuaL6O\">\n                                        <field name=\"VAR\" id=\"yg%*.(w{2/4PT%t=u8@h\">payload</field>\n                                        <value name=\"VALUE\">\n                                          <block type=\"lists_getSublist\" id=\"MMiR]p%].D`IPKm1-QC!\">\n                                            <mutation at1=\"true\" at2=\"false\"></mutation>\n                                            <field name=\"WHERE1\">FROM_START</field>\n                                            <field name=\"WHERE2\">LAST</field>\n                                            <value name=\"LIST\">\n                                              <block type=\"variables_get\" id=\"/AqR+(p+voO56G~8-rv]\">\n                                                <field name=\"VAR\" id=\"_Vv{V/M62OO$vyzw/7dm\">rcvdMessage</field>\n                                              </block>\n                                            </value>\n                                            <value name=\"AT1\">\n                                              <block type=\"math_arithmetic\" id=\"u9)tN(1.aA;_/=jcOis`\">\n                                                <field name=\"OP\">ADD</field>\n                                                <value name=\"A\">\n                                                  <shadow type=\"math_number\" id=\"^=^{`Za:+;Z5b~~~2{W:\">\n                                                    <field name=\"NUM\">5</field>\n                                                  </shadow>\n                                                </value>\n                                                <value name=\"B\">\n                                                  <shadow type=\"math_number\" id=\"p@}};ijdQ+F3j9(:gdK%\">\n                                                    <field name=\"NUM\">1</field>\n                                                  </shadow>\n                                                  <block type=\"variables_get\" id=\"6,PGEm]t^aHuPFSm]oiQ\">\n                                                    <field name=\"VAR\" id=\"i31wcn{F)HlBi)2AeR~2\">topicLength</field>\n                                                  </block>\n                                                </value>\n                                              </block>\n                                            </value>\n                                          </block>\n                                        </value>\n                                        <next>\n                                          <block type=\"node_status\" id=\"zJ_+|Rg1je#7tIHX`rtJ\">\n                                            <field name=\"COLOUR\">#0000ff</field>\n                                            <field name=\"SHAPE\">RING</field>\n                                            <value name=\"TEXT_INPUT\">\n                                              <shadow type=\"text\" id=\"2DtfbrXhEeY_JzBTxf)$\">\n                                                <field name=\"TEXT\"></field>\n                                              </shadow>\n                                              <block type=\"text_join\" id=\"C|)0jyoSE[JIG[JekB}O\" inline=\"true\">\n                                                <mutation items=\"5\"></mutation>\n                                                <value name=\"ADD0\">\n                                                  <block type=\"variables_get\" id=\"GX4pMd;i56Mc1_eO$KI?\">\n                                                    <field name=\"VAR\" id=\"d+8f$sJ1JPHoR{DZNlm%\">MessageId</field>\n                                                  </block>\n                                                </value>\n                                                <value name=\"ADD1\">\n                                                  <block type=\"text\" id=\"BJjuZqAeeO_Z2q,U^`-M\">\n                                                    <field name=\"TEXT\">:</field>\n                                                  </block>\n                                                </value>\n                                                <value name=\"ADD2\">\n                                                  <block type=\"variables_get\" id=\"]!HH#[?rb.59~`Ak;6ad\">\n                                                    <field name=\"VAR\" id=\"i31wcn{F)HlBi)2AeR~2\">topicLength</field>\n                                                  </block>\n                                                </value>\n                                                <value name=\"ADD3\">\n                                                  <block type=\"text\" id=\"P98,#`,H{#q0alnf2Y5|\">\n                                                    <field name=\"TEXT\">:</field>\n                                                  </block>\n                                                </value>\n                                                <value name=\"ADD4\">\n                                                  <block type=\"variables_get\" id=\"4vc3Q^I)k2VD^^BsV0D,\">\n                                                    <field name=\"VAR\" id=\"yg%*.(w{2/4PT%t=u8@h\">payload</field>\n                                                  </block>\n                                                </value>\n                                              </block>\n                                            </value>\n                                            <next>\n                                              <block type=\"variables_set\" id=\":7lafRmhbrKbo+Tm;A2w\">\n                                                <field name=\"VAR\" id=\"yg%*.(w{2/4PT%t=u8@h\">payload</field>\n                                                <value name=\"VALUE\">\n                                                  <block type=\"buffer_to_string\" id=\"=Efeq/EZ1gOi{I4J,]Kh\">\n                                                    <field name=\"ENCODING\">latin1</field>\n                                                    <value name=\"BUFFER_INPUT\">\n                                                      <shadow type=\"buffer_empty\" id=\"|@Hb/G*OHo~zf)-XaD$V\"></shadow>\n                                                      <block type=\"variables_get\" id=\"neDJGLEti90eUC_O[#i6\">\n                                                        <field name=\"VAR\" id=\"yg%*.(w{2/4PT%t=u8@h\">payload</field>\n                                                      </block>\n                                                    </value>\n                                                  </block>\n                                                </value>\n                                                <next>\n                                                  <block type=\"node_object_set\" id=\"F+/eY[#JBO%(8-k7~OS#\" inline=\"true\">\n                                                    <value name=\"object_field\">\n                                                      <shadow type=\"node_msg\" id=\"KCj~?MWd=XsIK7#T[pN#\"></shadow>\n                                                    </value>\n                                                    <value name=\"field_name\">\n                                                      <shadow type=\"text\" id=\"E~~$TU?o[MV6YO8mn_b{\">\n                                                        <field name=\"TEXT\">mqttPacket.payload</field>\n                                                      </shadow>\n                                                    </value>\n                                                    <value name=\"value_field\">\n                                                      <shadow type=\"text\">\n                                                        <field name=\"TEXT\"></field>\n                                                      </shadow>\n                                                      <block type=\"variables_get\" id=\"rl/U^Fxkp)10(,}^YE^m\">\n                                                        <field name=\"VAR\" id=\"yg%*.(w{2/4PT%t=u8@h\">payload</field>\n                                                      </block>\n                                                    </value>\n                                                    <next>\n                                                      <block type=\"controls_forEach\" id=\"6+6,^6li9_zIu$::/19?\">\n                                                        <field name=\"VAR\" id=\"A-,$O)LJq:9F9`-d{KHW\">j</field>\n                                                        <value name=\"LIST\">\n                                                          <block type=\"variables_get\" id=\"uP?`v(|@Bi67zY-;UF1.\">\n                                                            <field name=\"VAR\" id=\"nZbLV!9;-UMjLKl7Qj[9\">homemadeSub</field>\n                                                          </block>\n                                                        </value>\n                                                        <statement name=\"DO\">\n                                                          <block type=\"controls_if\" id=\"UqFOduF$G#F=IKq|33H3\">\n                                                            <value name=\"IF0\">\n                                                              <block type=\"logic_compare\" id=\"*R#dXBKR@C`O%Y.q8{=+\">\n                                                                <field name=\"OP\">EQ</field>\n                                                                <value name=\"A\">\n                                                                  <block type=\"lists_getIndex\" id=\"P[i[wB`hdJwRq`.`;YGq\">\n                                                                    <mutation statement=\"false\" at=\"true\"></mutation>\n                                                                    <field name=\"MODE\">GET</field>\n                                                                    <field name=\"WHERE\">FROM_START</field>\n                                                                    <value name=\"VALUE\">\n                                                                      <block type=\"variables_get\" id=\"%bJjtoPzi{GN0_tkE+UM\">\n                                                                        <field name=\"VAR\" id=\"A-,$O)LJq:9F9`-d{KHW\">j</field>\n                                                                      </block>\n                                                                    </value>\n                                                                    <value name=\"AT\">\n                                                                      <block type=\"math_number\" id=\"9OiSGk|~UPzo7?JvdT$_\">\n                                                                        <field name=\"NUM\">2</field>\n                                                                      </block>\n                                                                    </value>\n                                                                  </block>\n                                                                </value>\n                                                                <value name=\"B\">\n                                                                  <block type=\"variables_get\" id=\"o2QfKc,gBl?7i6q$%Nw+\">\n                                                                    <field name=\"VAR\" id=\"uOw#m2hDK@WQ+}F?|0z6\">topicName</field>\n                                                                  </block>\n                                                                </value>\n                                                              </block>\n                                                            </value>\n                                                            <statement name=\"DO0\">\n                                                              <block type=\"node_status\" id=\"{bKaC[*e)@r3|R/S$z)K\">\n                                                                <field name=\"COLOUR\">#0000ff</field>\n                                                                <field name=\"SHAPE\">RING</field>\n                                                                <value name=\"TEXT_INPUT\">\n                                                                  <shadow type=\"text\">\n                                                                    <field name=\"TEXT\"></field>\n                                                                  </shadow>\n                                                                  <block type=\"text_join\" id=\"+2VWSA%?.hEAQH+)6?C0\" inline=\"true\">\n                                                                    <mutation items=\"1\"></mutation>\n                                                                    <value name=\"ADD0\">\n                                                                      <block type=\"text\" id=\"pB,m;1(H4KCD;DVzcMFK\">\n                                                                        <field name=\"TEXT\">topic match</field>\n                                                                      </block>\n                                                                    </value>\n                                                                  </block>\n                                                                </value>\n                                                                <next>\n                                                                  <block type=\"node_object_set\" id=\"z%MJ|[_vi1Pm$O;ECjY=\" inline=\"true\">\n                                                                    <value name=\"object_field\">\n                                                                      <shadow type=\"node_msg\" id=\"(d(^K%c$LPF_%U/R]@IP\"></shadow>\n                                                                    </value>\n                                                                    <value name=\"field_name\">\n                                                                      <shadow type=\"text\" id=\"@5$IGMoH9Mf~q_}QyQ%-\">\n                                                                        <field name=\"TEXT\">_session.id</field>\n                                                                      </shadow>\n                                                                    </value>\n                                                                    <value name=\"value_field\">\n                                                                      <shadow type=\"text\" id=\"`;CP`lt(:_m0ODLw[Z}E\">\n                                                                        <field name=\"TEXT\"></field>\n                                                                      </shadow>\n                                                                      <block type=\"lists_getIndex\" id=\"|r0huK|^O@W/lrA=$Te5\">\n                                                                        <mutation statement=\"false\" at=\"true\"></mutation>\n                                                                        <field name=\"MODE\">GET</field>\n                                                                        <field name=\"WHERE\">FROM_START</field>\n                                                                        <value name=\"VALUE\">\n                                                                          <block type=\"variables_get\" id=\"xY_hNoomu)#MOz3gx%FV\">\n                                                                            <field name=\"VAR\" id=\"A-,$O)LJq:9F9`-d{KHW\">j</field>\n                                                                          </block>\n                                                                        </value>\n                                                                        <value name=\"AT\">\n                                                                          <block type=\"math_number\" id=\"9,Qr%bHt4H$^,Af8lR)x\">\n                                                                            <field name=\"NUM\">1</field>\n                                                                          </block>\n                                                                        </value>\n                                                                      </block>\n                                                                    </value>\n                                                                    <next>\n                                                                      <block type=\"node_send\" id=\"SxOJ3IE#N?7?u0s0chHJ\">\n                                                                        <field name=\"OUTPUT_NR\">1</field>\n                                                                        <value name=\"MESSAGE_INPUT\">\n                                                                          <shadow type=\"node_msg\" id=\"5-he.1%@M]G`Sy~))Ukr\"></shadow>\n                                                                        </value>\n                                                                      </block>\n                                                                    </next>\n                                                                  </block>\n                                                                </next>\n                                                              </block>\n                                                            </statement>\n                                                          </block>\n                                                        </statement>\n                                                        <next>\n                                                          <block type=\"node_return_message\" id=\"u0f6Lq!54,a4!F1!z[pE\" disabled=\"true\">\n                                                            <field name=\"OUTPUT_NR\">1</field>\n                                                            <value name=\"MESSAGE_INPUT\">\n                                                              <shadow type=\"node_msg\" id=\"XH?$HX+T|7YqiVM$+x8n\"></shadow>\n                                                            </value>\n                                                          </block>\n                                                        </next>\n                                                      </block>\n                                                    </next>\n                                                  </block>\n                                                </next>\n                                              </block>\n                                            </next>\n                                          </block>\n                                        </next>\n                                      </block>\n                                    </next>\n                                  </block>\n                                </next>\n                              </block>\n                            </next>\n                          </block>\n                        </next>\n                      </block>\n                    </next>\n                  </block>\n                </next>\n              </block>\n            </next>\n          </block>\n        </next>\n      </block>\n    </next>\n  </block>\n</xml>","outputs":1,"blocklyConfig":"a6722b13cc9e29c1","backpackContents":[],"noerr":0,"name":"","x":987,"y":505,"wires":[["462f8d53f850d053"]]},{"id":"2c2cfd6294b019e2","type":"debug","z":"dc897f402c53697f","name":"debug 370","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"SUBSCRIBER in database\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":1242,"y":545,"wires":[],"l":false},{"id":"d4d4146f6450bcaa","type":"debug","z":"dc897f402c53697f","name":"debug 371","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"Message sent to subscriber\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":1402,"y":545,"wires":[],"l":false},{"id":"9048a940e9c269d8","type":"debug","z":"dc897f402c53697f","name":"debug 372","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"Subscribed msg rcvd\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":572,"y":585,"wires":[],"l":false},{"id":"a2cbd9fb813505fa","type":"change","z":"dc897f402c53697f","name":"create f.homemadeSub","rules":[{"t":"set","p":"homemadeSub","pt":"flow","to":"$exists($flowContext(\"homemadeSub\")) ?  $flowContext(\"homemadeSub\") : []","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1414,"y":272,"wires":[[]]},{"id":"0454c42bd9f789ca","type":"Blockly","z":"dc897f402c53697f","func":"var homemadeSub;\n\n\nhomemadeSub = (flow.get('homemadeSub'));\nnode.status({fill:\"blue\", shape:\"ring\", text:homemadeSub});\nmsg['payload'] = homemadeSub;\nnode.send([msg]);\n","workspaceXml":"<xml xmlns=\"https://developers.google.com/blockly/xml\">\n  <variables>\n    <variable id=\"~vUaTnswDkLlu[,i;uw!\">homemadeSub</variable>\n  </variables>\n  <block type=\"variables_set\" id=\"Q[xK,8mnErjXyk}!KyT:\" x=\"-87\" y=\"-62\">\n    <field name=\"VAR\" id=\"~vUaTnswDkLlu[,i;uw!\">homemadeSub</field>\n    <value name=\"VALUE\">\n      <block type=\"node_object_get\" id=\"H/o~H~-Av2b{F]lsrl[l\">\n        <mutation xmlns=\"http://www.w3.org/1999/xhtml\" action=\"GET\"></mutation>\n        <field name=\"action\">GET</field>\n        <value name=\"object\">\n          <shadow type=\"node_msg\" id=\"}fwoemvkY:4PzKVAHnsQ\"></shadow>\n          <block type=\"node_flow_memory\" id=\"28e{!j7BFpS?lOKpfNOD\"></block>\n        </value>\n        <value name=\"field_name\">\n          <shadow type=\"text\" id=\"BM|js]/(Fu$#.kC0j*tt\">\n            <field name=\"TEXT\">homemadeSub</field>\n          </shadow>\n        </value>\n      </block>\n    </value>\n    <next>\n      <block type=\"node_status\" id=\"]6[BwGVQ-]ZY_Gfgp;rA\">\n        <field name=\"COLOUR\">#0000ff</field>\n        <field name=\"SHAPE\">RING</field>\n        <value name=\"TEXT_INPUT\">\n          <shadow type=\"text\" id=\"(+u=KQm1!ZA,|u3gO{rT\">\n            <field name=\"TEXT\"></field>\n          </shadow>\n          <block type=\"variables_get\" id=\"nmL0Q(Y$J8Oc:m^TPg1x\">\n            <field name=\"VAR\" id=\"~vUaTnswDkLlu[,i;uw!\">homemadeSub</field>\n          </block>\n        </value>\n        <next>\n          <block type=\"node_object_set\" id=\"%sOs.kvpf=ch#/ZlpJ-u\" inline=\"true\">\n            <value name=\"object_field\">\n              <shadow type=\"node_msg\" id=\"u9CzMK1k{hDhV4#X7:7K\"></shadow>\n            </value>\n            <value name=\"field_name\">\n              <shadow type=\"text\" id=\"w9r-YFqYG$xC~BNu;Nn.\">\n                <field name=\"TEXT\">payload</field>\n              </shadow>\n            </value>\n            <value name=\"value_field\">\n              <shadow type=\"text\" id=\"pw51t;*MYiOBsC?9`ddu\">\n                <field name=\"TEXT\"></field>\n              </shadow>\n              <block type=\"variables_get\" id=\"T;f?P81fOBz9}0t]@#U2\">\n                <field name=\"VAR\" id=\"~vUaTnswDkLlu[,i;uw!\">homemadeSub</field>\n              </block>\n            </value>\n            <next>\n              <block type=\"node_send\" id=\"U)T|hK.3N8v8iyU2^uUN\">\n                <field name=\"OUTPUT_NR\">1</field>\n                <value name=\"MESSAGE_INPUT\">\n                  <shadow type=\"node_msg\" id=\"Qp*TGGzr#(4HN-[Wad8*\"></shadow>\n                </value>\n              </block>\n            </next>\n          </block>\n        </next>\n      </block>\n    </next>\n  </block>\n  <block type=\"lists_create_with\" id=\"Icbl7MfqwH_N-k8p8ZSJ\" disabled=\"true\" x=\"512\" y=\"-62\">\n    <mutation items=\"1\"></mutation>\n    <value name=\"ADD0\">\n      <block type=\"lists_create_with\" id=\"o3mcIBd[yra0M#_F]2JW\">\n        <mutation items=\"2\"></mutation>\n        <value name=\"ADD0\">\n          <block type=\"text\" id=\"5|q]M#Gh*c1M(*vX2$Dv\">\n            <field name=\"TEXT\">abcd</field>\n          </block>\n        </value>\n        <value name=\"ADD1\">\n          <block type=\"text\" id=\"gJn`r^1O%M{x:jrC{*$l\">\n            <field name=\"TEXT\">Test</field>\n          </block>\n        </value>\n      </block>\n    </value>\n  </block>\n</xml>","outputs":1,"blocklyConfig":"a6722b13cc9e29c1","backpackContents":[],"noerr":0,"name":"","x":407,"y":745,"wires":[["e8aa1ac2a31edcd5"]]},{"id":"49784831a30cafba","type":"inject","z":"dc897f402c53697f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":207,"y":725,"wires":[["0454c42bd9f789ca"]]},{"id":"e8aa1ac2a31edcd5","type":"debug","z":"dc897f402c53697f","name":"debug 374","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":577,"y":725,"wires":[]},{"id":"fdcd4ff543fca3d9","type":"Blockly","z":"dc897f402c53697f","func":"var rcvdPayload, _sessionId, MessageId, topicLength, topicName, homemadeSub, newHomemadeSub, i2, UNSUBACK, item;\n\nfunction convertValueToByte(value) {\n  if (isNaN(value)) {\n    return value.charCodeAt(0);\n  } else {\n    if (Buffer.isBuffer(value)) {\n      return value[0];\n    } else {\n      if (value == \" \") {\n        return value.charCodeAt(0);\n      } else {\n        return Math.min(Math.max(value, 0),255);\n      }\n    }\n  }\n}\n\n\nrcvdPayload = (msg['payload']);\n_sessionId = (msg['_session']['id']);\nMessageId = 256 * (rcvdPayload[3 - 1]) + (rcvdPayload[4 - 1]);\ntopicLength = 256 * (rcvdPayload[5 - 1]) + (rcvdPayload[6 - 1]);\ntopicName = rcvdPayload.slice(6, 6 + topicLength);\ntopicName = (topicName.toString(\"utf8\"));\nhomemadeSub = (flow.get('homemadeSub'));\nif (!('mqttPacket.unsubscribe' in msg)) {\n  msg['mqttPacket']['unsubscribe'] = ({});\n}\nmsg['mqttPacket']['unsubscribe']['topicName'] = topicName;\nmsg['mqttPacket']['unsubscribe']['MessageId'] = MessageId;\nif (homemadeSub.length > 0) {\n  newHomemadeSub = [];\n  var i2_end = homemadeSub.length;\n  var i2_inc = 1;\n  if (1 > i2_end) {\n    i2_inc = -i2_inc;\n  }\n  for (i2 = 1; i2_inc >= 0 ? i2 <= i2_end : i2 >= i2_end; i2 += i2_inc) {\n    item = homemadeSub[(i2 - 1)];\n    if (!(item[0] == _sessionId && item[1] == topicName)) {\n      newHomemadeSub.push(item);\n    }\n  }\n  flow.set('homemadeSub', newHomemadeSub);\n}\nnode.status({fill:\"blue\", shape:\"ring\", text:([MessageId,':',topicLength,':',topicName].join(''))});\nUNSUBACK = (Buffer.alloc(4));\nUNSUBACK[1 - 1] = (Buffer.alloc(1, 176))[0];\nUNSUBACK[2 - 1] = (Buffer.alloc(1, 2))[0];\nUNSUBACK[3 - 1] = convertValueToByte((rcvdPayload[3 - 1]));\nUNSUBACK[4 - 1] = convertValueToByte((rcvdPayload[4 - 1]));\nmsg['payload'] = UNSUBACK;\nnode.send([msg, null]);\nmsg['payload'] = rcvdPayload;\nnode.send([null, msg]);\n","workspaceXml":"<xml xmlns=\"https://developers.google.com/blockly/xml\">\n  <variables>\n    <variable id=\"_Vv{V/M62OO$vyzw/7dm\">rcvdPayload</variable>\n    <variable id=\"$4KQ9RJfhIqj)d.xEGy{\">_sessionId</variable>\n    <variable id=\"d+8f$sJ1JPHoR{DZNlm%\">MessageId</variable>\n    <variable id=\"i31wcn{F)HlBi)2AeR~2\">topicLength</variable>\n    <variable id=\"uOw#m2hDK@WQ+}F?|0z6\">topicName</variable>\n    <variable id=\"~vUaTnswDkLlu[,i;uw!\">homemadeSub</variable>\n    <variable id=\"*W_a8LtNx=^CFiV8Ste+\">newHomemadeSub</variable>\n    <variable id=\")jU4tpD],qwF{9((T=aQ\">i</variable>\n    <variable id=\"c7*FtK*W=z%xb6U!7i@u\">UNSUBACK</variable>\n    <variable id=\"A-,$O)LJq:9F9`-d{KHW\">item</variable>\n  </variables>\n  <block type=\"variables_set\" id=\"Wo2U?3^W9MV.9s5f2@se\" x=\"45\" y=\"-133\">\n    <field name=\"VAR\" id=\"_Vv{V/M62OO$vyzw/7dm\">rcvdPayload</field>\n    <value name=\"VALUE\">\n      <block type=\"node_object_get\" id=\"vNhv~z$r*Ehs[Q]A)cA_\">\n        <mutation xmlns=\"http://www.w3.org/1999/xhtml\" action=\"GET\"></mutation>\n        <field name=\"action\">GET</field>\n        <value name=\"object\">\n          <shadow type=\"node_msg\" id=\"Zz8QtCI]{*H=iJ6^yaXm\"></shadow>\n        </value>\n        <value name=\"field_name\">\n          <shadow type=\"text\" id=\"zZ702+Uj@12[?+o^!M;R\">\n            <field name=\"TEXT\">payload</field>\n          </shadow>\n        </value>\n      </block>\n    </value>\n    <next>\n      <block type=\"variables_set\" id=\"yVl|=W!x2b|qp*mVQJhP\">\n        <field name=\"VAR\" id=\"$4KQ9RJfhIqj)d.xEGy{\">_sessionId</field>\n        <value name=\"VALUE\">\n          <block type=\"node_object_get\" id=\"LbDtgJZSQL9FK%#qScQ(\">\n            <mutation xmlns=\"http://www.w3.org/1999/xhtml\" action=\"GET\"></mutation>\n            <field name=\"action\">GET</field>\n            <value name=\"object\">\n              <shadow type=\"node_msg\" id=\"btm$l;BIw9igE6$Yi~Hk\"></shadow>\n            </value>\n            <value name=\"field_name\">\n              <shadow type=\"text\" id=\"!$;+rxEE{GHWip{Re=j;\">\n                <field name=\"TEXT\">_session.id</field>\n              </shadow>\n            </value>\n          </block>\n        </value>\n        <next>\n          <block type=\"variables_set\" id=\"/N7MB@DYQAeO.((YzZJk\">\n            <field name=\"VAR\" id=\"d+8f$sJ1JPHoR{DZNlm%\">MessageId</field>\n            <value name=\"VALUE\">\n              <block type=\"math_arithmetic\" id=\"wvtxzM*~JgEVuXM{vtka\">\n                <field name=\"OP\">ADD</field>\n                <value name=\"A\">\n                  <shadow type=\"math_number\">\n                    <field name=\"NUM\">1</field>\n                  </shadow>\n                  <block type=\"math_arithmetic\" id=\"|}z.q~:}Kw/b^xj$lH;G\">\n                    <field name=\"OP\">MULTIPLY</field>\n                    <value name=\"A\">\n                      <shadow type=\"math_number\" id=\"khkK=Ue]pN:iPZTPj-4U\">\n                        <field name=\"NUM\">256</field>\n                      </shadow>\n                    </value>\n                    <value name=\"B\">\n                      <shadow type=\"math_number\">\n                        <field name=\"NUM\">1</field>\n                      </shadow>\n                      <block type=\"buffer_get_index\" id=\"@FM2jpQy6I6r%]EGD(.H\">\n                        <value name=\"INDEX\">\n                          <shadow type=\"math_number\" id=\"%%dd?`wr_l@)9t.:{1MN\">\n                            <field name=\"NUM\">3</field>\n                          </shadow>\n                        </value>\n                        <value name=\"BUFFER\">\n                          <shadow type=\"buffer_empty\"></shadow>\n                          <block type=\"variables_get\" id=\";5hq9tD0?U^GF@q|Ui?l\">\n                            <field name=\"VAR\" id=\"_Vv{V/M62OO$vyzw/7dm\">rcvdPayload</field>\n                          </block>\n                        </value>\n                      </block>\n                    </value>\n                  </block>\n                </value>\n                <value name=\"B\">\n                  <shadow type=\"math_number\">\n                    <field name=\"NUM\">1</field>\n                  </shadow>\n                  <block type=\"buffer_get_index\" id=\"%SO[|@i:[2gwAyA}lr$}\">\n                    <value name=\"INDEX\">\n                      <shadow type=\"math_number\" id=\"TP[}8P^j$^L6et=6KDNf\">\n                        <field name=\"NUM\">4</field>\n                      </shadow>\n                    </value>\n                    <value name=\"BUFFER\">\n                      <shadow type=\"buffer_empty\"></shadow>\n                      <block type=\"variables_get\" id=\"t[|*ffw(]vrtyqf%3Tj2\">\n                        <field name=\"VAR\" id=\"_Vv{V/M62OO$vyzw/7dm\">rcvdPayload</field>\n                      </block>\n                    </value>\n                  </block>\n                </value>\n              </block>\n            </value>\n            <next>\n              <block type=\"variables_set\" id=\"Sm7]:CJWA3+gZjuxkFhF\">\n                <field name=\"VAR\" id=\"i31wcn{F)HlBi)2AeR~2\">topicLength</field>\n                <value name=\"VALUE\">\n                  <block type=\"math_arithmetic\" id=\"[Mgl`h=/Q+)?5icAfU|5\">\n                    <field name=\"OP\">ADD</field>\n                    <value name=\"A\">\n                      <shadow type=\"math_number\" id=\"!%ah^GzKSdRFr:~Diw.1\">\n                        <field name=\"NUM\">1</field>\n                      </shadow>\n                      <block type=\"math_arithmetic\" id=\"nd].Wu=v{p%gm4DM@%AY\">\n                        <field name=\"OP\">MULTIPLY</field>\n                        <value name=\"A\">\n                          <shadow type=\"math_number\" id=\"2$JdE|yHqq]-8%3;.l$k\">\n                            <field name=\"NUM\">256</field>\n                          </shadow>\n                        </value>\n                        <value name=\"B\">\n                          <shadow type=\"math_number\" id=\"h;fF|oa0;OJFGdZrdc~(\">\n                            <field name=\"NUM\">1</field>\n                          </shadow>\n                          <block type=\"buffer_get_index\" id=\"b}IF:?FPdQyzniie}8}}\">\n                            <value name=\"INDEX\">\n                              <shadow type=\"math_number\" id=\"!z~Vp`Kj0_1ZpWzNUDaE\">\n                                <field name=\"NUM\">5</field>\n                              </shadow>\n                            </value>\n                            <value name=\"BUFFER\">\n                              <shadow type=\"buffer_empty\" id=\"$e(,aq(]a}Xk6Dsy|so~\"></shadow>\n                              <block type=\"variables_get\" id=\"$68Z06mvo1Gh4afNaqpy\">\n                                <field name=\"VAR\" id=\"_Vv{V/M62OO$vyzw/7dm\">rcvdPayload</field>\n                              </block>\n                            </value>\n                          </block>\n                        </value>\n                      </block>\n                    </value>\n                    <value name=\"B\">\n                      <shadow type=\"math_number\" id=\"W[5#i]q/_PlC9F1ntk/|\">\n                        <field name=\"NUM\">1</field>\n                      </shadow>\n                      <block type=\"buffer_get_index\" id=\"5`v$zb6m7$$pmdJ+IB1a\">\n                        <value name=\"INDEX\">\n                          <shadow type=\"math_number\" id=\"Ov};{]h[|]u!UQa@wTFg\">\n                            <field name=\"NUM\">6</field>\n                          </shadow>\n                        </value>\n                        <value name=\"BUFFER\">\n                          <shadow type=\"buffer_empty\" id=\"(4)[-^9OX5PV;%s]_*wU\"></shadow>\n                          <block type=\"variables_get\" id=\"K;U#icdTtS(fPH7tibaQ\">\n                            <field name=\"VAR\" id=\"_Vv{V/M62OO$vyzw/7dm\">rcvdPayload</field>\n                          </block>\n                        </value>\n                      </block>\n                    </value>\n                  </block>\n                </value>\n                <next>\n                  <block type=\"variables_set\" id=\"|VG0p5j1sKgOlZmFbw~B\">\n                    <field name=\"VAR\" id=\"uOw#m2hDK@WQ+}F?|0z6\">topicName</field>\n                    <value name=\"VALUE\">\n                      <block type=\"lists_getSublist\" id=\"S.J}_8@[1|sId{/7la]C\">\n                        <mutation at1=\"true\" at2=\"true\"></mutation>\n                        <field name=\"WHERE1\">FROM_START</field>\n                        <field name=\"WHERE2\">FROM_START</field>\n                        <value name=\"LIST\">\n                          <block type=\"variables_get\" id=\"7Dy!D`YpnjO)/1g(UJ|Q\">\n                            <field name=\"VAR\" id=\"_Vv{V/M62OO$vyzw/7dm\">rcvdPayload</field>\n                          </block>\n                        </value>\n                        <value name=\"AT1\">\n                          <block type=\"math_number\" id=\"xLufc2XUQTUR6V]D,(hi\">\n                            <field name=\"NUM\">7</field>\n                          </block>\n                        </value>\n                        <value name=\"AT2\">\n                          <block type=\"math_arithmetic\" id=\"qN7EpS9;`u!Ov8D/_,cO\">\n                            <field name=\"OP\">ADD</field>\n                            <value name=\"A\">\n                              <shadow type=\"math_number\" id=\"xl|YT8y}nNfv(H!*jqCL\">\n                                <field name=\"NUM\">6</field>\n                              </shadow>\n                            </value>\n                            <value name=\"B\">\n                              <shadow type=\"math_number\" id=\"fOU-*KsEh#E3Gtn#=5YV\">\n                                <field name=\"NUM\">1</field>\n                              </shadow>\n                              <block type=\"variables_get\" id=\"]XIKBl3@V$MVYjm+$y%|\">\n                                <field name=\"VAR\" id=\"i31wcn{F)HlBi)2AeR~2\">topicLength</field>\n                              </block>\n                            </value>\n                          </block>\n                        </value>\n                      </block>\n                    </value>\n                    <next>\n                      <block type=\"variables_set\" id=\"tkmLR@kJt/uXOx!?+=D!\">\n                        <field name=\"VAR\" id=\"uOw#m2hDK@WQ+}F?|0z6\">topicName</field>\n                        <value name=\"VALUE\">\n                          <block type=\"buffer_to_string\" id=\"|HENWo]TVW9hc~]tU{NE\">\n                            <field name=\"ENCODING\">utf8</field>\n                            <value name=\"BUFFER_INPUT\">\n                              <shadow type=\"buffer_empty\" id=\"7=$7-KBeAs*=k}Q^IYRY\"></shadow>\n                              <block type=\"variables_get\" id=\"9~,Q(AZk-HVaD[Edo2|1\">\n                                <field name=\"VAR\" id=\"uOw#m2hDK@WQ+}F?|0z6\">topicName</field>\n                              </block>\n                            </value>\n                          </block>\n                        </value>\n                        <next>\n                          <block type=\"variables_set\" id=\"Q[xK,8mnErjXyk}!KyT:\">\n                            <field name=\"VAR\" id=\"~vUaTnswDkLlu[,i;uw!\">homemadeSub</field>\n                            <value name=\"VALUE\">\n                              <block type=\"node_object_get\" id=\"dPr7I:6Z0?=:G27|,tO%\">\n                                <mutation xmlns=\"http://www.w3.org/1999/xhtml\" action=\"GET\"></mutation>\n                                <field name=\"action\">GET</field>\n                                <value name=\"object\">\n                                  <shadow type=\"node_msg\"></shadow>\n                                  <block type=\"node_flow_memory\" id=\"[_D_glr13}2+`K62Ilx[\"></block>\n                                </value>\n                                <value name=\"field_name\">\n                                  <shadow type=\"text\" id=\"djo=Q8;+mYHl$=SLJX0}\">\n                                    <field name=\"TEXT\">homemadeSub</field>\n                                  </shadow>\n                                </value>\n                              </block>\n                            </value>\n                            <next>\n                              <block type=\"controls_if\" id=\"[57sCUc}.9?xFM6nuQ+L\">\n                                <value name=\"IF0\">\n                                  <block type=\"logic_negate\" id=\"fjERHSw{H^Rr;]nTSgot\">\n                                    <value name=\"BOOL\">\n                                      <block type=\"node_object_get\" id=\"L^pqLY[7#La_cbn5H4-=\">\n                                        <mutation xmlns=\"http://www.w3.org/1999/xhtml\" action=\"HAS\"></mutation>\n                                        <field name=\"action\">HAS</field>\n                                        <value name=\"object\">\n                                          <shadow type=\"node_msg\" id=\"WvjW$gM,@mBGcH_4eEmx\"></shadow>\n                                        </value>\n                                        <value name=\"field_name\">\n                                          <shadow type=\"text\" id=\"FQ=$WAZH/6q/-p}W.HQE\">\n                                            <field name=\"TEXT\">mqttPacket.unsubscribe</field>\n                                          </shadow>\n                                        </value>\n                                      </block>\n                                    </value>\n                                  </block>\n                                </value>\n                                <statement name=\"DO0\">\n                                  <block type=\"node_object_set\" id=\"(#l}wBIScUG.pRT$BQzS\" inline=\"true\">\n                                    <value name=\"object_field\">\n                                      <shadow type=\"node_msg\" id=\"Mje5|5hh;RZ.Kpx}{%p=\"></shadow>\n                                    </value>\n                                    <value name=\"field_name\">\n                                      <shadow type=\"text\" id=\",.WpwJm-@dm/SaoN8V^Y\">\n                                        <field name=\"TEXT\">mqttPacket.unsubscribe</field>\n                                      </shadow>\n                                    </value>\n                                    <value name=\"value_field\">\n                                      <shadow type=\"text\" id=\"v2=pYHu/du9F0}BM?l00\">\n                                        <field name=\"TEXT\"></field>\n                                      </shadow>\n                                      <block type=\"object_create\" id=\"@7ki/0.n8uT=Bp|zSX?U\"></block>\n                                    </value>\n                                  </block>\n                                </statement>\n                                <next>\n                                  <block type=\"node_object_set\" id=\"8Z4F+N/AO8)EL].{%zY^\" inline=\"true\">\n                                    <value name=\"object_field\">\n                                      <shadow type=\"node_msg\" id=\"Y[g#oAEA%Iu$-]0S~W}c\"></shadow>\n                                    </value>\n                                    <value name=\"field_name\">\n                                      <shadow type=\"text\" id=\"a{0_[-,FC@nWRoKc5u@}\">\n                                        <field name=\"TEXT\">mqttPacket.unsubscribe.topicName</field>\n                                      </shadow>\n                                    </value>\n                                    <value name=\"value_field\">\n                                      <shadow type=\"text\" id=\"U]L{JX,9phtc6CEvSD.l\">\n                                        <field name=\"TEXT\"></field>\n                                      </shadow>\n                                      <block type=\"variables_get\" id=\"aNTqhpT?Z=Ug(v7Nykaj\">\n                                        <field name=\"VAR\" id=\"uOw#m2hDK@WQ+}F?|0z6\">topicName</field>\n                                      </block>\n                                    </value>\n                                    <next>\n                                      <block type=\"node_object_set\" id=\"c*aQp)w*/Ju7Y)!YA!^j\" inline=\"true\">\n                                        <value name=\"object_field\">\n                                          <shadow type=\"node_msg\" id=\"88#.mDCiAu%z4tY4dOI@\"></shadow>\n                                        </value>\n                                        <value name=\"field_name\">\n                                          <shadow type=\"text\" id=\"`f$lT2YE#sR.g]7LEqfT\">\n                                            <field name=\"TEXT\">mqttPacket.unsubscribe.MessageId</field>\n                                          </shadow>\n                                        </value>\n                                        <value name=\"value_field\">\n                                          <shadow type=\"text\">\n                                            <field name=\"TEXT\"></field>\n                                          </shadow>\n                                          <block type=\"variables_get\" id=\"bZ!.gbgArYZT1$+!PX+j\">\n                                            <field name=\"VAR\" id=\"d+8f$sJ1JPHoR{DZNlm%\">MessageId</field>\n                                          </block>\n                                        </value>\n                                        <next>\n                                          <block type=\"controls_if\" id=\"HS3|f)lO%?jT/{xfz}{9\">\n                                            <value name=\"IF0\">\n                                              <block type=\"logic_compare\" id=\"LU4M.4+l2lk+)jei_zqT\">\n                                                <field name=\"OP\">GT</field>\n                                                <value name=\"A\">\n                                                  <block type=\"lists_length\" id=\"#KLWpyTF(%OY2(l_PL,8\">\n                                                    <value name=\"VALUE\">\n                                                      <block type=\"variables_get\" id=\"=m)Rc=RNQRgMliWhdh2F\">\n                                                        <field name=\"VAR\" id=\"~vUaTnswDkLlu[,i;uw!\">homemadeSub</field>\n                                                      </block>\n                                                    </value>\n                                                  </block>\n                                                </value>\n                                                <value name=\"B\">\n                                                  <block type=\"math_number\" id=\"=]h8Kxz.pR`[,ptaKV.c\">\n                                                    <field name=\"NUM\">0</field>\n                                                  </block>\n                                                </value>\n                                              </block>\n                                            </value>\n                                            <statement name=\"DO0\">\n                                              <block type=\"variables_set\" id=\"JzE,i(r-5ric+:_b*COL\">\n                                                <field name=\"VAR\" id=\"*W_a8LtNx=^CFiV8Ste+\">newHomemadeSub</field>\n                                                <value name=\"VALUE\">\n                                                  <block type=\"lists_create_with\" id=\",=xeqFHwz0;5J|*xtj$2\">\n                                                    <mutation items=\"0\"></mutation>\n                                                  </block>\n                                                </value>\n                                                <next>\n                                                  <block type=\"controls_for\" id=\"jlNoblqO9y]eUA.rq2T1\">\n                                                    <field name=\"VAR\" id=\")jU4tpD],qwF{9((T=aQ\">i</field>\n                                                    <value name=\"FROM\">\n                                                      <shadow type=\"math_number\" id=\"#hn^J}7_2!b@A9aTLI}Q\">\n                                                        <field name=\"NUM\">1</field>\n                                                      </shadow>\n                                                    </value>\n                                                    <value name=\"TO\">\n                                                      <shadow type=\"math_number\" id=\"Z$uPT(exR1Hf}6WaS{Nh\">\n                                                        <field name=\"NUM\">10</field>\n                                                      </shadow>\n                                                      <block type=\"lists_length\" id=\"uWj(m)C?q?Wrj,sRVqSD\">\n                                                        <value name=\"VALUE\">\n                                                          <block type=\"variables_get\" id=\"Z)Bo^kNuEyEO8ZaWe/l7\">\n                                                            <field name=\"VAR\" id=\"~vUaTnswDkLlu[,i;uw!\">homemadeSub</field>\n                                                          </block>\n                                                        </value>\n                                                      </block>\n                                                    </value>\n                                                    <value name=\"BY\">\n                                                      <shadow type=\"math_number\" id=\"{pJO!oY(X{X7mln!Z8WJ\">\n                                                        <field name=\"NUM\">1</field>\n                                                      </shadow>\n                                                    </value>\n                                                    <statement name=\"DO\">\n                                                      <block type=\"variables_set\" id=\"zpNJ|_WVX~9[24=s2Ub=\">\n                                                        <field name=\"VAR\" id=\"A-,$O)LJq:9F9`-d{KHW\">item</field>\n                                                        <value name=\"VALUE\">\n                                                          <block type=\"lists_getIndex\" id=\"LmKL16EI3`#;*Oep6_-i\">\n                                                            <mutation statement=\"false\" at=\"true\"></mutation>\n                                                            <field name=\"MODE\">GET</field>\n                                                            <field name=\"WHERE\">FROM_START</field>\n                                                            <value name=\"VALUE\">\n                                                              <block type=\"variables_get\" id=\"0me.w,!Q-aX1lC/Ny]oX\">\n                                                                <field name=\"VAR\" id=\"~vUaTnswDkLlu[,i;uw!\">homemadeSub</field>\n                                                              </block>\n                                                            </value>\n                                                            <value name=\"AT\">\n                                                              <block type=\"variables_get\" id=\"{B}Par}[^+Sap/P2$Yko\">\n                                                                <field name=\"VAR\" id=\")jU4tpD],qwF{9((T=aQ\">i</field>\n                                                              </block>\n                                                            </value>\n                                                          </block>\n                                                        </value>\n                                                        <next>\n                                                          <block type=\"controls_if\" id=\",`JMwgO,y:=X,QBmvP0t\">\n                                                            <value name=\"IF0\">\n                                                              <block type=\"logic_negate\" id=\"Y3(^|FMtc,u$+td+b@%6\">\n                                                                <value name=\"BOOL\">\n                                                                  <block type=\"logic_operation\" id=\"=Wf,G,EMWR)FimLv/y-/\">\n                                                                    <field name=\"OP\">AND</field>\n                                                                    <value name=\"A\">\n                                                                      <block type=\"logic_compare\" id=\"+Ab`!@uDu0aD@T4]LNx6\">\n                                                                        <field name=\"OP\">EQ</field>\n                                                                        <value name=\"A\">\n                                                                          <block type=\"lists_getIndex\" id=\"Usv|4(sF~g%I7-%DjY$U\">\n                                                                            <mutation statement=\"false\" at=\"true\"></mutation>\n                                                                            <field name=\"MODE\">GET</field>\n                                                                            <field name=\"WHERE\">FROM_START</field>\n                                                                            <value name=\"VALUE\">\n                                                                              <block type=\"variables_get\" id=\"7I^TZLlINgIvH[bgL${S\">\n                                                                                <field name=\"VAR\" id=\"A-,$O)LJq:9F9`-d{KHW\">item</field>\n                                                                              </block>\n                                                                            </value>\n                                                                            <value name=\"AT\">\n                                                                              <block type=\"math_number\" id=\"|n^lE,4m7QjqXBkH*hAP\">\n                                                                                <field name=\"NUM\">1</field>\n                                                                              </block>\n                                                                            </value>\n                                                                          </block>\n                                                                        </value>\n                                                                        <value name=\"B\">\n                                                                          <block type=\"variables_get\" id=\"jIzy/s8c[K{Cp)t!{yEI\">\n                                                                            <field name=\"VAR\" id=\"$4KQ9RJfhIqj)d.xEGy{\">_sessionId</field>\n                                                                          </block>\n                                                                        </value>\n                                                                      </block>\n                                                                    </value>\n                                                                    <value name=\"B\">\n                                                                      <block type=\"logic_compare\" id=\"OH/vvmqL2]*RbYzgh+=k\">\n                                                                        <field name=\"OP\">EQ</field>\n                                                                        <value name=\"A\">\n                                                                          <block type=\"lists_getIndex\" id=\"6@3bUlcs]jfr?mz4||g$\">\n                                                                            <mutation statement=\"false\" at=\"true\"></mutation>\n                                                                            <field name=\"MODE\">GET</field>\n                                                                            <field name=\"WHERE\">FROM_START</field>\n                                                                            <value name=\"VALUE\">\n                                                                              <block type=\"variables_get\" id=\"Ca8/_n+KgZ`4F,oLuM3{\">\n                                                                                <field name=\"VAR\" id=\"A-,$O)LJq:9F9`-d{KHW\">item</field>\n                                                                              </block>\n                                                                            </value>\n                                                                            <value name=\"AT\">\n                                                                              <block type=\"math_number\" id=\"X:*fZIJhLp]6-B})|qp$\">\n                                                                                <field name=\"NUM\">2</field>\n                                                                              </block>\n                                                                            </value>\n                                                                          </block>\n                                                                        </value>\n                                                                        <value name=\"B\">\n                                                                          <block type=\"variables_get\" id=\"2H#bj;,jpr,}uRsb8N]q\">\n                                                                            <field name=\"VAR\" id=\"uOw#m2hDK@WQ+}F?|0z6\">topicName</field>\n                                                                          </block>\n                                                                        </value>\n                                                                      </block>\n                                                                    </value>\n                                                                  </block>\n                                                                </value>\n                                                              </block>\n                                                            </value>\n                                                            <statement name=\"DO0\">\n                                                              <block type=\"lists_setIndex\" id=\"00]KW-5[pYoqn[[!fZqX\">\n                                                                <mutation at=\"false\"></mutation>\n                                                                <field name=\"MODE\">INSERT</field>\n                                                                <field name=\"WHERE\">LAST</field>\n                                                                <value name=\"LIST\">\n                                                                  <block type=\"variables_get\" id=\"5u3`wEc|bAs10$@`(HSG\">\n                                                                    <field name=\"VAR\" id=\"*W_a8LtNx=^CFiV8Ste+\">newHomemadeSub</field>\n                                                                  </block>\n                                                                </value>\n                                                                <value name=\"TO\">\n                                                                  <block type=\"variables_get\" id=\"e,n+!yc]Z2!j.DU1653:\">\n                                                                    <field name=\"VAR\" id=\"A-,$O)LJq:9F9`-d{KHW\">item</field>\n                                                                  </block>\n                                                                </value>\n                                                              </block>\n                                                            </statement>\n                                                          </block>\n                                                        </next>\n                                                      </block>\n                                                    </statement>\n                                                    <next>\n                                                      <block type=\"controls_forEach\" id=\"Uv8y:e!N|U6fS5qbc|qz\" disabled=\"true\">\n                                                        <field name=\"VAR\" id=\"A-,$O)LJq:9F9`-d{KHW\">item</field>\n                                                        <value name=\"LIST\">\n                                                          <block type=\"variables_get\" id=\"g`!uR;p/$/qTMv07zc}9\">\n                                                            <field name=\"VAR\" id=\"~vUaTnswDkLlu[,i;uw!\">homemadeSub</field>\n                                                          </block>\n                                                        </value>\n                                                        <statement name=\"DO\">\n                                                          <block type=\"node_log\" id=\"6ug{4k?6ko9FcOh;LVHF\">\n                                                            <field name=\"LOG_LEVEL\">WARN</field>\n                                                            <value name=\"LOG_MESSAGE_INPUT\">\n                                                              <shadow type=\"text\" id=\"c9U2;Pc70NT-]`[etrv=\">\n                                                                <field name=\"TEXT\"></field>\n                                                              </shadow>\n                                                              <block type=\"text_join\" id=\"`PSII/Xse*iK+L/+C@:X\">\n                                                                <mutation items=\"2\"></mutation>\n                                                                <value name=\"ADD0\">\n                                                                  <block type=\"lists_length\" id=\".S8+x^8z,SiI!]?s9%{H\">\n                                                                    <value name=\"VALUE\">\n                                                                      <block type=\"variables_get\" id=\"YZInie8IR|TB+[!B@LGS\">\n                                                                        <field name=\"VAR\" id=\"*W_a8LtNx=^CFiV8Ste+\">newHomemadeSub</field>\n                                                                      </block>\n                                                                    </value>\n                                                                  </block>\n                                                                </value>\n                                                              </block>\n                                                            </value>\n                                                            <next>\n                                                              <block type=\"controls_if\" id=\"_HLFLP1P,pOIw@*?)Z*Z\" disabled=\"true\">\n                                                                <value name=\"IF0\">\n                                                                  <block type=\"logic_negate\" id=\"`|eAz.xg4bo0jxgm0CcC\">\n                                                                    <value name=\"BOOL\">\n                                                                      <block type=\"logic_operation\" id=\"SAzU6A03JKyLxn5uAJq$\">\n                                                                        <field name=\"OP\">AND</field>\n                                                                        <value name=\"A\">\n                                                                          <block type=\"logic_compare\" id=\"a~?n6~)YeSp5DuMI@Kd/\">\n                                                                            <field name=\"OP\">EQ</field>\n                                                                            <value name=\"A\">\n                                                                              <block type=\"lists_getIndex\" id=\"J0cFloO_[/=KtYL/yiL]\">\n                                                                                <mutation statement=\"false\" at=\"true\"></mutation>\n                                                                                <field name=\"MODE\">GET</field>\n                                                                                <field name=\"WHERE\">FROM_START</field>\n                                                                                <value name=\"VALUE\">\n                                                                                  <block type=\"variables_get\" id=\"0`q4R}Jeiy5bonOs8TcM\">\n                                                                                    <field name=\"VAR\" id=\"A-,$O)LJq:9F9`-d{KHW\">item</field>\n                                                                                  </block>\n                                                                                </value>\n                                                                                <value name=\"AT\">\n                                                                                  <block type=\"math_number\" id=\":KYC[eV81Zf6/}J?5CU`\">\n                                                                                    <field name=\"NUM\">1</field>\n                                                                                  </block>\n                                                                                </value>\n                                                                              </block>\n                                                                            </value>\n                                                                            <value name=\"B\">\n                                                                              <block type=\"variables_get\" id=\"{N[uQZ:N[KLKkAB6VW8=\">\n                                                                                <field name=\"VAR\" id=\"$4KQ9RJfhIqj)d.xEGy{\">_sessionId</field>\n                                                                              </block>\n                                                                            </value>\n                                                                          </block>\n                                                                        </value>\n                                                                        <value name=\"B\">\n                                                                          <block type=\"logic_compare\" id=\"qqceGRMke$],levE3~r%\">\n                                                                            <field name=\"OP\">EQ</field>\n                                                                            <value name=\"A\">\n                                                                              <block type=\"lists_getIndex\" id=\"1gL+Ri1_[+1Uo*_c,?29\">\n                                                                                <mutation statement=\"false\" at=\"true\"></mutation>\n                                                                                <field name=\"MODE\">GET</field>\n                                                                                <field name=\"WHERE\">FROM_START</field>\n                                                                                <value name=\"VALUE\">\n                                                                                  <block type=\"variables_get\" id=\"Z8H6|`VB_(C0H62YD_*H\">\n                                                                                    <field name=\"VAR\" id=\"A-,$O)LJq:9F9`-d{KHW\">item</field>\n                                                                                  </block>\n                                                                                </value>\n                                                                                <value name=\"AT\">\n                                                                                  <block type=\"math_number\" id=\"C8#3*{=8A`D3iLW4ZEn[\">\n                                                                                    <field name=\"NUM\">2</field>\n                                                                                  </block>\n                                                                                </value>\n                                                                              </block>\n                                                                            </value>\n                                                                            <value name=\"B\">\n                                                                              <block type=\"variables_get\" id=\"_[42R$3{cWzv5y/GLxkx\">\n                                                                                <field name=\"VAR\" id=\"uOw#m2hDK@WQ+}F?|0z6\">topicName</field>\n                                                                              </block>\n                                                                            </value>\n                                                                          </block>\n                                                                        </value>\n                                                                      </block>\n                                                                    </value>\n                                                                  </block>\n                                                                </value>\n                                                                <statement name=\"DO0\">\n                                                                  <block type=\"lists_setIndex\" id=\"U`)8YnKO_0{Ms?##rQ)=\">\n                                                                    <mutation at=\"false\"></mutation>\n                                                                    <field name=\"MODE\">INSERT</field>\n                                                                    <field name=\"WHERE\">LAST</field>\n                                                                    <value name=\"LIST\">\n                                                                      <block type=\"variables_get\" id=\"Cf//~yW?}Bc+/^wC!EVj\">\n                                                                        <field name=\"VAR\" id=\"*W_a8LtNx=^CFiV8Ste+\">newHomemadeSub</field>\n                                                                      </block>\n                                                                    </value>\n                                                                    <value name=\"TO\">\n                                                                      <block type=\"variables_get\" id=\".@.i.4[[-L`HSop+$-Q%\">\n                                                                        <field name=\"VAR\" id=\"A-,$O)LJq:9F9`-d{KHW\">item</field>\n                                                                      </block>\n                                                                    </value>\n                                                                  </block>\n                                                                </statement>\n                                                              </block>\n                                                            </next>\n                                                          </block>\n                                                        </statement>\n                                                        <next>\n                                                          <block type=\"node_status\" id=\"]6[BwGVQ-]ZY_Gfgp;rA\" disabled=\"true\">\n                                                            <field name=\"COLOUR\">#0000ff</field>\n                                                            <field name=\"SHAPE\">RING</field>\n                                                            <value name=\"TEXT_INPUT\">\n                                                              <shadow type=\"text\" id=\"(+u=KQm1!ZA,|u3gO{rT\">\n                                                                <field name=\"TEXT\"></field>\n                                                              </shadow>\n                                                              <block type=\"variables_get\" id=\"Y*Q6NpF7E1F/wS[Aacy=\">\n                                                                <field name=\"VAR\" id=\"*W_a8LtNx=^CFiV8Ste+\">newHomemadeSub</field>\n                                                              </block>\n                                                            </value>\n                                                            <next>\n                                                              <block type=\"node_object_set\" id=\"I00YA,pYkOS]1avJo=%h\" inline=\"true\">\n                                                                <value name=\"object_field\">\n                                                                  <shadow type=\"node_msg\" id=\"*vA4[sOl=UUJ}/aK2o8,\"></shadow>\n                                                                  <block type=\"node_flow_memory\" id=\"aTdMCz.xfP%YZ#3loNMH\"></block>\n                                                                </value>\n                                                                <value name=\"field_name\">\n                                                                  <shadow type=\"text\" id=\"ax[6b2q*2z%cRUC%S@|e\">\n                                                                    <field name=\"TEXT\">homemadeSub</field>\n                                                                  </shadow>\n                                                                </value>\n                                                                <value name=\"value_field\">\n                                                                  <shadow type=\"text\" id=\"w!8FB,59hBn;mMS:/RO.\">\n                                                                    <field name=\"TEXT\"></field>\n                                                                  </shadow>\n                                                                  <block type=\"variables_get\" id=\"[nV_rJ/_aZkcLqf37?4g\">\n                                                                    <field name=\"VAR\" id=\"*W_a8LtNx=^CFiV8Ste+\">newHomemadeSub</field>\n                                                                  </block>\n                                                                </value>\n                                                              </block>\n                                                            </next>\n                                                          </block>\n                                                        </next>\n                                                      </block>\n                                                    </next>\n                                                  </block>\n                                                </next>\n                                              </block>\n                                            </statement>\n                                            <next>\n                                              <block type=\"node_status\" id=\"zJ_+|Rg1je#7tIHX`rtJ\">\n                                                <field name=\"COLOUR\">#0000ff</field>\n                                                <field name=\"SHAPE\">RING</field>\n                                                <value name=\"TEXT_INPUT\">\n                                                  <shadow type=\"text\" id=\"2DtfbrXhEeY_JzBTxf)$\">\n                                                    <field name=\"TEXT\"></field>\n                                                  </shadow>\n                                                  <block type=\"text_join\" id=\"C|)0jyoSE[JIG[JekB}O\" inline=\"true\">\n                                                    <mutation items=\"5\"></mutation>\n                                                    <value name=\"ADD0\">\n                                                      <block type=\"variables_get\" id=\"GX4pMd;i56Mc1_eO$KI?\">\n                                                        <field name=\"VAR\" id=\"d+8f$sJ1JPHoR{DZNlm%\">MessageId</field>\n                                                      </block>\n                                                    </value>\n                                                    <value name=\"ADD1\">\n                                                      <block type=\"text\" id=\"BJjuZqAeeO_Z2q,U^`-M\">\n                                                        <field name=\"TEXT\">:</field>\n                                                      </block>\n                                                    </value>\n                                                    <value name=\"ADD2\">\n                                                      <block type=\"variables_get\" id=\"]!HH#[?rb.59~`Ak;6ad\">\n                                                        <field name=\"VAR\" id=\"i31wcn{F)HlBi)2AeR~2\">topicLength</field>\n                                                      </block>\n                                                    </value>\n                                                    <value name=\"ADD3\">\n                                                      <block type=\"text\" id=\"P98,#`,H{#q0alnf2Y5|\">\n                                                        <field name=\"TEXT\">:</field>\n                                                      </block>\n                                                    </value>\n                                                    <value name=\"ADD4\">\n                                                      <block type=\"variables_get\" id=\"4vc3Q^I)k2VD^^BsV0D,\">\n                                                        <field name=\"VAR\" id=\"uOw#m2hDK@WQ+}F?|0z6\">topicName</field>\n                                                      </block>\n                                                    </value>\n                                                  </block>\n                                                </value>\n                                                <next>\n                                                  <block type=\"variables_set\" id=\"l@sfb.9mg3#EAMF*+`GJ\">\n                                                    <field name=\"VAR\" id=\"c7*FtK*W=z%xb6U!7i@u\">UNSUBACK</field>\n                                                    <value name=\"VALUE\">\n                                                      <block type=\"buffer_alloc\" id=\"t,mBQ+:ztI0=gEBTxl~c\">\n                                                        <value name=\"LENGTH\">\n                                                          <shadow type=\"math_number\" id=\"OhNeVf]v{BT.a~E!n}py\">\n                                                            <field name=\"NUM\">4</field>\n                                                          </shadow>\n                                                        </value>\n                                                      </block>\n                                                    </value>\n                                                    <next>\n                                                      <block type=\"buffer_set_index\" id=\"P0W2xPVF`p]m(R,?G$-1\">\n                                                        <value name=\"INDEX\">\n                                                          <shadow type=\"math_number\" id=\"o_7,}[)/`RJKercmZ-UG\">\n                                                            <field name=\"NUM\">1</field>\n                                                          </shadow>\n                                                        </value>\n                                                        <value name=\"BUFFER\">\n                                                          <shadow type=\"buffer_empty\" id=\"V,je:ZX-PO8qo2yw;=-R\"></shadow>\n                                                          <block type=\"variables_get\" id=\"jt|IqBs5=A2p{ZCt5{L=\">\n                                                            <field name=\"VAR\" id=\"c7*FtK*W=z%xb6U!7i@u\">UNSUBACK</field>\n                                                          </block>\n                                                        </value>\n                                                        <value name=\"VALUE\">\n                                                          <shadow type=\"buffer_byte\" id=\"47:lLRyJBp?;2H:$}^-8\">\n                                                            <field name=\"BYTE_VALUE\">176</field>\n                                                          </shadow>\n                                                        </value>\n                                                        <next>\n                                                          <block type=\"buffer_set_index\" id=\"6zfN02{={~D?T.Z@CR3n\">\n                                                            <value name=\"INDEX\">\n                                                              <shadow type=\"math_number\" id=\"@[0Y+)-0hFEH]g!~=jjK\">\n                                                                <field name=\"NUM\">2</field>\n                                                              </shadow>\n                                                            </value>\n                                                            <value name=\"BUFFER\">\n                                                              <shadow type=\"buffer_empty\"></shadow>\n                                                              <block type=\"variables_get\" id=\"6bZ;@OU`S04UA!!AOh9%\">\n                                                                <field name=\"VAR\" id=\"c7*FtK*W=z%xb6U!7i@u\">UNSUBACK</field>\n                                                              </block>\n                                                            </value>\n                                                            <value name=\"VALUE\">\n                                                              <shadow type=\"buffer_byte\" id=\"L.=98:$QPot(9Fi?q5P1\">\n                                                                <field name=\"BYTE_VALUE\">2</field>\n                                                              </shadow>\n                                                            </value>\n                                                            <next>\n                                                              <block type=\"buffer_set_index\" id=\"CjiSV*SPZ71xfxYB!7Nc\">\n                                                                <value name=\"INDEX\">\n                                                                  <shadow type=\"math_number\" id=\"]1EC#:C6^L{[I8jZFV-W\">\n                                                                    <field name=\"NUM\">3</field>\n                                                                  </shadow>\n                                                                </value>\n                                                                <value name=\"BUFFER\">\n                                                                  <shadow type=\"buffer_empty\"></shadow>\n                                                                  <block type=\"variables_get\" id=\"G7E:~/$qkC].L)O_*ASZ\">\n                                                                    <field name=\"VAR\" id=\"c7*FtK*W=z%xb6U!7i@u\">UNSUBACK</field>\n                                                                  </block>\n                                                                </value>\n                                                                <value name=\"VALUE\">\n                                                                  <shadow type=\"buffer_byte\" id=\"KW+:}NV,GHp^u:r{6CzT\">\n                                                                    <field name=\"BYTE_VALUE\">144</field>\n                                                                  </shadow>\n                                                                  <block type=\"buffer_get_index\" id=\"ASL7+C+R$*}eo+,u)r,W\">\n                                                                    <value name=\"INDEX\">\n                                                                      <shadow type=\"math_number\" id=\"M:III32i#q*^CZWOmtkb\">\n                                                                        <field name=\"NUM\">3</field>\n                                                                      </shadow>\n                                                                    </value>\n                                                                    <value name=\"BUFFER\">\n                                                                      <shadow type=\"buffer_empty\" id=\"LFMkNxT13ZBUan2rV5;f\"></shadow>\n                                                                      <block type=\"variables_get\" id=\"#L@n}gVLZ[0*+TfQi%6X\">\n                                                                        <field name=\"VAR\" id=\"_Vv{V/M62OO$vyzw/7dm\">rcvdPayload</field>\n                                                                      </block>\n                                                                    </value>\n                                                                  </block>\n                                                                </value>\n                                                                <next>\n                                                                  <block type=\"buffer_set_index\" id=\"HYYr8J}iy*1;X(.TB_GB\">\n                                                                    <value name=\"INDEX\">\n                                                                      <shadow type=\"math_number\" id=\"vAq|M6!R;gDI}8kwoxum\">\n                                                                        <field name=\"NUM\">4</field>\n                                                                      </shadow>\n                                                                    </value>\n                                                                    <value name=\"BUFFER\">\n                                                                      <shadow type=\"buffer_empty\"></shadow>\n                                                                      <block type=\"variables_get\" id=\"Ez/RfA~G6olp32pr;ik.\">\n                                                                        <field name=\"VAR\" id=\"c7*FtK*W=z%xb6U!7i@u\">UNSUBACK</field>\n                                                                      </block>\n                                                                    </value>\n                                                                    <value name=\"VALUE\">\n                                                                      <shadow type=\"buffer_byte\" id=\".(ttn%/@7oiR^7:~#6#`\">\n                                                                        <field name=\"BYTE_VALUE\">144</field>\n                                                                      </shadow>\n                                                                      <block type=\"buffer_get_index\" id=\"|Dt*59hi5!Yxt1SoyVpr\">\n                                                                        <value name=\"INDEX\">\n                                                                          <shadow type=\"math_number\" id=\"I_,mMW~%$|Wi,eH89Ma5\">\n                                                                            <field name=\"NUM\">4</field>\n                                                                          </shadow>\n                                                                        </value>\n                                                                        <value name=\"BUFFER\">\n                                                                          <shadow type=\"buffer_empty\"></shadow>\n                                                                          <block type=\"variables_get\" id=\"4{*[+Qx,s17jhmsqj6a.\">\n                                                                            <field name=\"VAR\" id=\"_Vv{V/M62OO$vyzw/7dm\">rcvdPayload</field>\n                                                                          </block>\n                                                                        </value>\n                                                                      </block>\n                                                                    </value>\n                                                                    <next>\n                                                                      <block type=\"node_object_set\" id=\"e/OG;ry-gapKdT+w}~#{\" inline=\"true\">\n                                                                        <value name=\"object_field\">\n                                                                          <shadow type=\"node_msg\" id=\"Gzw7k*Hb%btb!gyqI(.L\"></shadow>\n                                                                        </value>\n                                                                        <value name=\"field_name\">\n                                                                          <shadow type=\"text\" id=\"@@+u9z^b?1NpC`nY31b-\">\n                                                                            <field name=\"TEXT\">payload</field>\n                                                                          </shadow>\n                                                                        </value>\n                                                                        <value name=\"value_field\">\n                                                                          <shadow type=\"text\">\n                                                                            <field name=\"TEXT\"></field>\n                                                                          </shadow>\n                                                                          <block type=\"variables_get\" id=\"{2+b^r*{|#U.:sz@Ic/K\">\n                                                                            <field name=\"VAR\" id=\"c7*FtK*W=z%xb6U!7i@u\">UNSUBACK</field>\n                                                                          </block>\n                                                                        </value>\n                                                                        <next>\n                                                                          <block type=\"node_send\" id=\"W3T8xsE*ZUs[i99~vM|m\">\n                                                                            <field name=\"OUTPUT_NR\">1</field>\n                                                                            <value name=\"MESSAGE_INPUT\">\n                                                                              <shadow type=\"node_msg\" id=\"~@R!ux6M|R5^$TyhhABn\"></shadow>\n                                                                            </value>\n                                                                            <next>\n                                                                              <block type=\"node_object_set\" id=\"A2U7xqZgJye-43qeQ4}c\" inline=\"true\">\n                                                                                <value name=\"object_field\">\n                                                                                  <shadow type=\"node_msg\" id=\"4pF7uTe(*ZdPakXJSx3b\"></shadow>\n                                                                                </value>\n                                                                                <value name=\"field_name\">\n                                                                                  <shadow type=\"text\" id=\"YRbv}TPP.[PDtMq=z86C\">\n                                                                                    <field name=\"TEXT\">payload</field>\n                                                                                  </shadow>\n                                                                                </value>\n                                                                                <value name=\"value_field\">\n                                                                                  <shadow type=\"text\" id=\"VWtmW/H1VVz()$?H/)$q\">\n                                                                                    <field name=\"TEXT\"></field>\n                                                                                  </shadow>\n                                                                                  <block type=\"variables_get\" id=\"+g78}c11OJ`69inQ9057\">\n                                                                                    <field name=\"VAR\" id=\"_Vv{V/M62OO$vyzw/7dm\">rcvdPayload</field>\n                                                                                  </block>\n                                                                                </value>\n                                                                                <next>\n                                                                                  <block type=\"node_send\" id=\"*enHIrY*`9#*7`=@6+(j\">\n                                                                                    <field name=\"OUTPUT_NR\">2</field>\n                                                                                    <value name=\"MESSAGE_INPUT\">\n                                                                                      <shadow type=\"node_msg\" id=\"GzrfVGknc!OJ?i;a^}S]\"></shadow>\n                                                                                    </value>\n                                                                                  </block>\n                                                                                </next>\n                                                                              </block>\n                                                                            </next>\n                                                                          </block>\n                                                                        </next>\n                                                                      </block>\n                                                                    </next>\n                                                                  </block>\n                                                                </next>\n                                                              </block>\n                                                            </next>\n                                                          </block>\n                                                        </next>\n                                                      </block>\n                                                    </next>\n                                                  </block>\n                                                </next>\n                                              </block>\n                                            </next>\n                                          </block>\n                                        </next>\n                                      </block>\n                                    </next>\n                                  </block>\n                                </next>\n                              </block>\n                            </next>\n                          </block>\n                        </next>\n                      </block>\n                    </next>\n                  </block>\n                </next>\n              </block>\n            </next>\n          </block>\n        </next>\n      </block>\n    </next>\n  </block>\n  <block type=\"text_join\" id=\"eMUE2(p-v%kZKLO+/8(C\" disabled=\"true\" x=\"738\" y=\"-87\">\n    <mutation items=\"3\"></mutation>\n    <value name=\"ADD0\">\n      <block type=\"lists_create_with\" id=\"S2si@stNB|tmU(,%/,.8\">\n        <mutation items=\"1\"></mutation>\n        <value name=\"ADD0\">\n          <block type=\"lists_create_with\" id=\"RfY?DsJ}dF(`1w@X:.ly\">\n            <mutation items=\"2\"></mutation>\n            <value name=\"ADD0\">\n              <block type=\"variables_get\" id=\"|p8};mvzF1{XNhqAp[%4\">\n                <field name=\"VAR\" id=\"$4KQ9RJfhIqj)d.xEGy{\">_sessionId</field>\n              </block>\n            </value>\n            <value name=\"ADD1\">\n              <block type=\"variables_get\" id=\"W3Smd,#qBLGm0U72)JSn\">\n                <field name=\"VAR\" id=\"uOw#m2hDK@WQ+}F?|0z6\">topicName</field>\n              </block>\n            </value>\n          </block>\n        </value>\n      </block>\n    </value>\n    <value name=\"ADD1\">\n      <block type=\"text\" id=\"t}6v8HEsY;SR]a%:(+0c\">\n        <field name=\"TEXT\">abcd</field>\n      </block>\n    </value>\n    <value name=\"ADD2\">\n      <block type=\"text\" id=\"B3)y4a7z#gVs}E$b:dxF\">\n        <field name=\"TEXT\">Test</field>\n      </block>\n    </value>\n  </block>\n</xml>","outputs":2,"blocklyConfig":"a6722b13cc9e29c1","backpackContents":[],"noerr":0,"name":"","x":1067,"y":685,"wires":[["77b3e857bdd8c765"],[]]},{"id":"b25834b00dc17621","type":"delay","z":"dc897f402c53697f","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":407,"y":685,"wires":[["0454c42bd9f789ca"]]},{"id":"cd2d682b9e504900","type":"Blockly","z":"dc897f402c53697f","func":"var _sessionId, homemadeSub, newHomemadeSub, i2, item, topicName;\n\n\n_sessionId = (msg['_session']['id']);\nhomemadeSub = (flow.get('homemadeSub'));\nif (homemadeSub.length > 0) {\n  newHomemadeSub = [];\n  var i2_end = homemadeSub.length;\n  var i2_inc = 1;\n  if (1 > i2_end) {\n    i2_inc = -i2_inc;\n  }\n  for (i2 = 1; i2_inc >= 0 ? i2 <= i2_end : i2 >= i2_end; i2 += i2_inc) {\n    item = homemadeSub[(i2 - 1)];\n    if (!(item[0] == _sessionId)) {\n      newHomemadeSub.push(item);\n    }\n  }\n  flow.set('homemadeSub', newHomemadeSub);\n}\n","workspaceXml":"<xml xmlns=\"https://developers.google.com/blockly/xml\">\n  <variables>\n    <variable id=\"$4KQ9RJfhIqj)d.xEGy{\">_sessionId</variable>\n    <variable id=\"~vUaTnswDkLlu[,i;uw!\">homemadeSub</variable>\n    <variable id=\"*W_a8LtNx=^CFiV8Ste+\">newHomemadeSub</variable>\n    <variable id=\")jU4tpD],qwF{9((T=aQ\">i</variable>\n    <variable id=\"A-,$O)LJq:9F9`-d{KHW\">item</variable>\n    <variable id=\"uOw#m2hDK@WQ+}F?|0z6\">topicName</variable>\n  </variables>\n  <block type=\"variables_set\" id=\"yVl|=W!x2b|qp*mVQJhP\" x=\"163\" y=\"-437\">\n    <field name=\"VAR\" id=\"$4KQ9RJfhIqj)d.xEGy{\">_sessionId</field>\n    <value name=\"VALUE\">\n      <block type=\"node_object_get\" id=\"LbDtgJZSQL9FK%#qScQ(\">\n        <mutation xmlns=\"http://www.w3.org/1999/xhtml\" action=\"GET\"></mutation>\n        <field name=\"action\">GET</field>\n        <value name=\"object\">\n          <shadow type=\"node_msg\" id=\"btm$l;BIw9igE6$Yi~Hk\"></shadow>\n        </value>\n        <value name=\"field_name\">\n          <shadow type=\"text\" id=\"!$;+rxEE{GHWip{Re=j;\">\n            <field name=\"TEXT\">_session.id</field>\n          </shadow>\n        </value>\n      </block>\n    </value>\n    <next>\n      <block type=\"variables_set\" id=\"Q[xK,8mnErjXyk}!KyT:\">\n        <field name=\"VAR\" id=\"~vUaTnswDkLlu[,i;uw!\">homemadeSub</field>\n        <value name=\"VALUE\">\n          <block type=\"node_object_get\" id=\"dPr7I:6Z0?=:G27|,tO%\">\n            <mutation xmlns=\"http://www.w3.org/1999/xhtml\" action=\"GET\"></mutation>\n            <field name=\"action\">GET</field>\n            <value name=\"object\">\n              <shadow type=\"node_msg\"></shadow>\n              <block type=\"node_flow_memory\" id=\"[_D_glr13}2+`K62Ilx[\"></block>\n            </value>\n            <value name=\"field_name\">\n              <shadow type=\"text\" id=\"djo=Q8;+mYHl$=SLJX0}\">\n                <field name=\"TEXT\">homemadeSub</field>\n              </shadow>\n            </value>\n          </block>\n        </value>\n        <next>\n          <block type=\"controls_if\" id=\"HS3|f)lO%?jT/{xfz}{9\">\n            <value name=\"IF0\">\n              <block type=\"logic_compare\" id=\"LU4M.4+l2lk+)jei_zqT\">\n                <field name=\"OP\">GT</field>\n                <value name=\"A\">\n                  <block type=\"lists_length\" id=\"#KLWpyTF(%OY2(l_PL,8\">\n                    <value name=\"VALUE\">\n                      <block type=\"variables_get\" id=\"=m)Rc=RNQRgMliWhdh2F\">\n                        <field name=\"VAR\" id=\"~vUaTnswDkLlu[,i;uw!\">homemadeSub</field>\n                      </block>\n                    </value>\n                  </block>\n                </value>\n                <value name=\"B\">\n                  <block type=\"math_number\" id=\"=]h8Kxz.pR`[,ptaKV.c\">\n                    <field name=\"NUM\">0</field>\n                  </block>\n                </value>\n              </block>\n            </value>\n            <statement name=\"DO0\">\n              <block type=\"variables_set\" id=\"JzE,i(r-5ric+:_b*COL\">\n                <field name=\"VAR\" id=\"*W_a8LtNx=^CFiV8Ste+\">newHomemadeSub</field>\n                <value name=\"VALUE\">\n                  <block type=\"lists_create_with\" id=\",=xeqFHwz0;5J|*xtj$2\">\n                    <mutation items=\"0\"></mutation>\n                  </block>\n                </value>\n                <next>\n                  <block type=\"controls_for\" id=\"jlNoblqO9y]eUA.rq2T1\">\n                    <field name=\"VAR\" id=\")jU4tpD],qwF{9((T=aQ\">i</field>\n                    <value name=\"FROM\">\n                      <shadow type=\"math_number\" id=\"#hn^J}7_2!b@A9aTLI}Q\">\n                        <field name=\"NUM\">1</field>\n                      </shadow>\n                    </value>\n                    <value name=\"TO\">\n                      <shadow type=\"math_number\" id=\"Z$uPT(exR1Hf}6WaS{Nh\">\n                        <field name=\"NUM\">10</field>\n                      </shadow>\n                      <block type=\"lists_length\" id=\"uWj(m)C?q?Wrj,sRVqSD\">\n                        <value name=\"VALUE\">\n                          <block type=\"variables_get\" id=\"Z)Bo^kNuEyEO8ZaWe/l7\">\n                            <field name=\"VAR\" id=\"~vUaTnswDkLlu[,i;uw!\">homemadeSub</field>\n                          </block>\n                        </value>\n                      </block>\n                    </value>\n                    <value name=\"BY\">\n                      <shadow type=\"math_number\" id=\"{pJO!oY(X{X7mln!Z8WJ\">\n                        <field name=\"NUM\">1</field>\n                      </shadow>\n                    </value>\n                    <statement name=\"DO\">\n                      <block type=\"variables_set\" id=\"zpNJ|_WVX~9[24=s2Ub=\">\n                        <field name=\"VAR\" id=\"A-,$O)LJq:9F9`-d{KHW\">item</field>\n                        <value name=\"VALUE\">\n                          <block type=\"lists_getIndex\" id=\"LmKL16EI3`#;*Oep6_-i\">\n                            <mutation statement=\"false\" at=\"true\"></mutation>\n                            <field name=\"MODE\">GET</field>\n                            <field name=\"WHERE\">FROM_START</field>\n                            <value name=\"VALUE\">\n                              <block type=\"variables_get\" id=\"0me.w,!Q-aX1lC/Ny]oX\">\n                                <field name=\"VAR\" id=\"~vUaTnswDkLlu[,i;uw!\">homemadeSub</field>\n                              </block>\n                            </value>\n                            <value name=\"AT\">\n                              <block type=\"variables_get\" id=\"{B}Par}[^+Sap/P2$Yko\">\n                                <field name=\"VAR\" id=\")jU4tpD],qwF{9((T=aQ\">i</field>\n                              </block>\n                            </value>\n                          </block>\n                        </value>\n                        <next>\n                          <block type=\"controls_if\" id=\",`JMwgO,y:=X,QBmvP0t\">\n                            <value name=\"IF0\">\n                              <block type=\"logic_negate\" id=\"Y3(^|FMtc,u$+td+b@%6\">\n                                <value name=\"BOOL\">\n                                  <block type=\"logic_compare\" id=\"+Ab`!@uDu0aD@T4]LNx6\">\n                                    <field name=\"OP\">EQ</field>\n                                    <value name=\"A\">\n                                      <block type=\"lists_getIndex\" id=\"Usv|4(sF~g%I7-%DjY$U\">\n                                        <mutation statement=\"false\" at=\"true\"></mutation>\n                                        <field name=\"MODE\">GET</field>\n                                        <field name=\"WHERE\">FROM_START</field>\n                                        <value name=\"VALUE\">\n                                          <block type=\"variables_get\" id=\"7I^TZLlINgIvH[bgL${S\">\n                                            <field name=\"VAR\" id=\"A-,$O)LJq:9F9`-d{KHW\">item</field>\n                                          </block>\n                                        </value>\n                                        <value name=\"AT\">\n                                          <block type=\"math_number\" id=\"|n^lE,4m7QjqXBkH*hAP\">\n                                            <field name=\"NUM\">1</field>\n                                          </block>\n                                        </value>\n                                      </block>\n                                    </value>\n                                    <value name=\"B\">\n                                      <block type=\"variables_get\" id=\"jIzy/s8c[K{Cp)t!{yEI\">\n                                        <field name=\"VAR\" id=\"$4KQ9RJfhIqj)d.xEGy{\">_sessionId</field>\n                                      </block>\n                                    </value>\n                                  </block>\n                                </value>\n                              </block>\n                            </value>\n                            <statement name=\"DO0\">\n                              <block type=\"lists_setIndex\" id=\"00]KW-5[pYoqn[[!fZqX\">\n                                <mutation at=\"false\"></mutation>\n                                <field name=\"MODE\">INSERT</field>\n                                <field name=\"WHERE\">LAST</field>\n                                <value name=\"LIST\">\n                                  <block type=\"variables_get\" id=\"5u3`wEc|bAs10$@`(HSG\">\n                                    <field name=\"VAR\" id=\"*W_a8LtNx=^CFiV8Ste+\">newHomemadeSub</field>\n                                  </block>\n                                </value>\n                                <value name=\"TO\">\n                                  <block type=\"variables_get\" id=\"e,n+!yc]Z2!j.DU1653:\">\n                                    <field name=\"VAR\" id=\"A-,$O)LJq:9F9`-d{KHW\">item</field>\n                                  </block>\n                                </value>\n                              </block>\n                            </statement>\n                          </block>\n                        </next>\n                      </block>\n                    </statement>\n                    <next>\n                      <block type=\"controls_forEach\" id=\"Uv8y:e!N|U6fS5qbc|qz\" disabled=\"true\">\n                        <field name=\"VAR\" id=\"A-,$O)LJq:9F9`-d{KHW\">item</field>\n                        <value name=\"LIST\">\n                          <block type=\"variables_get\" id=\"g`!uR;p/$/qTMv07zc}9\">\n                            <field name=\"VAR\" id=\"~vUaTnswDkLlu[,i;uw!\">homemadeSub</field>\n                          </block>\n                        </value>\n                        <statement name=\"DO\">\n                          <block type=\"node_log\" id=\"6ug{4k?6ko9FcOh;LVHF\">\n                            <field name=\"LOG_LEVEL\">WARN</field>\n                            <value name=\"LOG_MESSAGE_INPUT\">\n                              <shadow type=\"text\" id=\"c9U2;Pc70NT-]`[etrv=\">\n                                <field name=\"TEXT\"></field>\n                              </shadow>\n                              <block type=\"text_join\" id=\"`PSII/Xse*iK+L/+C@:X\">\n                                <mutation items=\"2\"></mutation>\n                                <value name=\"ADD0\">\n                                  <block type=\"lists_length\" id=\".S8+x^8z,SiI!]?s9%{H\">\n                                    <value name=\"VALUE\">\n                                      <block type=\"variables_get\" id=\"YZInie8IR|TB+[!B@LGS\">\n                                        <field name=\"VAR\" id=\"*W_a8LtNx=^CFiV8Ste+\">newHomemadeSub</field>\n                                      </block>\n                                    </value>\n                                  </block>\n                                </value>\n                              </block>\n                            </value>\n                            <next>\n                              <block type=\"controls_if\" id=\"_HLFLP1P,pOIw@*?)Z*Z\" disabled=\"true\">\n                                <value name=\"IF0\">\n                                  <block type=\"logic_negate\" id=\"`|eAz.xg4bo0jxgm0CcC\">\n                                    <value name=\"BOOL\">\n                                      <block type=\"logic_operation\" id=\"SAzU6A03JKyLxn5uAJq$\">\n                                        <field name=\"OP\">AND</field>\n                                        <value name=\"A\">\n                                          <block type=\"logic_compare\" id=\"a~?n6~)YeSp5DuMI@Kd/\">\n                                            <field name=\"OP\">EQ</field>\n                                            <value name=\"A\">\n                                              <block type=\"lists_getIndex\" id=\"J0cFloO_[/=KtYL/yiL]\">\n                                                <mutation statement=\"false\" at=\"true\"></mutation>\n                                                <field name=\"MODE\">GET</field>\n                                                <field name=\"WHERE\">FROM_START</field>\n                                                <value name=\"VALUE\">\n                                                  <block type=\"variables_get\" id=\"0`q4R}Jeiy5bonOs8TcM\">\n                                                    <field name=\"VAR\" id=\"A-,$O)LJq:9F9`-d{KHW\">item</field>\n                                                  </block>\n                                                </value>\n                                                <value name=\"AT\">\n                                                  <block type=\"math_number\" id=\":KYC[eV81Zf6/}J?5CU`\">\n                                                    <field name=\"NUM\">1</field>\n                                                  </block>\n                                                </value>\n                                              </block>\n                                            </value>\n                                            <value name=\"B\">\n                                              <block type=\"variables_get\" id=\"{N[uQZ:N[KLKkAB6VW8=\">\n                                                <field name=\"VAR\" id=\"$4KQ9RJfhIqj)d.xEGy{\">_sessionId</field>\n                                              </block>\n                                            </value>\n                                          </block>\n                                        </value>\n                                        <value name=\"B\">\n                                          <block type=\"logic_compare\" id=\"qqceGRMke$],levE3~r%\">\n                                            <field name=\"OP\">EQ</field>\n                                            <value name=\"A\">\n                                              <block type=\"lists_getIndex\" id=\"1gL+Ri1_[+1Uo*_c,?29\">\n                                                <mutation statement=\"false\" at=\"true\"></mutation>\n                                                <field name=\"MODE\">GET</field>\n                                                <field name=\"WHERE\">FROM_START</field>\n                                                <value name=\"VALUE\">\n                                                  <block type=\"variables_get\" id=\"Z8H6|`VB_(C0H62YD_*H\">\n                                                    <field name=\"VAR\" id=\"A-,$O)LJq:9F9`-d{KHW\">item</field>\n                                                  </block>\n                                                </value>\n                                                <value name=\"AT\">\n                                                  <block type=\"math_number\" id=\"C8#3*{=8A`D3iLW4ZEn[\">\n                                                    <field name=\"NUM\">2</field>\n                                                  </block>\n                                                </value>\n                                              </block>\n                                            </value>\n                                            <value name=\"B\">\n                                              <block type=\"variables_get\" id=\"_[42R$3{cWzv5y/GLxkx\">\n                                                <field name=\"VAR\" id=\"uOw#m2hDK@WQ+}F?|0z6\">topicName</field>\n                                              </block>\n                                            </value>\n                                          </block>\n                                        </value>\n                                      </block>\n                                    </value>\n                                  </block>\n                                </value>\n                                <statement name=\"DO0\">\n                                  <block type=\"lists_setIndex\" id=\"U`)8YnKO_0{Ms?##rQ)=\">\n                                    <mutation at=\"false\"></mutation>\n                                    <field name=\"MODE\">INSERT</field>\n                                    <field name=\"WHERE\">LAST</field>\n                                    <value name=\"LIST\">\n                                      <block type=\"variables_get\" id=\"Cf//~yW?}Bc+/^wC!EVj\">\n                                        <field name=\"VAR\" id=\"*W_a8LtNx=^CFiV8Ste+\">newHomemadeSub</field>\n                                      </block>\n                                    </value>\n                                    <value name=\"TO\">\n                                      <block type=\"variables_get\" id=\".@.i.4[[-L`HSop+$-Q%\">\n                                        <field name=\"VAR\" id=\"A-,$O)LJq:9F9`-d{KHW\">item</field>\n                                      </block>\n                                    </value>\n                                  </block>\n                                </statement>\n                              </block>\n                            </next>\n                          </block>\n                        </statement>\n                        <next>\n                          <block type=\"node_status\" id=\"]6[BwGVQ-]ZY_Gfgp;rA\" disabled=\"true\">\n                            <field name=\"COLOUR\">#0000ff</field>\n                            <field name=\"SHAPE\">RING</field>\n                            <value name=\"TEXT_INPUT\">\n                              <shadow type=\"text\" id=\"(+u=KQm1!ZA,|u3gO{rT\">\n                                <field name=\"TEXT\"></field>\n                              </shadow>\n                              <block type=\"variables_get\" id=\"Y*Q6NpF7E1F/wS[Aacy=\">\n                                <field name=\"VAR\" id=\"*W_a8LtNx=^CFiV8Ste+\">newHomemadeSub</field>\n                              </block>\n                            </value>\n                            <next>\n                              <block type=\"node_object_set\" id=\"I00YA,pYkOS]1avJo=%h\" inline=\"true\">\n                                <value name=\"object_field\">\n                                  <shadow type=\"node_msg\" id=\"*vA4[sOl=UUJ}/aK2o8,\"></shadow>\n                                  <block type=\"node_flow_memory\" id=\"aTdMCz.xfP%YZ#3loNMH\"></block>\n                                </value>\n                                <value name=\"field_name\">\n                                  <shadow type=\"text\" id=\"ax[6b2q*2z%cRUC%S@|e\">\n                                    <field name=\"TEXT\">homemadeSub</field>\n                                  </shadow>\n                                </value>\n                                <value name=\"value_field\">\n                                  <shadow type=\"text\" id=\"w!8FB,59hBn;mMS:/RO.\">\n                                    <field name=\"TEXT\"></field>\n                                  </shadow>\n                                  <block type=\"variables_get\" id=\"[nV_rJ/_aZkcLqf37?4g\">\n                                    <field name=\"VAR\" id=\"*W_a8LtNx=^CFiV8Ste+\">newHomemadeSub</field>\n                                  </block>\n                                </value>\n                              </block>\n                            </next>\n                          </block>\n                        </next>\n                      </block>\n                    </next>\n                  </block>\n                </next>\n              </block>\n            </statement>\n          </block>\n        </next>\n      </block>\n    </next>\n  </block>\n</xml>","outputs":1,"blocklyConfig":"a6722b13cc9e29c1","backpackContents":[],"noerr":0,"name":"","x":987,"y":805,"wires":[[]]},{"id":"94fd08bb1f03e37f","type":"inject","z":"dc897f402c53697f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":207,"y":785,"wires":[["0cfa542a374ed6be"]]},{"id":"0cfa542a374ed6be","type":"change","z":"dc897f402c53697f","name":"","rules":[{"t":"delete","p":"homemadeSub","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":427,"y":805,"wires":[["0454c42bd9f789ca"]]},{"id":"af9f5d0d7cea3ddd","type":"tcp out","z":"dc897f402c53697f","g":"ded413082f65543c","name":"","host":"localhost","port":"2883","beserver":"reply","base64":false,"end":false,"tls":"","x":1357,"y":845,"wires":[]},{"id":"7d8a1c95eebd10b5","type":"debug","z":"dc897f402c53697f","g":"ded413082f65543c","name":"Sent","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"msg","x":1317,"y":785,"wires":[]},{"id":"86d40617a04bb66d","type":"link in","z":"dc897f402c53697f","g":"ded413082f65543c","name":"TCP reply","links":["d354d045491e70f7","d06e1719fc770910","2343c09d75092ba6","e396e5ee280efc86"],"x":1132,"y":845,"wires":[["cde7df7a94f9c8a2"]]},{"id":"da2f91c287ad12f7","type":"mqtt-broker","name":"Homemade","broker":"localhost","port":"2883","clientid":"","autoConnect":false,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"a6722b13cc9e29c1","type":"blockly-config","language":"en","showTrashcan":true,"allowComments":true,"showZoomControl":true,"enableBackPack":false,"backpackContents":[],"toolboxPosition":"left","renderer":"zelos","categories":[{"name":"Node-RED","files":["blockly-contrib/npm/node-red-contrib-blockly/lib/nodered/nodeRedBlocksCodeGen.js","blockly-contrib/npm/node-red-contrib-blockly/lib/nodered/nodeRedBlocksDefs.js","blockly-contrib/npm/node-red-contrib-blockly/lib/nodered/toolbox.xml","blockly-contrib/npm/node-red-contrib-blockly/messages/en.js"]},{"name":"Objects","files":["blockly-contrib/npm/node-red-contrib-blockly/lib/json/objectBlocksCodeGen.js","blockly-contrib/npm/node-red-contrib-blockly/lib/json/objectBlocksDefs.js","blockly-contrib/npm/node-red-contrib-blockly/lib/json/toolbox.xml","blockly-contrib/npm/node-red-contrib-blockly/messages/en.js"]},{"name":"Buffer","files":["blockly-contrib/npm/node-red-contrib-blockly/lib/buffer/bufferBlocksCodeGen.js","blockly-contrib/npm/node-red-contrib-blockly/lib/buffer/bufferBlocksDefs.js","blockly-contrib/npm/node-red-contrib-blockly/lib/buffer/toolbox.xml","blockly-contrib/npm/node-red-contrib-blockly/messages/en.js"]},{"name":"Date/time","files":["blockly-contrib/npm/@blockly%2Ffield-date/dist/date_compressed.js","blockly-contrib/npm/node-red-contrib-blockly/lib/datetime/dateTimeBlocksCodeGen.js","blockly-contrib/npm/node-red-contrib-blockly/lib/datetime/dateTimeBlocksDefs.js","blockly-contrib/npm/node-red-contrib-blockly/lib/datetime/toolbox.xml","blockly-contrib/npm/node-red-contrib-blockly/messages/en.js"]},{"name":"Timer","files":["blockly-contrib/npm/node-red-contrib-blockly/lib/timer/timerBlocksCodeGen.js","blockly-contrib/npm/node-red-contrib-blockly/lib/timer/timerBlocksDefs.js","blockly-contrib/npm/node-red-contrib-blockly/lib/timer/toolbox.xml","blockly-contrib/npm/node-red-contrib-blockly/messages/en.js"]},{"name":"Blockly extension","files":["blockly-contrib/npm/node-red-contrib-blockly/lib/extra/extraBlocksCodeGen.js","blockly-contrib/npm/node-red-contrib-blockly/lib/extra/extraBlocksDefs.js","blockly-contrib/npm/node-red-contrib-blockly/lib/extra/toolbox.xml","blockly-contrib/npm/node-red-contrib-blockly/messages/en.js"]},{"name":"Blockly standard","files":["blockly-contrib/npm/node-red-contrib-blockly/lib/basic/toolbox.xml"]}],"customizeToolbox":false,"name":""}]