b6d4e4592b27a344/flows.json
[{"id":"b6d4e4592b27a344","type":"tab","label":"[link nodes] implement time out on link call node","disabled":false,"info":"## Link call node timeout handling\n\nA link call node has a separate timeout that ensures that a link call does not wait on broken nodes.\n\nThis timeout specification needs implementing but hasn't at the time of writing.\n\nTimeout has to be message specific since each message takes its own time.\n\nTimeout is a node setting that applied to all messages but the execution of that timeout is message specific.\n\nHowever: a delayed message is delivered nonetheless - here two messages are delivered. This is the <a class=\"ahl-group-only\" data-ids=\"44e9ce554cf08fe7\">timeout is triggered</a> test where the exception is triggered when the timeout runs out but three seconds, the message arrives anyway.\n\nIn the <a class=\"ahl-group-only\" data-ids=\"7bb323c70334a905\">timeout isn't triggered</a> test the timeout isn't triggered because the message arrived in time.\n\nSo there has to be a cancellation of the timeout trigger.\n\n\n","env":[{"name":"ERED_TIMEOUT","value":"10","type":"num"},{"name":"ERED_PENDING","value":"true","type":"bool"}]},{"id":"44e9ce554cf08fe7","type":"group","z":"b6d4e4592b27a344","name":"timeout is triggered","style":{"label":true},"nodes":["619a6a95f2109be9","5866dc9633d00318","d4bfe1b9020910ba","6c93b763c3488caa","19bace4522dc5226","663515509fc28563","78ddfe144704367d","db745a894f71346d","a5074a5c98ed0ae0","b5be40f3f0719bdd"],"x":91,"y":116,"w":961,"h":354.5},{"id":"7bb323c70334a905","type":"group","z":"b6d4e4592b27a344","name":"timeout isn't triggered","style":{"label":true},"nodes":["2069c8a2cc0a898e","1a7b42c329316359","1f140bdf93070280","c886d4444c7c0080","30797d5378b94e8f","ada2660c774f8bee","76acee87d410603a","4833feee97dd3446","5e45a24a1fa409ec"],"x":94,"y":519,"w":906,"h":344.5},{"id":"619a6a95f2109be9","type":"inject","z":"b6d4e4592b27a344","g":"44e9ce554cf08fe7","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"this is the payload","payloadType":"str","x":227,"y":304,"wires":[["6c93b763c3488caa"]]},{"id":"5866dc9633d00318","type":"link in","z":"b6d4e4592b27a344","g":"44e9ce554cf08fe7","name":"link in 6","links":[],"x":275,"y":429.5,"wires":[["78ddfe144704367d"]]},{"id":"d4bfe1b9020910ba","type":"link out","z":"b6d4e4592b27a344","g":"44e9ce554cf08fe7","name":"link out 4","mode":"return","links":[],"x":618,"y":429.5,"wires":[]},{"id":"6c93b763c3488caa","type":"link call","z":"b6d4e4592b27a344","g":"44e9ce554cf08fe7","name":"two second timeout","links":["5866dc9633d00318"],"linkType":"static","timeout":"2","x":590,"y":304,"wires":[["19bace4522dc5226","663515509fc28563"]]},{"id":"19bace4522dc5226","type":"ut-assert-values","z":"b6d4e4592b27a344","g":"44e9ce554cf08fe7","name":"","rules":[{"t":"eql","p":"payload","pt":"msg","to":"this is the payload","tot":"str"}],"x":936,"y":304,"wires":[[]]},{"id":"663515509fc28563","type":"ut-assert-success","z":"b6d4e4592b27a344","g":"44e9ce554cf08fe7","name":"","x":866,"y":356,"wires":[]},{"id":"78ddfe144704367d","type":"delay","z":"b6d4e4592b27a344","g":"44e9ce554cf08fe7","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":438,"y":429.5,"wires":[["d4bfe1b9020910ba"]]},{"id":"db745a894f71346d","type":"catch","z":"b6d4e4592b27a344","g":"44e9ce554cf08fe7","name":"catch timeout event","scope":["6c93b763c3488caa"],"uncaught":false,"x":446,"y":211,"wires":[["a5074a5c98ed0ae0","b5be40f3f0719bdd"]]},{"id":"a5074a5c98ed0ae0","type":"ut-assert-success","z":"b6d4e4592b27a344","g":"44e9ce554cf08fe7","name":"","x":718,"y":157,"wires":[]},{"id":"b5be40f3f0719bdd","type":"ut-assert-values","z":"b6d4e4592b27a344","g":"44e9ce554cf08fe7","name":"","rules":[{"t":"eql","p":"payload","pt":"msg","to":"this is the payload","tot":"str"}],"x":695,"y":211,"wires":[[]]},{"id":"2069c8a2cc0a898e","type":"inject","z":"b6d4e4592b27a344","g":"7bb323c70334a905","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"this is the payload","payloadType":"str","x":230,"y":677,"wires":[["c886d4444c7c0080"]]},{"id":"1a7b42c329316359","type":"link in","z":"b6d4e4592b27a344","g":"7bb323c70334a905","name":"link in 13","links":[],"x":278,"y":822.5,"wires":[["76acee87d410603a"]]},{"id":"1f140bdf93070280","type":"link out","z":"b6d4e4592b27a344","g":"7bb323c70334a905","name":"link out 142","mode":"return","links":[],"x":621,"y":822.5,"wires":[]},{"id":"c886d4444c7c0080","type":"link call","z":"b6d4e4592b27a344","g":"7bb323c70334a905","name":"five second timeout","links":["1a7b42c329316359"],"linkType":"static","timeout":"5","x":583,"y":677,"wires":[["30797d5378b94e8f","ada2660c774f8bee"]]},{"id":"30797d5378b94e8f","type":"ut-assert-values","z":"b6d4e4592b27a344","g":"7bb323c70334a905","name":"","rules":[{"t":"eql","p":"payload","pt":"msg","to":"this is the payload","tot":"str"}],"x":884,"y":677,"wires":[[]]},{"id":"ada2660c774f8bee","type":"ut-assert-success","z":"b6d4e4592b27a344","g":"7bb323c70334a905","name":"","x":863,"y":761,"wires":[]},{"id":"76acee87d410603a","type":"delay","z":"b6d4e4592b27a344","g":"7bb323c70334a905","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":441,"y":822.5,"wires":[["1f140bdf93070280"]]},{"id":"4833feee97dd3446","type":"catch","z":"b6d4e4592b27a344","g":"7bb323c70334a905","name":"catch timeout event","scope":["c886d4444c7c0080"],"uncaught":false,"x":456,"y":560,"wires":[["5e45a24a1fa409ec"]]},{"id":"5e45a24a1fa409ec","type":"ut-assert-failure","z":"b6d4e4592b27a344","g":"7bb323c70334a905","name":"","x":781,"y":560,"wires":[]}]