1db9c9a1b92e0263/flows.json
[{"id":"1db9c9a1b92e0263","type":"tab","label":"[exec] empty commands are not supported","disabled":false,"info":"Ensure that if no command is found, that an exception is raised.","env":[]},{"id":"72554cc55499d2ea","type":"inject","z":"1db9c9a1b92e0263","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":241,"y":310,"wires":[["911478bf42eac2a7"]]},{"id":"911478bf42eac2a7","type":"exec","z":"1db9c9a1b92e0263","command":"","addpay":"","append":"","useSpawn":"true","timer":"","winHide":false,"oldrc":false,"name":"","x":484,"y":407,"wires":[["e618fb7931bb3359"],["9eb18b85e9ee1966"],["59850e7a4c42a9d7"]]},{"id":"e618fb7931bb3359","type":"ut-assert-failure","z":"1db9c9a1b92e0263","name":"","x":674,"y":343.5,"wires":[]},{"id":"9eb18b85e9ee1966","type":"ut-assert-failure","z":"1db9c9a1b92e0263","name":"","x":674,"y":411.5,"wires":[]},{"id":"59850e7a4c42a9d7","type":"ut-assert-failure","z":"1db9c9a1b92e0263","name":"","x":678,"y":475,"wires":[]},{"id":"3d01a5a74bb07b13","type":"ut-assert-debug","z":"1db9c9a1b92e0263","name":"","nodeid":"911478bf42eac2a7","msgtype":"error","inverse":false,"x":550,"y":280.5,"wires":[]},{"id":"978368148e7f6eb4","type":"inject","z":"1db9c9a1b92e0263","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":231,"y":669,"wires":[["959ec1c26c0b5a71"]]},{"id":"959ec1c26c0b5a71","type":"exec","z":"1db9c9a1b92e0263","command":"","addpay":"","append":"","useSpawn":"true","timer":"","winHide":false,"oldrc":false,"name":"","x":474,"y":766,"wires":[["4f562ce43ed17d54"],["2e0dbb434960a174"],["106a2767f80ae733"]]},{"id":"4f562ce43ed17d54","type":"ut-assert-failure","z":"1db9c9a1b92e0263","name":"","x":664,"y":702.5,"wires":[]},{"id":"2e0dbb434960a174","type":"ut-assert-failure","z":"1db9c9a1b92e0263","name":"","x":664,"y":770.5,"wires":[]},{"id":"106a2767f80ae733","type":"ut-assert-failure","z":"1db9c9a1b92e0263","name":"","x":668,"y":834,"wires":[]},{"id":"659c7d4eabd482f7","type":"ut-assert-debug","z":"1db9c9a1b92e0263","name":"","nodeid":"911478bf42eac2a7","msgtype":"error","inverse":false,"x":540,"y":639.5,"wires":[]}]