f19fdae0c02b4f03/flows.json
[{"id":"f19fdae0c02b4f03","type":"tab","label":"[filter] post if value changed","disabled":false,"info":"","env":[]},{"id":"ba56e9576baa4861","type":"rbe","z":"f19fdae0c02b4f03","name":"","func":"rbe","gap":"10%","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":832,"y":1215.875,"wires":[["91dc380dc998eb73","de9e7db23aa445d4","4ad5428bb1c2b43b"]]},{"id":"9d20155046acc31d","type":"inject","z":"f19fdae0c02b4f03","name":"","props":[{"p":"counter","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":147,"y":1215.875,"wires":[["8543499ae5fd3576"]]},{"id":"8543499ae5fd3576","type":"change","z":"f19fdae0c02b4f03","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"10","tot":"num"},{"t":"set","p":"counter","pt":"msg","to":"$$.counter + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":413,"y":1215.875,"wires":[["6bebc590dadbb889","ba56e9576baa4861"]]},{"id":"6bebc590dadbb889","type":"switch","z":"f19fdae0c02b4f03","name":"limit to 10_000 messages","property":"counter","propertyType":"msg","rules":[{"t":"lt","v":"10000","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":413,"y":996.25,"wires":[["8543499ae5fd3576"],["4a2e2509bb56578c"]]},{"id":"91dc380dc998eb73","type":"ut-assert-success","z":"f19fdae0c02b4f03","name":"","count":"2","x":1256,"y":1215.875,"wires":[]},{"id":"4a2e2509bb56578c","type":"change","z":"f19fdae0c02b4f03","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"11","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":652.0000076293945,"y":1102.8572006225586,"wires":[["ba56e9576baa4861"]]},{"id":"de9e7db23aa445d4","type":"ut-assert-values","z":"f19fdae0c02b4f03","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"10","tot":"num"}],"x":1063,"y":1046.5,"wires":[[]]},{"id":"4ad5428bb1c2b43b","type":"ut-assert-values","z":"f19fdae0c02b4f03","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"11","tot":"num"}],"x":1098,"y":1093,"wires":[[]]}]