f19fdae0c02b4f03/flows.json
[{"id":"f19fdae0c02b4f03","type":"tab","label":"[filter] post if value changed","disabled":false,"info":"","env":[{"name":"ERED_TIMEOUT","value":"5","type":"num"}]},{"id":"1fad26711775a40e","type":"group","z":"f19fdae0c02b4f03","name":"property name is payload","style":{"label":true},"nodes":["ba56e9576baa4861","9d20155046acc31d","8543499ae5fd3576","6bebc590dadbb889","91dc380dc998eb73","4a2e2509bb56578c","de9e7db23aa445d4","4ad5428bb1c2b43b","3a69a6eab42aa620"],"x":74.71431732177734,"y":169.25000762939453,"w":1491,"h":388.82148456573486},{"id":"bcbd77613b58fd14","type":"group","z":"f19fdae0c02b4f03","name":"property name is 'fubar'","style":{"label":true},"nodes":["93d6c55ad6d1226d","6a895b8bf87276db","59dce407eef8cca0","1d0568738eeca121","1b6070bfb3872cb0","48147307210ff02d","e55e7353f2bac7d8","0ca2a03e246542f6","5104a3873348939b"],"x":83.2857666015625,"y":617.9464721679688,"w":1491,"h":370.2500686645508},{"id":"ba56e9576baa4861","type":"rbe","z":"f19fdae0c02b4f03","g":"1fad26711775a40e","name":"","func":"rbe","gap":"10%","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":1035.7143173217773,"y":429.87500762939453,"wires":[["91dc380dc998eb73","de9e7db23aa445d4","4ad5428bb1c2b43b"]]},{"id":"9d20155046acc31d","type":"inject","z":"f19fdae0c02b4f03","g":"1fad26711775a40e","name":"","props":[{"p":"counter","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":170.71431732177734,"y":429.87500762939453,"wires":[["8543499ae5fd3576"]]},{"id":"8543499ae5fd3576","type":"change","z":"f19fdae0c02b4f03","g":"1fad26711775a40e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"10","tot":"num"},{"t":"set","p":"counter","pt":"msg","to":"$$.counter + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":616.7143173217773,"y":429.87500762939453,"wires":[["6bebc590dadbb889","ba56e9576baa4861","3a69a6eab42aa620"]]},{"id":"6bebc590dadbb889","type":"switch","z":"f19fdae0c02b4f03","g":"1fad26711775a40e","name":"limit to 10_000 messages","property":"counter","propertyType":"msg","rules":[{"t":"lt","v":"10000","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":616.7143173217773,"y":210.25000762939453,"wires":[["8543499ae5fd3576"],["4a2e2509bb56578c"]]},{"id":"91dc380dc998eb73","type":"ut-assert-success","z":"f19fdae0c02b4f03","g":"1fad26711775a40e","name":"","count":"2","x":1459.7143173217773,"y":429.87500762939453,"wires":[]},{"id":"4a2e2509bb56578c","type":"change","z":"f19fdae0c02b4f03","g":"1fad26711775a40e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"11","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":855.7143249511719,"y":316.8572082519531,"wires":[["ba56e9576baa4861"]]},{"id":"de9e7db23aa445d4","type":"ut-assert-values","z":"f19fdae0c02b4f03","g":"1fad26711775a40e","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"10","tot":"num"}],"x":1266.7143173217773,"y":316.8572082519531,"wires":[[]]},{"id":"4ad5428bb1c2b43b","type":"ut-assert-values","z":"f19fdae0c02b4f03","g":"1fad26711775a40e","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"11","tot":"num"}],"x":1368.2143173217773,"y":373.3661079406738,"wires":[[]]},{"id":"3a69a6eab42aa620","type":"ut-assert-success","z":"f19fdae0c02b4f03","g":"1fad26711775a40e","name":"","count":"10000","x":953.5714263916016,"y":517.0714921951294,"wires":[]},{"id":"93d6c55ad6d1226d","type":"rbe","z":"f19fdae0c02b4f03","g":"bcbd77613b58fd14","name":"","func":"rbe","gap":"10%","start":"","inout":"out","septopics":false,"property":"fubar","topi":"topic","x":1044.2857666015625,"y":878.5714721679688,"wires":[["1b6070bfb3872cb0","e55e7353f2bac7d8","0ca2a03e246542f6"]]},{"id":"6a895b8bf87276db","type":"inject","z":"f19fdae0c02b4f03","g":"bcbd77613b58fd14","name":"","props":[{"p":"counter","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":179.2857666015625,"y":878.5714721679688,"wires":[["59dce407eef8cca0"]]},{"id":"59dce407eef8cca0","type":"change","z":"f19fdae0c02b4f03","g":"bcbd77613b58fd14","name":"","rules":[{"t":"set","p":"fubar","pt":"msg","to":"10","tot":"num"},{"t":"set","p":"counter","pt":"msg","to":"$$.counter + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":625.2857666015625,"y":878.5714721679688,"wires":[["1d0568738eeca121","93d6c55ad6d1226d","5104a3873348939b"]]},{"id":"1d0568738eeca121","type":"switch","z":"f19fdae0c02b4f03","g":"bcbd77613b58fd14","name":"limit to 10_000 messages","property":"counter","propertyType":"msg","rules":[{"t":"lt","v":"10000","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":625.2857666015625,"y":658.9464721679688,"wires":[["59dce407eef8cca0"],["48147307210ff02d"]]},{"id":"1b6070bfb3872cb0","type":"ut-assert-success","z":"f19fdae0c02b4f03","g":"bcbd77613b58fd14","name":"","count":"2","x":1468.2857666015625,"y":878.5714721679688,"wires":[]},{"id":"48147307210ff02d","type":"change","z":"f19fdae0c02b4f03","g":"bcbd77613b58fd14","name":"","rules":[{"t":"set","p":"fubar","pt":"msg","to":"11","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":864.285774230957,"y":765.5536727905273,"wires":[["93d6c55ad6d1226d"]]},{"id":"e55e7353f2bac7d8","type":"ut-assert-values","z":"f19fdae0c02b4f03","g":"bcbd77613b58fd14","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"fubar","pt":"msg","to":"10","tot":"num"}],"x":1265.2857666015625,"y":765.5536727905273,"wires":[[]]},{"id":"0ca2a03e246542f6","type":"ut-assert-values","z":"f19fdae0c02b4f03","g":"bcbd77613b58fd14","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"fubar","pt":"msg","to":"11","tot":"num"}],"x":1366.7857666015625,"y":822.062572479248,"wires":[[]]},{"id":"5104a3873348939b","type":"ut-assert-success","z":"f19fdae0c02b4f03","g":"bcbd77613b58fd14","name":"","count":"10000","x":939.2857437133789,"y":947.1965408325195,"wires":[]}]