f19fdae0c02b4f03/flows.json
[{"id":"f19fdae0c02b4f03","type":"tab","label":"[filter] post if value changed","disabled":false,"info":"","env":[{"name":"ERED_TIMEOUT","value":"5","type":"num"}]},{"id":"ba56e9576baa4861","type":"rbe","z":"f19fdae0c02b4f03","name":"","func":"rbe","gap":"10%","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":989.9999923706055,"y":329.8749771118164,"wires":[["91dc380dc998eb73","de9e7db23aa445d4","4ad5428bb1c2b43b"]]},{"id":"9d20155046acc31d","type":"inject","z":"f19fdae0c02b4f03","name":"","props":[{"p":"counter","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":124.99999237060547,"y":329.8749771118164,"wires":[["8543499ae5fd3576"]]},{"id":"8543499ae5fd3576","type":"change","z":"f19fdae0c02b4f03","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"10","tot":"num"},{"t":"set","p":"counter","pt":"msg","to":"$$.counter + 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570.9999923706055,"y":329.8749771118164,"wires":[["6bebc590dadbb889","ba56e9576baa4861","3a69a6eab42aa620"]]},{"id":"6bebc590dadbb889","type":"switch","z":"f19fdae0c02b4f03","name":"limit to 10_000 messages","property":"counter","propertyType":"msg","rules":[{"t":"lt","v":"10000","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":570.9999923706055,"y":110.2499771118164,"wires":[["8543499ae5fd3576"],["4a2e2509bb56578c"]]},{"id":"91dc380dc998eb73","type":"ut-assert-success","z":"f19fdae0c02b4f03","name":"","count":"2","x":1413.9999923706055,"y":329.8749771118164,"wires":[]},{"id":"4a2e2509bb56578c","type":"change","z":"f19fdae0c02b4f03","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"11","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":216.857177734375,"wires":[["ba56e9576baa4861"]]},{"id":"de9e7db23aa445d4","type":"ut-assert-values","z":"f19fdae0c02b4f03","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"10","tot":"num"}],"x":1220.9999923706055,"y":216.857177734375,"wires":[[]]},{"id":"4ad5428bb1c2b43b","type":"ut-assert-values","z":"f19fdae0c02b4f03","name":"","ignore_failure_if_succeed":true,"rules":[{"t":"eql","p":"payload","pt":"msg","to":"11","tot":"num"}],"x":1322.4999923706055,"y":273.3660774230957,"wires":[[]]},{"id":"3a69a6eab42aa620","type":"ut-assert-success","z":"f19fdae0c02b4f03","name":"","count":"10000","x":995,"y":488.5,"wires":[]}]